.box-modal {
  position: relative;
  width: 360px;
  padding: 30px 34px 35px;
  background: #f2f2f2;
  border: 1px solid rgba(89, 0, 172, 0.2);
  box-shadow: 0px 20px 40px rgba(89, 0, 172, 0.4);
}
.box-modal_close {
  position: absolute;
  right: unset;
  top: -25px;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  text-align: right;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  left: 0%;
}
/* .box-modal_close:hover {
  color: #6897bb;
} */

.mymodal-wrap__title {
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #5900ac;
}

.mymodal-wrap__text {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1px;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 29px;
}

.box-modal__img {
  width: 12px;
  height: 12px;
  margin-left: 10px;
}

.radio {
  position: relative;
  cursor: pointer;
  padding-top: 3px;
}
.radio .label {
  position: relative;
  display: block;
  background: #e1c3ff;
  margin-right: 10px;
  width: 12px;
  height: 12px;
  border: 2px solid #5900ac;
  border-radius: 100%;
  -webkit-tap-highlight-color: transparent;
}
.radio .label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background: #5900ac;
  transform: scale(0);
  transition: all 0.2s ease;
  opacity: 0.08;
  pointer-events: none;
}
.radio:hover .label:after {
  transform: scale(3.6);
}
input[type="radio"]:checked + .label {
  border-color: #5900ac;
}
input[type="radio"]:checked + .label:after {
  transform: scale(1);
  transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
  opacity: 1;
}
.cntr {
  position: absolute;
  top: calc(50% - 10px);
  left: 0;
  width: 100%;
  text-align: center;
}
.hidden {
  display: none;
}
.credit {
  position: fixed;
  right: 20px;
  bottom: 20px;
  transition: all 0.2s ease;
  -webkit-user-select: none;
  user-select: none;
  opacity: 0.6;
}
.credit img {
  width: 72px;
}
.credit:hover {
  transform: scale(0.95);
}

.box-modal__corner {
  position: absolute;
  right: -50px;
  top: -58px;
}

.page-template-faq-php .box-modal__corner {
  position: absolute;
  right: -120px;
  top: -100px;
}

.mymodal-form {
  position: relative;
}

.mymodal-form__input {
  display: block;
  width: 100%;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  color: #5900ac;
  border: none;
  border-bottom: 1px solid rgba(89, 0, 172, 0.2);
  padding-bottom: 17px;
  margin-bottom: 17px;
  background: transparent;
  padding-right: 10px;
  padding-left: 10px;
  outline: none;
}

.mymodal-form__input::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  color: #5900ac;
}

.mymodal-form__btn {
  display: flex;
  background: linear-gradient(188.61deg, #5900ac 19.75%, #8a00ac 78.11%);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 39px;
  margin-top: 55px;
  border: none;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.label-text {
  position: absolute;
  top: -3px;
  right: -305px;
  width: 267px;
}

#contactscall .mymodal-wrap__title {
  margin-bottom: 28px;
}

#faqconsultant .box-modal__corner {
  right: -124px;
  top: -76px;
}

.faq-half {
  position: absolute;
  right: 0;
  top: -50px;
  z-index: 10;
}
