* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 1148px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

input {
  font-family: "Montserrat", sans-serif;
}

/* ------- Fixed Navigation -------*/

.fixed-nav.account-fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 66px;
  border-bottom: 1px solid #7d5a9d;
  z-index: 99;
}

.fixed-nav.sticky {
  background: rgba(188, 134, 238, 0.1);
}

.fixed-nav-wrap {
  display: flex;
  align-items: center;
  height: 66px;
}

.fixed-nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixed-nav-pages {
  display: flex;
  width: 578px;
  justify-content: space-between;
  align-items: center;
  margin-left: 193.18px;
}

.fixed-nav-pages__link {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #230636;
  letter-spacing: 3px;
  transition-duration: 0.2s;
  position: relative;
}

.fixed-nav-pages__link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: transparent;
  left: 0;
  bottom: -25px;
}

.fixed-nav-pages__link:hover,
.fixed-nav-pages__link:focus {
  color: #5900ac;
}

.fixed-nav-pages__link:hover:after,
.fixed-nav-pages__link:focus:after {
  background-color: #5900ac;
}

.icon-list {
  margin-left: auto;
  display: flex;
  width: 163px;
  justify-content: space-between;
  align-items: center;
}

.icon-list__link {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #5900ac;
  font-size: 12px;
  line-height: 14px;
}

.icon-list__cart {
  position: relative;
}

.icon-list__number {
  position: absolute;
  width: 14px;
  height: 14px;
  background: #ffffff;
  border-radius: 10px;
  color: #230737;
  font-size: 10px;
  text-align: center;
  line-height: 14px;
  right: -14px;
  top: -10px;
}

/* ------- account-distributors fixed left menu -------*/

.account-dist-sidmenu-wrap {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99;
}

.account-dist-sidmenu {
  width: 248px;
  padding-bottom: 85px;
  padding-top: 141px;
  margin-left: -65px;
  height: 100vh;
}

.account-dist-sidmenu__name {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1px;
  color: #000000;
}

.account-dist-sidmenu__loc {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #919191;
  margin-top: 13px;
  margin-bottom: 48px;
  width: 205px;
}

.account-dist-sidmenu-nav {
  pointer-events: all;
  margin-bottom: 320px;
}

#admin-dist-sidemenu {
  margin-bottom: 265px;
}

.account-dist-sidmenu-nav__item {
  margin-bottom: 32px;
}

.account-dist-sidmenu-nav__item:last-child {
  margin-bottom: 0;
}

.account-dist-sidmenu-nav__link {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
}

.account-dist-sidmenu-nav__link:hover,
.account-dist-sidmenu-nav__link:focus {
  color: #5900ac;
}

.account-dist-sidmenu-nav__icon {
  margin-right: 6px;
}

.account-dist-sidmenu__exit {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #5900ac;
  pointer-events: all;
}

/* ------- account-distributors -------*/

.account-distributors {
  padding-top: 141px;
  background-color: #f2f2f2;
  background-image: url(../img/admin-7.png);
  background-position: 0% 100%;
  background-size: 433px 478px;
  background-repeat: no-repeat;
  padding-bottom: 30px;
  max-height: 100%;
  min-height: 100vh;
}

/* ------- account-dist-main -------*/

.account-dist-main-wrap {
  padding-left: 195px;
  display: flex;
  align-items: center;
}

.account-dist-main-wrap__left {
  border: 1px solid rgba(89, 0, 172, 0.2);
  width: 262px;
  position: relative;
}

.account-dist-main-wrap__number {
  font-style: normal;
  font-weight: 200;
  font-size: 100px;
  line-height: 122px;
  display: flex;
  align-items: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #5900ac;
  margin-top: 10px;
  margin-left: 32px;
}

.account-dist-main-wrap__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #000000;
  margin-left: 32px;
  margin-top: -10px;
  margin-bottom: 84px;
}

.account-dist-main-wrap__inner {
  width: 97px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 32px;
  margin-bottom: 26px;
}

.account-dist-main-wrap__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  color: #000000;
  width: 78px;
}

.account-dist-main-wrap__btn {
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  width: 100%;
  height: 39px;
  background: linear-gradient(189.58deg, #5900ac 19.75%, #8a00ac 78.11%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-dist-main-wrap__aimg {
  position: absolute;
  top: 17px;
  right: 21px;
  filter: drop-shadow(0px 20px 50px rgba(61, 61, 61, 0.3));
  -webkit-filter: drop-shadow(0px 20px 50px rgba(61, 61, 61, 0.3));
  pointer-events: none;
}

.account-dist-main-wrap__right {
  margin-left: 30px;
  border: 1px solid rgba(89, 0, 172, 0.2);
  padding: 199px 30px 25px 32px;
  height: 322px;
  width: 262px;
  background: url(../img/admin-2.png) no-repeat center center;
}

.account-dist-main-wrap__name {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1px;
  color: #000000;
  margin-bottom: 14px;
}

.account-dist-main-wrap__prof {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.6);
  width: 200px;
}

.account-dist-main-wrap__innerlink {
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  text-decoration-line: underline;
  color: #5900ac;
}

.account-dist-main-inst {
  width: 554px;
  border: 1px solid rgba(89, 0, 172, 0.2);
  margin-top: 31px;
  padding: 31px 70px 36px 50px;
  margin-left: 195px;
}

.account-dist-main-inst__top {
  display: flex;
  align-items: center;
  margin-bottom: 9px;
}

.account-dist-main-isnt__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
  margin-left: 18px;
}

.account-dist-main-inst__text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.6);
}

.account-dist-main-inst__link {
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  text-decoration-line: underline;
  color: #5900ac;
}

.account-dist-main-inst__bottom {
  padding-left: 50px;
}

.account-dist-main-img {
  width: 554px;
  height: 192px;
  margin-left: 195px;
}

img.account-dist-main-floating__img {
  display: block;
}

.account-dist-main-floating__empty {
  width: 511px;
  height: 352px;
  border: 1px solid rgba(89, 0, 172, 0.2);
}

.account-dist-main-floating {
  position: absolute;
  top: 0;
  right: -143px;
}

#account-dist-1 {
  width: 511px;
  margin-top: -165px;
}

.account-dist-main-floating-wrap__left {
  padding-left: 40px;
}

.account-dist-main-floating-wrap__img {
  width: 189px !important;
  height: 629px !important;
}

.account-dist-main-floating-wrap__navigation {
  width: 163px;
  display: flex;
  justify-content: space-between;
  margin-left: 53px;
  position: relative;
  z-index: 4;
  margin-top: -512px;
  pointer-events: none;
}

.account-dist-main-floating-wrap__navigation a {
  pointer-events: all !important;
}

.account-dist-main-floating-wrap__item {
  display: flex;
}

.account-dist-main-floating-wrap__right {
  margin-left: 27px;
  padding-top: 325px;
}

.account-dist-main-floating-wrap__title {
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #000000;
  width: 226px;
  margin-bottom: 24px;
}

.acc-custom-select-wrapper,
.acc-custom-select-wrapper2 {
  position: relative;
  user-select: none;
  width: 70px;
}
.acc-custom-select,
.acc-custom-select2 {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #5900ac;	
}
.acc-custom-select__trigger,
.acc-custom-select__trigger2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  line-height: 16px;
  background: transparent;
  cursor: pointer;
  padding-left: 11px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #9f7ccb;
}

.acc-custom-select__trigger:before,
.acc-custom-option:before,
.acc-custom-select__trigger2:before,
.acc-custom-option2:before {
  content: "";
  position: absolute;
  left: 3px;
  width: 4px;
  height: 16px;
  background: url(../img/admin-8.svg) no-repeat center center;
}

.acc-custom-option:before,
.acc-custom-option2:before {
  top: 4px;
}

.acc-custom-options,
.acc-custom-options2 {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  border-top: 0;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
  background: #f2f2f2;
}
.acc-custom-select.open .acc-custom-options,
.acc-custom-select2.open2 .acc-custom-options2 {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.acc-custom-option,
.acc-custom-option2 {
  position: relative;
  display: block;
  padding-left: 11px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  transition: all 0.5s;
  line-height: 25px;
}
.acc-custom-option:hover,
.acc-custom-option2:hover {
  cursor: pointer;
  background-color: #b2b2b2;
}
.acc-custom-option.selected,
.acc-custom-option2.selected2 {
  background-color: rgba(89, 0, 172, 0.47);
}

.acc-arrow,
.acc-arrow2 {
  position: relative;
  height: 4px;
  width: 8px;
}
.acc-arrow::before,
.acc-arrow::after,
.acc-arrow2::before,
.acc-arrow2::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0.15rem;
  height: 100%;
  transition: all 0.5s;
}
.acc-arrow::before,
.acc-arrow2::before {
  left: -5px;
  transform: rotate(-45deg);
  background-color: #9f7ccb;
}
.acc-arrow::after,
.acc-arrow2::after {
  left: -3px;
  transform: rotate(45deg);
  background-color: #9f7ccb;
}
.open .acc-arrow::before,
.open2 .acc-arrow2::before {
  left: -5px;
  transform: rotate(45deg);
}
.open .acc-arrow::after,
.open2 .acc-arrow2::after {
  left: -3px;
  transform: rotate(-45deg);
}

.acc-custom-select-wrapper__img,
.acc-custom-select-wrapper__img2 {
  width: 7.3px !important;
  display: inline-block !important;
}

.acc-inner {
  display: flex;
  align-items: center;
  margin-bottom: 23px;
}

.acc-inner__right {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 0.5px;
  color: #000000;
  margin-left: 10px;
}

.acc-inner-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 165px;
  margin-bottom: 11px;
}

.acc-inner-count__minus,
.acc-inner-count__plus {
  background: #9f7ccb;
  width: 51px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.acc-inner-count__number {
  border: 1px solid #9f7ccb;
  width: 51px;
  height: 33px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.5px;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.acc-inner-buy {
  background: linear-gradient(262.95deg, #9f7ccb 27.63%, #be89df 77.27%);
  width: 165px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 35px;
}

.acc-inner-buy svg {
  margin-right: 10px;
}

.acc-inner-go {
  width: 156px;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #9f7ccb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #9f7ccb;
  padding-bottom: 9px;
  margin-top: 25px;
}

/* ------- diss-orders-------*/

.diss-orders-topper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1008px;
  margin-left: 195px;
  padding-bottom: 30px;
}

.diss-orders-topper__title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #5900ac;
  margin-bottom: 29px;
}

.diss-orders-topper-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 261px;
}

.diss-orders-topper-inner__left {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #000000;
}

.diss-orders-topper-inner__right {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  color: #000000;
  opacity: 0.82;
}

.diss-orders-topper-sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 152px;
  margin-bottom: 27px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  color: #767676;
}

.diss-orders-topper-sort__option {
  text-decoration-line: underline;
  color: #5900ac;
  cursor: pointer;
}

.diss-orders-topper__right .diss-orders-topper-inner {
  width: 230px;
}

/* ------- diss-orders-all-------*/

.diss-orders-all {
  overflow-y: scroll;
  position: relative;
  height: 670px;
}

.diss-orders-all .container {
  position: relative;
}

.diss-order-all {
  width: 1011px;
  margin-left: 203px;
}

.transition,
.diss-order-all-wrap__text,
.diss-order-all-wrap i:before,
.diss-order-all-wrap i:after {
  transition: all 0.25s ease-in-out;
}

.diss-order-all-wrap__title {
  margin: 0;
  cursor: pointer;
  display: flex;
  width: 100%;
  align-items: center;
  padding-left: 68px;
  padding-right: 66px;
  height: 63px;
  border-bottom: 1px solid rgba(89, 0, 172, 0.2);
}

.diss-order-all-wrap__text {
  position: relative;
  overflow: hidden;
  opacity: 1;
  transform: translate(0, 0);
  padding-left: 68px;
  padding-right: 66px;
  padding-top: 41px;
  padding-bottom: 25px;
  z-index: 2;
  display: block;
}

.diss-order-all-wrap {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 1011px;
}
.diss-order-all-wrap__item {
  position: relative;
  padding: 0;
  margin: 0;
  width: 1011px;
  border: 1px solid rgba(89, 0, 172, 0.2);
  margin-bottom: 25px;
}
.diss-order-all-wrap i {
  position: absolute;
  top: 27px;
  right: 66px;
}
.diss-order-all-wrap li i:before,
.diss-order-all-wrap li i:after {
  content: "";
  position: absolute;
  background-color: #5900ac;
  width: 3px;
  height: 9px;
}
.diss-order-all-wrap li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
.diss-order-all-wrap li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
.diss-order-all-wrap li input[type="checkbox"] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
.diss-order-all-wrap
  li
  input[type="checkbox"]:checked
  ~ .diss-order-all-wrap__text {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  display: none;
  transform: translate(0, 50%);
}
.diss-order-all-wrap li input[type="checkbox"]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}
.diss-order-all-wrap li input[type="checkbox"]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

.diss-order-all-wrap
  li
  input[type="checkbox"]:checked
  ~ .diss-order-all-wrap__title {
  border-bottom: 1px solid rgba(89, 0, 172, 0);
}

.diss-order-all-wrap
  li
  input[type="checkbox"]:checked
  ~ .diss-order-all-wrap__title
  .diss-order-all-wrap__order {
  color: #5900ac;
}

.diss-order-all-wrap__order {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #000000;
  width: 193px;
}

.diss-order-all-wrap__status {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  text-decoration-line: underline;
  color: #5900ac;
  margin-left: 5px;
  width: 372px;
}

.diss-order-all-wrap__date {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  margin-left: 7px;
  color: #767676;
  width: 130px;
}

.diss-order-all-wrap__sum {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  color: #5900ac;
  opacity: 0.82;
}

.diss-inner-first {
  display: flex;
  align-items: center;
}

.diss-inner-first__sybol {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #5900ac;
  margin-left: 18px;
}

.diss-inner-first__name {
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #5900ac;
  margin-left: 51px;
  margin-right: 147px;
}

.diss-inner-first__qaunt,
.diss-inner-fist__count,
.diss-inner-first__price,
.diss-inner-first__sum {
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #5900ac;
}

.diss-inner-fist__count {
  margin-left: 45px;
  margin-right: 69px;
}

.diss-inner-first__sum {
  margin-left: 83px;
}

.diss-inner-second__item {
  display: flex;
  padding-bottom: 12px;
  border-bottom: 1px solid #5900ac;
  height: 59px;
  padding-top: 30px;
}

.diss-inner-second__sybol {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  color: #5900ac;
  margin-left: 22px;
  margin-right: 54px;
  opacity: 0.82;
}

.diss-inner-second__name {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  color: #000000;
  opacity: 0.82;
  width: 350px;
}

.diss-inner-second__qaunt {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  color: #000000;
  opacity: 0.82;
  width: 100px;
}

.diss-inner-second__count {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  color: #000000;
  opacity: 0.82;
  width: 123px;
}

.diss-inner-second__price {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  color: rgba(89, 0, 172, 0.5);
  width: 122px;
  opacity: 0.82;
}

.diss-inner-second__sum {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  color: rgba(89, 0, 172, 0.5);
  opacity: 0.82;
}

.diss-order-subtotal {
  margin-top: 22px;
  margin-left: auto;
  width: 223px;
}

.diss-order-subtotal__top {
  display: flex;
  align-items: center;
}

.diss-order-subtotal__bottom {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.diss-order-subtotal__firle,
.diss-order-subtotal__secle {
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-right: 20px;
  color: #5900ac;
}

.diss-order-subtotal__firri {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  color: rgba(89, 0, 172, 0.5);
  opacity: 0.82;
}

.diss-order-subtotal__secle {
  margin-left: 32px;
}

.diss-order-subtotal__secri {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  color: #5900ac;
  opacity: 0.82;
}

.diss-order-all-wrap__status_sort {
  color: #767676;
  margin-left: 10px;
}

.diss-order-all-wrap__status_red{
    color: red;
}

.diss-order-all-wrap__status_done {
  color: #2fa749;
  margin-left: 6px;
}

/* ------- diss-reports-------*/

.diss-reports-wrap {
  width: 1011px;
  margin-left: 195px;
}

.diss-reports-titles {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 35px;
}

.diss-reports-titles__title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #5900ac;
}

.diss-reports-titles_subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  letter-spacing: 1px;
  color: #767676;
}

.diss-reports-select {
  border: 1px solid rgba(89, 0, 172, 0.2);
  padding: 44px 66px 44px 68px;
  margin-bottom: 40px;
}

.diss-reports-dates,
.diss-reports-week,
.diss-reports-products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 37px;
}

.diss-reports-dates__left,
.diss-reports-dates__right,
.diss-reports-week__left,
.diss-reports-week__right,
.diss-reports-products__left,
.diss-reports-products__right {
  width: 390px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.diss-reports-week__right,
.diss-reports-dates__right,
.diss-reports-products__right {
  width: 417px;
}

.diss-reports-dates__text,
.diss-reports-week__text {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #909090;
  padding-top: 4px;
}

.diss-reports-dates__date {
  width: 273px;
  border-bottom: 1px solid #5900ac;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 9px;
  padding-right: 14px;
  position: relative;
}

.diss-reports-dates__icon {
  position: absolute;
  top: 3px;
  right: 14px;
  pointer-events: none;
}

.diss-reports-dates__input {
  width: 250px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  color: #000000;
  border: none;
  background: transparent;
  outline: none;
  padding-bottom: 10px;
  height: 31px;
}

.diss-reports-box .diss-report-box-titles {
  display: none;
}

.wrap-drop {
  cursor: pointer;
  width: 273px;
  position: relative;
  z-index: 3;
  border-bottom: 1px solid #5900ac;
  height: 28px;
  color: #000000;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  padding-left: 9px;
}

.wrap-drop::after {
  border-color: #5900ac transparent;
  border-style: solid;
  border-width: 6px 6px 0;
  content: "";
  height: 0;
  margin-top: -6px;
  position: absolute;
  right: 14px;
  top: 50%;
  width: 0;
}

.wrap-drop .drop {
  background: #f2f2f2;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  list-style: none;
  margin-top: 0;
  opacity: 0;
  padding-left: 0;
  /*pointer-events: none;*/
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 4;
}

.wrap-drop .drop li a {
  display: block;
  text-decoration: none;
  color: #000000;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  padding: 4px;
  padding-left: 9px;
}

.wrap-drop span {
  color: #000000;
}

.wrap-drop .drop li:hover a {
  background-color: rgba(89, 0, 172, 0.2);
}

.wrap-drop.active span {
  opacity: 0;
}

.wrap-drop.active::after {
  border-width: 0 6px 6px;
}

.wrap-drop.active .drop {
  display: block;
  opacity: 1;
  /*pointer-events: auto;*/
}

#noble-gases {
  z-index: 6;
}

#noble-gases2 {
  z-index: 5;
}

#noble-gases3 {
  z-index: 4;
}

.diss-reports-box {
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
  height: 400px;
}

.diss-report-box-titles {
  width: 949px;
  padding-left: 30px;
  padding-right: 35px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #5900ac;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

.diss-report-box-titles__start,
.diss-reporst-all__start {
  width: 195px;
}

.diss-report-box-titles__end {
  width: 221px;
}

.diss-report-box-titles__quant {
  width: 179px;
}

.diss-report-box-titles__each {
  width: 234px;
}

.diss-reports-all {
  width: 949px;
  margin-left: auto;
  margin-right: auto;
}

.diss-reporst-all__item {
  border-bottom: 1px solid rgba(89, 0, 172, 0.4);
  padding-left: 37px;
  padding-right: 35px;
  padding-bottom: 10px;
  height: 59px;
  display: flex;
  align-items: flex-end;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.82);
}

.diss-reporst-all__total {
  font-style: normal;
  font-weight: bold;
  color: #5900ac;
  opacity: 0.82;
  width: 140px;
  text-align: right;
}

.diss-reporst-all__end {
  width: 240px;
}

.diss-reporst-all__quant {
  width: 177px;
  text-align: center;
}

.diss-reporst-all__each {
  width: 126px;
  text-align: center;
}

/* ------- diss-help-------*/

.diss-help {
  overflow-y: scroll;
  height: 750px;
}

.diss-help-wrap {
  width: 1000px;
  margin-left: 195px;
}

.diss-help-wrap.diss-order-all-wrap .diss-order-all-wrap__title {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #5900ac;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
}

.diss-help-wrap.diss-order-all-wrap .diss-order-all-wrap__item {
  border: none;
  border-bottom: 1px solid #5900ac;
}

.diss-help-wrap.diss-order-all-wrap i {
  position: absolute;
  top: 27px;
  right: 20px;
}

.diss-help-wrap.diss-order-all-wrap .diss-order-all-wrap__text {
  padding: 10px;
}

.diss-help-wrap.diss-order-all-wrap .diss-order-all-wrap__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 170%;
  color: #000000;
}

.diss-help-infobox {
  margin-top: 25px;
  margin-bottom: 14px;
}

.diss-help-infobox-2 {
  margin-top: 32px;
}

.diss-help-infobox-3 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.diss-help-title-sec {
  margin-bottom: 18px;
}

.diss-help-second {
  margin-top: 28px;
  margin-bottom: 18px;
}

.diss-help-second-last {
  margin-top: 23px;
  margin-bottom: 18px;
}

.diss-help-third-last {
  margin-bottom: 24px;
}

.diss-help-third-last-final {
  margin-top: 26px;
}

/* ------- diss-prof-------*/

.diss-prof-wrap {
  width: 1012px;
  margin-left: 195px;
  display: flex;
  justify-content: space-between;
}

.diss-prof-wrap__left {
  width: 458px;
  position: relative;
}

.diss-prof-personal {
  width: 100%;
  border: 1px solid rgba(89, 0, 172, 0.2);
  padding: 38px 58px 40px 57px;
  margin-bottom: 30px;
}

.diss-prof-personal__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 42px;
}

.diss-prof-personal__title {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #5900ac;
}

.diss-prof-personal-list__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 25px;
}

.diss-prof-personal-list__item:last-child {
  margin-bottom: 0;
}

.diss-prof-personal-list__left,
.diss-prof-contacts-box__right,
.diss-prof-contacts-box__name {
  width: 71px;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #919191;
  padding-top: 2px;
}

.diss-prof-personal-list__right {
  width: 243px;
}

.diss-prof-personal-list__name,
.diss-prof-contacts-box__info,
.diss-prof-contacts-box__number {
  border-bottom: 1px solid #5900ac;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  color: #000000;
  padding-left: 10px;
  padding-bottom: 10px;
}

.diss-prof-personal-list__date {
  width: 53px;
  border-bottom: 1px solid #5900ac;
  padding-bottom: 10px;
}

.diss-prof-personal-list__month {
  width: 53px;
  border-bottom: 1px solid #5900ac;
  padding-bottom: 10px;
}

.diss-prof-personal-list__year {
  width: 66px;
  border-bottom: 1px solid #5900ac;
  padding-bottom: 10px;
}

.diss-prof-personal-list__item:last-child .diss-prof-personal-list__right {
  width: 190px;
  display: flex;
  justify-content: space-between;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 1px;
  color: #000000;
  margin-right: 53px;
}

.diss-prof-wrap-card {
  border: 1px solid rgba(89, 0, 172, 0.2);
  padding: 34px 57px 31px;
  height: 322px;
  position: relative;
  opacity: 1;
  z-index: 3;
  transition: opacity 0.2s ease-in-out;
  overflow: auto;
}

.diss-prof-wrap-card.cardedit {
  opacity: 0;
  z-index: -1;
}

.diss-prof-wrap-card__title {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #5900ac;
  margin-bottom: 23px;
}

.diss-prof-wrap-card-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 11px;
  opacity: 0.5;
}

.diss-prof-wrap-card-list__item-active {
  opacity: 1;
  pointer-events: none;
}

.diss-prof-wrap-card-list__inner {
  border: 1px solid #5900ac;
  width: 319px;
  padding: 12px 12px 10px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.diss-prof-wrap-card-list__info {
  width: 184px;
}

.diss-prof-wrap-card-list__number {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 3px;
  color: #000000;
}

.diss-prof-wrap-card-list__name {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #5900ac;
}

.diss-prof-wrap-card-list__cancel {
  pointer-events: all;
}

.diss-prof-wrap-card__add {
  width: 146px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #5900ac;
  padding-bottom: 9px;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #5900ac;
  position: absolute;
  bottom: 31px;
  right: 56px;
}

.diss-prof-card-add {
  width: 458px;
  height: 322px;
  border: 1px solid #5900ac;
  background: #f2f2f2;
  z-index: -1;
  margin-top: -322px;
  position: relative;
  padding: 34px 57px 31px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.diss-prof-card-add.addadd {
  opacity: 1;
  z-index: 3;
}

.diss-prof-card-one {
  background: #f2f2f2;
  border: 1px solid #5900ac;
  box-sizing: border-box;
  border-radius: 10px;
  width: 241px;
  height: 141px;
  position: relative;
  z-index: 4;
}

.diss-prof-card-one__visa {
  position: absolute;
  top: 21.4px;
  right: 18px;
}

.diss-prof-card-one__master {
  position: absolute;
  top: 17px;
  right: 60px;
}

.diss-prof-card-one__large {
  width: 205px;
  border: none;
  border-bottom: 1px solid #5900ac;
  background: transparent;
  position: absolute;
  top: 54px;
  left: 18px;
  padding-bottom: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 3px;
  color: #000000;
  outline: none;
}

.diss-prof-card-one__large::placeholder,
.diss-prof-card-one__month::placeholder,
.diss-prof-card-one__year::placeholder,
.diss-prof-card-back__numbers::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 3px;
  color: #000000;
}

.diss-prof-card-one__smalltitle {
  font-style: normal;
  font-weight: 300;
  font-size: 8px;
  line-height: 8px;
  color: #000000;
  position: absolute;
  bottom: 45px;
  left: 18px;
}

.diss-prof-card-one__month,
.diss-prof-card-one__year {
  border: none;
  width: 34px;
  padding-bottom: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 3px;
  color: #000000;
  outline: none;
  border-bottom: 1px solid #5900ac;
  background: transparent;
  position: absolute;
  bottom: 19px;
}

.diss-prof-card-one__month {
  left: 18px;
}

.diss-prof-card-one__year {
  left: 68px;
}

.diss-prof-card-one__line {
  position: absolute;
  bottom: 24px;
  left: 58px;
}

.diss-prof-card-back {
  width: 241px;
  height: 141px;
  background: #f2f2f2;
  border: 1px solid #5900ac;
  box-sizing: border-box;
  border-radius: 10px;
  margin-left: auto;
  position: relative;
  z-index: 2;
  margin-top: -116px;
}

.diss-prof-card-back__img {
  position: absolute;
  right: 0;
  top: 35px;
}

.diss-prof-card-back__numbers {
  position: absolute;
  width: 42px;
  border: none;
  padding-bottom: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 3px;
  color: #000000;
  outline: none;
  border-bottom: 1px solid #5900ac;
  background: transparent;
  right: 32px;
  bottom: 47px;
}

.diss-prof-card-back__text {
  font-style: normal;
  font-weight: 300;
  font-size: 8px;
  line-height: 10px;
  color: #000000;
  position: absolute;
  right: 19px;
  bottom: 20px;
  width: 65px;
}

.diss-prof-card-add-nav {
  margin-top: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.diss-prof-card-add-nav__cancel,
.diss-add-address-delivery-nav__cancel,
.diss-add-address-delivery-nav__cancel_cancel {
  color: #909090;
  border-bottom: 1px solid #909090;
  padding-bottom: 9px;
}

.diss-prof-card-add-nav__add,
.diss-add-address-delivery-nav__add,
.diss-add-address-delivery-nav__add_delete,
.diss-add-address-delivery-nav__add_add {
  color: #5900ac;
  border-bottom: 1px solid #5900ac;
  padding-bottom: 9px;
}

.diss-prof-wrap__right {
  width: 524px;
}

.diss-prof-contacts {
  width: 524px;
  border: 1px solid rgba(89, 0, 172, 0.2);
  height: 687px;
  overflow-y: scroll;
  padding: 38px 37px 31px 58px;
  position: relative;
  z-index: 2;
}

.diss-prof-contacts .diss-prof-personal__top {
  margin-bottom: 41px;
}

.diss-prof-contacts-box__item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.diss-prof-contacts-box__info,
.diss-prof-contacts-box__info_extra {
  width: 310px;
}

.diss-prof-contacts-box__item {
  margin-bottom: 25px;
}

.diss-prof-contacts-box__info_extra,
.diss-prof-contacts-box__house,
.diss-prof-contacts-box__housenum {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.diss-prof-contacts-box__house {
  width: 71px;
}

.diss-prof-contacts-box__name {
  width: 29px;
}

.diss-prof-contacts-box__number {
  width: 35px;
}

.diss-prof-contacts-box__house,
.diss-prof-contacts-box__housenum {
  align-items: flex-start;
}

.diss-prof-contacts-box__housenum {
  width: 90px;
}

.diss-prof-contacts-box__housenum .diss-prof-contacts-box__name {
  width: 50px;
}

.diss-prof-contacts-box__housenum_flat {
  width: 107px;
}

.diss-prof-contacts-box__housenum_flat .diss-prof-contacts-box__name {
  width: 64px;
}

.diss-prof-contacts-box-line {
  width: 100%;
  height: 1px;
  background: rgba(89, 0, 172, 0.2);
  margin-top: 41px;
  margin-bottom: 28px;
}

.diss-prof-contacts-navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 26px;
}

.diss-prof-contacts-navigation__title {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #5900ac;
}

.diss-prof-cotnacts-navigation__btn {
  width: 150px;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #5900ac;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #5900ac;
  padding-bottom: 9px;
}

.diss-prof-addressies {
  padding-bottom: 40px;
}

.diss-prof-addressies__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-bottom: 14px;
  opacity: 0.5;
}

.diss-prof-addressies__item-active{
    opacity: 1;
    pointer-events: none;
}

.diss-prof-addressies__item:hover,
.diss-prof-addressies__item:focus {
  opacity: 1;
}

.diss-prof-addressies__text {
  border: 1px solid #5900ac;
  width: 384px;
  padding: 15px 52px 14px 23px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 1px;
  color: #000000;
}

.diss-add-address-delivery,
.diss-add-address-delivery__extra {
  width: 524px;
  border: 1px solid #5900ac;
  height: 687px;
  padding: 38px 58px 31px 58px;
  background: #f2f2f2;
  margin-top: -687px;
  position: relative;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.diss-add-address-delivery .diss-prof-personal__title {
  margin-bottom: 42px;
}

.diss-add-address-delivery-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 334px;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.diss-add-address-delivery.add {
  opacity: 1;
  z-index: 3;
  transition: opacity 0.2s ease-in-out;
}

input.diss-prof-contacts-box__info,
.diss-prof-contacts-box__number {
  border: none;
  border-bottom: 1px solid #5900ac;
  background: transparent;
  outline: none;
}

.diss-prof-contacts-edit {
  margin-top: -687px;
  background: #f2f2f2;
  border: 1px solid #5900ac;
  transition: opacity 0.2s ease-in-out;
  position: relative;
  z-index: -1;
  opacity: 0;
}

.diss-prof-contacts-edit .diss-prof-personal__title,
.diss-prof-contacts-edit .diss-prof-contacts-navigation__title {
  color: #000000;
}

.diss-prof-contacts-edit .diss-prof-addressies__item {
  opacity: 1;
  width: 100%;
}

.diss-prof-contacts-edit .diss-prof-addressies__text {
  color: #5900ac;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
}

.diss-prof-contacts-edit .diss-prof-addressies__text svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 22px;
}

.diss-prof-contacts-edit__btn {
  color: #5900ac;
  border-bottom: 1px solid #5900ac;
  padding-bottom: 9px;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-left: auto;
  display: block;
  width: 84px;
  margin-bottom: 25px;
}

.diss-prof-contacts-edit.add {
  opacity: 1;
  z-index: 4;
  transition: opacity 0.2s ease-in-out;
}

.diss-add-address-delivery__extra.add {
  opacity: 1;
  z-index: 5;
  transition: opacity 0.2s ease-in-out;
}

/* Mobile navigation */

.mob-nav {
  padding-top: 5px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid #7d5a9d;
  padding-top: 5px;
  padding-bottom: 6px;
  z-index: 100;
  background: #290d3f;
  display: none;
}

.mob-nav-wrapper {
  display: flex;
  align-items: center;
}

.logo-wrapper,
.burger-wrapper {
  display: flex;
  flex: 1;
  justify-content: center;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

:focus {
  outline: none;
}

ul.mobile-nav-pages {
  padding-top: 100px;
}

.mobile-nav-pages__link {
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
}

.mobile-nav-pages__item {
  margin-bottom: 15px;
}

.mobile-nav-pages__item:nth-child(2) {
  opacity: 0.6;
  pointer-events: none;
}

.faq .logo-top,
.faq .logo-bottom {
  fill: #230636;
}

/* Main menu positionning */
.main-nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  background: #fff;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transition: all 0.375s;
}

.main-nav.is-open {
  opacity: 1;
  z-index: 100;
  visibility: visible;
}

/* Yellow band effect */
.main-nav::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -15px;
  background: #290d3f;
  transform-origin: 0 0;
  transform: skew(-14deg) translateX(-120%);
  transition: all 0.275s 0.1s;
}

.main-nav.is-open::before {
  transform: skew(-14deg) translateX(0);
}

/* Skewing effect on menu links */
.main-nav ul {
  display: inline-flex;
  flex-direction: column;
  height: 93%; /* Should be 100%, but we have a notice message :D */
  align-items: flex-end;
  justify-content: center;
  transform: translateX(-18%) skew(-16deg);
}

.main-nav li {
  display: block;
  margin: 0.5rem 0;
  text-align: right;
  transform: skew(16deg);
}

/* Apparition effect on links */
.main-nav a {
  opacity: 0;
  transform: translateY(-10px);
}

.main-nav.is-open a {
  opacity: 1;
  transform: translateY(0);
}
.main-nav li:nth-child(1) a {
  transition: all 275ms 175ms;
}
.main-nav li:nth-child(2) a {
  transition: all 275ms 225ms;
}
.main-nav li:nth-child(3) a {
  transition: all 275ms 275ms;
}
.main-nav li:nth-child(4) a {
  transition: all 275ms 325ms;
}
.main-nav li:nth-child(5) a {
  transition: all 275ms 375ms;
}

/* Decoration */
.main-nav ul,
.main-nav li {
  list-style: none;
  padding: 0;
}
.main-nav a {
  display: block;
  padding: 12px 0;
  color: #bc86ee;
  font-size: 1.4em;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  pointer-events: all;
}

/* Burger Style: */
.open-main-nav {
  position: absolute;
  top: 15px;
  padding-top: 20px;
  right: 15px;
  z-index: 1000;
  background: none;
  border: 0;
  cursor: pointer;
  pointer-events: all;
}
.open-main-nav:focus {
  outline: none;
}
.burger {
  position: relative;
  display: block;
  width: 28px;
  height: 4px;
  margin: 0 auto;
  background: #bc86ee;
  transform: skew(5deg);
  transition: all 0.275s;
}

.burger:after,
.burger:before {
  content: "";
  display: block;
  height: 100%;
  background: #bc86ee;
  transition: all 0.275s;
}

.burger:after {
  transform: translateY(-12px) translateX(-2px) skew(-20deg);
}

.burger:before {
  transform: translateY(-16px) skew(-10deg);
}

/* Toggle State part */
.is-open .burger {
  transform: skew(5deg) translateY(-8px) rotate(-45deg);
}

.is-open .burger:before {
  transform: translateY(0px) skew(-10deg) rotate(75deg);
}

.is-open .burger:after {
  transform: translateY(-12px) translateX(10px) skew(-20deg);
  opacity: 0;
}

.device {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 101;
  display: none;
  pointer-events: none;
}

#nav {
  display: none;
  position: fixed;
  top: 70px;
  left: -300px;
  margin: 0;
  padding: 0;
  width: 268px;
  z-index: 80;
  background-color: #f2f2f2;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  padding: 25px;
  height: 95vh;
}

#showMenu {
  display: none;
  position: fixed;
  top: 70px;
  left: 0;
  margin: 0;
  width: 50px;
  height: 50px;
  z-index: 80;
  color: #f2f2f2;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 5px;
  text-decoration: none;
  background-color: #bc86ee;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  padding: 10px;
}

#showMenu svg {
  fill: #fff;
}

.show {
  left: 0px !important;
}

.moveButton {
  left: 268px !important;
  color: #1e1e1e !important;
  background-color: #f2f2f2 !important;
}

.moveButton svg {
  fill: #000 !important;
}

/* ------------------------------------------- ADMIN - ADMIN --------------------------------------------- */

/* ------------------------------------------- ADMIN - admin-tabs --------------------------------------------- */

.tabs-sort {
  width: 1012px;
  margin-left: 195px;
}

.tabs-sort-link {
  width: 12px;
  height: 12px;
  margin-left: auto;
  display: flex;
  position: relative;
  z-index: 20;
}

.tabs-sort-link::before {
  content: "Скачать exel";
  width: 157px;
  height: 27px;
  position: absolute;
  top: -30px;
  left: -160px;
  border: 1px solid rgba(89, 0, 172, 0.2);
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #5900ac;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}

.tabs-sort-link:hover::before {
  opacity: 1;
}

.tabs-sort-box {
  display: flex;
  width: 245px;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  color: #767676;
  margin-top: 16px;
}

.tabs-sort .wrap-drop,
.tab-content-top .wrap-drop {
  width: 143px;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  height: 23px;
  padding-left: 0;
}

.tabs-sort .wrap-drop::after,
.tab-content-top .wrap-drop::after {
  right: 0;
}

.tabs-sort .wrap-drop .drop li a,
.tab-content-top .wrap-drop .drop li a {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
}

.tabs {
  position: relative;
  width: 1012px;
  margin-left: 195px;
  max-height: 730px;
  margin-top: -40px;
}
.tabs::before,
.tabs::after {
  content: "";
  display: table;
}
.tabs::after {
  clear: both;
}
.tab {
  float: left;
}
.tab-switch {
  display: none;
}
.tab-label {
  position: relative;
  display: block;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  background: #f2f2f2;
  color: #5900ac;
  cursor: pointer;
  top: 0;
  transition: all 0.25s;
  border-top: 1px solid rgba(89, 0, 172, 0.2);
  border-left: 1px solid rgba(89, 0, 172, 0.2);
  border-right: 1px solid rgba(89, 0, 172, 0.2);
  border-bottom: 1px solid #f2f2f2;
  width: 264px;
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.tab-content {
  position: absolute;
  z-index: 1;
  top: 50px;
  left: 0;
  background: #f2f2f2;
  color: #2c3e50;
  border-top: 1px solid #5900ac;
  opacity: 0;
  transition: all 0.35s;
  width: 100%;
}
.tab-switch:checked + .tab-label {
  background: #f2f2f2;
  color: #000000;
  border-bottom: 0;
  border-right: 0.125rem solid #fff;
  transition: all 0.35s;
  z-index: 3;
  border-top: 1px solid #5900ac;
  border-left: 1px solid #5900ac;
  border-right: 1px solid #5900ac;
  border-bottom: 1px solid #f2f2f2;
}
.tab-switch:checked + label + .tab-content {
  z-index: 2;
  opacity: 1;
  transition: all 0.35s;
}

.tab-content-top {
  display: flex;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 30px;
}

.tab-content-top__total,
.tab-content-top__region,
.tab-content-top__pay,
.tab-content-top__totalsum {
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #000000;
}

.tab-content-top__totalnum {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  color: #000000;
  opacity: 0.82;
  width: 80px;
  text-align: center;
}

.tab-content-top .wrap-drop span {
  font-weight: bold;
  color: #5900ac;
  opacity: 0.82;
}

.tab-content-top__totalsumnum {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  letter-spacing: 1px;
  color: #000000;
  opacity: 0.82;
  width: 132px;
}

.tab-content-top__total {
  width: 204px;
}

.tab-content-top__region {
  width: 70px;
  text-align: right;
  margin-right: 5px;
}

.tab-content-top #noble-gases3,
.tab-content-top #noble-gases5 {
  width: 95px;
  text-transform: uppercase;
}

.tab-content-top #noble-gases2,
.tab-content-top #noble-gases4 {
  width: 130px;
  text-transform: uppercase;
}

.tab-content-top__pay {
  width: 140px;
  text-align: right;
  margin-right: 5px;
}

.tab-content-top__totalsum {
  width: 150px;
  text-align: right;
}

.tab-content .diss-order-all {
  margin-left: 0;
  overflow-y: scroll;
  max-height: 500px;
}

.tab-content .diss-order-all-wrap,
.tab-content .diss-order-all-wrap li {
  width: 100%;
}

.tab-content__person {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-decoration-line: underline;
  color: #5900ac;
  margin-left: 5px;
  width: 204px;
}

.tab-content .diss-order-all-wrap__status {
  width: 147px;
}

.tab-content .diss-order-subtotal {
  width: 100%;
  margin-left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tab-content__inner {
  width: 192px;
}

.tab-content__btn a{
    margin-top: 0;
    margin-left: 25px;
    width:250px;
}

.tab-content__address {
  display: flex;
  align-items: center;
  width: 480px;/*570px*/
}

.tab-content-addname {
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #5900ac;
  width: 54px;
  margin-right: 15px;
}

.tab-content-addloc {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #000000;
}

/* ------------------------------------------- ADMIN - admin-main --------------------------------------------- */

#account-admin .account-dist-main-wrap__number {
  font-size: 64px;
  line-height: 78px;
}

#account-admin .account-dist-main-wrap__subtitle {
  margin-top: 0px;
  margin-bottom: 118px;
}

#account-admin .account-dist-main-floating {
  width: 360px;
  height: 674px;
  right: 8px;
}

.admin-main-top,
.admin-main-bottom {
  padding-top: 15px;
}

.admin-main__title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #5900ac;
  margin-bottom: 23px;
}

.admin-main-people {
  background: #f2f2f2;
  border: 1px solid rgba(89, 0, 172, 0.2);
  position: relative;
  padding: 30px 67px 30px 39px;
  margin-bottom: 10px;
  display: block;
}

.admin-main-people__title {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  color: #000000;
  margin-bottom: 7px;
}

.admin-main-people__text {
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
  color: #919191;
}

.admin-main-people__img {
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.2));
  -webkit-filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.2));
  position: absolute;
  top: -30px;
  right: 20px;
}

.admin-main-people-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 168px;
  border-bottom: 1px solid #5900ac;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #5900ac;
  padding-bottom: 9px;
  margin-top: 35px;
  margin-left: auto;
}

.admin-main-bottom {
  margin-top: 27px;
}

#admin-main-people-link2 {
  width: 176px;
}

#account-admin .account-dist-main-inst {
  display: block;
  padding: 17px 43px 17px 44px;
}

.accound-main-inst__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #5900ac;
  margin-bottom: 16px;
}

.account-main-dates {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.account-main-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 218px;
  position: relative;
}

.account-main-date__title {
  font-weight: normal;
  font-size: 9px;
  line-height: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 73px;
  color: #909090;
}

.account-main-dates .diss-reports-dates__input {
  border-bottom: 1px solid #5900ac;
  width: 130px;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.account-main-dates__icon {
  width: 10.8px;
  position: absolute;
  right: 5px;
  top: 5px;
}

.admin-main-reports {
  border: 1px solid rgba(89, 0, 172, 0.2);
  padding: 23px 43px 19px 44px;
  width: 554px;
  border-top: none;
  margin-left: 195px;
}

.admin-main-reports-titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: normal;
  font-size: 9px;
  line-height: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #5900ac;
}

.admin-main-reports-data__item {
  display: flex;
  align-items: flex-end;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  color: #000000;
  opacity: 0.82;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(89, 0, 172, 0.4);
  height: 42px;
}

.admin-main-reports-data__begin {
  width: 79px;
  margin-right: 27px;
}

.admin-main-reports-data__end {
  width: 105px;
  margin-right: 28px;
}

.admin-main-reports-data__count {
  width: 90px;
  margin-right: 30px;
  text-align: center;
}

.admin-main-reports-data__quant {
  width: 102px;
  text-align: right;
}

.admin-main-reports__link {
  width: 164px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #5900ac;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 9px;
  color: #5900ac;
  margin-left: auto;
  margin-top: 17px;
}

/* ------------------------------------------- ADMIN - admin-profile --------------------------------------------- */

.admin-profile {
  width: 946px;
  margin-left: 195px;
  display: flex;
  justify-content: space-between;
}

.admin-profile__left {
  width: 458px;
  height: 440px;
  /*background: #f2f2f2;
  border: 1px solid rgba(89, 0, 172, 0.2);
  padding: 38px 58px 42px 57px;
  */
}

.admin-profile__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.admin-profile__title {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #5900ac;
}

.admin-profile-list__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.admin-profile-list__item:last-child {
  margin-bottom: 0;
}

.admin-profile-list__title,
.admin-profile-submit__title {
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #919191;
  padding-top: 4px;
}

.admin-profile-list__var {
  border-bottom: 1px solid #5900ac;
  width: 243px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.admin-profile-line {
  background: rgba(89, 0, 172, 0.2);
  height: 1px;
  width: 100%;
  margin-top: 45px;
  margin-bottom: 35px;
}

.admin-profile__right {
  width: 458px;
}

.admin-profile-box {
  width: 100%;
  background: #f2f2f2;
  border: 1px solid rgba(89, 0, 172, 0.2);
  padding: 38px 58px 42px 57px;
  position: relative;
  z-index: 1;
}

.admin-profile-personal,
.admin-profile-change {
  width: 100%;
  border: 1px solid #5900ac;
  background: #f2f2f2;
  position: relative;
  z-index: -1;
  padding: 38px 58px 42px 57px;
  margin-top: -226px;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}

.admin-profile-personal{
    margin-top: -444px;
}

.admin-profile-personal .diss-reports-dates__date{
    border-bottom: none;
    padding-left: 25px;
}

.admin-profile-personal.add,
.admin-profile-change.add {
  opacity: 1;
  z-index: 2;
}

.admin-profile-change .admin-profile__title,
.admin-profile-submit .admin-profile__title {
  color: #000000;
}

input.admin-profile-list__var {
  background: #f2f2f2;
  border: none;
  border-bottom: 1px solid rgba(89, 0, 172, 0.2);
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  color: #5900ac;
}

.admin-profile-change__explain {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #909090;
  margin-bottom: 25px;
}

.admin-profile-personal__submit,
.admin-profile-change__submit {
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #5900ac;
  border-bottom: 1px solid #5900ac;
  width: 84px;
  padding-bottom: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-top: 29px;
}

.admin-profile-submit {
  width: 100%;
  border: 1px solid #5900ac;
  background: #f2f2f2;
  padding: 38px 58px 42px 57px;
  margin-top: -551px;
  position: relative;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
  z-index: -1;
}

.admin-profile-submit.add {
  opacity: 1;
  z-index: 2;
}

.admin-profile-submit__code {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin-profile-submit__in {
  border: none;
  border-bottom: 1px solid rgba(89, 0, 172, 0.2);
  background: #f2f2f2;
  padding-bottom: 9px;
  width: 31px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 1px;
  color: #5900ac;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-profile-submit .admin-profile-change__submit {
  width: 180px;
}

/* ------------------------------------------- ADMIN - admin-diss-top --------------------------------------------- */

.admin-diss-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1011px;
  margin-left: 195px;
  padding-bottom: 30px;
}

.admin-diss-top__title {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #5900ac;
}

.admin-diss-top__inner {
  width: 220px;
  display: flex;
  align-items: center;
  margin-top: 28px;
}

.admin-diss-top__text {
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #000000;
  margin-right: 10px;
}

.admin-diss-top__number {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  color: #000000;
  opacity: 0.82;
}

.admin-diss-top__add {
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  text-align: right;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #5900ac;
  border-bottom: 1px solid #5900ac;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 159px;
  padding-bottom: 9px;
  margin-left: auto;
  margin-bottom: 24px;
}

.admin-diss-top__sort {
  display: flex;
  align-items: center;
  width: 298px;
}

.admin-diss-top__sort .wrap-drop,
.admin-diss-top__sort .wrap-drop .drop li a,
.admin-diss-top__sort .wrap-drop span {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  color: #5900ac;
}

.admin-diss-top__sort .wrap-drop {
  width: 170px;
  padding-left: 0;
}

.admin-diss-top__sort .wrap-drop::after {
  right: 0px;
}

/* ------------------------------------------- ADMIN - admin-diss-main --------------------------------------------- */

.admin-diss-main {
  overflow-y: scroll;
  width: 100%;
  height: 650px;
  max-height: 70vh;
}

.admin-diss-wrapper {
  width: 1008px;
  margin-left: 195px;
}

.admin-diss-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.admin-diss-list__item {
  padding-top: 18px;
  width: 316px;
  position: relative;
  margin-bottom: 26px;
}

.admin-diss-list-wrapper {
  background: #f2f2f2;
  border: 1px solid rgba(89, 0, 172, 0.2);
  padding: 23px 28px 25px 29px;
}

.admin-diss-list-wrapper__title {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1px;
  color: #000000;
  margin-bottom: 9px;
  width: 232px;
}

.admin-diss-list-wrapper__loc {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #919191;
  width: 205px;
}

.admin-diss-list-wrapper__line {
  width: 100%;
  height: 1px;
  background: rgba(89, 0, 172, 0.2);
  margin-top: 16px;
  margin-bottom: 18px;
}

.admin-diss-list-wrapper__phone,
.admin-diss-list-wrapper__email {
  display: flex;
  align-items: center;
}

.admin-diss-list-warpper__number {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  color: #000000;
  margin-left: 18px;
}

.admin-diss-list-wrapper__email {
  margin-top: 8px;
}

.admin-diss-list-wrapper__inside {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  position: relative;
}

.admin-diss-list-wrapper__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  color: #909090;
  margin-right: 7px;
}

.admin-diss-list-wrapper__number {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  color: #5900ac;
}

.admin-diss-list-wrapper__inside:last-child .admin-diss-list-wrapper__number {
  letter-spacing: 1px;
  color: #5900ac;
  opacity: 0.82;
  font-weight: bold;
}

.admin-diss-list-wrapper__inside:last-child {
  margin-bottom: 0;
}

.admin-diss-list__link {
  width: 156px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #5900ac;
  padding-bottom: 9px;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #5900ac;
  margin-left: auto;
  margin-top: 22px;
}

.admin-diss-list__img {
  position: absolute;
  top: 0;
  right: 24px;
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.2));
  -webkit-filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.2));
}

/* ------------------------------------------- ADMIN - admin-diss-ove --------------------------------------------- */

.admin-diss-over {
  position: fixed;
  z-index: -10;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.95);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opasity 0.2s ease-in-out;
  pointer-events: none;
}

.admin-diss-over.add {
  z-index: 200;
  opacity: 1;
  pointer-events: all;
}

.admin-diss-form {
  width: 524px;
  height: 745px;
  background: #f2f2f2;
  border: 1px solid rgba(89, 0, 172, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.05);
  overflow-y: scroll;
  padding: 34px 56px 33px;
}

h2.admin-diss-form__title {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 31px;
}

h3.admin-diss-form__title {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #5900ac;
  margin-bottom: 25px;
}

ul.admin-diss-form-list {
  width: 411px;
}

.admin-diss-form-list__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 25px;
}

.admin-diss-form-list__item:last-child {
  margin-bottom: 0;
}

.admin-diss-form-list__title {
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #919191;
  padding-top: 4px;
}

.admin-diss-form-list__input {
  display: block;
  background: transparent;
  border: none;
  width: 311px;
  border-bottom: 1px solid #5900ac;
  padding-bottom: 9px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  color: #000000;
  padding-left: 10px;
  padding-right: 10px;
}

.admin-diss-form-list__date {
  width: 311px;
  display: flex;
  align-items: center;
}

.admin-diss-form-list__date input {
  width: 53px;
  margin-right: 9px;
}

#admin-diss-form-list__date_last {
  width: 66px;
}

.admin-fiss-form__line {
  width: 411px;
  height: 1px;
  background: rgba(89, 0, 172, 0.2);
  margin-top: 46px;
  margin-bottom: 31px;
}

.admin-diss-form-list-house {
  width: 310px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin-diss-form-list-house__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin-diss-form-list-house__item:first-child {
  width: 71px;
}
.admin-diss-form-list-house__item:nth-child(2) {
  width: 90px;
}
.admin-diss-form-list-house__item:last-child {
  width: 107px;
}

.admin-diss-form-list-house input {
  width: 35px;
  padding-left: 5px;
  padding-right: 5px;
}

.admin-diss-form__navigation {
  width: 411px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 44px;
}

.admin-diss-form__navigation a {
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 9px;
}

.admin-diss-form__cancel {
  color: #909090;
  border-bottom: 1px solid #909090;
}

.admin-diss-form__submit {
  color: #5900ac;
  border-bottom: 1px solid #5900ac;
}

/* ------------------------------------------- ADMIN - admin-diss-inner --------------------------------------------- */

.admin-diss-inner {
  overflow-y: scroll;
  max-height: 80vh;
  min-height: 750px;
}

.admin-diss-inner-wrapper__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 229px;
  margin-left: auto;
  margin-top: 28px;
}

.admin-diss-inner-wrapper__number {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  letter-spacing: 1px;
  color: #000000;
  opacity: 0.82;
}

.admin-diss-inner-wrapper .admin-diss-top__inner {
  width: 250px;
}

.admin-diss-inner-wrapper .admin-diss-top__sort {
  width: 275px;
}

.admin-diss-inner-wrapper .admin-diss-top__sort .admin-diss-top__text {
  letter-spacing: 1px;
  color: #767676;
}

.admin-diss-inner .admin-diss-top {
  width: 1011px;
  margin-bottom: 23px;
}

.admin-diss-inner .diss-order-all {
  margin-left: 195px;
}

/* ------------------------------------------- ADMIN - admin-diss-inner-info --------------------------------------------- */

.admin-diss-inner-info {
  width: 1011px;
  margin-left: 195px;
  padding-bottom: 42px;
  position: relative;
}

.admin-diss-inner-info__link {
  border-bottom: 1px solid #5900ac;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #5900ac;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 98px;
  padding-bottom: 9px;
  margin-bottom: 25px;
}

.admin-diss-inner-info-box {
  background: #f2f2f2;
  border: 1px solid rgba(89, 0, 172, 0.2);
  padding: 28px 68px;
  display: flex;
}

.admin-diss-innner-info-box__left {
  margin-left: 28px;
}

h2.admin-diss-inner-info-box__title {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #5900ac;
}

.admin-diss-inner-info-box__date {
  display: flex;
  align-items: center;
  margin-top: 13px;
  margin-bottom: 13px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.admin-diss-inner-info-box__datetitle,
span.admin-diss-inner-info-box__title,
.admin-diss-onner-list-inner__span {
  color: #909090;
  margin-right: 5px;
}

.admin-diss-inner-info-box__loc {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  width: 312px;
}

.admin-diss-inner-info-box__link {
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 144px;
  color: #5900ac;
  padding-bottom: 9px;
  border-bottom: 1px solid #5900ac;
  margin-top: 28px;
}

.admin-diss-inner-list__item {
  border-left: 1px solid rgba(89, 0, 172, 0.2);
  padding-top: 20px;
  padding-left: 35px;
  padding-bottom: 23px;
  width: 296px;
}

.admin-diss-inner-list__item:first-child {
  border-bottom: 1px solid rgba(89, 0, 172, 0.2);
}

.admin-diss-onner-list-inner__item:first-child {
  margin-bottom: 8px;
}

.admin-diss-onner-list-inner__box {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.admin-diss-inner-info .account-dist-main-wrap__number {
  position: absolute;
  font-size: 110px !important;
  line-height: 134px !important;
  top: -20px;
  right: 133px;
}

.admin-diss-inner-info .account-dist-main-wrap__subtitle {
  position: absolute;
  right: 176px;
  top: 110px;
  margin-bottom: 0 !important;
  margin-left: 0;
}

.admin-diss-inner-info .account-dist-main-wrap__inner {
  position: absolute;
  right: 150px;
  top: 210px;
  margin: 0 !important;
}

.admin-diss-inner-info__img {
  position: absolute;
  right: 49px;
  bottom: 20px;
  filter: drop-shadow(0px 30px 60px rgba(0, 0, 0, 0.3));
  -webkit-filter: drop-shadow(0px 30px 60px rgba(0, 0, 0, 0.3));
}

/* ------------------------------------------- ADMIN - admin-clients --------------------------------------------- */

#admin-clients-top {
  align-items: flex-end;
  padding-bottom: 30px;
}

#admin-clients-top .admin-diss-top__text {
  letter-spacing: 1px;
  color: #767676;
}

.admin-clients-list__item {
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid rgba(89, 0, 172, 0.4);
  height: 59px;
  padding-left: 13.5px;
  padding-right: 13.5px;
  padding-bottom: 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  color: #000000;
}

.admin-clients-list__link {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-decoration-line: underline;
  color: #5900ac;
  opacity: 0.82;
}

.admin-clients-list__linkshell {
  width: 225px;
}

.admin-clients-list__city {
  opacity: 0.82;
  width: 219px;
}

.admin-clients-list__num {
  width: 226px;
  opacity: 0.82;
}

.admin-clients-list__count {
  width: 135px;
  text-align: center;
  opacity: 0.82;
}

.admin-clients-list__totalsum {
  width: 177px;
  color: #5900ac;
  font-weight: bold;
  opacity: 0.82;
  text-align: right;
}

.admin-clients-titles {
  padding-left: 13.5px;
  padding-right: 13.5px;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #5900ac;
}

.admin-clients-titles__name {
  width: 225px;
}

.admin-clients-titles__city {
  width: 219px;
}

.admin-clients-titles__phone {
  width: 226px;
}

.admin-clients-titles__count {
  width: 142px;
}

.admin-clients-titles__total {
  width: 170px;
  text-align: right;
}

#admin-clients-wrapper {
  padding-top: 0;
}
