/* ------ Media Queries ------ */

/* 1351-1439px */
@media screen and (max-width: 1439px) {
  .account-dist-main-floating {
    position: relative;
    top: unset;
    right: unset;
    width: 554px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 31px;
  }
  .account-distributors {
    height: 100%;
    padding-bottom: 50px;
  }
  .account-dist-main-wrap {
    padding-left: 0px;
    display: flex;
    align-items: center;
    width: 554px;
    margin-left: auto;
    margin-right: auto;
  }
  .account-dist-main-inst,
  .account-dist-main-img {
    margin-left: auto;
    margin-right: auto;
  }
  .account-dist-main-img {
    display: block;
    width: 554px;
  }
  img.account-dist-main-floating__img {
    width: 100%;
  }
  .account-dist-main-floating__empty {
    width: 100%;
    background: #f2f2f2;
  }
  .fixed-nav.account-fixed-nav {
    background: #f2f2f2;
  }
  .account-dist-sidmenu-nav {
    margin-bottom: 305px;
  }
  #account-admin .account-dist-main-wrap,
  #account-admin .account-dist-main-inst {
    margin-right: 0;
    margin-left: 195px;
  }
  #account-admin .account-dist-main-floating {
    right: 8px;
    position: absolute;
    top: -35px;
  }
  #admin-dist-sidemenu {
    margin-bottom: 250px;
  }
}

/* 1201-1350px */
@media screen and (max-width: 1350px) {
  .owl-main-inner__img {
    width: 100% !important;
  }
  .account-dist-sidmenu {
    margin-left: 0px;
  }
  .diss-help-wrap {
    width: 100%;
    margin-left: 0;
  }
  .diss-help-wrap.diss-order-all-wrap .diss-order-all-wrap__item {
    margin-left: auto;
  }
  .diss-order-all-wrap__item {
    width: 900px;
  }
  .diss-prof-wrap {
    transform: scale(0.9);
  }
  .diss-orders-topper,
  .diss-order-all {
    width: 100%;
    margin-left: 0;
  }
  .diss-order-all-wrap {
    width: 100%;
  }
  .diss-orders-all .diss-order-all-wrap__item {
    margin-left: auto;
  }
  .diss-orders-topper {
    padding-left: 250px;
  }
  .diss-order-all-wrap__status {
    width: 280px;
  }
  .diss-inner-first__name {
    margin-right: 60px;
  }
  .diss-inner-second__name {
    width: 260px;
  }
  .diss-inner-second__price {
    width: 70px;
  }
  .diss-inner-second__sum {
    width: 127px;
    text-align: right;
  }
  .diss-reports-wrap {
    width: 100%;
    margin-left: 0;
  }
  .diss-reports-titles {
    padding-left: 250px;
  }
  .diss-reports-select {
    width: 900px;
    margin-left: auto;
    padding: 25px;
  }
  .diss-report-box-titles {
    margin-right: 0;
    padding: 0;
    width: 900px;
  }
  .diss-reports-all {
    margin-right: 0;
    width: 900px;
  }
  .diss-reporst-all__item {
    padding-left: 0;
    padding-right: 0;
  }
  .diss-reporst-all__end {
    width: 225px;
  }
  .diss-reporst-all__total {
    width: 170px;
  }
  #account-admin .account-dist-main-wrap,
  #account-admin .account-dist-main-inst,
  .admin-main-reports {
    margin-left: auto;
    margin-right: auto;
  }
  #account-admin .account-dist-main-floating {
    position: relative;
    top: unset;
    right: unset;
    margin-left: auto;
    margin-right: auto;
  }
  .admin-profile {
    flex-direction: column;
    align-items: center;
    padding-bottom: 64px;
  }
  .admin-profile__left {
    margin-bottom: 20px;
  }
  .tabs,
  .tabs-sort {
    width: 895px;
    margin-left: auto;
  }
  .tab-content .diss-order-all-wrap__title,
  .tab-content .diss-order-all-wrap__text {
    padding-left: 25px;
    padding-right: 25px;
  }
  .tab-content .diss-order-all-wrap i {
    right: 25px;
  }
  .tab-content .diss-inner-first__sum {
    margin-left: 140px;
  }
  .tab-content .diss-inner-second__sum {
    width: 185px;
  }
  .tab-content-top__total {
    width: 135px;
  }
  .admin-diss-top,
  .admin-diss-wrapper {
    width: 895px;
    margin-left: auto;
  }
  .admin-diss-wrapper {
    width: 650px;
    margin-right: 200px;
  }
  .admin-diss-inner-info,
  .admin-diss-inner .admin-diss-top {
    width: 895px;
    margin-left: auto;
  }
  .admin-diss-inner-info-box {
    padding: 28px;
  }
  .admin-diss-inner .diss-order-all {
    margin-left: auto;
  }
  .admin-diss-inner .diss-order-all-wrap {
    width: 895px;
    margin-left: auto;
  }
  #admin-clients-wrapper {
    width: 895px;
    margin-right: 0;
  }
  .admin-clients-titles__count {
    width: 159px;
  }
}

/* 992-1200px */
@media screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }
  .footer-navigation {
    height: 185px;
    padding-top: 15px;
    margin-bottom: 15px;
    width: 280px;
  }
  .contacts-small-wrap,
  .contacts-slid__largetext {
    width: 100%;
  }
  .contacts-slid-wrap {
    margin-right: 35px;
  }
  .contacts-header {
    padding-bottom: 35px;
  }
  .contacts-slider {
    padding-top: 100px;
  }
  .faq-footer,
  .faq-quest .faq-group {
    width: 725px;
  }
  .faq-header .premium-footer {
    padding-top: 250px;
  }
  .owl-floating-bottle {
    pointer-events: none;
  }
  .owl-wrap__img {
    width: 380px !important;
    margin-left: 110px;
  }
  .owl-wrap__img_tavri {
    width: 695px !important;
  }

  /* ------------ updates ------------- */

  .elixir-main__subtitle {
    width: 390px;
  }
  .floating-bottle {
    margin-left: 140px;
  }
  .cart-wrap {
    flex-direction: column;
  }
  .cart-items-wrap,
  .cart-info__checkout {
    margin-left: auto;
    margin-right: auto;
  }
  .account-dist-main-wrap,
  .account-dist-main-inst,
  .account-dist-main-img,
  .account-dist-main-floating {
    margin-right: 100px;
  }
  .diss-order-all-wrap__item {
    width: 735px;
  }
  .diss-prof-wrap {
    transform: scale(1);
    flex-direction: column;
    width: 100%;
    margin-left: 0;
  }
  .diss-prof-wrap__left {
    margin-left: auto;
    margin-right: auto;
  }
  .diss-prof-wrap__right {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
  .diss-orders-topper {
    padding-left: 227px;
  }
  .diss-orders-all .diss-order-all-wrap__title {
    padding-left: 20px;
    padding-right: 30px;
  }
  .diss-order-all-wrap__status {
    width: 190px;
  }
  .diss-orders-all .diss-order-all-wrap i {
    right: 30px;
  }
  .diss-orders-all .diss-order-all-wrap__text {
    padding-left: 20px;
    padding-right: 20px;
  }
  .diss-inner-first__name {
    margin-right: 31px;
    margin-left: 20px;
  }
  .diss-inner-second__sybol {
    margin-right: 25px;
  }
  .diss-inner-second__name {
    width: 235px;
  }
  .fixed-nav-pages {
    margin-left: 90.18px;
  }
  .diss-reports-dates__date,
  .wrap-drop {
    width: 200px;
  }
  .diss-reports-dates__left,
  .diss-reports-dates__right,
  .diss-reports-week__left,
  .diss-reports-week__right,
  .diss-reports-products__left,
  .diss-reports-products__right {
    width: 320px;
  }
  .diss-reports-select {
    width: 710px;
  }
  .diss-reports-box {
    width: 710px;
    margin-right: 0;
  }
  .diss-report-box-titles {
    width: 710px;
    overflow-y: scroll;
  }
  .diss-reports-all {
    width: 710px;
  }
  #account-admin .account-dist-main-wrap,
  #account-admin .account-dist-main-inst,
  .admin-main-reports {
    margin-right: 0;
    margin-left: 300px;
  }
  .admin-profile {
    width: 100%;
    margin-left: 0;
  }
  .tabs,
  .tabs-sort {
    width: 895px;
    margin-left: auto;
    transform: scale(0.8);
  }
  .tabs {
    margin-top: 30px;
  }
  .admin-diss-top {
    width: 690px;
  }
  .admin-diss-wrapper {
    margin-right: 40px;
  }
  .admin-diss-inner .diss-order-all-wrap {
    width: 735px;
  }
  .admin-diss-inner .diss-order-all-wrap__title {
    padding-left: 20px;
    padding-right: 30px;
  }
  .admin-diss-inner .diss-order-all-wrap__text {
    padding-left: 20px;
    padding-right: 20px;
  }
  .admin-diss-inner .admin-diss-top {
    width: 735px;
  }
  .admin-diss-inner-info {
    width: 735px;
  }
  .admin-diss-inner-info-box {
    flex-direction: column;
  }
  .admin-diss-inner-list__item {
    border: none !important;
  }
  .admin-diss-inner-info-box__right {
    margin-top: 25px;
  }
  .admin-diss-inner-info .account-dist-main-wrap__number {
    top: 45px;
  }
  .admin-diss-inner-info .account-dist-main-wrap__subtitle {
    top: 175px;
  }
  .admin-diss-inner-info .account-dist-main-wrap__inner {
    top: 395px;
  }
  .admin-diss-inner-info__img {
    bottom: 75px;
  }
  #admin-clients-wrapper {
    width: 735px;
  }
  .admin-clients-titles__total {
    width: 75px;
  }
  .admin-clients-titles__count {
    width: 235px;
  }
}
/* 768-991px */
@media screen and (max-width: 991px) {
    
    .CDEK-widget__popup-mask{
        top:0px !important;
    }
    
    
  .container {
    width: 720px;
  }
  .footer-wrap__logo,
  .footer-wrap__text,
  .footer-wrap__up,
  .footer-wrap__right,
  .premium-footer__line {
    display: none;
  }
  .contacts-big .premium-footer {
    background: url(../img/mob-footer.png) no-repeat center center;
    padding-top: 155px;
    padding-bottom: 20px;
    background-size: cover;
  }
  .footer-wrap {
    justify-content: center;
  }
  .contacts-slider {
    padding-bottom: 160px;
  }
  .contacts-wrap {
    flex-flow: column-reverse;
  }
  .contacts-bottle {
    left: 77%;
    top: 390px;
  }
  .contacts-info-wrap {
    margin-right: auto;
    margin-left: 50px;
  }
  .contacts-about__title {
    font-size: 25px;
    line-height: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .contacts-about__text {
    margin-bottom: 50px;
  }
  .contacts-slid__img {
    width: 100%;
  }
  .test-dot-container {
    left: 300px;
    bottom: 9px;
  }
  .contacts-slid__right {
    padding-left: 40px;
  }
  .contacts-slid__largetext {
    font-size: 12px;
  }
  .fixed-nav {
    display: none;
  }
  .mob-nav,
  .device {
    display: block;
  }
  .faq-footer,
  .faq-quest .faq-group {
    width: 520px;
  }
  .faq-half {
    display: none;
  }
  .faq-extra {
    display: inline-block;
  }
  .faq-group {
    min-height: unset;
  }
  .partners-header .premium-footer {
    padding-top: 85px;
  }
  .partners-header {
    padding-bottom: 200px;
  }
  .owl-fake-two {
    display: none;
  }
  .owl-wrap__img {
    margin-right: auto;
    margin-left: 0;
  }
  .elixir-main__subtitle {
    padding-left: 230px;
    width: 100%;
  }
  .polifenols-main__wrap {
    display: flex;
    padding-left: 245px;
  }
  .elixir-main-inner {
    flex-direction: column-reverse;
  }
  .elixir-main-inner__right {
    padding-bottom: 0px;
    align-self: flex-end;
    padding-right: 70px;
    margin-top: 59px;
  }
  .bio-main-contain-title {
    width: 380px;
    margin-bottom: 53px;
    margin-left: 340px;
  }
  .bio-main-contain-list {
    width: 317px;
    padding-bottom: 87px;
    margin-left: auto;
    margin-right: 50px;
  }
  .contain-info {
    bottom: -55px;
  }
  .polifenols-main-polifenols-title,
  .polifenols-main-polifenols-text {
    margin-left: auto;
    margin-right: 20px;
  }
  .elixir-main__wrap {
    padding-left: 247px;
  }
  .polifenols-main-polifenols .contain-info {
    bottom: -190px;
  }
  #premium-floating-bottle img {
    width: 440px !important;
    margin-left: -65px;
  }
  .owl-fake-one {
    display: none;
  }
  .owl-wrap__img_tavri {
    width: 780px !important;
    margin-left: -220px !important;
  }
  .floating-bottle {
    margin-left: -10px;
  }
  .floating-bottle-wrapper {
    align-items: start;
  }
  .scrollmagic-pin-spacer {
    top: 1045px !important;
  }
  .elixir-main-inner__left {
    min-height: 300px;
  }
  .producst-hero-floating-wrap__inner,
  .products-hero-floating-nav,
  .products-hero-floating-wrap__smallimg {
    display: none;
  }
  .products-header {
    overflow: hidden;
  }
  .products-hero-floating {
    transform: translateX(0);
    top: 40%;
    left: -26%;
    pointer-events: none;
  }
  .products-wrap {
    padding-top: 65px;
  }
  .products-hero-wrap-info {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .products-hero-wrap-buy {
    padding-top: 96px;
  }
  .products-posts-extra {
    flex-direction: column;
  }
  .products-posts-extra__left,
  .products-posts-extra__right {
    width: 100%;
  }
  .products-posts-extra__left {
    margin-bottom: 29px;
  }
  .products-header .premium-footer {
    padding-top: 65px;
  }
  .cart-items-wrap {
    width: 100%;
  }
  .account-dist-main-wrap,
  .account-dist-main-inst,
  .account-dist-main-img,
  .account-dist-main-floating {
    margin-right: auto;
  }
  .account-dist-sidmenu {
    width: 165px;
  }
  .account-dist-sidmenu__loc {
    width: 100%;
  }
  .account-dist-main-img {
    display: none;
  }
  #nav,
  #showMenu {
    display: block;
  }
  .account-dist-sidmenu-wrap {
    display: none;
  }
  .account-dist-sidmenu-nav {
    margin-bottom: 31px;
  }
  .account-distributors {
    padding-top: 70px;
  }
  .diss-help-wrap.diss-order-all-wrap .diss-order-all-wrap__title {
    padding-left: 40px;
  }
  .diss-order-all-wrap__item {
    width: 100%;
  }
  .diss-help {
    max-height: 90vh;
    min-height: 500px;
  }
  .diss-order-all-wrap__item:last-child .diss-help-img {
    width: 100%;
  }
  .diss-orders-topper {
    padding-left: 56px;
    padding-top: 25px;
  }
  .diss-orders-all {
    height: 500px;
  }
  .diss-reports-box {
    height: 500px;
  }
  .diss-reports-titles {
    padding-left: 40px;
    padding-top: 20px;
  }
  .diss-order-all-wrap {
    margin-top: 25px;
  }
  #account-admin .account-dist-main-wrap,
  #account-admin .account-dist-main-inst,
  .admin-main-reports {
    margin-left: auto;
    margin-right: auto;
  }
  .tabs,
  .tabs-sort {
    transform: scale(1);
  }
  .tabs-sort {
    width: 100%;
    padding-top: 30px;
  }
  .tabs {
    overflow: scroll;
    width: 100%;
    height: 500px;
  }
  .tab-content {
    width: 895px;
  }
  .admin-diss-top {
    padding-top: 40px;
  }
  .admin-diss-inner-info {
    margin-top: 30px;
  }
  .admin-diss-inner-info__link {
    margin-left: 40px;
  }
  .admin-diss-inner .admin-diss-top {
    width: 720px;
  }
  .admin-diss-inner-info {
    width: 100%;
  }
  .admin-diss-inner .diss-order-all-wrap {
    width: 720px;
  }
  .admin-diss-inner .diss-order-all-wrap i {
    right: 24px;
  }
}

/* 576-767px */
@media screen and (max-width: 767px) {
  .container {
    width: 540px;
  }
  .contacts-about__title,
  .contacts-about__text {
    width: 280px;
  }
  .contacts-abaut {
    padding-bottom: 40px;
  }
  .contacts-slider {
    padding-top: 40px;
  }
  .contacts-slid__item {
    flex-direction: column-reverse;
  }
  .test-dot-container {
    left: 420px;
    bottom: 150px;
  }
  .contacts-slid__right {
    padding-left: 0;
    padding-top: 30px;
  }
  .faq-wrapper {
    flex-direction: column;
  }

  .faq-navi__list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .faq-footer,
  .faq-quest .faq-group {
    width: 100%;
  }
  .faq-footer {
    margin-left: 0;
  }
  .box-modal {
    width: 85vw;
  }
  .box-modal__corner {
    display: none;
  }
  .label-text {
    right: -200px;
    width: 171px;
  }
  .partners-header__img {
    pointer-events: none;
  }
  .partners-header-subtitle {
    width: 100%;
  }
  .partners {
    flex-direction: column-reverse;
  }
  .partners__questions {
    width: 100%;
  }
  .trigger {
    padding-right: 50px;
  }
  .partners__text,
  .partners__btn {
    width: 100%;
  }
  .faq-footer .partners__btn {
    width: 300px;
  }
  .elixir-main__title {
    font-size: 30px;
    line-height: 40px;
  }
  .elixir-main__subtitle {
    padding-left: 215px;
  }
  .elixir-main__wrap,
  .polifenols-main__wrap {
    padding-left: 120px;
  }
  .owl-main-inner__right {
    padding-right: 20px;
  }
  .owl-main__floating2 {
    display: none !important;
  }
  #premium-floating-bottle img {
    width: 440px !important;
    margin-left: -227px;
  }
  .bio-main-contain-title {
    margin-left: auto;
  }
  .owl-wrap__img_tavri {
    width: 780px !important;
    margin-left: -390px !important;
  }
  .owl-tav .owl-inner__link {
    width: 120px;
  }
  .owl-tav .owl-inner {
    width: 290px;
    background-size: contain;
  }
  .owl-wrap__img_tavri {
    width: 604px !important;
    margin-left: -265px !important;
  }
  .owl-tav .owl-main-polifenols-title {
    background: rgba(122, 51, 201, 0.5);
    padding: 5px;
  }
  .owl-tav .owl-main-polifenols-text {
    padding: 5px;
    background: rgba(255, 255, 255, 0.5);
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    margin-top: 5px;
  }
  .owl-tav .owl-main__text {
    padding: 5px;
    background: rgba(122, 51, 201, 0.5);
    width: 100%;
  }
  .floating-bottle {
    margin-left: -205px;
  }
  .elixir {
    padding: 0;
  }
  .bio {
    position: relative;
    padding-top: 0px;
    padding-bottom: 19px;
  }
  .polifenols .contain-info {
    bottom: -204px;
  }
  .contain-info-box__img {
    top: -53px;
    width: 62px !important;
  }
  .products-hero-wrap-info__link {
    display: none;
  }
  .procuts-hero-wrap {
    flex-direction: column;
  }
  .products-hero-wrap-info__text {
    width: 100%;
  }
  .products-hero-wrap-buy-wrap {
    margin-right: auto;
  }
  .products-hero-wrap-buy {
    padding-top: 55px;
  }
  .products-hero-floating {
    top: -12%;
    left: 52%;
  }
  .procuts-hero-wrap {
    padding-bottom: 0;
  }
  .products-posts {
    padding: 30px 30px 30px;
  }
  .cart-item-wrap__left,
  .cart-item-wrap__right {
    flex: unset;
  }
  .cart-item-wrap__left {
    width: 190px;
  }
  .cart-item-wrap__right {
    width: 348px;
  }
  .cart-item-wrap__img_premium {
    left: 5px;
  }
  .cart-items-wrap:last-child .cart-item-wrap__img {
    left: 50px;
  }
  .account-dist-main-wrap__right {
    margin-left: 0;
  }
  .account-dist-main-wrap {
    width: 100%;
    justify-content: space-between;
  }
  .account-dist-main-inst {
    width: 100%;
    padding: 20px;
  }
  .account-dist-sidmenu-nav {
    margin-bottom: 30px;
  }
  .account-dist-main-floating {
    width: 100%;
  }
  .diss-order-all-wrap__item:nth-child(2) .diss-help-img {
    width: 100%;
  }
  .diss-orders-topper {
    padding-left: 35px;
    padding-top: 10px;
  }
  .diss-orders-topper__title {
    margin-bottom: 23px;
  }
  .diss-order-all {
    width: 740px;
    padding-right: 20px;
  }
  .diss-reports-box {
    width: 100%;
  }
  .diss-reports-dates,
  .diss-reports-week,
  .diss-reports-products {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
  }
  .diss-reports-select {
    width: 100%;
  }
  .diss-reports-dates__left,
  .diss-reports-dates__right,
  .diss-reports-week__left,
  .diss-reports-week__right,
  .diss-reports-products__left,
  .diss-reports-products__right {
    margin-bottom: 15px;
  }
  #diss-report-box-titles {
    display: none;
  }
  .diss-reports-box .diss-report-box-titles {
    display: flex;
  }
  .tab-content .diss-order-all {
    width: 100%;
  }
  .tabs {
    display: flex;
  }
  .admin-diss-top {
    width: 100%;
    padding-top: 50px;
  }
  .admin-diss-wrapper {
    width: 100%;
  }
  .admin-diss-list {
    justify-content: center;
  }
  .admin-diss-inner-info .account-dist-main-wrap__number {
    right: 60px;
  }
  .admin-diss-inner-info__img {
    bottom: 40px;
    right: 0;
  }
  .admin-diss-inner-info .account-dist-main-wrap__inner {
    right: 80px;
  }
  .admin-diss-inner-info .account-dist-main-wrap__subtitle {
    right: 105px;
  }
}

/* 436-576px */
@media screen and (max-width: 576px) {
  .faq-footer .partners__btn {
    width: 100%;
  }
  .owl-inner {
    width: 315px;
    background-size: contain;
  }
  .owl-inner__link {
    width: 112px;
  }
  .owl-inner__small {
    position: absolute;
    top: 252px;
    right: -26px;
    pointer-events: none;
    cursor: default;
  }
  .elixir-main__title {
    width: 100%;
    font-size: 14px;
  }
  .elixir-main__subtitle {
    padding-left: 0px;
    font-size: 12px;
  }
  .owl-main-first {
    padding-top: 0px;
  }
  .elixir-main__text {
    font-size: 10px;
  }
  .elixir-main__line {
    display: none;
  }
  .elexir-main__text {
    width: 100%;
  }
  .elixir-main__wrap,
  .polifenols-main__wrap {
    padding-left: 72px;
  }
  .scrollmagic-pin-spacer {
    top: 640px !important;
  }
  .elixir-main-inner-wrapper__number {
    width: 21px;
    height: 21px;
    border: 1px solid #9651d1;
    font-weight: bold;
    font-size: 10px;
    color: #9651d1;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    margin-bottom: 37px;
    margin-right: 15px;
  }
  .elixir-main-inner-wrapperr__text {
    font-size: 10px;
  }
  .bio-main-contain-title {
    font-size: 14px;
    width: 100%;
    padding-left: 134px;
    line-height: 24px;
  }
  .owl-main__floating3 {
    display: none;
  }
  .owl-main-inner__img {
    width: 100% !important;
  }
  .bio-main-contain-list {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    z-index: 20;
    padding-left: 25px;
    padding-right: 25px;
  }
  .bio-main-contain-list__item {
    font-size: 10px;
  }
  .contain-info {
    right: 30px;
  }
  .owl-floating-bottle {
    top: 700px;
  }
  #premium-floating-bottle img {
    width: 341px !important;
    margin-left: -147px;
  }
  .owl-main__floating4 {
    display: none;
  }
  .owl-main-polifenols-title,
  .owl-main-polifenols-text {
    position: relative;
    z-index: 10;
  }
  .owl-main-polifenols .owl-main__wrap .owl-main__text {
    position: relative;
    z-index: 10;
  }
  .contain-info-box__line {
    display: none;
  }
  .contain-info-box {
    padding-left: 15px;
  }
  .owl-main-polifenols .contain-info-box__img {
    top: -66px;
    left: 110px;
  }
  .owl-main-polifenols .contain-info {
    bottom: -220px;
  }
  .premium-footer {
    padding-top: 100px;
  }
  .owl-main-polifenols {
    padding-bottom: 400px;
  }
  .owl-inner__hidden {
    top: 200px;
  }
  .custom-nav {
    width: 250px;
    top: 230px;
  }
  .owl-main-polifenols-title,
  .owl-main-polifenols-text {
    font-size: 10px;
    line-height: 20px;
  }
  .owl-main-polifenols-title {
    width: 100%;
  }
  .owl-wrap {
    position: relative;
    padding-top: 65px;
    padding-bottom: 75px;
  }
  .owl-inner__small.circlenew {
    top: 305px;
    right: 78px;
    width: 105px !important;
    height: 77px !important;
  }
  .owl-inner__small.circle {
    top: 293px;
    right: 73px;
    width: 77px !important;
    height: 88.45px !important;
  }
  .container {
    width: 396px;
  }
  .elixir-main-inner-wrapper__text {
    font-size: 10px;
  }
  #floating-premium,
  #floating-tavri {
    background-size: contain;
  }
  .floating-bottle-wrapper {
    height: 1000px;
  }
  #floating-tavri {
    margin-top: -1000px;
  }
  .scrollmagic-pin-spacer {
    top: 435px !important;
  }
  .polifenols-main-polifenols-title {
    font-size: 14px;
    width: 100%;
    line-height: 25px;
    margin-right: 0px;
    padding-left: 50px;
  }
  .polifenols-main-polifenols-title,
  .polifenols-main-polifenols-text {
    margin-left: 0;
    margin-right: 0;
  }
  .polifenols-main-polifenols-text {
    font-size: 10px;
    line-height: 25px;
    width: 100%;
    padding-left: 50px;
  }
  .polifenols-main__text {
    font-size: 10px;
    padding-left: 50px;
  }
  .polifenols-main__line {
    display: none;
  }
  .polifenols .contain-info {
    bottom: -223px;
  }
  .owl-inner__link {
    height: 353px !important;
  }
  .owl-inner__link {
    height: 353px !important;
  }
  .supershadow__img {
    height: 476px !important;
    width: 231px !important;
  }
  .supershadow {
    height: 609px;
    padding-top: 28px;
  }
  .supershadow__img_second {
    width: 282px !important;
    height: 470px !important;
  }
  .owl-premium-last .owl-inner__link {
    width: 115px;
  }
  .supershadow__img_last {
    width: 250px !important;
    height: 276px !important;
  }
  .owl-premium-last .supershadow {
    padding-top: 211px;
  }
  .owl-inner__small.circle2 {
    top: 297px;
    right: 164px;
    width: 83px !important;
  }
  .owl-inner__title_third {
    margin-top: 35px;
  }
  .scrollmagic-pin-spacer {
    top: 595px !important;
  }
  .cart-items-wrap {
    flex-direction: column;
  }
  .cart-item-wrap__left {
    width: 100%;
    height: 348px;
  }
  .cart-item-wrap__right {
    width: 100%;
  }
  .cart-item-wrap__img_premium,
  .cart-items-wrap:last-child .cart-item-wrap__img {
    left: 50%;
    transform: translateX(-50%);
  }
  .account-dist-main-wrap {
    flex-direction: column-reverse;
  }
  .account-dist-main-wrap__right {
    padding: 40px;
    height: 100%;
    width: 80%;
    background: #f2f2f2;
    margin-bottom: 30px;
  }
  .account-dist-main-wrap__prof {
    width: 100%;
  }
  .account-dist-main-wrap__number {
    font-size: 70px;
    line-height: 80px;
  }
  .account-dist-main-wrap__left {
    width: 80%;
  }
  .account-dist-main-wrap__subtitle {
    margin-bottom: 20px;
  }
  .account-dist-main-wrap__inner {
    margin-bottom: 20px;
  }
  .account-dist-main-wrap__aimg {
    top: -33px;
    right: 8px;
    width: 70px;
  }
  .account-dist-main-inst {
    width: 80%;
  }
  .account-dist-main-floating-wrap__item {
    flex-direction: column;
  }
  #account-dist-1 {
    width: 100%;
    margin-top: -70px;
  }
  .account-dist-main-floating-wrap__img {
    width: 75px !important;
    height: 231px !important;
  }
  .account-dist-main-floating-wrap__left {
    padding-left: 100px;
  }
  .account-dist-main-floating-wrap__right {
    margin-left: 68px;
    padding-top: 15px;
  }
  .account-dist-main-floating {
    width: 80%;
  }
  .diss-prof-wrap__left {
    width: 100%;
  }
  .diss-prof-personal {
    padding: 20px 20px 20px 30px;
  }
  .diss-prof-wrap-card {
    padding: 20px;
  }
  .diss-prof-card-add {
    width: 100%;
  }
  .diss-prof-wrap-card__add {
    bottom: 22px;
    right: 22px;
  }
  .diss-prof-card-add {
    padding: 20px;
  }
  .diss-prof-card-add-nav {
    margin-top: 52px;
  }
  .diss-prof-wrap__right {
    width: 100%;
  }
  .diss-prof-contacts {
    width: 100%;
    padding: 20px;
  }
  .diss-add-address-delivery,
  .diss-add-address-delivery__extra {
    width: 100%;
    padding: 20px;
  }
  .diss-prof-addressies__text {
    width: 306px;
    padding: 15px 15px 14px 23px;
  }
  .diss-prof-contacts-edit .diss-prof-addressies__text {
    padding: 15px 50px 15px 15px;
  }
  .diss-orders-topper {
    flex-direction: column;
  }
  .diss-orders-topper {
    padding-left: 50px;
    align-items: flex-start;
  }
  .diss-orders-topper__title,
  .diss-orders-topper-sort {
    margin-bottom: 8px;
  }
  .diss-orders-topper__left {
    margin-bottom: 20px;
  }
  #account-admin .account-dist-main-inst,
  .admin-main-reports {
    display: none;
  }
  #account-admin .account-dist-main-floating {
    width: 100%;
  }
  #account-admin .account-dist-main-wrap__subtitle {
    margin-bottom: 25px;
  }
  .admin-profile__right {
    width: 100%;
  }
  .admin-profile__left,
  .admin-profile-box,
  .admin-profile-change,
  .admin-profile-submit {
    width: 100%;
    padding: 33px;
  }
  .admin-profile-change {
    margin-top: -212px;
  }
  .admin-profile-submit {
    margin-top: -537px;
  }
  .admin-diss-top {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40px;
  }
  .admin-diss-top__inner {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .admin-diss-top__add {
    margin-bottom: 15px;
    margin-left: 0;
  }
  .admin-diss-form {
    width: 420px;
    padding: 20px 20px 0px 20px;
  }
  ul.admin-diss-form-list {
    width: 100%;
  }
  .admin-diss-form-list__input,
  .admin-diss-form-list__date {
    width: 275px;
  }
  .admin-diss-form__navigation,
  .admin-fiss-form__line {
    width: 100%;
  }
  .admin-diss-form__navigation {
    margin-bottom: 40px;
  }
  .admin-diss-inner .admin-diss-top {
    flex-direction: row;
    padding-left: 0;
  }
  .admin-diss-inner-info-box {
    padding-bottom: 180px !important;
  }
  .admin-diss-inner-info .account-dist-main-wrap__number {
    top: 400px;
    right: 215px;
  }
  .admin-diss-inner-info .account-dist-main-wrap__subtitle {
    right: 260px;
    top: 530px;
  }
  .admin-diss-inner-info .account-dist-main-wrap__inner {
    right: 240px;
    top: 560px;
  }
  .admin-diss-inner-info__img {
    bottom: 60px;
    right: 30px;
  }
  #admin-clients-top {
    align-items: flex-start;
    padding-bottom: 30px;
  }
}

/* 320-435px */
@media screen and (max-width: 439px) {
  .container {
    width: 288px;
  }
  .contacts-info:before {
    display: none;
  }
  .contacts-info-wrap {
    width: 100%;
    margin-left: 0;
    padding: 20px 20px 40px 20px;
  }
  .contacts-info {
    padding-top: 0;
  }
  .contacts-bottle {
    left: 110%;
    top: 280px;
  }
  .contacts-about__title,
  .contacts-about__text {
    width: 210px;
    text-align: left;
  }
  .contacts-about__link,
  .test-dot-container {
    display: none;
  }
  .contacts-slid__item {
    flex-direction: column;
  }
  .faq-wrap__title {
    width: 100%;
    font-size: 20px;
  }
  .faq-wrap__text {
    width: 100%;
  }
  .faq-navi__item {
    margin-bottom: 0;
  }
  .faq-navi__list {
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .faq-quest .trigger {
    padding-right: 50px;
  }
  .faq-footer {
    flex-direction: column;
  }
  .faq-footer__link {
    width: 100%;
  }
  .faq-header {
    overflow: hidden;
    padding-bottom: 175px;
  }
  .partners__btn {
    margin-bottom: 20px;
  }
  #premium-floating-bottle img {
    width: 341px !important;
    margin-left: -211px;
  }
  .owl-main__subtitle {
    margin-bottom: 5px;
  }
  .owl-main__wrap {
    padding-left: 0px;
  }
  .owl-main__floating3 {
    display: none !important;
  }
  .owl-main-contain-title {
    padding-top: 20px;
    line-height: 25px;
    padding-left: 30px;
  }
  .contain-info {
    right: -50px;
  }
  .owl-inner {
    width: 100%;
    padding-top: 0px;
  }
  .owl-tav .owl-inner {
    width: 100%;
    padding-top: 75px;
  }
  .owl-wrap__img_tavri {
    width: 604px !important;
    margin-left: -350px !important;
  }
  .scrollmagic-pin-spacer {
    top: 585px !important;
  }
  .floating-bottle {
    margin-left: -230px;
  }
  .elixir-main__wrap,
  .polifenols-main__wrap {
    padding-left: 10px;
  }
  .elixir-main-inner__right {
    padding-right: 0;
  }
  .bio-main-contain-title {
    padding-left: 10px;
    line-height: 24px;
    padding-top: 20px;
  }
  .elixir-main__title {
    line-height: 22px;
    padding-left: 22px;
    width: 250px;
    margin-bottom: 21px;
    position: relative;
    z-index: 11;
  }
  .elixir-main__subtitle {
    display: none;
  }
  .elixir-main__text {
    padding-left: 13px;
    position: relative;
    z-index: 11;
  }
  .elixir-main-inner-wrapper__text {
    width: 145px;
  }
  .elixir-main-inner-wrapper {
    padding-left: 0;
  }
  .elixir-main-inner__right {
    padding-right: 0;
    align-self: center;
    padding-left: 50px;
  }
  .elixir-main-inner__left {
    min-height: 193px;
    max-height: 193px;
  }
  .elixir-main-inner__left::before,
  .elixir-main-inner__left::after {
    right: -75px;
    width: 150%;
  }
  .floating-bottle {
    margin-left: -100px;
  }
  #floating-premium,
  #floating-tavri {
    background-size: contain;
    width: 230px;
  }
  #floating-tavri {
    margin-top: -818px;
  }
  #floating-pasta{
    margin-left: -250px;
  }
  .floating-bottle-wrapper {
    height: 818px;
  }
  .bio-main-contain-title {
    padding-left: 10px;
    letter-spacing: 3px;
    line-height: 22px;
    position: relative;
    z-index: 11;
    margin-bottom: 5px;
  }
  .bio-main-contain-list {
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
    width: 204px;
    margin-right: auto;
  }
  .bio-main-contain-list__item {
    padding: 7px 14px 5px 14px;
  }
  .contain-info-box__text {
    padding: 30px 30px 20px 30px;
    width: 207px;
    font-size: 10px;
  }
  .contain-info {
    right: 20px;
    bottom: -80px;
  }
  .contain-info-box__img {
    top: -45px;
    left: 50px;
    width: 60px !important;
  }
  .home-neitral {
    display: none;
  }
  .polifenols-main-polifenols-title {
    letter-spacing: 3px;
    line-height: 22px;
    padding-left: 22px;
    position: relative;
    z-index: 11;
    font-weight: 300;
  }
  .polifenols-main-polifenols-text {
    font-size: 14px;
    line-height: 22px;
    width: 100%;
    padding-left: 140px;
    margin-top: -22px;
    font-weight: 300;
  }
  .polifenols-main__text {
    font-size: 10px;
    padding: 10px;
    text-align: justify;
    background: linear-gradient(
      217.32deg,
      rgba(89, 0, 172, 0.45) 7.84%,
      rgba(117, 0, 172, 0.45) 89.82%
    );
    width: 235px !important;
    position: relative;
    z-index: 11;
    margin-left: 12px;
  }
  .polifenols .contain-info-box__text {
    padding: 7px 14px 7px 16px;
    width: 204px;
    height: 90px;
  }
  .polifenols .contain-info-box__img {
    top: 64px;
    left: 160px;
  }
  .polifenols .contain-info {
    bottom: -120px;
  }
  .premium-footer {
    padding-top: 0px;
  }
  .polifenols {
    padding-bottom: 180px;
  }
  .footer-wrap-links {
    position: relative;
    z-index: 20;
  }
  .small-nav {
    top: 250px;
  }
  .owl-inner__link {
    height: 353px !important;
  }
  .products-posts {
    padding: 10px 10px 10px;
  }
  .products-posts__frame {
    padding: 10px 10px 18px 10px;
  }
  .cart-tiem-wrap__title {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .cart-header .minus,
  .cart-header .plus,
  .cart_item .minus,
  .cart_item .plus,
  .cart-header .qib-container .quantity input.qty:not(#qib_id),
  .cart_item .qib-container .quantity input.qty:not(#qib_id),
  .cart-counter-list__minus,
  .cart-counter-list__number,
  .cart-counter-list__plus {
    width: 55px !important;
    height: 28px !important;
  }
  .cart-header .single_add_to_cart_button {
    height: 28px !important;
  }
  .cart-counter {
    padding: 10px 0px 10px 10px;
  }
  .woocommerce.woo192,
  .woocommerce.woo165,
  .woocommerce.woo205 {
    top: 30px;
  }
  .woocommerce.woo195,
  .woocommerce.woo168,
  .woocommerce.woo208 {
    top: 71px;
  }
  .woocommerce.woo198,
  .woocommerce.woo171,
  .woocommerce.woo211 {
    top: 112px;
  }
  .cart-info__checkout {
    width: 100%;
  }
  .cart-info-top__title {
    font-size: 14px;
  }
  .card-info-top__step {
    font-size: 10px;
  }
  .cart-form__input_house,
  .cart-form__input_korp,
  .cart-form__input_kvpa {
    width: 78px !important;
  }
  .cart-info-top,
  .cart-form,
  .cart-pay,
  .cart-info-check,
  .cart-last-form {
    padding: 10px;
  }
  .cart-form__line {
    width: 288px;
    margin-left: -11px;
  }
  .cart-info-check__top,
  .cart-last-form-pay {
    margin-top: 30px;
  }
  .label-text {
    right: -244px;
    width: 219px;
  }
  .cart-info-second .cart-pay {
    height: 68px;
  }
  .account-dist-sidmenu {
    width: 150px;
    margin-left: 0px;
  }
  .account-dist-main-wrap__aimg {
    top: -50px;
  }
  .account-dist-main-wrap__right,
  .account-dist-main-wrap__left,
  .account-dist-main-inst,
  .account-dist-main-floating {
    width: 100%;
  }
  .account-dist-main-floating-wrap__right {
    margin-left: 40px;
  }
  .diss-help-img {
    width: 100%;
  }
  .diss-prof-personal-list__item {
    flex-direction: column;
  }
  .diss-prof-personal-list__left,
  .diss-prof-contacts-box__right,
  .diss-prof-contacts-box__name {
    padding-left: 10px;
    margin-bottom: 10px;
  }
  .diss-prof-personal__top {
    margin-bottom: 15px;
  }
  .diss-prof-card-one {
    transform: scale(0.8);
    margin-left: -30px;
  }
  .diss-prof-card-back {
    transform: scale(0.8);
    margin-right: -30px;
  }
  .diss-prof-personal__title,
  .diss-prof-wrap-card__title {
    padding-left: 10px;
  }
  .diss-prof-contacts-box__item,
  .diss-prof-contacts-box__house,
  .diss-prof-contacts-box__housenum {
    flex-direction: column;
  }
  .diss-prof-contacts-box__info,
  .diss-prof-contacts-box__info_extra {
    width: 100%;
  }
  .diss-prof-contacts-box__housenum,
  .diss-prof-contacts-box__house {
    align-items: center;
  }
  .diss-prof-contacts-box__house .diss-prof-contacts-box__name {
    padding-left: 0;
  }
  .diss-add-address-delivery-nav {
    margin-top: 240px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .diss-add-address-delivery-nav__add_add {
    margin-top: 20px;
  }
  .diss-orders-topper {
    padding-left: 40px;
  }
  .diss-orders-topper-inner {
    flex-direction: column;
    align-items: flex-start;
  }
  .diss-reports-dates__left,
  .diss-reports-dates__right,
  .diss-reports-week__left,
  .diss-reports-week__right,
  .diss-reports-products__left,
  .diss-reports-products__right {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .diss-orders-all {
    width: 288px;
    margin-left: auto;
    margin-right: auto;
  }
  .diss-prof-addressies__text {
    width: 190px;
    padding: 15px 15px 14px 23px;
    font-size: 10px;
    line-height: 14px;
  }
  .diss-prof-wrap-card-list__inner {
    width: 100%;
  }
  .admin-profile__left {
    height: 100%;
  }
  .admin-profile__top {
    margin-bottom: 20px;
  }
  .admin-profile-line {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .admin-profile-list__item {
    margin-bottom: 10px;
    flex-direction: column;
  }
  .admin-profile-list__var {
    width: 100%;
  }
  .admin-profile-submit__code {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .admin-profile-submit__code .admin-profile-submit__title {
    margin-right: 115px;
  }
  .admin-profile-submit {
    margin-top: -590px;
  }
  .admin-diss-top {
    padding-top: 10px;
  }
  .admin-diss-top__sort {
    flex-direction: column;
    align-items: flex-start;
  }
  .admin-diss-form {
    width: 310px;
    height: 500px;
  }
  .admin-diss-top__sort {
    width: 100%;
  }
  .admin-diss-inner-info-box {
    padding: 10px 10px 180px 10px;
  }
  .admin-diss-innner-info-box__left {
    margin-left: 0;
  }
  .admin-diss-inner-list__item {
    padding-left: 0;
  }
  .admin-diss-inner-info__img {
    bottom: 40px;
    right: 0px;
  }
  .admin-diss-inner-info .account-dist-main-wrap__number {
    top: 400px;
    right: unset;
    left: 10px;
    margin: 0;
  }
  .admin-diss-inner-info .account-dist-main-wrap__subtitle {
    right: unset;
    top: 530px;
    left: 10px;
  }
  .admin-diss-inner-info .account-dist-main-wrap__inner {
    right: unset;
    top: 560px;
    left: 10px;
  }
  .admin-diss-form-list__input,
  .admin-diss-form-list__date {
    width: 190px;
  }
  .admin-diss-top__text {
    margin-bottom: 7px;
  }

  .products-hero-wrap-info__title {
    font-weight: 300;
    font-size: 28px;
    line-height: 60px;
    /* or 125% */
    width: auto;
    letter-spacing: 3px;
    background: linear-gradient(193.17deg, #5900ac 7.84%, #7500ac 89.82%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 19px;
  }

  #header .owl-inner__img_third {
    height: 202px;
    margin-top: -50px;
  }
}
