{% extends 'layouts/main.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block nav %}
    {{ parent() }}
{% endblock %}

{% block main %}

<main class="contacts-big">

        <header class="contacts-header" id="contacts-header">
            <div class="container">
                <div class="contacts-wrap">
                    <div class="contacts-abaut">
                        <div class="contacts-about__smalltitle">
                           {{ t_('app/contacts', '_TEXT_1_')|raw }} 
                        </div>
                        <h1 class="contacts-about__title">{{ t_('app/contacts', '_TEXT_2_')|raw }}</h1>
                        <p class="contacts-about__text">
                            {{ t_('app/contacts', '_TEXT_3_')|raw }}
                        </p>
                        <a href="#contacts-slider" class="contacts-about__link go">
                            {{ t_('app/contacts', '_TEXT_4_')|raw }}
                            <svg width="8" height="4" viewBox="0 0 8 4" fill="none" xmlns="http://www.w3.org/2000/svg" class="contacts-about__img">
                                <path d="M0 0L4 4L8 0L0 0Z" fill="#8937D7"/>
                            </svg>
                        </a>
                    </div>
                    <div class="contacts-info">
                        <div class="contacts-info-wrap">
                            <h3 class="contacts-info-wrap__title">
                                {{ t_('app', '_MENU_CONTACTS_')|raw }}
                            </h3>
                            <p class="contacts-info-wrap__text">
                                {{ t_('app/contacts', '_TEXT_5_')|raw }}
                            </p>
                            <ul class="contacts-info-wrap-list">
                                <li class="contacts-info-wrap-list__item">
                                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" class="contacts-info-wrap-list__img">
                                    <path d="M14.6637 11.8643L12.3472 9.54225C11.8858 9.08166 11.1217 9.09565 10.6442 9.57439L9.47715 10.7438C9.40342 10.7031 9.3271 10.6606 9.24686 10.6154C8.50987 10.2062 7.50117 9.64518 6.43972 8.58055C5.37513 7.51367 4.8149 6.50113 4.4053 5.76199C4.36207 5.68369 4.32066 5.60819 4.27976 5.53649L5.06304 4.75261L5.44813 4.36617C5.92634 3.88674 5.93953 3.12113 5.4792 2.6592L3.16268 0.336912C2.70235 -0.124374 1.93791 -0.11038 1.45969 0.369047L0.80682 1.02716L0.824661 1.04491C0.605744 1.32488 0.42281 1.64778 0.286676 1.99599C0.161186 2.32744 0.0830571 2.64373 0.0473322 2.96067C-0.258549 5.50224 0.900248 7.82504 4.04507 10.977C8.39218 15.3337 11.8954 15.0046 12.0465 14.9885C12.3757 14.9491 12.6911 14.8702 13.0117 14.7455C13.3561 14.6106 13.678 14.4275 13.9572 14.2086L13.9715 14.2213L14.6329 13.5722C15.1101 13.0928 15.1238 12.3269 14.6637 11.8643Z" fill="#8937D7"/>
                                </svg>
                                    +7 (937) 585-19-70
                                </li>
                                <li class="contacts-info-wrap-list__item">
                                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" class="contacts-info-wrap-list__img">
                                    <path d="M14.6637 11.8643L12.3472 9.54225C11.8858 9.08166 11.1217 9.09565 10.6442 9.57439L9.47715 10.7438C9.40342 10.7031 9.3271 10.6606 9.24686 10.6154C8.50987 10.2062 7.50117 9.64518 6.43972 8.58055C5.37513 7.51367 4.8149 6.50113 4.4053 5.76199C4.36207 5.68369 4.32066 5.60819 4.27976 5.53649L5.06304 4.75261L5.44813 4.36617C5.92634 3.88674 5.93953 3.12113 5.4792 2.6592L3.16268 0.336912C2.70235 -0.124374 1.93791 -0.11038 1.45969 0.369047L0.80682 1.02716L0.824661 1.04491C0.605744 1.32488 0.42281 1.64778 0.286676 1.99599C0.161186 2.32744 0.0830571 2.64373 0.0473322 2.96067C-0.258549 5.50224 0.900248 7.82504 4.04507 10.977C8.39218 15.3337 11.8954 15.0046 12.0465 14.9885C12.3757 14.9491 12.6911 14.8702 13.0117 14.7455C13.3561 14.6106 13.678 14.4275 13.9572 14.2086L13.9715 14.2213L14.6329 13.5722C15.1101 13.0928 15.1238 12.3269 14.6637 11.8643Z" fill="#8937D7"/>
                                </svg>
                                    +7 (986) 915-14-58
                                </li>
                                <li class="contacts-info-wrap-list__item">
                                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" class="contacts-info-wrap-list__img">
                                    <path d="M14.6637 11.8643L12.3472 9.54225C11.8858 9.08166 11.1217 9.09565 10.6442 9.57439L9.47715 10.7438C9.40342 10.7031 9.3271 10.6606 9.24686 10.6154C8.50987 10.2062 7.50117 9.64518 6.43972 8.58055C5.37513 7.51367 4.8149 6.50113 4.4053 5.76199C4.36207 5.68369 4.32066 5.60819 4.27976 5.53649L5.06304 4.75261L5.44813 4.36617C5.92634 3.88674 5.93953 3.12113 5.4792 2.6592L3.16268 0.336912C2.70235 -0.124374 1.93791 -0.11038 1.45969 0.369047L0.80682 1.02716L0.824661 1.04491C0.605744 1.32488 0.42281 1.64778 0.286676 1.99599C0.161186 2.32744 0.0830571 2.64373 0.0473322 2.96067C-0.258549 5.50224 0.900248 7.82504 4.04507 10.977C8.39218 15.3337 11.8954 15.0046 12.0465 14.9885C12.3757 14.9491 12.6911 14.8702 13.0117 14.7455C13.3561 14.6106 13.678 14.4275 13.9572 14.2086L13.9715 14.2213L14.6329 13.5722C15.1101 13.0928 15.1238 12.3269 14.6637 11.8643Z" fill="#8937D7"/>
                                </svg>
                                    {% include 'layouts/phone_800.twig' %}   
                                </li>
                                <li class="contacts-info-wrap-list__item">
                                <svg width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg" class="contacts-info-wrap-list__img">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0.488604V0H15V0.488604L7.50002 5.71324L0 0.488604ZM3.08237 3.6473L7.50002 6.75479L11.9176 3.6473L15 1.50013V9.78046H0V1.50013L3.08237 3.6473Z" fill="#8937D7"/>
                                </svg>
                                    {{ t_('app/contacts', '_TEXT_6_')|raw }}
                                </li>
                                <li class="contacts-info-wrap-list__item contacts-info-wrap-list__item_last">
                                <svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg" class="contacts-info-wrap-list__img contacts-info-wrap-list__img_last">
                                    <path d="M4.71831 0H4.6963C2.10828 0 0 2.10827 0 4.6963C0 6.39525 0.774648 8.63556 2.29754 11.3556C3.4287 13.3715 4.57306 14.9164 4.58627 14.934C4.61708 14.978 4.6699 15 4.72271 15H4.72711C4.78433 15 4.83275 14.9692 4.86356 14.9252C4.87676 14.9076 6.01233 13.191 7.13469 11.0871C8.64877 8.24824 9.41902 6.10035 9.41902 4.6963C9.41462 2.10827 7.31074 0 4.71831 0ZM6.88821 4.81074C6.88821 6.01232 5.91109 6.98944 4.70951 6.98944C3.50792 6.98944 2.53081 6.01232 2.53081 4.81074C2.53081 3.60916 3.50792 2.63204 4.70951 2.63204C5.91109 2.63204 6.88821 3.60916 6.88821 4.81074Z" fill="#8937D7"/>
                                </svg>
                                    {{ t_('app/contacts', '_TEXT_7_')|raw }}
                                </li>
                                <li class="contacts-info-wrap-list__item contacts-info-wrap-list__item_last">
                                    <svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg" class="contacts-info-wrap-list__img contacts-info-wrap-list__img_last">
                                        <path d="M4.71831 0H4.6963C2.10828 0 0 2.10827 0 4.6963C0 6.39525 0.774648 8.63556 2.29754 11.3556C3.4287 13.3715 4.57306 14.9164 4.58627 14.934C4.61708 14.978 4.6699 15 4.72271 15H4.72711C4.78433 15 4.83275 14.9692 4.86356 14.9252C4.87676 14.9076 6.01233 13.191 7.13469 11.0871C8.64877 8.24824 9.41902 6.10035 9.41902 4.6963C9.41462 2.10827 7.31074 0 4.71831 0ZM6.88821 4.81074C6.88821 6.01232 5.91109 6.98944 4.70951 6.98944C3.50792 6.98944 2.53081 6.01232 2.53081 4.81074C2.53081 3.60916 3.50792 2.63204 4.70951 2.63204C5.91109 2.63204 6.88821 3.60916 6.88821 4.81074Z" fill="#8937D7"/>
                                    </svg>
                                    {{ t_('app/contacts', '_TEXT_8_')|raw }}
                                </li>
                            </ul>
                            <a href="javascript:void(0);" class="contacts-info__btn">
                                {{ t_('app/contacts', '_TEXT_9_')|raw }}
                            </a>
                        </div>
                    </div>
                </div>
               <img src="/img/contactsbottle.png" alt="bottle" class="contacts-bottle">
            </div>

        </header>

        <section class="contacts-slider" id="contacts-slider">
            <div class="container">
                <div class="owl-carousel owl-theme owl-loaded" id="contacts-slid">
                    <div class="owl-stage-outer">
                        <div class="owl-stage">
                            <div class="owl-item">
                                <div class="contacts-slid__item">
                                    <div class="contacts-slid__left">
                                       <img src="/img/contacts-slide1.png" alt="us" class="contacts-slid__img">
                                        <div class="contacts-slid-wrap">
                                            <div class="contacts-slid-wrap__line"></div>

                                            <svg width="28" height="21" viewBox="0 0 28 21" fill="none" xmlns="http://www.w3.org/2000/svg" class="contacts-slid-wrap__img">
                                                <path d="M21.696 20.672C19.344 20.672 17.64 19.832 16.584 18.152C16.104 17.432 15.72 16.544 15.432 15.488C15.144 14.432 15 13.328 15 12.176C15 9.68 15.624 7.424 16.872 5.408C18.168 3.392 20.064 1.808 22.56 0.655996L23.208 1.952C21.816 2.528 20.592 3.416 19.536 4.616C18.528 5.816 17.928 7.04 17.736 8.288C17.592 8.864 17.52 9.416 17.52 9.944C17.52 10.424 17.592 10.88 17.736 11.312C18.792 10.16 20.184 9.584 21.912 9.584C23.592 9.584 24.96 10.088 26.016 11.096C27.072 12.056 27.6 13.4 27.6 15.128C27.6 16.76 27.048 18.104 25.944 19.16C24.84 20.168 23.424 20.672 21.696 20.672ZM6.864 20.672C4.512 20.672 2.808 19.832 1.752 18.152C1.272 17.432 0.888 16.544 0.6 15.488C0.312 14.432 0.168 13.328 0.168 12.176C0.168 9.68 0.792 7.424 2.04 5.408C3.336 3.392 5.232 1.808 7.728 0.655996L8.376 1.952C6.984 2.528 5.76 3.416 4.704 4.616C3.696 5.816 3.096 7.04 2.904 8.288C2.76 8.864 2.688 9.416 2.688 9.944C2.688 10.424 2.76 10.88 2.904 11.312C3.96 10.16 5.352 9.584 7.08 9.584C8.76 9.584 10.128 10.088 11.184 11.096C12.24 12.056 12.768 13.4 12.768 15.128C12.768 16.76 12.216 18.104 11.112 19.16C10.008 20.168 8.592 20.672 6.864 20.672Z" fill="#8937D7" fill-opacity="0.38"/>
                                            </svg>
                                            <p class="contacts-slid-wrap__text">
                                                {{ t_('app/contacts', '_TEXT_10_')|raw }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="contacts-slid__right">
                                        <div class="contacts-small-wrap">
                                            <h3 class="contacts-small-wrap__title">
                                                {{ t_('app/contacts', '_TEXT_1_')|raw }} 
                                            </h3>
                                            <div class="contacts-small-wrap__number">
                                                {{ t_('app/contacts', '_TEXT_11_')|raw }} 
                                            </div>
                                        </div>
                                        <div class="contacts-slid__largetext contacts-slid__largetext_first">
                                            {{ t_('app/contacts', '_TEXT_12_')|raw }}                                   
                                        </div>
                                        <div class="contacts-slid__largetext">
                                            {{ t_('app/contacts', '_TEXT_13_')|raw }} 
                                        </div>
                                        <!---
                                        <a href="javascript:void(0);" class="contacts-slid__next">
                                            далее

                                            <svg width="4" height="8" viewBox="0 0 4 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="contacts-slid__nextimg">
                                                <path d="M0 8L4 4L0 0L0 8Z" fill="#8937D7"/>
                                            </svg>
                                        </a>
                                        -->
                                    </div>
                                </div>
                            </div>
                            
                            <!--
                            <div class="owl-item">
                                <div class="contacts-slid__item">
                                    <div class="contacts-slid__left">
                                       <img src="/img/contacts-slide1.png" alt="us" class="contacts-slid__img">
                                        <div class="contacts-slid-wrap">
                                            <div class="contacts-slid-wrap__line"></div>

                                            <svg width="28" height="21" viewBox="0 0 28 21" fill="none" xmlns="http://www.w3.org/2000/svg" class="contacts-slid-wrap__img">
                                                <path d="M21.696 20.672C19.344 20.672 17.64 19.832 16.584 18.152C16.104 17.432 15.72 16.544 15.432 15.488C15.144 14.432 15 13.328 15 12.176C15 9.68 15.624 7.424 16.872 5.408C18.168 3.392 20.064 1.808 22.56 0.655996L23.208 1.952C21.816 2.528 20.592 3.416 19.536 4.616C18.528 5.816 17.928 7.04 17.736 8.288C17.592 8.864 17.52 9.416 17.52 9.944C17.52 10.424 17.592 10.88 17.736 11.312C18.792 10.16 20.184 9.584 21.912 9.584C23.592 9.584 24.96 10.088 26.016 11.096C27.072 12.056 27.6 13.4 27.6 15.128C27.6 16.76 27.048 18.104 25.944 19.16C24.84 20.168 23.424 20.672 21.696 20.672ZM6.864 20.672C4.512 20.672 2.808 19.832 1.752 18.152C1.272 17.432 0.888 16.544 0.6 15.488C0.312 14.432 0.168 13.328 0.168 12.176C0.168 9.68 0.792 7.424 2.04 5.408C3.336 3.392 5.232 1.808 7.728 0.655996L8.376 1.952C6.984 2.528 5.76 3.416 4.704 4.616C3.696 5.816 3.096 7.04 2.904 8.288C2.76 8.864 2.688 9.416 2.688 9.944C2.688 10.424 2.76 10.88 2.904 11.312C3.96 10.16 5.352 9.584 7.08 9.584C8.76 9.584 10.128 10.088 11.184 11.096C12.24 12.056 12.768 13.4 12.768 15.128C12.768 16.76 12.216 18.104 11.112 19.16C10.008 20.168 8.592 20.672 6.864 20.672Z" fill="#8937D7" fill-opacity="0.38"/>
                                            </svg>
                                            <p class="contacts-slid-wrap__text">
                                                Небольшая подпись к фотографии, которая здесь расположена.                                            </p>
                                        </div>
                                    </div>
                                    <div class="contacts-slid__right">
                                        <div class="contacts-small-wrap">
                                            <h3 class="contacts-small-wrap__title">
                                                О нас
                                            </h3>
                                            <div class="contacts-small-wrap__number">
                                                02
                                            </div>
                                        </div>
                                        <div class="contacts-slid__largetext contacts-slid__largetext_first">
                                            Торговый представитель ООО «ТД «ЭМИЗ». Президент Фазулзянов Раил Наилович. Наша компания является эксклюзивным поставщиком и 
                                            производителем инновационной продукции, изготовленной из натурального виноградного сырья в категории товаров "Здоровое питание" и 
                                            сертифицирована в соответствии норм и требований стандарта «Халяль».                                        
                                        </div>
                                        <div class="contacts-slid__largetext">
                                            Производство располагается в Республике Крым и Республике Татарстан и обладает высокой репутацией у покупателей за широкий 
                                            ассортимент и высокое качество производства.
                                        </div>
                                        <a href="javascript:void(0);" class="contacts-slid__next">
                                            далее

                                            <svg width="4" height="8" viewBox="0 0 4 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="contacts-slid__nextimg">
                                                <path d="M0 8L4 4L0 0L0 8Z" fill="#8937D7"/>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            -->
                            
                            <!--
                            <div class="owl-item">
                                <div class="contacts-slid__item">
                                    <div class="contacts-slid__left">
                                        <img src="/img/contacts-slide1.png" alt="us" class="contacts-slid__img"> 
                                                                                    <img src="/img/contacts-slide1.png" class="contacts-slid__img"/>
                                                                                <div class="contacts-slid-wrap">
                                            <div class="contacts-slid-wrap__line"></div>

                                            <svg width="28" height="21" viewBox="0 0 28 21" fill="none" xmlns="http://www.w3.org/2000/svg" class="contacts-slid-wrap__img">
                                                <path d="M21.696 20.672C19.344 20.672 17.64 19.832 16.584 18.152C16.104 17.432 15.72 16.544 15.432 15.488C15.144 14.432 15 13.328 15 12.176C15 9.68 15.624 7.424 16.872 5.408C18.168 3.392 20.064 1.808 22.56 0.655996L23.208 1.952C21.816 2.528 20.592 3.416 19.536 4.616C18.528 5.816 17.928 7.04 17.736 8.288C17.592 8.864 17.52 9.416 17.52 9.944C17.52 10.424 17.592 10.88 17.736 11.312C18.792 10.16 20.184 9.584 21.912 9.584C23.592 9.584 24.96 10.088 26.016 11.096C27.072 12.056 27.6 13.4 27.6 15.128C27.6 16.76 27.048 18.104 25.944 19.16C24.84 20.168 23.424 20.672 21.696 20.672ZM6.864 20.672C4.512 20.672 2.808 19.832 1.752 18.152C1.272 17.432 0.888 16.544 0.6 15.488C0.312 14.432 0.168 13.328 0.168 12.176C0.168 9.68 0.792 7.424 2.04 5.408C3.336 3.392 5.232 1.808 7.728 0.655996L8.376 1.952C6.984 2.528 5.76 3.416 4.704 4.616C3.696 5.816 3.096 7.04 2.904 8.288C2.76 8.864 2.688 9.416 2.688 9.944C2.688 10.424 2.76 10.88 2.904 11.312C3.96 10.16 5.352 9.584 7.08 9.584C8.76 9.584 10.128 10.088 11.184 11.096C12.24 12.056 12.768 13.4 12.768 15.128C12.768 16.76 12.216 18.104 11.112 19.16C10.008 20.168 8.592 20.672 6.864 20.672Z" fill="#8937D7" fill-opacity="0.38"/>
                                            </svg>
                                            <p class="contacts-slid-wrap__text">
                                                Фото с Шамилем Аляутдиновым - дистрибьютором "Эмиз" в Москве
                                            </p>
                                        </div>
                                    </div>
                                    <div class="contacts-slid__right">
                                        <div class="contacts-small-wrap">
                                            <h3 class="contacts-small-wrap__title">
                                                О нас
                                            </h3>
                                            <div class="contacts-small-wrap__number">
                                                03
                                            </div>
                                        </div>
                                        <div class="contacts-slid__largetext contacts-slid__largetext_first">
                                            Президент Фазулзянов Раил Наилович: «Наша компания является эксклюзивным поставщиком и производителем инновационной продукции,
                                            изготовленной из натурального виноградного сырья в категории товаров «Здоровое питание» и сертифицирована в соответствии норм и 
                                            требований стандарта «Халяль».

                                        </div>
                                        <div class="contacts-slid__largetext">
                                            Производственные мощности напитка «ЭМИЗ» располагаются в Республике Крым и Республике Татарстан. 
                                            Бренд обладает высокой репутацией у покупателей за безукоризненное качество.                                     
                                        </div>
                                        <a href="javascript:void(0);" class="contacts-slid__next">
                                            далее

                                            <svg width="4" height="8" viewBox="0 0 4 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="contacts-slid__nextimg" class="contacts-slid__nextimg">
                                                <path d="M0 8L4 4L0 0L0 8Z" fill="#8937D7"/>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            -->
                            
                        </div>
                    </div>
                    <ul class="test-dot-container">
                        <li class="test-dot-container__item" data="0">
                            <button class="superdot">
                                <div class="superdot__inner">
                                    <div class="superdot__active"></div>
                                </div>
                            </button>
                            <button class="hiddensuperdot"></button>
                        </li>
                        <li class="test-dot-container__item" data="1">
                            <button class="superdot">
                                <div class="superdot__inner">
                                    <div class="superdot__active"></div>
                                </div>
                            </button>
                            <button class="hiddensuperdot"></button>
                        </li>
                        <li class="test-dot-container__item" data="2">
                            <button class="superdot">
                                <div class="superdot__inner">
                                    <div class="superdot__active"></div>
                                </div>
                            </button>
                            <button class="hiddensuperdot"></button>
                        </li>
                    </ul>
                </div>
            </div>

            {% include 'layouts/footer.twig' %}
        </section>

    </main>

    <div style="display: none;">
        <div class="box-modal" id="examplebuy2">
            <div class="box-modal_close arcticmodal-close">
                {{ t_('app', '_CLOSE_')|raw }} 
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M5.99904 6.89321L10.9209 11.815C11.1675 12.0617 11.5674 12.0617 11.814 11.815C12.0607 11.5684 12.0607 11.1685 11.814 10.9218L6.89221 5.99999L11.814 1.07817C12.0607 0.831514 12.0607 0.431624 11.814 0.184992C11.5674 -0.0616405 11.1675 -0.061664 10.9209 0.184992L5.99904 5.10681L1.07722 0.184992C0.830562 -0.061664 0.430672 -0.061664 0.184039 0.184992C-0.0626163 0.431648 -0.0625935 0.831537 0.184039 1.07817L5.10586 5.99999L0.184039 10.9218C-0.0626163 11.1684 -0.0625935 11.5684 0.184039 11.815C0.430695 12.0616 0.830585 12.0616 1.07722 11.815L5.99904 6.89321Z"
                        fill="white" />
                </svg>
            </div>
            <img src="/img/modal2.png" alt="" class="box-modal__corner">
            <div class="mymodal-wrap">
                <h2 class="mymodal-wrap__title">
                    {{ t_('app', '_CALL_BACK_')|raw }}
                </h2>
                <p class="mymodal-wrap__text">
                    {{ t_('app', '_TEXT_ASK_')|raw }}
                </p>
                <form action="{{ action_url_question }}" class="js-form contacts-form mymodal-form" id="popupResult2" method="POST" >
                    {{ csrf.get_html_token|raw }}
                    <input type="text" name="QuestionForm[name]" placeholder="{{ t_('app/contacts', '_TEXT_18_')|raw }} " required class="mymodal-form__input form-control form__field" value="{{ model.getName }}">
                    <input type="text" name="QuestionForm[phone]" placeholder="+7 (___) ___-__-__" required class="mymodal-form__input form-control form__field" value="{{ model.getContact }}">
                    <label for="opt1123123" class="radio">
                        <input type="radio" name="QuestionForm[check]" id="opt1123123" class="hidden" {% if model.validateCheck %}checked{% endif %}/>
                        <span class="label"></span>
                        <p class="label-text">
                            {{ t_('app', '_AGREE_')|raw }}
                        </p>
                    </label>
                    <button class="mymodal-form__btn" data-submit>
                        {{ t_('app', '_SEND_')|raw }}
                    </button>
                </form>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {

            {% include 'layouts/js_common_function_basket.twig' %}
            $( '#count-prod-in-basket' ).text( simple_count_basket() );

            {% if MES_ERR  %}
            {%  for key, value in  MES_ERR %}
            alert ( '{{ value[0] }}' );
            {% endfor %}
            {% endif %}

            {% if MES_SUCCESS  %}
            {%  for key, value in  MES_SUCCESS %}
            alert ( '{{ value[0] }}' );
            {% endfor %}
            {% endif %}
        });

    </script>
{% endblock %}

{% block script_js %}
    {{ parent() }}
{% endblock %}