{% extends 'layouts/main_a.twig' %}
{% from 'macro/msg_flash.twig' import msg_flash %}

{% block head %}
    {{ parent() }}
<!-- Date picker CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block nav %}
    {{ parent() }}
{% endblock %}

{% block main %}
<main class="account-distributors" id="account-admin">
    {{ msg_flash('msg', 'msg_arr', 1) }}
        <div class="container">
            <div class="admin-diss-top" id="admin-clients-top">
                <div class="admin-diss-top__left">
                    <h1 class="admin-diss-top__title">
                        клиенты
                    </h1>
                    <div class="admin-diss-top__inner">
                        <div class="admin-diss-top__text">
                            кол-во дилеров / кл:
                        </div>
                        <div class="admin-diss-top__number">
                            {{ ClientForm.count_d }} / {{ ClientForm.count_c }}
                        </div>
                    </div>
                </div>
                <div class="admin-diss-top__right">
                    <div class="admin-diss-top__sort">
                        <div class="admin-diss-top__text">Сортировать:</div>
                            <form id="form_admin_clients" method="POST">
                                {{ csrf.get_html_token|raw }}
                                <div class="wrap-drop" id="noble-gases">
                                    <span>{{ ClientForm.getOptionSort[ClientForm.sort] }}</span>
                                    <ul class="drop">
                                        <input type="hidden" value="{{ ClientForm.sort }}" name="ClientForm[sort]" />
                                        {% for key, sort in ClientForm.getOptionSort %}
                                            {% if key == ClientForm.sort %}
                                                {% set select = 'class="selected"' %}
                                            {% else %}
                                                {% set select = '' %}
                                            {% endif %}
                                            <li {{ select }} data-value="{{ key }}"><a>{{ sort }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>

        <section class="admin-diss-main">
            <div class="container">
                <div class="admin-diss-wrapper" id="admin-clients-wrapper">

                    <div class="admin-clients-titles">
                        <div class="admin-clients-titles__name">
                            имя
                        </div>
                        <div class="admin-clients-titles__city">
                            город
                        </div>
                        <div class="admin-clients-titles__phone">
                            номер телефона
                        </div>
                        <div class="admin-clients-titles__count">
                            кол. заказов/тов.
                        </div>
                        <div class="admin-clients-titles__total">
                            сумма
                        </div>
                    </div>
                    <ul class="admin-clients-list">

                        {% for item in ClientForm.list_items %}
                            <li class="admin-clients-list__item">
                                <div class="admin-clients-list__linkshell">
                                    <a href="{% if item['usr_id'] == '' %}/moder-basket/edit/{{ item['basket_id'] }}/{% else %}/moder-basket/?user_id={{ item['usr_id'] }}{% endif %}" class="admin-clients-list__link">
                                        {% if item['name']|trim == '' %}
                                             --//--
                                        {% else %}
                                            {{ item['name'] }}
                                            {% endif %}
                                    </a>
                                </div>
                                <div class="admin-clients-list__city">
                                    {{ item['city'] }}
                                </div>
                                <div class="admin-clients-list__num">
                                    {{ item['phone'] }}
                                </div>
                                <div class="admin-clients-list__count">
                                    {{ item['bsk'] }} / {{ item['tvr'] }}
                                </div>
                                <div class="admin-clients-list__totalsum">
                                    {{ item['summ']|number_format(0, '.', ' ') }} ₽
                                </div>
                            </li>
                        {% endfor %}

                    </ul>

                </div>
            </div>
        </section>

    </main>

{% endblock %}

{% block script_js %}
    <script>
        $(document).ready(function () {
            function DropDown(el) {
                this.dd = el;
                this.placeholder = this.dd.children('span');
                this.opts = this.dd.find('ul.drop li');
                this.val = '';
                this.index = -1;
                this.initEvents();
            }

            DropDown.prototype = {
                initEvents: function () {
                    var obj = this;
                    obj.dd.on('click', function (e) {
                        e.preventDefault();
                        e.stopPropagation();
                        $(this).toggleClass('active');
                    });
                    obj.opts.on('click', function () {
                        var opt = $(this);
                        obj.val = opt.text();
                        obj.index = opt.index();
                        obj.placeholder.text(obj.val);
                        opt.siblings().removeClass('selected');
                        opt.filter(':contains("' + obj.val + '")').addClass('selected');

                        $(this).siblings("input").val(opt.data('value'));
                        $("#form_admin_clients").submit();

                    }).change();
                },
                getValue: function () {
                    return this.val;
                },
                getIndex: function () {
                    return this.index;
                }
            };

            $(function () {
                // create new variable for each menu
                var dd1 = new DropDown($('#noble-gases'));
                // var dd2 = new DropDown($('#other-gases'));
                $(document).click(function () {
                    // close menu on document click
                    $('.wrap-drop').removeClass('active');
                });
            });

        });

    </script>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    {{ parent() }}
{% endblock %}
