{% extends 'layouts/main_a.twig' %}
{% from 'macro/msg_flash.twig' import msg_flash %}

{% block head %}
    {{ parent() }}
<!-- Date picker CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block nav %}
    {{ parent() }}
{% endblock %}

{% block main %}
{{ msg_flash('msg', 'msg_arr', 1) }}
    <div class="admin-diss-over" id="admin-diss-over__inner">
        <form action="#" class="admin-diss-form">
            <h2 class="admin-diss-form__title">
                изменение данных
            </h2>
            <h3 class="admin-diss-form__title">
                Личные данные
            </h3>
            <ul class="admin-diss-form-list">
                <li class="admin-diss-form-list__item">
                    <h4 class="admin-diss-form-list__title">
                        Имя
                    </h4>
                    <input type="text" class="admin-diss-form-list__input" value="{{ dealer['info_name'] }}" name="UserinfoForm[name]">
                </li>
                <li class="admin-diss-form-list__item">
                    <h4 class="admin-diss-form-list__title">
                        Фамилия
                    </h4>
                    <input type="text" class="admin-diss-form-list__input" value="{{ dealer['info_famuly'] }}" name="UserinfoForm[famuly]">
                </li>
                <li class="admin-diss-form-list__item">
                    <h4 class="admin-diss-form-list__title">
                        Отчество
                    </h4>
                    <input type="text" class="admin-diss-form-list__input" value="{{ dealer['info_otchestvo'] }}" name="UserinfoForm[otchestvo]">
                </li>
                <li class="admin-diss-form-list__item">
                    <h4 class="admin-diss-form-list__title">
                        Дата <br>
                        рождения
                    </h4>
                    <div class="admin-diss-form-list__date">
                        <input type="text" class="admin-diss-form-list__input" maxlength="2" value="{{ dealer['info_birth']|slice(8, 2) }}" name="b1">
                        <input type="text" class="admin-diss-form-list__input" maxlength="2" value="{{ dealer['info_birth']|slice(5, 2) }}" name="b2">
                        <input type="text" class="admin-diss-form-list__input" maxlength="4" value="{{ dealer['info_birth']|slice(0, 4) }}" name="UserinfoForm[birth]"
                            id="admin-diss-form-list__date_last">
                    </div>
                </li>
            </ul>
            <div class="admin-fiss-form__line"></div>
            <h3 class="admin-diss-form__title">
                Контактные данные
            </h3>
            <ul class="admin-diss-form-list">
                <li class="admin-diss-form-list__item">
                    <h4 class="admin-diss-form-list__title">
                        Город
                    </h4>
                    <input type="text" class="admin-diss-form-list__input" value="{{ dealer['adr_city'] }}" name="AdressForm[city]">
                </li>
                <li class="admin-diss-form-list__item">
                    <h4 class="admin-diss-form-list__title">
                        улица
                    </h4>
                    <input type="text" class="admin-diss-form-list__input" value="{{ dealer['adr_street'] }}" name="AdressForm[street]">
                </li>
                <li class="admin-diss-form-list__item">
                    <h4 class="admin-diss-form-list__title">

                    </h4>
                    <ul class="admin-diss-form-list-house">
                        <li class="admin-diss-form-list-house__item">
                            <h4 class="admin-diss-form-list__title">
                                дом
                            </h4>
                            <input type="text" class="admin-diss-form-list__input" value="{{ dealer['adr_house'] }}" name="AdressForm[house]">
                        </li>
                        <li class="admin-diss-form-list-house__item">
                            <h4 class="admin-diss-form-list__title">
                                корпус
                            </h4>
                            <input type="text" class="admin-diss-form-list__input" value="{{ dealer['adr_korpus'] }}" name="AdressForm[korpus]">
                        </li>
                        <li class="admin-diss-form-list-house__item">
                            <h4 class="admin-diss-form-list__title">
                                квартира
                            </h4>
                            <input type="text" class="admin-diss-form-list__input" value="{{ dealer['adr_apartament'] }}" name="AdressForm[apartament]">
                        </li>
                    </ul>
                </li>
                <li class="admin-diss-form-list__item">
                    <h4 class="admin-diss-form-list__title">
                        Индекс
                    </h4>
                    <input type="text" class="admin-diss-form-list__input" value="{{ dealer['adr_pindex'] }}" name="AdressForm[pochta_index]">
                </li>
                <li class="admin-diss-form-list__item">
                    <h4 class="admin-diss-form-list__title">
                        Номер <br>
                        телефона
                    </h4>
                    <input type="text" class="admin-diss-form-list__input" value="{{ dealer['info_phone'] }}" name="UserinfoForm[phone]">
                </li>
                <li class="admin-diss-form-list__item">
                    <h4 class="admin-diss-form-list__title">
                        E-mail
                    </h4>
                    <input type="text" class="admin-diss-form-list__input" value="{{ dealer['info_email'] }}" name="UserinfoForm[email]">
                </li>
            </ul>
            <div class="admin-fiss-form__line"></div>
            <h3 class="admin-diss-form__title">
                данные для входа
            </h3>
            <ul class="admin-diss-form-list">
                <li class="admin-diss-form-list__item">
                    <h4 class="admin-diss-form-list__title">
                        логин
                    </h4>
                    <input type="text" class="admin-diss-form-list__input" value="{{ dealer['users_login'] }}" name="UsersForm[login]">
                </li>
                <li class="admin-diss-form-list__item">
                    <h4 class="admin-diss-form-list__title">
                        пароль
                    </h4>
                    <input type="text" class="admin-diss-form-list__input" placeholder="Пустое поле не меняет пароль" value="" name="UsersForm[password]">
                </li>
            </ul>
            <div class="admin-diss-form__navigation">
                <a href="javascript:void(0);" class="admin-diss-form__cancel">
                    отменить
                </a>
                <a href="javascript:void(0);" class="admin-diss-form__submit">
                    изменить
                </a>
            </div><br><br><br><br><br><br><br><br><br>
        </form>
    </div>

    <main class="account-distributors" id="account-admin">
        <div class="admin-diss-inner">
            <div class="container">

                <div class="admin-diss-inner-info">
                    <a href="/admin/dealers/{{ user['users_id'] }}/" class="admin-diss-inner-info__link">
                        <svg width="4" height="8" viewBox="0 0 4 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 8L0 4L4 0L4 8Z" fill="#5900AC" />
                        </svg>
                        вернуться
                    </a>
                    <div class="admin-diss-inner-info-box">
                        <div class="admin-diss-innner-info-box__left">
                            <h2 class="admin-diss-inner-info-box__title">
                                {{ dealer['info_name'] }} {{ dealer['info_famuly'] }} {{ dealer['info_otchestvo'] }}
                            </h2>
                            <div class="admin-diss-inner-info-box__date">
                                <div class="admin-diss-inner-info-box__datetitle">
                                    Дата рождения:
                                </div>
                                <div class="admin-diss-inner-info-box__datenumb">
                                    {% if dealer['info_birth'] %}
                                        {{ dealer['info_birth']|date("d-m-Y") }}
                                    {% else %}
                                        нет данных
                                    {% endif %}
                                </div>
                            </div>
                            <div class="admin-diss-inner-info-box__loc">
                                <span class="admin-diss-inner-info-box__title">
                                    Адрес доставки:
                                </span>
                                {{ dealer['adr_pindex'] }} г. {{ dealer['adr_city'] }} ул. {{ dealer['adr_street'] }} д. {{ dealer['adr_house'] }}
                                {% if dealer['adr_korpus'] %}
                                    {{ dealer['adr_korpus'] }}
                                {% endif %}

                                кв. {{ dealer['adr_apartament'] }}
                            </div>
                            <a href="javascript:void(0);" class="admin-diss-inner-info-box__link">
                                изменить данные
                            </a>
                        </div>
                        <div class="admin-diss-inner-info-box__right">
                            <ul class="admin-diss-inner-list">
                                <li class="admin-diss-inner-list__item">
                                    <ul class="admin-diss-inner-list-inner">
                                        <li class="admin-diss-onner-list-inner__item">
                                            <div class="admin-diss-list-wrapper__phone">
                                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M11.731 9.49142L9.87777 7.6338C9.50864 7.26533 8.89736 7.27652 8.51538 7.65951L7.58172 8.59508C7.52274 8.56249 7.46168 8.52846 7.39749 8.49235C6.80789 8.16492 6.00093 7.71614 5.15177 6.86444C4.3001 6.01094 3.85192 5.20091 3.52424 4.6096C3.48966 4.54695 3.45653 4.48655 3.42381 4.42919L4.05043 3.80209L4.3585 3.49294C4.74107 3.1094 4.75162 2.4969 4.38336 2.12736L2.53014 0.26953C2.16188 -0.0994993 1.55033 -0.0883041 1.16776 0.295237L0.645456 0.821726L0.659729 0.835927C0.484595 1.0599 0.338248 1.31822 0.229341 1.59679C0.128949 1.86195 0.0664456 2.11499 0.0378657 2.36854C-0.206839 4.40179 0.720198 6.26003 3.23606 8.78163C6.71374 12.267 9.5163 12.0037 9.6372 11.9908C9.90052 11.9593 10.1529 11.8962 10.4093 11.7964C10.6849 11.6885 10.9424 11.542 11.1658 11.3669L11.1772 11.377L11.7063 10.8577C12.0881 10.4743 12.0991 9.86156 11.731 9.49142Z"
                                                        fill="#5900AC" />
                                                </svg>
                                                <div class="admin-diss-list-warpper__number">
                                                    {{ dealer['info_phone'] }}
                                                </div>
                                            </div>
                                        </li>
                                        <li class="admin-diss-onner-list-inner__item">
                                            <div class="admin-diss-list-wrapper__phone">
                                                <svg width="12" height="8" viewBox="0 0 12 8" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M0 0.390883V0H12V0.390883L6.00002 4.57059L0 0.390883ZM2.4659 2.91773L6.00002 5.40372L9.5341 2.91773L12 1.2V7.82426H0V1.2L2.4659 2.91773Z"
                                                        fill="#5900AC" />
                                                </svg>
                                                <div class="admin-diss-list-warpper__number">
                                                    {{ dealer['info_email'] }}
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="admin-diss-inner-list__item">
                                    <ul class="admin-diss-inner-list-inner">
                                        <li class="admin-diss-onner-list-inner__item">
                                            <div class="admin-diss-onner-list-inner__box">
                                                <span class="admin-diss-onner-list-inner__span">
                                                    Логин:
                                                </span>
                                                {{ dealer['users_login'] }}
                                            </div>
                                        </li>
                                        <li class="admin-diss-onner-list-inner__item">
                                            <div class="admin-diss-onner-list-inner__box">
                                                <span class="admin-diss-onner-list-inner__span">
                                                    Пароль:
                                                </span>
                                                *******
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <h1 class="account-dist-main-wrap__number">
                        {{ dealer['bsk'] }}
                    </h1>
                    <div class="account-dist-main-wrap__subtitle">
                        заказов
                    </div>
                    <div class="account-dist-main-wrap__inner">
                        <svg width="7" height="28" viewBox="0 0 7 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M4.68389 6.95174C4.68389 5.69177 4.68389 0 4.68389 0H3.76962H3.22823H2.31439C2.31439 0 2.31439 5.69177 2.31439 6.95174C2.31439 8.2117 0 9.74121 0 11.537C0 13.3323 0 26.3201 0 26.7781C0 27.2362 0.299368 28 0.970179 28C1.42685 28 2.55195 28 3.22909 28C3.54886 28 3.77048 28 3.77048 28C4.44761 28 5.57222 28 6.02896 28C6.70027 28 7 27.2361 7 26.7781C7 26.32 7 13.3322 7 11.537C6.99993 9.74121 4.68389 8.21251 4.68389 6.95174ZM2.82581 8.99312C2.67598 9.2025 2.50855 9.46652 2.3266 9.77114C2.1425 10.0766 1.96802 10.4325 1.7906 10.8187C1.72298 11.0161 1.65364 11.2229 1.59565 11.4301C1.59356 11.6497 1.52551 11.8116 1.55519 12.0872C1.57315 12.5982 1.59277 13.1357 1.61275 13.692C1.64868 14.8049 1.65536 15.9927 1.66456 17.1796C1.66204 19.5541 1.59191 21.9297 1.4834 23.7104C1.43583 24.6008 1.35779 25.3425 1.321 25.8621C1.27594 26.3816 1.23836 26.6789 1.23836 26.6789C1.23836 26.6789 1.20042 26.3816 1.15529 25.8621C1.11857 25.3425 1.04046 24.6009 0.992886 23.7104C0.884378 21.9297 0.814171 19.5541 0.811728 17.1796C0.820064 15.9927 0.826747 14.8049 0.863467 13.692C0.883516 13.1357 0.903134 12.5982 0.921099 12.0872C0.912332 11.8501 0.999569 11.528 1.0493 11.2716C1.14573 11.0302 1.25259 10.8063 1.35448 10.5953C1.47851 10.4013 1.59579 10.2154 1.70846 10.039C1.83666 9.87793 1.95811 9.72584 2.07164 9.5814C2.30792 9.30281 2.51789 9.0674 2.70121 8.88368C3.06352 8.51287 3.29606 8.33085 3.29606 8.33085C3.29606 8.33085 3.11469 8.56795 2.82581 8.99312Z"
                                fill="#5900AC" />
                        </svg>
                        <div class="account-dist-main-wrap__text">
                            {{ dealer['tvr'] }} шт. <br>
                            товара
                        </div>
                    </div>
                    <img src="/img/admin-20.png" alt="bottle" class="admin-diss-inner-info__img">
                </div>

                <div class="admin-diss-inner-wrapper">
                    <div class="admin-diss-top">
                        <div class="admin-diss-top__left">
                            <h1 class="admin-diss-top__title">история заказов</h1>
                            <div class="admin-diss-top__inner">
                                <div class="admin-diss-top__text">общее кол-во заказов:</div>
                                <div class="admin-diss-top__number">{{ dealer['bsk'] }}</div>
                            </div>
                        </div>
                        <div class="admin-diss-top__right">
                            <div class="admin-diss-top__sort">
                                <div class="admin-diss-top__text">Сортировать:</div>
                                <div class="wrap-drop" id="noble-gases">
                                    <form method="POST">
                                        <input id="form_sort_dealer" type="hidden" value="" name="SortByDealer[sort]" >
                                        {{ csrf.get_html_token|raw }}
                                    </form>
                                    <span>{{ model.getMenuSort()[model.sort] }}</span>
                                    <ul class="drop">
                                        {% for key, sort in model.getMenuSort %}
                                            {% if key == model.sort %}
                                                {% set select = 'class="selected"' %}
                                            {% else %}
                                                {% set select = '' %}
                                            {% endif %}
                                            <li {{ select }} data-value="{{ key }}"><a>{{ sort }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="admin-diss-inner-wrapper__right">
                                <div class="admin-diss-top__text">общая сумма:</div>
                                <div class="admin-diss-inner-wrapper__number">{{ dealer['summ']|number_format(0, '.', ' ') }} ₽</div>
                            </div>
                        </div>
                    </div>
                    <div class="diss-order-all">
                        <ul class="diss-order-all-wrap">

                            {% for basket in baskets %}
                                <li class="diss-order-all-wrap__item">
                                <input type="checkbox" checked class="diss-order-all-wrap__check">
                                <i></i>
                                <div class="diss-order-all-wrap__title">
                                    <div class="diss-order-all-wrap__order">Заказ № {{ basket['basket_id'] }}</div>

                                {% if basket['basket_date_close'] is not empty %}
                                    <svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.7919 0.207983C11.5146 -0.0693357 11.0648 -0.0693354 10.7874 0.20803L4.51465 6.4808L1.21263 3.17879C0.935264 2.90142 0.485473 2.90142 0.20806 3.17879C-0.0693533 3.45615 -0.0693533 3.90594 0.20806 4.18335L4.01234 7.98763C4.15104 8.12634 4.33284 8.19567 4.5146 8.19567C4.69635 8.19567 4.8782 8.12629 5.01686 7.98763L11.7919 1.21255C12.0694 0.935187 12.0694 0.485396 11.7919 0.207983Z" fill="#2FA749" />
                                    </svg>
                                    <div class="diss-order-all-wrap__status diss-order-all-wrap__status_done">выполнен</div>
                                {% else %}
                                    <svg width="9" height="12" viewBox="0 0 9 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8.50001 1.36092V2.41383C8.50001 3.40453 8.07764 4.35279 7.3413 5.01539L6.24731 6L7.34133 6.98461C8.07766 7.64721 8.50003 8.59545 8.50003 9.58617V10.6391C8.79748 10.8125 9.00002 11.1314 9.00002 11.5V11.75C9.00002 11.8882 8.8882 12 8.75002 12H0.250008C0.11182 12 0 11.8882 0 11.75V11.5C0 11.1314 0.202547 10.8125 0.499992 10.6391V9.58617C0.499992 8.59545 0.922359 7.64721 1.6587 6.98461L2.75269 6L1.6587 5.01539C0.922359 4.35279 0.499992 3.40455 0.499992 2.41383V1.36095C0.202547 1.18751 0 0.86857 0 0.500016V0.250008C0 0.11182 0.11182 0 0.250008 0H8.74999C8.88818 0 9 0.11182 9 0.250008V0.499992C9 0.86857 8.79745 1.18751 8.50001 1.36092ZM5.16553 5.62842L6.67237 4.27221C7.19824 3.79882 7.5 3.12134 7.5 2.41383V1.5H1.5V2.41383C1.5 3.12134 1.80176 3.79882 2.32765 4.27219L3.83449 5.6284C3.93996 5.72311 4.00003 5.85813 4.00003 5.99998C4.00003 6.14182 3.93996 6.27682 3.83449 6.37155L2.32765 7.72777C1.80176 8.20116 1.5 8.87864 1.5 9.58617V10.5H2.12512L4.30003 7.6001C4.39427 7.47412 4.6057 7.47412 4.69995 7.6001L6.87488 10.5H7.5V9.58617C7.5 8.87866 7.19824 8.20118 6.67237 7.72779L5.16553 6.37158C5.06006 6.27687 4.99999 6.14184 4.99999 6C4.99999 5.85816 5.06006 5.72316 5.16553 5.62842ZM2.77634 3.5H6.22286C6.32174 3.5 6.41135 3.55836 6.45135 3.64869C6.49141 3.73927 6.47456 3.84474 6.4079 3.91798L4.66744 5.52395C4.61983 5.56714 4.55976 5.58863 4.49972 5.58863C4.43967 5.58863 4.3796 5.56716 4.332 5.52395L2.59128 3.91798C2.52462 3.84474 2.50779 3.73927 2.54782 3.64869C2.58785 3.55836 2.67745 3.5 2.77634 3.5Z" fill="#767676" />
                                    </svg>
                                    <div class="diss-order-all-wrap__status diss-order-all-wrap__status_sort">в обработке</div>
                                {% endif %}

                                    <svg width="11" height="12" viewBox="0 0 11 12" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.00002 1.20001H9.60001C10.263 1.20001 10.8 1.737 10.8 2.39999V10.8C10.8 11.463 10.263 12 9.60001 12H1.20001C0.53699 12 0 11.463 0 10.8L0.00601877 2.40002C0.00601877 1.737 0.537018 1.20001 1.20001 1.20001H1.8V0H3.00001V1.20001H7.80001V0H9.00002V1.20001ZM1.20001 10.8H9.60001V4.19999H1.20001V10.8ZM7.48248 5.40039L8.11847 6.03638L4.55448 9.60038L2.64648 7.69238L3.2825 7.05639L4.55448 8.3284L7.48248 5.40039Z"
                                            fill="#767676" />
                                    </svg>
                                    <div class="diss-order-all-wrap__date">{{ basket['basket_date_in']|slice(0, 10)|date("d.m.Y") }}</div>
                                    <div class="diss-order-all-wrap__sum">{{ (basket['summ_basket'] + basket['basket_transport'])|number_format(0, '.', ' ') }} ₽</div>
                                </div>
                                <div class="diss-order-all-wrap__text">
                                    <div class="diss-inner-first">
                                        <div class="diss-inner-first__sybol">№</div>
                                        <div class="diss-inner-first__name">наименование товара</div>
                                        <div class="diss-inner-first__qaunt">объем</div>
                                        <div class="diss-inner-fist__count">кол-во</div>
                                        <div class="diss-inner-first__price">цена</div>
                                        <div class="diss-inner-first__sum">сумма</div>
                                    </div>
                                    <ul class="diss-inner-second">
                                        {% set num = 0 %}
                                        {% for item in items %}
                                            {% if basket['basket_id'] ==  item['basket_id'] %}
                                                {% set num = num + 1 %}
                                                <li class="diss-inner-second__item">
                                                    <div class="diss-inner-second__sybol">{{ num }}</div>
                                                    <div class="diss-inner-second__name">{{ item['basketitems_name'] }}</div>
                                                    <div class="diss-inner-second__qaunt">{{ item['basketitems_volume'] }} L</div>
                                                    <div class="diss-inner-second__count">{{ item['basketitems_cnt'] }} шт.</div>
                                                    <div class="diss-inner-second__price">{{ item['basketitems_unitprice']|number_format(0, '.', ' ') }} ₽</div>
                                                    <div class="diss-inner-second__sum">{{ (item['basketitems_unitprice'] * item['basketitems_cnt'])|number_format(0, '.', ' ') }} ₽</div>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>

                                    <div class="diss-order-subtotal">
                                        <div class="diss-order-subtotal__top">
                                            <div class="diss-order-subtotal__firle">доставка:</div>
                                            <div class="diss-order-subtotal__firri">{{ basket['basket_transport']|number_format(0, '.', ' ') }} ₽</div>
                                        </div>
                                        <div class="diss-order-subtotal__bottom">
                                            <div class="diss-order-subtotal__secle">Итого:</div>
                                            <div class="diss-order-subtotal__secri">{{ basket['summ_basket']|number_format(0, '.', ' ') }} ₽</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </main>


{% endblock %}

{% block script_js %}
    <script>
        $(document).ready(function () {
            function DropDown(el) {
                this.dd = el;
                this.placeholder = this.dd.children('span');
                this.opts = this.dd.find('ul.drop li');
                this.val = '';
                this.index = -1;
                this.initEvents();
            }

            DropDown.prototype = {
                initEvents: function () {
                    var obj = this;
                    obj.dd.on('click', function (e) {
                        e.preventDefault();
                        e.stopPropagation();
                        $(this).toggleClass('active');
                    });
                    obj.opts.on('click', function () {
                        var opt = $(this);
                        obj.val = opt.text();
                        obj.index = opt.index();
                        obj.placeholder.text(obj.val);
                        opt.siblings().removeClass('selected');
                        opt.filter(':contains("' + obj.val + '")').addClass('selected');

                        $('#form_sort_dealer').val(opt.data('value')).parent().submit();

                    }).change();
                },
                getValue: function () {
                    return this.val;
                },
                getIndex: function () {
                    return this.index;
                }
            };

            $(function () {
                // create new variable for each menu
                var dd1 = new DropDown($('#noble-gases'));
                // var dd2 = new DropDown($('#other-gases'));
                $(document).click(function () {
                    // close menu on document click
                    $('.wrap-drop').removeClass('active');
                });
            });

        /*EDIT DILLER*/
        $('.admin-diss-form__submit').on('click', function(){

            event.preventDefault();
            event.stopPropagation();

            //user
            var login = "&UsersForm[login]=" + $("input[name='UsersForm[login]']").val();
            var pass = "&UsersForm[password]=" + $("input[name='UsersForm[password]']").val();

            //userinfo
            var n1 = "&UserinfoForm[name]=" + $("input[name='UserinfoForm[name]']").val();
            var n2 = "&UserinfoForm[famuly]=" + $("input[name='UserinfoForm[famuly]']").val();
            var n3 = "&UserinfoForm[otchestvo]=" + $("input[name='UserinfoForm[otchestvo]']").val();

            var b1 = $("input[name='b1']").val();
            var b2 = $("input[name='b2']").val();
            var b3 = $("input[name='UserinfoForm[birth]']").val();
            if( (b1 != "" && b2 != "" && b3 != "") ){
                var birth = "&UserinfoForm[birth]=" + b3+'-'+b2+'-'+b1;
            }else{
                var birth = "&UserinfoForm[birth]=" + "";
            }

            var phone = "&UserinfoForm[phone]=" + $("input[name='UserinfoForm[phone]']").val();
            var email = "&UserinfoForm[email]=" + $("input[name='UserinfoForm[email]']").val();

            //adress
            var city = "&AdressForm[city]=" + $("input[name='AdressForm[city]']").val();
            var street = "&AdressForm[street]=" + $("input[name='AdressForm[street]']").val();
            var house = "&AdressForm[house]=" + $("input[name='AdressForm[house]']").val();
            var korpus = "&AdressForm[korpus]=" + $("input[name='AdressForm[korpus]']").val();
            var apartament = "&AdressForm[apartament]=" + $("input[name='AdressForm[apartament]']").val();
            var pindex = "&AdressForm[pochta_index]=" + $("input[name='AdressForm[pochta_index]']").val();

            var idd= "&UsersForm[id]={{ dealer['users_id'] }}&UserinfoForm[id]={{ dealer['info_id'] }}&AdressForm[adress_id]={{ dealer['adrkonts_id'] }}";

            //ВНИМАНИЕ!!! Отправляем ajax на url авторизованного ID пользователя, а возвращаемся на ID редактируемого
            //url:'/admin/editdealer/{{ user['users_id'] }}/',
            //document.location.href = '/admin/dealer/{{ dealer['users_id'] }}/';
            $.ajax({
                url:'/admin/editdealer/{{ user['users_id'] }}/?id_dealer={{ dealer['users_id'] }}',
                data: '{{ csrf.get_param }}={{ csrf.get_token }}'+login+pass+n1+n2+n3+birth+phone+email+city+street+house+korpus+apartament+pindex+idd,
                type: 'POST',
                beforeSend:function(){
                    $('.admin-diss-inner-info-box__link').append('<img src="/css/ajax-loader.gif" alt="loaders" height="20" id="ajax-loader">')
                },
                success: function(res){
                    res=JSON.parse(res);

                    if (res.status==1){
                        alert(res.msg);
                    }else if(res.status==0){
                        if(typeof(res.err) != "undefined" && res.err !== null){
                            $.each(res.err, function (index, value) {
                                $.each(value, function (index2, value2){
                                    res.msg += "\n" + value2;
                                });
                            });
                        }

                        alert(res.msg);
                    }
                    $('#ajax-loader').remove();
                    //http://aa/admin/dealer/2/
                    document.location.href = '/admin/dealer/{{ user['users_id'] }}/?id_dealer={{ dealer['users_id'] }}';
                },
                error: function(){
                    alert('Ошибка!');
                    $('#ajax-loader').remove();
                }
            });

        });

        });

    </script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    {{ parent() }}
{% endblock %}
