{% extends 'layouts/main_a.twig' %}
{% from 'macro/msg_flash.twig' import msg_flash %}

{% block head %}
    {{ parent() }}
<!-- Date picker CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block nav %}
    {{ parent() }}
{% endblock %}

{% block main %}
{{ msg_flash('msg', 'msg_arr', 1) }}
    <div class="admin-diss-over">
        <form action="#" class="admin-diss-form">
            <h2 class="admin-diss-form__title">
                добавление дилера
            </h2>
            <h3 class="admin-diss-form__title">
                Личные данные
            </h3>
            <ul class="admin-diss-form-list">
                <li class="admin-diss-form-list__item">
                    <h4 class="admin-diss-form-list__title">
                        Имя
                    </h4>
                    <input id="add_n1" type="text" class="admin-diss-form-list__input" name="UserinfoForm[name]">
                </li>
                <li class="admin-diss-form-list__item">
                    <h4 class="admin-diss-form-list__title">
                        Фамилия
                    </h4>
                    <input id="add_n2" type="text" class="admin-diss-form-list__input" name="UserinfoForm[famuly]">
                </li>
                <li class="admin-diss-form-list__item">
                    <h4 class="admin-diss-form-list__title">
                        Отчество
                    </h4>
                    <input id="add_n3" type="text" class="admin-diss-form-list__input" name="UserinfoForm[otchestvo]">
                </li>
                <li class="admin-diss-form-list__item">
                    <h4 class="admin-diss-form-list__title">
                        Дата <br>
                        рождения
                    </h4>
                    <div class="admin-diss-form-list__date">
                        <input id="add_b1" type="text" class="admin-diss-form-list__input" maxlength="2" placeholder="дата">
                        <input id="add_b2" type="text" class="admin-diss-form-list__input" maxlength="2" placeholder="месяц">
                        <input id="add_b3" type="text" class="admin-diss-form-list__input" maxlength="4"  placeholder="год"
                            id="admin-diss-form-list__date_last">
                    </div>
                </li>
            </ul>
            <div class="admin-fiss-form__line"></div>
            <h3 class="admin-diss-form__title">
                Контактные данные
            </h3>
            <ul class="admin-diss-form-list">
                <li class="admin-diss-form-list__item">
                    <h4 class="admin-diss-form-list__title">
                        Город
                    </h4>
                    <input id="add_city" type="text" class="admin-diss-form-list__input" name="AdressForm[city]">
                </li>
                <li class="admin-diss-form-list__item">
                    <h4 class="admin-diss-form-list__title">
                        улица
                    </h4>
                    <input id="add_street" type="text" class="admin-diss-form-list__input" name="AdressForm[street]">
                </li>
                <li class="admin-diss-form-list__item">
                    <h4 class="admin-diss-form-list__title">

                    </h4>
                    <ul class="admin-diss-form-list-house">
                        <li class="admin-diss-form-list-house__item">
                            <h4 class="admin-diss-form-list__title">
                                дом
                            </h4>
                            <input id="add_house" type="text" class="admin-diss-form-list__input" name="AdressForm[house]">
                        </li>
                        <li class="admin-diss-form-list-house__item">
                            <h4 class="admin-diss-form-list__title">
                                корпус
                            </h4>
                            <input id="add_korpus" type="text" class="admin-diss-form-list__input" name="AdressForm[korpus]">
                        </li>
                        <li class="admin-diss-form-list-house__item">
                            <h4 class="admin-diss-form-list__title">
                                квартира
                            </h4>
                            <input id="add_apartament" type="text" class="admin-diss-form-list__input" name="AdressForm[apartament]">
                        </li>
                    </ul>
                </li>
                <li class="admin-diss-form-list__item">
                    <h4 class="admin-diss-form-list__title">
                        Индекс
                    </h4>
                    <input id="add_pindex" type="text" class="admin-diss-form-list__input" name="AdressForm[pochta_index]">
                </li>
                <li class="admin-diss-form-list__item">
                    <h4 class="admin-diss-form-list__title">
                        Номер <br>
                        телефона
                    </h4>
                    <input id="add_phone" type="text" class="admin-diss-form-list__input" name="UserinfoForm[phone]">
                </li>
                <li class="admin-diss-form-list__item">
                    <h4 class="admin-diss-form-list__title">
                        E-mail
                    </h4>
                    <input id="add_email" type="text" class="admin-diss-form-list__input" name="UserinfoForm[email]">
                </li>
            </ul>
            <div class="admin-fiss-form__line"></div>
            <h3 class="admin-diss-form__title">
                данные для входа
            </h3>
            <ul class="admin-diss-form-list">
                <li class="admin-diss-form-list__item">
                    <h4 class="admin-diss-form-list__title">
                        логин
                    </h4>
                    <input id="add_login" type="text" class="admin-diss-form-list__input" name="UsersForm[login]" />
                </li>
                <li class="admin-diss-form-list__item">
                    <h4 class="admin-diss-form-list__title">
                        пароль
                    </h4>
                    <input id="add_pass" type="text" class="admin-diss-form-list__input" name="UsersForm[password]" />
                </li>
            </ul>
            <div class="admin-diss-form__navigation">
                <a href="javascript:void(0);" class="admin-diss-form__cancel">
                    отменить
                </a>
                <a href="javascript:void(0);" class="admin-diss-form__submit">
                    добавить
                </a>
            </div><br><br><br><br><br><br><br>
        </form>
    </div>
<main class="account-distributors" id="account-admin">

        <div class="container">
            <div class="admin-diss-top">
                <div class="admin-diss-top__left">
                    <h1 class="admin-diss-top__title">
                        дилеры
                    </h1>
                    <div class="admin-diss-top__inner">
                        <div class="admin-diss-top__text">
                            кол-во дилеров:
                        </div>
                        <div class="admin-diss-top__number">
                            {{ dealers|length }}
                        </div>
                    </div>
                </div>
                <div class="admin-diss-top__right">
                    <a href="javascript:void(0);" class="admin-diss-top__add">
                        добавить дилера
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M11.5312 5.53125H6.46875V0.46875C6.46875 0.209859 6.25889 0 6 0C5.74111 0 5.53125 0.209859 5.53125 0.46875V5.53125H0.46875C0.209859 5.53125 0 5.74111 0 6C0 6.25889 0.209859 6.46875 0.46875 6.46875H5.53125V11.5312C5.53125 11.7901 5.74111 12 6 12C6.25889 12 6.46875 11.7901 6.46875 11.5312V6.46875H11.5312C11.7901 6.46875 12 6.25889 12 6C12 5.74111 11.7901 5.53125 11.5312 5.53125Z"
                                fill="#5900AC" />
                        </svg>
                    </a>
                    <div class="admin-diss-top__sort">
                        <div class="admin-diss-top__text">
                            Сортировать:
                        </div>
                        <div class="wrap-drop" id="noble-gases">
                        <form method="POST">
                            <input id="form_sort_dealer" type="hidden" value="" name="SortByDealer[sort]" >
                            {{ csrf.get_html_token|raw }}
                        </form>
                            <span>{{ model.getMenuSort[model.sort] }}</span>
                            <ul class="drop">
                                {% for key, sort in model.getMenuSort %}
                                    {% if key == model.sort %}
                                        {% set select = 'class="selected"' %}
                                    {% else %}
                                        {% set select = '' %}
                                    {% endif %}
                                    <li {{ select }} data-value="{{ key }}"><a>{{ sort }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="admin-diss-main">
            <div class="container">
                <div class="admin-diss-wrapper">

                    <ul class="admin-diss-list">
                        {% for dealer in dealers %}
                        <li class="admin-diss-list__item">
                            <div class="admin-diss-list-wrapper">
                                <h2 class="admin-diss-list-wrapper__title">
                                    {{ dealer['info_name'] }} {{ dealer['info_famuly'] }}
                                </h2>
                                <div class="admin-diss-list-wrapper__loc">
                                   {{ dealer['adr_pindex'] }} г. {{ dealer['adr_city'] }} ул. {{ dealer['adr_street'] }}
                                </div>
                                <div class="admin-diss-list-wrapper__line"></div>
                                <div class="admin-diss-list-wrapper__phone">
                                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M11.731 9.49142L9.87777 7.6338C9.50864 7.26533 8.89736 7.27652 8.51538 7.65951L7.58172 8.59508C7.52274 8.56249 7.46168 8.52846 7.39749 8.49235C6.80789 8.16492 6.00093 7.71614 5.15177 6.86444C4.3001 6.01094 3.85192 5.20091 3.52424 4.6096C3.48966 4.54695 3.45653 4.48655 3.42381 4.42919L4.05043 3.80209L4.3585 3.49294C4.74107 3.1094 4.75162 2.4969 4.38336 2.12736L2.53014 0.26953C2.16188 -0.0994993 1.55033 -0.0883041 1.16776 0.295237L0.645456 0.821726L0.659729 0.835927C0.484595 1.0599 0.338248 1.31822 0.229341 1.59679C0.128949 1.86195 0.0664456 2.11499 0.0378657 2.36854C-0.206839 4.40179 0.720198 6.26003 3.23606 8.78163C6.71374 12.267 9.5163 12.0037 9.6372 11.9908C9.90052 11.9593 10.1529 11.8962 10.4093 11.7964C10.6849 11.6885 10.9424 11.542 11.1658 11.3669L11.1772 11.377L11.7063 10.8577C12.0881 10.4743 12.0991 9.86156 11.731 9.49142Z"
                                            fill="#5900AC" />
                                    </svg>
                                    <div class="admin-diss-list-warpper__number">
                                        {{ dealer['info_phone'] }}
                                    </div>
                                </div>
                                <div class="admin-diss-list-wrapper__email">
                                    <svg width="12" height="8" viewBox="0 0 12 8" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M0 0.390883V0H12V0.390883L6.00002 4.57059L0 0.390883ZM2.4659 2.91773L6.00002 5.40372L9.5341 2.91773L12 1.2V7.82426H0V1.2L2.4659 2.91773Z"
                                            fill="#5900AC" />
                                    </svg>
                                    <div class="admin-diss-list-warpper__number">
                                        {{ dealer['info_email'] }}
                                    </div>
                                </div>
                                <div class="admin-diss-list-wrapper__line"></div>
                                <ul class="admin-diss-list-wrapper__box">
                                    <li class="admin-diss-list-wrapper__inside">
                                        <div class="admin-diss-list-wrapper__text">
                                            Кол-во заказов:
                                        </div>
                                        <div class="admin-diss-list-wrapper__number">
                                            {{ dealer['bsk']|abs }}
                                        </div>
                                    </li>
                                    <li class="admin-diss-list-wrapper__inside">
                                        <div class="admin-diss-list-wrapper__text">
                                            Кол-во товара:
                                        </div>
                                        <div class="admin-diss-list-wrapper__number">
                                            {{ dealer['tvr']|abs }} шт.
                                        </div>
                                    </li>
                                    <li class="admin-diss-list-wrapper__inside">
                                        <div class="admin-diss-list-wrapper__text">
                                            Общая сумма:
                                        </div>
                                        <div class="admin-diss-list-wrapper__number">
                                            {{ dealer['summ']|number_format(0, '.', ' ') }} ₽
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <a href="/admin/dealer/{{ user['users_id'] }}/?id_dealer={{ dealer['users_id'] }}" class="admin-diss-list__link">
                                перейти к дилеру
                                <svg width="4" height="8" viewBox="0 0 4 8" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 8L4 4L0 0L0 8Z" fill="#5900AC" />
                                </svg>
                            </a>
                            <img src="/img/admin-18.png" alt="bottle" class="admin-diss-list__img">
                        </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
        </section>

    </main>

    <script>
        $(document).ready(function () {
            function DropDown(el) {
                this.dd = el;
                this.placeholder = this.dd.children('span');
                this.opts = this.dd.find('ul.drop li');
                this.val = '';
                this.index = -1;
                this.initEvents();
            }

            DropDown.prototype = {
                initEvents: function () {
                    var obj = this;
                    obj.dd.on('click', function (e) {
                        e.preventDefault();
                        e.stopPropagation();
                        $(this).toggleClass('active');
                    });
                    obj.opts.on('click', function () {
                        var opt = $(this);
                        obj.val = opt.text();
                        obj.index = opt.index();
                        obj.placeholder.text(obj.val);
                        opt.siblings().removeClass('selected');
                        opt.filter(':contains("' + obj.val + '")').addClass('selected');

                        $('#form_sort_dealer').val(opt.data('value')).parent().submit();

                    }).change();
                },
                getValue: function () {
                    return this.val;
                },
                getIndex: function () {
                    return this.index;
                }
            };

            $(function () {
                // create new variable for each menu
                var dd1 = new DropDown($('#noble-gases'));
                // var dd2 = new DropDown($('#other-gases'));
                $(document).click(function () {
                    // close menu on document click
                    $('.wrap-drop').removeClass('active');
                });
            });

        });

    </script>


{% endblock %}

{% block script_js %}
    <script>
        /*ADD DILLER*/
        $('.admin-diss-form__submit').on('click', function(){

            event.preventDefault();
            event.stopPropagation();

            //user
            var login = $('#add_login').val();
            var pass = $('#add_pass').val();
            //userinfo
            var n1 = $('#add_n1').val();
            var n2 = $('#add_n2').val();
            var n3 = $('#add_n3').val();

            var b1=$('#add_b1').val();
            var b2=$('#add_b2').val();
            var b3=$('#add_b3').val();
            if( (b1 != "" && b2 != "" && b3 != "") ){
                var birth = $('#add_b3').val()+'-'+$('#add_b2').val()+'-'+$('#add_b1').val();
            }else{
                var birth="";
            }

            var phone = $('#add_phone').val();
            var email = $('#add_email').val();
            //adress
            var city = $('#add_city').val();
            var street = $('#add_street').val();
            var house = $('#add_house').val();
            var korpus = $('#add_korpus').val();
            var apartament = $('#add_apartament').val();
            var pindex = $('#add_pindex').val();

            $.ajax({
                url:'/admin/adddealer/{{ user['users_id'] }}/',
                data: '{{ csrf.get_param }}={{ csrf.get_token }}&UsersForm[login]='+login+'&UsersForm[password]='+pass+'&UserinfoForm[name]='+n1+'&UserinfoForm[famuly]='+n2+'&UserinfoForm[otchestvo]='+n3+'&UserinfoForm[birth]='+birth+'&UserinfoForm[phone]='+phone+'&UserinfoForm[email]='+email+'&AdressForm[city]='+city+'&AdressForm[street]='+street+'&AdressForm[house]='+house+'&AdressForm[korpus]='+korpus+'&AdressForm[apartament]='+apartament+'&AdressForm[pochta_index]='+pindex,
                type: 'POST',
                beforeSend:function(){
                    $('.admin-diss-top__add').append('<img src="/css/ajax-loader.gif" alt="loaders" height="20" id="ajax-loader">')
                },
                success: function(res){
                    res=JSON.parse(res);

                    if (res.status==1){
                        alert(res.msg);
                    }else if(res.status==0){
                        if(typeof(res.err) != "undefined" && res.err !== null){
                            $.each(res.err, function (index, value) {
                                $.each(value, function (index2, value2){
                                    res.msg += "\n" + value2;
                                });
                            });
                        }

                        alert(res.msg);
                    }
                    $('#ajax-loader').remove();
                    document.location.href = '/admin/dealers/{{ user['users_id'] }}/';
                },
                error: function(){
                    alert('Ошибка!');
                    $('#ajax-loader').remove();
                }
            });

        });


    </script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    {{ parent() }}
{% endblock %}
