{% extends 'layouts/main_a.twig' %}
{% from 'macro/msg_flash.twig' import msg_flash %}

{% block head %}
    {{ parent() }}
<!-- Date picker CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block nav %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <main class="account-distributors" id="account-admin">
        {{ msg_flash('msg', 'msg_arr', 1) }}
        <section class="account-dist-main" id="account-dist-main">
            <div class="container">

                <div class="account-dist-main-wrap">

                    <div class="account-dist-main-wrap__left">
                        <h1 class="account-dist-main-wrap__number">
                            {{ dlr['bsk']|number_format }}
                        </h1>
                        <div class="account-dist-main-wrap__subtitle">
                            заказов
                        </div>
                        <div class="account-dist-main-wrap__inner">
                            <svg width="7" height="28" viewBox="0 0 7 28" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M4.68389 6.95174C4.68389 5.69177 4.68389 0 4.68389 0H3.76962H3.22823H2.31439C2.31439 0 2.31439 5.69177 2.31439 6.95174C2.31439 8.2117 0 9.74121 0 11.537C0 13.3323 0 26.3201 0 26.7781C0 27.2362 0.299368 28 0.970179 28C1.42685 28 2.55195 28 3.22909 28C3.54886 28 3.77048 28 3.77048 28C4.44761 28 5.57222 28 6.02896 28C6.70027 28 7 27.2361 7 26.7781C7 26.32 7 13.3322 7 11.537C6.99993 9.74121 4.68389 8.21251 4.68389 6.95174ZM2.82581 8.99312C2.67598 9.2025 2.50855 9.46652 2.3266 9.77114C2.1425 10.0766 1.96802 10.4325 1.7906 10.8187C1.72298 11.0161 1.65364 11.2229 1.59565 11.4301C1.59356 11.6497 1.52551 11.8116 1.55519 12.0872C1.57315 12.5982 1.59277 13.1357 1.61275 13.692C1.64868 14.8049 1.65536 15.9927 1.66456 17.1796C1.66204 19.5541 1.59191 21.9297 1.4834 23.7104C1.43583 24.6008 1.35779 25.3425 1.321 25.8621C1.27594 26.3816 1.23836 26.6789 1.23836 26.6789C1.23836 26.6789 1.20042 26.3816 1.15529 25.8621C1.11857 25.3425 1.04046 24.6009 0.992886 23.7104C0.884378 21.9297 0.814171 19.5541 0.811728 17.1796C0.820064 15.9927 0.826747 14.8049 0.863467 13.692C0.883516 13.1357 0.903134 12.5982 0.921099 12.0872C0.912332 11.8501 0.999569 11.528 1.0493 11.2716C1.14573 11.0302 1.25259 10.8063 1.35448 10.5953C1.47851 10.4013 1.59579 10.2154 1.70846 10.039C1.83666 9.87793 1.95811 9.72584 2.07164 9.5814C2.30792 9.30281 2.51789 9.0674 2.70121 8.88368C3.06352 8.51287 3.29606 8.33085 3.29606 8.33085C3.29606 8.33085 3.11469 8.56795 2.82581 8.99312Z"
                                    fill="#5900AC" />
                            </svg>
                            <div class="account-dist-main-wrap__text">
                                {{ dlr['tvr']|number_format }} шт. <br>
                                товара
                            </div>
                        </div>

                        <a href="/admin/orders/{{ user['users_id'] }}/" class="account-dist-main-wrap__btn">
                            перейти к заказам
                        </a>
                        <img src="/img/admin-1.png" alt="bottle" class="account-dist-main-wrap__aimg">
                    </div>
                    <div class="account-dist-main-wrap__right">
                        <div class="account-dist-main-wrap__name">
                            {{ user['info_name'] }} {{ user['info_famuly'] }}
                        </div>
                        <div class="account-dist-main-wrap__prof">
                            <span class="account-dist-main-wrap__innertext">
                                Изменить свои данные вы можете в разделе “
                            </span>
                            <a href="/admin/profil/{{ user['users_id'] }}/" class="account-dist-main-wrap__innerlink">
                                Мой профиль
                            </a>
                            <span class="account-dist-main-wrap__innerlast">
                                ”.
                            </span>
                        </div>
                    </div>

                </div>

                <div class="account-dist-main-inst">
                    <div class="accound-main-inst__title">
                        Отчеты
                    </div>
                    <!--div class="account-main-dates">
                        <div class="account-main-date">
                            <div class="account-main-date__title">
                                дата начала
                            </div>
                            <input type="text" id="basicDate" placeholder="Выберите дату" data-input
                                class="diss-reports-dates__input">
                            <svg width="11" height="12" viewBox="0 0 11 12" fill="none" class="account-main-dates__icon"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M9.00002 1.20001H9.60001C10.263 1.20001 10.8 1.737 10.8 2.39999V10.8C10.8 11.463 10.263 12 9.60001 12H1.20001C0.53699 12 0 11.463 0 10.8L0.00601877 2.40002C0.00601877 1.737 0.537018 1.20001 1.20001 1.20001H1.8V0H3.00001V1.20001H7.80001V0H9.00002V1.20001ZM1.20001 10.8H9.60001V4.19999H1.20001V10.8ZM7.48193 5.40067L8.11792 6.03666L4.55392 9.60066L2.64593 7.69266L3.28194 7.05667L4.55392 8.32868L7.48193 5.40067Z"
                                    fill="#5900AC" />
                            </svg>

                        </div>
                        <div class="account-main-date">
                            <div class="account-main-date__title">
                                дата окончания
                            </div>
                            <input type="text" id="basicDate2" placeholder="Выберите дату" data-input
                                class="diss-reports-dates__input">
                            <svg width="11" height="12" viewBox="0 0 11 12" fill="none" class="account-main-dates__icon"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M9.00002 1.20001H9.60001C10.263 1.20001 10.8 1.737 10.8 2.39999V10.8C10.8 11.463 10.263 12 9.60001 12H1.20001C0.53699 12 0 11.463 0 10.8L0.00601877 2.40002C0.00601877 1.737 0.537018 1.20001 1.20001 1.20001H1.8V0H3.00001V1.20001H7.80001V0H9.00002V1.20001ZM1.20001 10.8H9.60001V4.19999H1.20001V10.8ZM7.48193 5.40067L8.11792 6.03666L4.55392 9.60066L2.64593 7.69266L3.28194 7.05667L4.55392 8.32868L7.48193 5.40067Z"
                                    fill="#5900AC" />
                            </svg>
                        </div>
                    </div-->

                </div>
                <div class="admin-main-reports">
                    <div class="admin-main-reports-titles">
                        <div class="admin-main-reports-titles__title">
                            дата
                        </div>
                        <div class="admin-main-reports-titles__title">
                            сумма
                        </div>
                        <div class="admin-main-reports-titles__title">
                            кол-во заказов
                        </div>
                        <div class="admin-main-reports-titles__title">
                            кол-во товаров
                        </div>
                    </div>

                    <ul class="admin-main-reports-data">
                        {% for report in reports %}
                            <li class="admin-main-reports-data__item">
                                <div class="admin-main-reports-data__begin">
                                    {{ report['ddd'] }}
                                </div>
                                <div class="admin-main-reports-data__end">
                                    {{ report['summ']|number_format(0, '.', ' ') }} ₽
                                </div>
                                <div class="admin-main-reports-data__count">
                                    {{ report['bsk'] }}
                                </div>
                                <div class="admin-main-reports-data__quant">
                                    {{ report['tvr'] }}
                                </div>
                            </li>
                        {% endfor %}

                     </ul>

                    <a href="/admin/reports/{{ user['users_id'] }}/" class="admin-main-reports__link">
                        перейти к отчетам
                        <svg width="4" height="8" viewBox="0 0 4 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 8L4 4L0 0L0 8Z" fill="#5900AC" />
                        </svg>
                    </a>
                </div>

                <div class="account-dist-main-floating">

                    <div class="admin-main-top">
                        <div class="admin-main__title">
                            Дилеры
                        </div>
                        {% for dealer in dealers %}
                            <a href="/admin/dealer/{{ user['users_id'] }}/?id_dealer={{ dealer['users_id'] }}" class="admin-main-people">
                                <div class="admin-main-people__title">
                                    {{ dealer['info_name'] }} {{ dealer['info_famuly'] }}
                                </div>
                                <div class="admin-main-people__text">
                                    г. {{ dealer['adr_city'] }}, <br>
                                    ул. {{ dealer['adr_street'] }} д. {{ dealer['adr_house'] }}
                                </div>
                                <img src="/img/admin-18.png" alt="bottle" class="admin-main-people__img">
                            </a>
                        {% endfor %}

                        <a href="/admin/dealers/{{ user['users_id'] }}/" class="admin-main-people-link">
                            перейти к дилерам
                            <svg width="4" height="8" viewBox="0 0 4 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 8L4 4L0 0L0 8Z" fill="#5900AC" />
                            </svg>
                        </a>
                    </div>

                    <div class="admin-main-bottom">
                        <div class="admin-main__title">
                            Клиенты
                        </div>
                        {% for client in clients %}
                            <a href="/admin/clients/{{ user['users_id'] }}/" class="admin-main-people">
                                <div class="admin-main-people__title">
                                    {{ client['info_name'] }} {{ client['info_famuly'] }}
                                </div>
                                <div class="admin-main-people__text">
                                    г. {{ client['adr_city'] }}, <br>
                                    ул. {{ client['adr_street'] }} д. {{ client['adr_house'] }}
                                </div>
                                <img src="/img/admin-18.png" alt="bottle" class="admin-main-people__img">
                            </a>
                        {% endfor %}
                        <a href="/admin/clients/{{ user['users_id'] }}/" class="admin-main-people-link" id="admin-main-people-link2">
                            перейти к клиентам
                            <svg width="4" height="8" viewBox="0 0 4 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 8L4 4L0 0L0 8Z" fill="#5900AC" />
                            </svg>
                        </a>
                    </div>
                </div>

            </div>
        </section>
    </main>

{% endblock %}

{% block script_js %}
    <script>
        $(document).ready(function () {

            $("#basicDate, #basicDate2").flatpickr({
                dateFormat: "d-m-Y",
                weekNumbers: true
            });
        });

    </script>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    {{ parent() }}
{% endblock %}
