{% extends 'layouts/main_a.twig' %}
{% from 'macro/msg_flash.twig' import msg_flash %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block nav %}
    {{ parent() }}
{% endblock %}

{% block main %}
<main class="account-distributors" id="account-admin">

        {{ msg_flash('msg', 'msg_arr', 1) }}

        {% if Message is not empty %}
            <div class="message-from-auth">
                {{ Message }}
            </div>
        {% endif %}

        <section class="admin-tabs">
            <div class="container">


                <div class="tabs-sort">
                    <a href="javascript:void(0);" class="tabs-sort-link">
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M9.85672 5.57138L5.99962 9.42847L2.14258 5.57138L3.42827 4.28569L5.14252 5.99994V0H6.85677V5.99994L8.57103 4.28569L9.85672 5.57138ZM11.9999 10.2852H0V11.9994H11.9999V10.2852Z"
                                fill="#5900AC" />
                        </svg>
                    </a>
                    <div class="tabs-sort-box">
                        <div class="diss-orders-topper-sort__title">
                            Сортировать:
                        </div>
                        <div class="wrap-drop" id="noble-gases">
                            <span>{{ ShowBasketItemForm.getOptionSort[ShowBasketItemForm.sort]|raw }}</span>
                            <ul class="drop">

                                <form method="POST">
                                    {{ csrf.get_html_token|raw }}
                                    <input class="send" type="hidden" value="" name="ShowBasketItemForm[sort]" >
                                    <input type="hidden" value="{{ ShowBasketItemForm.page }}" name="ShowBasketItemForm[page]" class="page_find" >
                                    <input type="hidden" value="{{ ShowBasketItemForm.city }}" name="ShowBasketItemForm[city]" id="city_find" >
                                    <input type="hidden" value="{{ ShowBasketItemForm.type }}" name="ShowBasketItemForm[type]" id="type_find" >
                                    <input type="hidden" value="0" name="ShowBasketItemForm[excel]" ><!-- value="0" всегда 0, что-бы с каждой перезагрузкой не загужался CSV -->
                                    {% for key, sort in ShowBasketItemForm.getOptionSort %}
                                        {% if key == ShowBasketItemForm.sort %}
                                            {% set select = 'class="selected"' %}
                                        {% else %}
                                            {% set select = '' %}
                                        {% endif %}
                                        <li {{ select }} data-value="{{ key }}"><a>{{ sort|raw }}</a></li>
                                    {% endfor %}
                                </form>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tabs">
                    <div class="tab">
                        <input type="radio" name="css-tabs" id="tab-1" class="tab-switch" {% if ShowBasketItemForm.page !=2 %}checked{% endif %}>
                        <label for="tab-1" class="tab-label">заказы дилеров</label>
                        <div class="tab-content">

                            <div class="tab-content-top">
                                <div class="tab-content-top__total">общее кол-во заказов:</div>
                                <div class="tab-content-top__totalnum">{{ ShowBasketItemForm.item_d|number_format }}</div>
                                <div class="tab-content-top__region">регион:</div>
                                <div class="tab-content-top__regiond">
                                    <div class="wrap-drop" id="noble-gases2">
                                        <span>{{ ShowBasketItemForm.city }}</span>
                                        <ul class="drop">
                                <form method="POST">
                                    <input class="send" type="hidden" value="" name="ShowBasketItemForm[city]" >
                                    <input type="hidden" value="{{ ShowBasketItemForm.page }}" name="ShowBasketItemForm[page]" class="page_find">
                                    <input type="hidden" value="{{ ShowBasketItemForm.type }}" name="ShowBasketItemForm[type]" >
                                    {{ csrf.get_html_token|raw }}
                                    {% for city in ShowBasketItemForm.menu_city %}
                                        {% if city.user == 'D' %}
                                            {% if city.city == ShowBasketItemForm.city %}
                                                {% set select = 'class="selected"' %}
                                            {% else %}
                                                {% set select = '' %}
                                            {% endif %}
                                            <li {{ select }} data-value="{{ city.city }}"><a>({{ city.row }}){{ city.city }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </form>
                                         </ul>
                                    </div>
                                </div>
                                <div class="tab-content-top__pay">оплачено:</div>
                                <div class="tab-content-top__payd">
                                    <div class="wrap-drop" id="noble-gases3">
                                        <span>{{ ShowBasketItemForm.type }}</span>
                                        <ul class="drop">
                                <form method="POST">
                                    <input class="send" type="hidden" value="" name="ShowBasketItemForm[type]" >
                                    <input type="hidden" value="{{ ShowBasketItemForm.page }}" name="ShowBasketItemForm[page]" class="page_find">
                                    <input type="hidden" value="{{ ShowBasketItemForm.city }}" name="ShowBasketItemForm[city]" >
                                    {{ csrf.get_html_token|raw }}
                                    {% for type in ShowBasketItemForm.option_paytype %}
                                        {% if type.utype == 'D' %}
                                            {% if type.paytype == ShowBasketItemForm.type %}
                                                {% set select = 'class="selected"' %}
                                            {% else %}
                                                {% set select = '' %}
                                            {% endif %}
                                            <li {{ select }} data-value="{{ type.paytype }}"><a>({{ type.row }}){{ type.paytype }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </form>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-content-top__totalsum">общая сумма:</div>
                                <div class="tab-content-top__totalsumnum">{{ ShowBasketItemForm.summ_d|number_format(0, '.', ' ') }} ₽</div>
                            </div>

                            <div class="diss-order-all">
                                <ul class="diss-order-all-wrap">

                                    {% for basket in ShowBasketItemForm.basket_arr %}
                                    {% if basket['basket_user_id'] %}
                                    <li class="diss-order-all-wrap__item">
                                        <input type="checkbox" checked class="diss-order-all-wrap__check">
                                        <i></i>
                                        <div class="diss-order-all-wrap__title">
                                            <div class="diss-order-all-wrap__order">Заказ № {{ basket['basket_id'] }}</div>
                                            <svg width="10" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.9783 2.93441C6.9783 4.55503 5.89662 5.86879 4.56243 5.86879C3.22816 5.86879 2.14648 4.55503 2.14648 2.93441C2.14648 1.31376 2.50168 0 4.56243 0C6.62317 0 6.9783 1.31376 6.9783 2.93441ZM5.886 6.09375C8.70747 6.60296 9.07618 7.40741 9.12093 10.2306C9.12377 10.4112 9.12528 10.4424 9.12604 10.4263L9.12586 10.6457C9.12586 10.6457 8.45407 11.9998 4.56312 11.9998C0.672103 11.9998 0.000377066 10.6457 0.000377066 10.6457C0.000377066 10.4882 0.000171429 10.3979 0 10.3491C0.000754286 10.3751 0.00270856 10.3633 0.0069257 10.1389C0.0583543 7.38992 0.449486 6.59741 3.24017 6.09375C3.24017 6.09375 3.63741 6.59984 4.56312 6.59984C5.48883 6.59984 5.886 6.09375 5.886 6.09375Z" fill="#5900AC" />
                                            </svg>
                                            <a href="javascript:void(0);" class="tab-content__person">{{ basket['basket_surname'] }} {{ basket['basket_name'] }} {{ basket['basket_middle_name'] }}</a>

                                {% if basket['basket_date_close'] %}
                                    <svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.7919 0.207983C11.5146 -0.0693357 11.0648 -0.0693354 10.7874 0.20803L4.51465 6.4808L1.21263 3.17879C0.935264 2.90142 0.485473 2.90142 0.20806 3.17879C-0.0693533 3.45615 -0.0693533 3.90594 0.20806 4.18335L4.01234 7.98763C4.15104 8.12634 4.33284 8.19567 4.5146 8.19567C4.69635 8.19567 4.8782 8.12629 5.01686 7.98763L11.7919 1.21255C12.0694 0.935187 12.0694 0.485396 11.7919 0.207983Z" fill="#2FA749" />
                                    </svg>
                                    <div class="diss-order-all-wrap__status diss-order-all-wrap__status_done">выполнен</div>
                                {% else %}
                                    <svg width="9" height="12" viewBox="0 0 9 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8.50001 1.36092V2.41383C8.50001 3.40453 8.07764 4.35279 7.3413 5.01539L6.24731 6L7.34133 6.98461C8.07766 7.64721 8.50003 8.59545 8.50003 9.58617V10.6391C8.79748 10.8125 9.00002 11.1314 9.00002 11.5V11.75C9.00002 11.8882 8.8882 12 8.75002 12H0.250008C0.11182 12 0 11.8882 0 11.75V11.5C0 11.1314 0.202547 10.8125 0.499992 10.6391V9.58617C0.499992 8.59545 0.922359 7.64721 1.6587 6.98461L2.75269 6L1.6587 5.01539C0.922359 4.35279 0.499992 3.40455 0.499992 2.41383V1.36095C0.202547 1.18751 0 0.86857 0 0.500016V0.250008C0 0.11182 0.11182 0 0.250008 0H8.74999C8.88818 0 9 0.11182 9 0.250008V0.499992C9 0.86857 8.79745 1.18751 8.50001 1.36092ZM5.16553 5.62842L6.67237 4.27221C7.19824 3.79882 7.5 3.12134 7.5 2.41383V1.5H1.5V2.41383C1.5 3.12134 1.80176 3.79882 2.32765 4.27219L3.83449 5.6284C3.93996 5.72311 4.00003 5.85813 4.00003 5.99998C4.00003 6.14182 3.93996 6.27682 3.83449 6.37155L2.32765 7.72777C1.80176 8.20116 1.5 8.87864 1.5 9.58617V10.5H2.12512L4.30003 7.6001C4.39427 7.47412 4.6057 7.47412 4.69995 7.6001L6.87488 10.5H7.5V9.58617C7.5 8.87866 7.19824 8.20118 6.67237 7.72779L5.16553 6.37158C5.06006 6.27687 4.99999 6.14184 4.99999 6C4.99999 5.85816 5.06006 5.72316 5.16553 5.62842ZM2.77634 3.5H6.22286C6.32174 3.5 6.41135 3.55836 6.45135 3.64869C6.49141 3.73927 6.47456 3.84474 6.4079 3.91798L4.66744 5.52395C4.61983 5.56714 4.55976 5.58863 4.49972 5.58863C4.43967 5.58863 4.3796 5.56716 4.332 5.52395L2.59128 3.91798C2.52462 3.84474 2.50779 3.73927 2.54782 3.64869C2.58785 3.55836 2.67745 3.5 2.77634 3.5Z" fill="#767676" />
                                    </svg>
                                    <div class="diss-order-all-wrap__status diss-order-all-wrap__status_sort">в обработке</div>
                                {% endif %}

                                            <svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.00002 1.20001H9.60001C10.263 1.20001 10.8 1.737 10.8 2.39999V10.8C10.8 11.463 10.263 12 9.60001 12H1.20001C0.53699 12 0 11.463 0 10.8L0.00601877 2.40002C0.00601877 1.737 0.537018 1.20001 1.20001 1.20001H1.8V0H3.00001V1.20001H7.80001V0H9.00002V1.20001ZM1.20001 10.8H9.60001V4.19999H1.20001V10.8ZM7.48248 5.40039L8.11847 6.03638L4.55448 9.60038L2.64648 7.69238L3.2825 7.05639L4.55448 8.3284L7.48248 5.40039Z" fill="#767676" />
                                            </svg>
                                            <div class="diss-order-all-wrap__date">{{ basket['basket_date_in']|slice(0, 10)|date("d.m.Y") }}</div>
                                            <div class="diss-order-all-wrap__sum">{{ (basket['summ_basket'] + basket['basket_transport'])|number_format(0, '.', ' ') }} ₽</div>
                                        </div>
                                        <div class="diss-order-all-wrap__text">
                                            <div class="diss-inner-first">
                                                <div class="diss-inner-first__sybol">№</div>
                                                <div class="diss-inner-first__name">наименование товара</div>
                                                <div class="diss-inner-first__qaunt">объем</div>
                                                <div class="diss-inner-fist__count">кол-во</div>
                                                <div class="diss-inner-first__price">цена</div>
                                                <div class="diss-inner-first__sum">сумма</div>
                                            </div>
                                            
                                                <ul class="diss-inner-second">
                                                    {% set num = 0 %}
                                                    {% for item in ShowBasketItemForm.item_arr %}
                                                        {% if basket['basket_id'] ==  item['basket_id'] %}
                                                            {% set num = num + 1 %}
                                                            <li class="diss-inner-second__item">
                                                                <div class="diss-inner-second__sybol">{{ num }}</div>
                                                                <div class="diss-inner-second__name">{{ item['basketitems_name'] }}</div>
                                                                <div class="diss-inner-second__qaunt">{{ item['basketitems_volume'] }} L</div>
                                                                <div class="diss-inner-second__count">{{ item['basketitems_cnt']|number_format }} шт.</div>
                                                                <div class="diss-inner-second__price">{{ item['basketitems_unitprice']|number_format(0, '.', ' ') }} ₽</div>
                                                                <div class="diss-inner-second__sum">{{ (item['basketitems_unitprice'] * item['basketitems_cnt'])|number_format(0, '.', ' ') }} ₽</div>
                                                            </li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            
                                            <div class="diss-order-subtotal">
                                                <div class="tab-content__address">
                                                    <div class="tab-content-addname">адрес:</div>
                                                    <div class="tab-content-addloc">
                                                        {{ basket['basket_index'] }},
                                                        {{ basket['basket_city'] }},
                                                        {{ basket['basket_address'] }},
                                                        {{ basket['basket_home'] }},
                                                        {{ basket['basket_corpus'] }},
                                                        {{ basket['basket_corpus'] }},
                                                        {{ basket['basket_flat'] }} этаж
                                                    </div>
                                                </div>
                                                <div class="tab-content__inner">
                                                    <div class="diss-order-subtotal__top">
                                                        <div class="diss-order-subtotal__firle">доставка:</div>
                                                        <div class="diss-order-subtotal__firri">{{ basket['basket_transport']|number_format(0, '.', ' ') }} ₽</div>
                                                    </div>
                                                    <div class="diss-order-subtotal__bottom">
                                                        <div class="diss-order-subtotal__secle">Итого:</div>
                                                        <div class="diss-order-subtotal__secri">{{ basket['summ_basket']|number_format(0, '.', ' ') }} ₽</div>
                                                    </div>
                                                </div>
                                            </div>
                                                <div class="tab-content__btn">
                                                    <a href="/moder-basket/edit/{{ basket['basket_id'] }}/" class="mymodal-form__btn">
                                                    изменить информацию
                                                    </a>
                                                </div>
                                        </div>
                                    </li>
                                    {% endif %}
                                    {% else %}
                                        Нет данных...
                                    {% endfor %}

                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="tab">
                        <input type="radio" name="css-tabs" id="tab-2" class="tab-switch" {% if ShowBasketItemForm.page ==2 %}checked{% endif %}>
                        <label for="tab-2" class="tab-label">заказы клиентов</label>
                        <div class="tab-content">
                            <div class="tab-content-top">
                                <div class="tab-content-top__total">общее кол-во заказов:</div>
                                <div class="tab-content-top__totalnum">{{ ShowBasketItemForm.item_c|number_format }}</div>
                                <div class="tab-content-top__region">регион:</div>
                                <div class="tab-content-top__regiond">
                                    <div class="wrap-drop" id="noble-gases4">
                                        <span>{{ ShowBasketItemForm.city }}</span>
                                        <ul class="drop">
                                <form method="POST">
                                    <input class="send" type="hidden" value="" name="ShowBasketItemForm[city]" >
                                    <input type="hidden" value="{{ ShowBasketItemForm.page }}" name="ShowBasketItemForm[page]" class="page_find">
                                    <input type="hidden" value="{{ ShowBasketItemForm.type }}" name="ShowBasketItemForm[type]" >
                                    {{ csrf.get_html_token|raw }}
                                    {% for city in ShowBasketItemForm.menu_city %}
                                        {% if city.user == 'C' %}
                                            {% if city.city == ShowBasketItemForm.city %}
                                                {% set select = 'class="selected"' %}
                                            {% else %}
                                                {% set select = '' %}
                                            {% endif %}
                                            <li {{ select }} data-value="{{ city.city }}"><a>({{ city.row }}){{ city.city }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </form>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-content-top__pay">оплачено:</div>
                                <div class="tab-content-top__payd">
                                    <div class="wrap-drop" id="noble-gases5">
                                        <span>{{ ShowBasketItemForm.type }}</span>
                                        <ul class="drop">
                                <form method="POST">
                                    <input class="send" type="hidden" value="" name="ShowBasketItemForm[type]" >
                                    <input type="hidden" value="{{ ShowBasketItemForm.page }}" name="ShowBasketItemForm[page]" class="page_find">
                                    <input type="hidden" value="{{ ShowBasketItemForm.city }}" name="ShowBasketItemForm[city]" >
                                    {{ csrf.get_html_token|raw }}
                                    {% for type in ShowBasketItemForm.option_paytype %}
                                        {% if type.utype == 'C' %}
                                            {% if type.paytype == ShowBasketItemForm.type %}
                                                {% set select = 'class="selected"' %}
                                            {% else %}
                                                {% set select = '' %}
                                            {% endif %}
                                            <li {{ select }} data-value="{{ type.paytype }}"><a>({{ type.row }}){{ type.paytype }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </form>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-content-top__totalsum">общая сумма:</div>
                                <div class="tab-content-top__totalsumnum">{{ ShowBasketItemForm.summ_c|number_format(0, '.', ' ') }} ₽</div>
                            </div>
                            <div class="diss-order-all">
                                <ul class="diss-order-all-wrap">
                                    {% for basket in ShowBasketItemForm.basket_arr %}
                                    {% if basket['basket_user_id'] is empty %}
                                    <li class="diss-order-all-wrap__item">
                                        <input type="checkbox" checked class="diss-order-all-wrap__check">
                                        <i></i>
                                        <div class="diss-order-all-wrap__title">
                                            <div class="diss-order-all-wrap__order">Заказ № {{ basket['basket_id'] }}</div>
                                            <svg width="10" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.9783 2.93441C6.9783 4.55503 5.89662 5.86879 4.56243 5.86879C3.22816 5.86879 2.14648 4.55503 2.14648 2.93441C2.14648 1.31376 2.50168 0 4.56243 0C6.62317 0 6.9783 1.31376 6.9783 2.93441ZM5.886 6.09375C8.70747 6.60296 9.07618 7.40741 9.12093 10.2306C9.12377 10.4112 9.12528 10.4424 9.12604 10.4263L9.12586 10.6457C9.12586 10.6457 8.45407 11.9998 4.56312 11.9998C0.672103 11.9998 0.000377066 10.6457 0.000377066 10.6457C0.000377066 10.4882 0.000171429 10.3979 0 10.3491C0.000754286 10.3751 0.00270856 10.3633 0.0069257 10.1389C0.0583543 7.38992 0.449486 6.59741 3.24017 6.09375C3.24017 6.09375 3.63741 6.59984 4.56312 6.59984C5.48883 6.59984 5.886 6.09375 5.886 6.09375Z"
                                                    fill="#5900AC" />
                                            </svg>
                                            <a href="javascript:void(0);" class="tab-content__person">{{ basket['basket_surname'] }} {{ basket['basket_name'] }} {{ basket['basket_middle_name'] }}</a>

                                {% if basket['basket_date_close'] %}
                                    <svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.7919 0.207983C11.5146 -0.0693357 11.0648 -0.0693354 10.7874 0.20803L4.51465 6.4808L1.21263 3.17879C0.935264 2.90142 0.485473 2.90142 0.20806 3.17879C-0.0693533 3.45615 -0.0693533 3.90594 0.20806 4.18335L4.01234 7.98763C4.15104 8.12634 4.33284 8.19567 4.5146 8.19567C4.69635 8.19567 4.8782 8.12629 5.01686 7.98763L11.7919 1.21255C12.0694 0.935187 12.0694 0.485396 11.7919 0.207983Z" fill="#2FA749" />
                                    </svg>
                                    <div class="diss-order-all-wrap__status diss-order-all-wrap__status_done">выполнен</div>
                                {% else %}
                                    <svg width="9" height="12" viewBox="0 0 9 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8.50001 1.36092V2.41383C8.50001 3.40453 8.07764 4.35279 7.3413 5.01539L6.24731 6L7.34133 6.98461C8.07766 7.64721 8.50003 8.59545 8.50003 9.58617V10.6391C8.79748 10.8125 9.00002 11.1314 9.00002 11.5V11.75C9.00002 11.8882 8.8882 12 8.75002 12H0.250008C0.11182 12 0 11.8882 0 11.75V11.5C0 11.1314 0.202547 10.8125 0.499992 10.6391V9.58617C0.499992 8.59545 0.922359 7.64721 1.6587 6.98461L2.75269 6L1.6587 5.01539C0.922359 4.35279 0.499992 3.40455 0.499992 2.41383V1.36095C0.202547 1.18751 0 0.86857 0 0.500016V0.250008C0 0.11182 0.11182 0 0.250008 0H8.74999C8.88818 0 9 0.11182 9 0.250008V0.499992C9 0.86857 8.79745 1.18751 8.50001 1.36092ZM5.16553 5.62842L6.67237 4.27221C7.19824 3.79882 7.5 3.12134 7.5 2.41383V1.5H1.5V2.41383C1.5 3.12134 1.80176 3.79882 2.32765 4.27219L3.83449 5.6284C3.93996 5.72311 4.00003 5.85813 4.00003 5.99998C4.00003 6.14182 3.93996 6.27682 3.83449 6.37155L2.32765 7.72777C1.80176 8.20116 1.5 8.87864 1.5 9.58617V10.5H2.12512L4.30003 7.6001C4.39427 7.47412 4.6057 7.47412 4.69995 7.6001L6.87488 10.5H7.5V9.58617C7.5 8.87866 7.19824 8.20118 6.67237 7.72779L5.16553 6.37158C5.06006 6.27687 4.99999 6.14184 4.99999 6C4.99999 5.85816 5.06006 5.72316 5.16553 5.62842ZM2.77634 3.5H6.22286C6.32174 3.5 6.41135 3.55836 6.45135 3.64869C6.49141 3.73927 6.47456 3.84474 6.4079 3.91798L4.66744 5.52395C4.61983 5.56714 4.55976 5.58863 4.49972 5.58863C4.43967 5.58863 4.3796 5.56716 4.332 5.52395L2.59128 3.91798C2.52462 3.84474 2.50779 3.73927 2.54782 3.64869C2.58785 3.55836 2.67745 3.5 2.77634 3.5Z" fill="#767676" />
                                    </svg>
                                    <div class="diss-order-all-wrap__status diss-order-all-wrap__status_sort">в обработке</div>
                                {% endif %}

                                            <svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.00002 1.20001H9.60001C10.263 1.20001 10.8 1.737 10.8 2.39999V10.8C10.8 11.463 10.263 12 9.60001 12H1.20001C0.53699 12 0 11.463 0 10.8L0.00601877 2.40002C0.00601877 1.737 0.537018 1.20001 1.20001 1.20001H1.8V0H3.00001V1.20001H7.80001V0H9.00002V1.20001ZM1.20001 10.8H9.60001V4.19999H1.20001V10.8ZM7.48248 5.40039L8.11847 6.03638L4.55448 9.60038L2.64648 7.69238L3.2825 7.05639L4.55448 8.3284L7.48248 5.40039Z"
                                                    fill="#767676" />
                                            </svg>
                                            <div class="diss-order-all-wrap__date">{{ basket['basket_date_in']|slice(0, 10)|date("d.m.Y") }}</div>
                                            <div class="diss-order-all-wrap__sum">{{ (basket['summ_basket'] + basket['basket_transport'])|number_format(0, '.', ' ') }} ₽</div>
                                        </div>
                                        <div class="diss-order-all-wrap__text">
                                            <div class="diss-inner-first">
                                                <div class="diss-inner-first__sybol">№</div>
                                                <div class="diss-inner-first__name">наименование товара</div>
                                                <div class="diss-inner-first__qaunt">объем</div>
                                                <div class="diss-inner-fist__count">кол-во</div>
                                                <div class="diss-inner-first__price">цена</div>
                                                <div class="diss-inner-first__sum">сумма</div>
                                            </div>
                                            <ul class="diss-inner-second">
                                                {% set num = 0 %}
                                                {% for item in ShowBasketItemForm.item_arr %}
                                                    {% if basket['basket_id'] ==  item['basket_id'] %}
                                                        {% set num = num + 1 %}
                                                        <li class="diss-inner-second__item">
                                                            <div class="diss-inner-second__sybol">{{ num }}</div>
                                                            <div class="diss-inner-second__name">{{ item['basketitems_name'] }}</div>
                                                            <div class="diss-inner-second__qaunt">{{ item['basketitems_volume'] }} L</div>
                                                            <div class="diss-inner-second__count">{{ item['basketitems_cnt']|number_format }} шт.</div>
                                                            <div class="diss-inner-second__price">{{ item['basketitems_unitprice']|number_format(0, '.', ' ') }} ₽</div>
                                                            <div class="diss-inner-second__sum">{{ (item['basketitems_unitprice'] * item['basketitems_cnt'])|number_format(0, '.', ' ') }} ₽</div>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                            <div class="diss-order-subtotal">
                                                <div class="tab-content__address">
                                                    <div class="tab-content-addname">адрес:</div>
                                                    <div class="tab-content-addloc">
                                                        {{ basket['basket_index'] }},
                                                        {{ basket['basket_city'] }},
                                                        {{ basket['basket_address'] }},
                                                        {{ basket['basket_home'] }},
                                                        {{ basket['basket_corpus'] }},
                                                        {{ basket['basket_corpus'] }},
                                                        {{ basket['basket_flat'] }} этаж
                                                    </div>
                                                </div>
                                                <div class="tab-content__inner">
                                                    <div class="diss-order-subtotal__top">
                                                        <div class="diss-order-subtotal__firle">доставка:</div>
                                                        <div class="diss-order-subtotal__firri">{{ basket['basket_transport']|number_format(0, '.', ' ') }} ₽</div>
                                                    </div>
                                                    <div class="diss-order-subtotal__bottom">
                                                        <div class="diss-order-subtotal__secle">Итого:</div>
                                                        <div class="diss-order-subtotal__secri">{{ basket['summ_basket']|number_format(0, '.', ' ') }} ₽</div>
                                                    </div>
                                                </div>
                                            </div>
                                                       <div class="tab-content__btn">
                                                            <a href="/moder-basket/edit/{{ basket['basket_id'] }}/" class="mymodal-form__btn">
                                                                изменить информацию
                                                            </a>
                                                        </div>
                                        </div>
                                    </li>
                                    {% endif %}
                                    {% else %}
                                        Нет данных...
                                    {% endfor %}


                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

    </main>
{% endblock %}

{% block script_js %}
    <script>
        $(document).ready(function () {
            function DropDown(el) {
                this.dd = el;
                this.placeholder = this.dd.children('span');
                this.opts = this.dd.find('ul.drop li');
                this.val = '';
                this.index = -1;
                this.initEvents();
            }

            DropDown.prototype = {
                initEvents: function () {
                    var obj = this;
                    obj.dd.on('click', function (e) {
                        e.preventDefault();
                        e.stopPropagation();
                        $(this).toggleClass('active');
                    });
                    obj.opts.on('click', function () {
                        var opt = $(this);
                        obj.val = opt.text();
                        obj.index = opt.index();
                        obj.placeholder.text(obj.val);
                        opt.siblings().removeClass('selected');
                        opt.filter(':contains("' + obj.val + '")').addClass('selected');

                        $("input[name='ShowBasketItemForm[excel]']").val(0);
                        $(this).parents("form").find("input.send").val(opt.data('value')).parent().submit();

                    }).change();
                },
                getValue: function () {
                    return this.val;
                },
                getIndex: function () {
                    return this.index;
                }
            };

            $(function () {
                // create new variable for each menu
                var dd1 = new DropDown($('#noble-gases'));
                // var dd2 = new DropDown($('#other-gases'));
                $(document).click(function () {
                    // close menu on document click
                    $('.wrap-drop').removeClass('active');
                });
            });

            $(function () {
                // create new variable for each menu
                var dd2 = new DropDown($('#noble-gases2'));
                // var dd2 = new DropDown($('#other-gases'));
                $(document).click(function () {
                    // close menu on document click
                    $('.wrap-drop').removeClass('active');
                });
            });

            $(function () {
                // create new variable for each menu
                var dd3 = new DropDown($('#noble-gases3'));
                // var dd2 = new DropDown($('#other-gases'));
                $(document).click(function () {
                    // close menu on document click
                    $('.wrap-drop').removeClass('active');
                });
            });

            $(function () {
                // create new variable for each menu
                var dd4 = new DropDown($('#noble-gases4'));
                // var dd2 = new DropDown($('#other-gases'));
                $(document).click(function () {
                    // close menu on document click
                    $('.wrap-drop').removeClass('active');
                });
            });

            $(function () {
                // create new variable for each menu
                var dd5 = new DropDown($('#noble-gases5'));
                // var dd2 = new DropDown($('#other-gases'));
                $(document).click(function () {
                    // close menu on document click
                    $('.wrap-drop').removeClass('active');
                });
            });



            /*
            //Иницилизаия старта страницы отображения списков (какую таблицу показать при открытии страницы)(дилеры-клиенты)
            //$("#tab-{{ ShowBasketItemForm.page }}").prop("checked", true);
            //Поле формы сортировки (какую таблицу показать при открытии страницы)(дилеры-клиенты)
            $("#page_find").val({{ ShowBasketItemForm.page }});
            */

            //Триггер формы сортировки (какую таблицу показать при открытии страницы)(дилеры-клиенты)
            //Меняеется 'INPUT VALUE' во время кликов (по RADIO)
            $("#tab-1").on('change', function(){
                $(".page_find").val(1);
            });
            $("#tab-2").on('change', function(){
                $(".page_find").val(2);
            });
            $(".tabs-sort-link").on('click', function(){
                $("input[name='ShowBasketItemForm[excel]']").val(1).parent().submit();
            });


        });
    </script>

    {{ parent() }}
{% endblock %}
