{% extends 'layouts/main_a.twig' %}
{% from 'macro/show_msg.twig' import show_msg %}
{% from 'macro/msg_flash.twig' import msg_flash %}

{% block head %}
    {{ parent() }}
<!-- Date picker CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block nav %}
    {{ parent() }}
{% endblock %}

{% block main %}
<main class="account-distributors" id="account-admin">
    {{ msg_flash('msg', 'msg_arr', 1) }}
        <div class="container">
            <div class="admin-profile">
                
                <div class="admin-profile__left">
                    
                    <div class="admin-profile-box">
                        <div class="admin-profile__top">
                            <h1 class="admin-profile__title">Личные данные</h1>
                            <a href="javascript:void(0);" class="admin-profile__link" id="admin-profile__link1">
                                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16.4701 2.0685L14.9296 0.527887C14.2257 -0.175979 13.0806 -0.175946 12.3767 0.527887L11.7738 1.13088L15.8672 5.22459L16.4701 4.62159C17.1756 3.91607 17.1757 2.77409 16.4701 2.0685ZM0.730857 12.5088L0.00833108 16.4109C-0.0215182 16.5721 0.0298797 16.7378 0.145857 16.8538C0.261967 16.9699 0.427649 17.0212 0.588716 16.9913L4.49044 16.2687L0.730857 12.5088ZM1.26783 11.6374L11.0696 1.83491L15.163 5.92862L5.36121 15.7311L1.26783 11.6374Z" fill="#5900AC" />
                                </svg>
                            </a>
                        </div>
                        <ul class="admin-profile-list">
                            <li class="admin-profile-list__item">
                                <h2 class="admin-profile-list__title">Имя</h2>
                                <div class="admin-profile-list__var">{{ dealer['info_name'] }}</div>
                            </li>
                            <li class="admin-profile-list__item">
                                <h2 class="admin-profile-list__title">Фамилия</h2>
                                <div class="admin-profile-list__var">{{ dealer['info_famuly'] }}</div>
                            </li>
                        </ul>
                        <div class="admin-profile-line"></div>
                        <div class="admin-profile__top">
                            <h1 class="admin-profile__title">Контактные данные</h1>
                        </div>
                        <ul class="admin-profile-list">
                            <li class="admin-profile-list__item">
                                <h2 class="admin-profile-list__title">Номер<br>телефона</h2>
                                <div class="admin-profile-list__var">{{ dealer['info_phone'] }}</div>
                            </li>
                            <li class="admin-profile-list__item">
                                <h2 class="admin-profile-list__title">E-mail</h2>
                                <div class="admin-profile-list__var">{{ dealer['info_email'] }}</div>
                            </li>
                        </ul>
                    </div>
                    <form method="POST" action="/admin/editpersonal/{{ user['users_id'] }}/">
                    {{ csrf.get_html_token|raw }}
                    <div class="admin-profile-personal {% if app.session.hasFlash("personal") %}add{% endif %}">
                        <div class="admin-profile__top">
                            <h1 class="admin-profile__title">изменить личные данные</h1>
                        </div>
                        <ul class="admin-profile-list">
                            <li class="admin-profile-list__item">
                                <h2 class="admin-profile-list__title">имя</h2>
                                <input type="text" class="admin-profile-list__var" value='{{ dealer['info_name'] }}' name="UserinfoForm[name]">
                            </li>
                            <li class="admin-profile-list__item">
                                <h2 class="admin-profile-list__title">фамилия</h2>
                                <input type="text" class="admin-profile-list__var" value='{{ dealer['info_famuly'] }}' name="UserinfoForm[famuly]">
                            </li>
                            <li class="admin-profile-list__item">
                                <h2 class="admin-profile-list__title">отчество</h2>
                                <input type="text" class="admin-profile-list__var" value='{{ dealer['info_otchestvo'] }}' name="UserinfoForm[otchestvo]">
                            </li>
                            <li class="admin-profile-list__item">
                                <h2 class="admin-profile-list__title">номер<br>телефона</h2>
                                <input type="text" class="admin-profile-list__var" value='{{ dealer['info_phone'] }}' name="UserinfoForm[phone]">
                            </li>
                            <li class="admin-profile-list__item">
                                <h2 class="admin-profile-list__title">E-mail</h2>
                                <input type="text" class="admin-profile-list__var" value='{{ dealer['info_email'] }}' name="UserinfoForm[email]">
                            </li>
                            <li class="admin-profile-list__item">
                                <h2 class="admin-profile-list__title">день<br>рождения</h2>
                                <div class="diss-reports-dates__date">
                                <input id="birthDate" type="text" class="admin-profile-list__var flatpickr-input" value='{{ dealer['info_birth']|date("d-m-Y") }}' name="UserinfoForm[birth]">
                                <svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="diss-reports-dates__icon" >
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M9.00002 1.20001H9.60001C10.263 1.20001 10.8 1.737 10.8 2.39999V10.8C10.8 11.463 10.263 12 9.60001 12H1.20001C0.53699 12 0 11.463 0 10.8L0.00601877 2.40002C0.00601877 1.737 0.537018 1.20001 1.20001 1.20001H1.8V0H3.00001V1.20001H7.80001V0H9.00002V1.20001ZM1.20001 10.8H9.60001V4.19999H1.20001V10.8ZM7.48193 5.40067L8.11792 6.03666L4.55392 9.60066L2.64593 7.69266L3.28194 7.05667L4.55392 8.32868L7.48193 5.40067Z"
                                        fill="#5900AC" />
                                </svg>
                                </div>
                            </li>
                            <li class="admin-profile-list__item">
                                <h2 class="admin-profile-list__title">ID<br>telegramm</h2>
                                <input type="text" class="admin-profile-list__var" title="{{ userInfo.attributeLabels.id_telegramm }}" value='{{ dealer['info_idtelegramm'] }}' name="UserinfoForm[id_telegramm]">
                            </li>
                        </ul>
                        <a href="javascript:void(0);" class="admin-profile-personal__submit">отправить</a>
                        
                        {% if user['info_idtelegramm']  is empty %}
                            <div class="admin-profile-line"></div>
                            {% if app.session.hasFlash("personal") %}
                                <a href="/login/settelegram/{{ user['users_id'] }}/" class="mymodal-form__btn">Нажать после отправки кода из письма</a>
                            {% else %}
                                <a href="/login/gettelegram/{{ user['users_id'] }}/" class="mymodal-form__btn">Получить ID телеграм</a>
                            {% endif %}
                        {% endif %}
                        
                    </div>
                    </form>
                </div>
                        
                <div class="admin-profile__right">
                    
                    <div class="admin-profile-box">
                        <div class="admin-profile__top">
                            <h1 class="admin-profile__title">данные для входа</h1>
                            <a href="javascript:void(0);" class="admin-profile__link" id="admin-profile__link2">
                                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16.4701 2.0685L14.9296 0.527887C14.2257 -0.175979 13.0806 -0.175946 12.3767 0.527887L11.7738 1.13088L15.8672 5.22459L16.4701 4.62159C17.1756 3.91607 17.1757 2.77409 16.4701 2.0685ZM0.730857 12.5088L0.00833108 16.4109C-0.0215182 16.5721 0.0298797 16.7378 0.145857 16.8538C0.261967 16.9699 0.427649 17.0212 0.588716 16.9913L4.49044 16.2687L0.730857 12.5088ZM1.26783 11.6374L11.0696 1.83491L15.163 5.92862L5.36121 15.7311L1.26783 11.6374Z"
                                        fill="#5900AC" />
                                </svg>
                            </a>
                        </div>
                        <ul class="admin-profile-list">
                            <li class="admin-profile-list__item">
                                <h2 class="admin-profile-list__title">логин</h2>
                                <div class="admin-profile-list__var">{{ dealer['users_login'] }}</div>
                            </li>
                            <li class="admin-profile-list__item">
                                <h2 class="admin-profile-list__title">пароль</h2>
                                <div class="admin-profile-list__var">***</div>
                            </li>
                        </ul>
                    </div>
                    <form method="POST">
                    {{ csrf.get_html_token|raw }}
                    <div class="admin-profile-change">
                        <div class="admin-profile__top">
                            <h1 class="admin-profile__title">изменить данные для входа</h1>
                        </div>
                        <ul class="admin-profile-list">
                            <li class="admin-profile-list__item">
                                <h2 class="admin-profile-list__title">новый<br>логин</h2>
                                <input type="text" class="admin-profile-list__var" value='{{ dealer['users_login'] }}' name="UsersForm[login]">
                            </li>
                            <li class="admin-profile-list__item">
                                <h2 class="admin-profile-list__title">новый<br>пароль</h2>
                                <input type="text" class="admin-profile-list__var" name="UsersForm[password_0]">
                            </li>
                            <li class="admin-profile-list__item">
                                <h2 class="admin-profile-list__title">новый<br>пароль</h2>
                                <input type="text" class="admin-profile-list__var" name="UsersForm[password]">
                            </li>
                        </ul>
                        <div class="admin-profile-line"></div>
                        <div class="admin-profile__top">
                            <h1 class="admin-profile__title">действующий e-mail</h1>
                        </div>
                        <div class="admin-profile-change__explain">
                            На этот адрес будет отправлен код подтверждения для изменения данных.
                        </div>
                        <ul class="admin-profile-list">
                            <li class="admin-profile-list__item">
                                <h2 class="admin-profile-list__title">E-mail</h2>
                                <input type="text" class="admin-profile-list__var" value='{{ dealer['info_email'] }}' name="UserinfoForm[email]">
                            </li>
                        </ul>
                        <a href="javascript:void(0);" class="admin-profile-change__submit">отправить</a>
                    </div>
                    </form>
                    <form method="POST" action="/admin/changep/{{ user['users_id'] }}/">
                    {{ csrf.get_html_token|raw }}
                    <div class="admin-profile-submit">
                        <div class="admin-profile__top">
                            <h1 class="admin-profile__title">изменить данные для входа</h1>
                        </div>
                        <ul class="admin-profile-list">
                            <li class="admin-profile-list__item">
                                <h2 class="admin-profile-list__title">новый<br>логин</h2>
                                <div class="admin-profile-list__var">{{ dealer['users_login'] }}</div>
                            </li>
                            <li class="admin-profile-list__item">
                                <h2 class="admin-profile-list__title">новый<br>пароль</h2>
                                <div class="admin-profile-list__var">{{ new_pass }}</div>
                            </li>
                            <li class="admin-profile-list__item">
                                <h2 class="admin-profile-list__title">новый<br>пароль</h2>
                                <div class="admin-profile-list__var">{{ new_pass }}</div>
                            </li>
                        </ul>
                        <div class="admin-profile-line"></div>
                        <div class="admin-profile__top">
                            <h1 class="admin-profile__title">код подтверждения</h1>
                        </div>
                        <div class="admin-profile-submit__code">
                            <div class="admin-profile-submit__title">введите код</div>
                            <input type="text" class="admin-profile-submit__in" maxlength="1" name="CodepForm[c1]">
                            <input type="text" class="admin-profile-submit__in" maxlength="1" name="CodepForm[c2]">
                            <input type="text" class="admin-profile-submit__in" maxlength="1" name="CodepForm[c3]">
                            <input type="text" class="admin-profile-submit__in" maxlength="1" name="CodepForm[c4]">
                            <input type="text" class="admin-profile-submit__in" maxlength="1" name="CodepForm[c5]">
                            <input type="text" class="admin-profile-submit__in" maxlength="1" name="CodepForm[c6]">
                        </div>
                        <a href="javascript:void(0);" class="admin-profile-change__submit">
                            сохранить изменения
                        </a>
                    </div>
                    </form>
                            
                </div>
                
            </div>
        </div>
    </main>
{% endblock %}

{% block script_js %}
    <script>
    $(document).ready(function () {
            
        $("#birthDate").flatpickr({
            dateFormat: "d-m-Y",
            weekNumbers: true
        });

    
        $(".admin-profile-change .admin-profile-change__submit").on('click', function(){
            $(this).parents('form').submit();
        });
        $(".admin-profile-submit .admin-profile-change__submit").on('click', function(){
            $(this).parents('form').submit();
        });
        $(".admin-profile-personal .admin-profile-personal__submit").on('click', function(){
            $(this).parents('form').submit();
        });
        
        var flag_to_form2 = {{ flag_to_form2|number_format }};
        
        if(flag_to_form2){
            $(".admin-profile-submit").addClass("add");
        }
        
        
        
        
        
        
    });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    {{ parent() }}
{% endblock %}
