{% extends 'layouts/main_a.twig' %}
{% from 'macro/msg_flash.twig' import msg_flash %}

{% block head %}
    {{ parent() }}
<!-- Date picker CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block nav %}
    {{ parent() }}
{% endblock %}

{% block main %}
<main class="account-distributors" id="account-admin">
    {{ msg_flash('msg', 'msg_arr', 1) }}
    <section class="diss-reports" id="diss-reports">
            <div class="container">
                <div class="diss-reports-wrap">
                    <div class="diss-reports-titles">
                        <h1 class="diss-reports-titles__title">отчеты</h1>
                        <div class="diss-reports-titles_subtitle">Показано {{ (RepAdmForm.list_items|length)|number_format }} отчетов</div>
                    </div>
                    <form id="form_admin_reports" method="POST">
                    {{ csrf.get_html_token|raw }}
                    <div class="diss-reports-select">
                        <div class="diss-reports-dates">
                            <div class="diss-reports-dates__left">
                                <div class="diss-reports-dates__text">дата начала</div>
                                <div class="diss-reports-dates__date">
                                    <input type="text" id="basicDate" placeholder="Выберите дату" data-input name="RepAdmForm[d_min]"
                                        class="diss-reports-dates__input" value="{{ RepAdmForm.d_min|date("d-m-Y") }}">
                                    <svg width="11" height="12" viewBox="0 0 11 12" fill="none"
                                        class="diss-reports-dates__icon" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M9.00002 1.20001H9.60001C10.263 1.20001 10.8 1.737 10.8 2.39999V10.8C10.8 11.463 10.263 12 9.60001 12H1.20001C0.53699 12 0 11.463 0 10.8L0.00601877 2.40002C0.00601877 1.737 0.537018 1.20001 1.20001 1.20001H1.8V0H3.00001V1.20001H7.80001V0H9.00002V1.20001ZM1.20001 10.8H9.60001V4.19999H1.20001V10.8ZM7.48193 5.40067L8.11792 6.03666L4.55392 9.60066L2.64593 7.69266L3.28194 7.05667L4.55392 8.32868L7.48193 5.40067Z"
                                            fill="#5900AC" />
                                    </svg>
                                </div>
                            </div>
                            <div class="diss-reports-dates__right">
                                <div class="diss-reports-dates__text">дата окончания</div>
                                <div class="diss-reports-dates__date">
                                    <input type="text" id="basicDate2" placeholder="Выберите дату" data-input name="RepAdmForm[d_max]"
                                        class="diss-reports-dates__input" value="{{ RepAdmForm.d_max|date("d-m-Y") }}">
                                    <svg width="11" height="12" viewBox="0 0 11 12" fill="none"
                                        class="diss-reports-dates__icon" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M9.00002 1.20001H9.60001C10.263 1.20001 10.8 1.737 10.8 2.39999V10.8C10.8 11.463 10.263 12 9.60001 12H1.20001C0.53699 12 0 11.463 0 10.8L0.00601877 2.40002C0.00601877 1.737 0.537018 1.20001 1.20001 1.20001H1.8V0H3.00001V1.20001H7.80001V0H9.00002V1.20001ZM1.20001 10.8H9.60001V4.19999H1.20001V10.8ZM7.48193 5.40067L8.11792 6.03666L4.55392 9.60066L2.64593 7.69266L3.28194 7.05667L4.55392 8.32868L7.48193 5.40067Z"
                                            fill="#5900AC" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="diss-reports-week">
                            <div class="diss-reports-week__left">
                                <div class="diss-reports-week__text">группировать</div>
                                <div class="wrap-drop" id="noble-gases">
                                    
                                    <span>{{ RepAdmForm.getOptionGroups[RepAdmForm.group] }}</span>
                                    <ul class="drop">
                                        <input type="hidden" value="{{ RepAdmForm.group }}" name="RepAdmForm[group]" />
                                        {% for key, group in RepAdmForm.getOptionGroups %}
                                            {% if key == RepAdmForm.group %}
                                                {% set select = 'class="selected"' %}
                                            {% else %}
                                                {% set select = '' %}
                                            {% endif %}
                                            <li {{ select }} data-value="{{ key }}"><a>{{ group }}</a></li>
                                        {% endfor %}
                                    </ul>
                                    
                                </div>
                            </div>
                            <div class="diss-reports-week__right">
                                <div class="diss-reports-week__text">статус заказа</div>
                                <div class="wrap-drop" id="noble-gases2">
                                    
                                    <span>{{ RepAdmForm.getOptionStatuses[RepAdmForm.status] }}</span>
                                    <ul class="drop">
                                        <input type="hidden" value="{{ RepAdmForm.status }}" name="RepAdmForm[status]" >
                                        {% for key, status in RepAdmForm.getOptionStatuses %}
                                            {% if key == RepAdmForm.status %}
                                                {% set select = 'class="selected"' %}
                                            {% else %}
                                                {% set select = '' %}
                                            {% endif %}
                                            <li {{ select }} data-value="{{ key }}"><a>{{ status }}</a></li>
                                        {% endfor %}
                                    </ul>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="diss-reports-products">
                            <div class="diss-reports-products__left">
                                <div class="diss-reports-week__text">товар</div>
                                <div class="wrap-drop" id="noble-gases3">
                                    
                                <span>{{ RepAdmForm.getOptionProduct[RepAdmForm.tovar]['prods_name'] }}{% if RepAdmForm.getOptionProduct[RepAdmForm.tovar]['prods_volume'] %} - {{ RepAdmForm.getOptionProduct[RepAdmForm.tovar]['prods_volume'] }} L{% endif %}</span>
                                <ul class="drop">
                                    <input type="hidden" value="{{ RepAdmForm.tovar }}" name="RepAdmForm[tovar]" >
                                    {% for prod in RepAdmForm.getOptionProduct %}
                                        {% if prod['prods_id'] == RepAdmForm.tovar %}
                                            {% set select = 'class="selected"' %}
                                        {% else %}
                                            {% set select = '' %}
                                        {% endif %}
                                        <li {{ select }} data-value="{{ prod['prods_id'] }}"><a>{{ prod['prods_name'] }}{% if prod['prods_volume'] %} - {{ prod['prods_volume'] }} L{% endif %}</a></li>
                                    {% endfor %}
                                </ul>
                                    
                                </div>
                            </div>
                            <div class="diss-reports-products__right">
                                <div class="diss-reports-week__text">ПОКУПАТЕЛИ</div>
                                <div class="wrap-drop" id="noble-gases4">
                                    
                                    <span>{{ RepAdmForm.getOptionUsers[RepAdmForm.users] }}</span>
                                    <ul class="drop">
                                        <input type="hidden" value="{{ RepAdmForm.users }}" name="RepAdmForm[users]" >
                                        {% for key, users in RepAdmForm.getOptionUsers %}
                                            {% if key == RepAdmForm.users %}
                                                {% set select = 'class="selected"' %}
                                            {% else %}
                                                {% set select = '' %}
                                            {% endif %}
                                            <li {{ select }} data-value="{{ key }}"><a>{{ users }}</a></li>
                                        {% endfor %}
                                    </ul>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                    
                    
                    
                    <div class="diss-report-box-titles" id="diss-report-box-titles">
                        <div class="diss-report-box-titles__start">
                            дата начала
                        </div>
                        <div class="diss-report-box-titles__end">
                            дата окончания
                        </div>
                        <div class="diss-report-box-titles__quant">
                            кол-во заказов
                        </div>
                        <div class="diss-report-box-titles__each">
                            кол-во товаров
                        </div>
                        <div class="diss-report-box-titles__total">
                            итого
                        </div>
                    </div>
                    <div class="diss-reports-box">
                        <div class="diss-report-box-titles">
                            <div class="diss-report-box-titles__start">
                                дата начала
                            </div>
                            <div class="diss-report-box-titles__end">
                                дата окончания
                            </div>
                            <div class="diss-report-box-titles__quant">
                                кол-во заказов
                            </div>
                            <div class="diss-report-box-titles__each">
                                кол-во товаров
                            </div>
                            <div class="diss-report-box-titles__total">
                                итого
                            </div>
                        </div>
                        <ul class="diss-reports-all">
                            {% if RepAdmForm.list_items %}
                            {% for item in RepAdmForm.list_items %}
                                <li class="diss-reporst-all__item">
                                    <div class="diss-reporst-all__start">{{ item['dmin']|date("d-m-Y") }}</div>
                                    <div class="diss-reporst-all__end">{{ item['dmax']|date("d-m-Y") }}</div>
                                    <div class="diss-reporst-all__quant">{{ item['bsk'] }}</div>
                                    <div class="diss-reporst-all__each">{{ item['cnt'] }}</div>
                                    <div class="diss-reporst-all__total">{{ item['price']|number_format(0, '.', ' ') }} ₽</div>
                                </li>
                            {% endfor %}
                            {% else %}
                            нет данных ...
                            {% endif %}

                        </ul>
                    </div>
                </div>
            </div>
        </section>


    </main>


{% endblock %}

{% block script_js %}
    <script>
        $(document).ready(function () {

            $("#basicDate, #basicDate2").flatpickr({
                dateFormat: "d-m-Y",
                weekNumbers: true
            });

            function DropDown(el) {
                this.dd = el;
                this.placeholder = this.dd.children('span');
                this.opts = this.dd.find('ul.drop li');
                this.val = '';
                this.index = -1;
                this.initEvents();
            }

            DropDown.prototype = {
                initEvents: function () {
                    var obj = this;
                    obj.dd.on('click', function (e) {
                        e.preventDefault();
                        e.stopPropagation();
                        $(this).toggleClass('active');
                    });
                    obj.opts.on('click', function () {
                        var opt = $(this);
                        obj.val = opt.text();
                        obj.index = opt.index();
                        obj.placeholder.text(obj.val);
                        opt.siblings().removeClass('selected');
                        opt.filter(':contains("' + obj.val + '")').addClass('selected');
                        
                        $(this).siblings("input").val(opt.data('value'));
                        $("#form_admin_reports").submit();

                    }).change();
                },
                getValue: function () {
                    return this.val;
                },
                getIndex: function () {
                    return this.index;
                }
            };

            $(function () {
                // create new variable for each menu
                var dd1 = new DropDown($('#noble-gases'));
                // var dd2 = new DropDown($('#other-gases'));
                $(document).click(function () {
                    // close menu on document click
                    $('.wrap-drop').removeClass('active');
                });
            });

            $(function () {
                // create new variable for each menu
                var dd2 = new DropDown($('#noble-gases2'));
                // var dd2 = new DropDown($('#other-gases'));
                $(document).click(function () {
                    // close menu on document click
                    $('.wrap-drop').removeClass('active');
                });
            });

            $(function () {
                // create new variable for each menu
                var dd3 = new DropDown($('#noble-gases3'));
                // var dd2 = new DropDown($('#other-gases'));
                $(document).click(function () {
                    // close menu on document click
                    $('.wrap-drop').removeClass('active');
                });
            });

            $(function () {
                // create new variable for each menu
                var dd4 = new DropDown($('#noble-gases4'));
                // var dd2 = new DropDown($('#other-gases'));
                $(document).click(function () {
                    // close menu on document click
                    $('.wrap-drop').removeClass('active');
                });
            });
            
            $("#form_admin_reports :input").on('change', function(){
                $("#form_admin_reports").submit();
            });
            
            
            
        });

    </script>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    {{ parent() }}
{% endblock %}
