<script>

    let prod_tree =  JSON.parse('{{ prod_tree|json_encode()|raw  }}');

    $(document).ready(function() {

        {% include '/js_prod_basket.twig' %}

        function OnChangeInputValueBasketItem(){
            $( '#count-prod-in-basket' ).text( calck().full_count );
            $( '#full-payment' ).text( calck().full_summ );
            if( $( 'span' ).is( '#emiz_premium' ) ){
                $( '#emiz_premium' ).text( calck().good.emiz_premium );
            };
            if( $( 'span' ).is( '#emiz_tavr' ) ){
                $( '#emiz_tavr' ).text( calck().good.emiz_tavr );
            };
            if( $( 'span' ).is( '#pasta' ) ){
                $( '#pasta' ).text( calck().good.pasta );
            };
            $( '#count-prod-in-basket' ).text( calck().full_count );
            $( '#full-payment' ).text( calck().full_summ );
            $( '#{{ good_name }}' ).text( calck().good.{{ good_name }} );
        }


        update_basket_in_page();

        OnChangeInputValueBasketItem();

        $(".custom-option").on("click", function() {
            let src_separate = $( '.products-hero-floating-wrap__img' ).attr( 'src' ).split( '/' );
            src_separate[src_separate.length - 1] = $( this ).data( 'img' );
            let str = '';
            src_separate.forEach(function(item, i, arr) {
                str = str + '/' + item;
            });
            let uniq_id = $( this ).data( 'uniq_id' );
            $( '.products-hero-floating-wrap__img' ).attr( 'src', str.substring(1) );
            $( '.custom-option' ).removeClass( 'selected' );
            $( this ).addClass( 'selected' );
            $( '#prod-value' ).text( $( this ).data( 'value' ) );
            $( '.products-hero-wrap-info__number' ).text( $( this ).data( 'price' ) );
            $( '.products-hero-wrap-buy-box-list__item' ).addClass( 'thisInactive' );
            $( '.' + uniq_id ).removeClass( 'thisInactive' );
        });


        $( '.cart-counter-list__minus' ).on( 'click', function(){
            let par = $( this ).parent( '.products-hero-wrap-buy-box-list__item' );
            let in_put = par.find( '.count-item-in-basket' );
            let count = in_put.val();
            if( count < 0 ) {
                in_put.val( '0' );
                alert ( 'Количество товара не может быть меньше 0');
            } else {
                if( count == 0) {
                    in_put.val( '0' );
                    alert ( 'Количество товара не может быть меньше 0');
                } else {
                    in_put.val( (count -1 ) );
                    in_put.change();
                }
            }
        });

        $( '.cart-counter-list__plus' ).on( 'click', function(){
            let par = $( this ).parent( '.products-hero-wrap-buy-box-list__item' );
            let in_put = par.find( '.count-item-in-basket' );
            let count = parseInt( in_put.val(), 10 );
            if( count == 9999 ) {
                in_put.val( '9999' );
                alert ( 'Количество товара превышено');
            } else {
                in_put.val( (count +1  ) );
                in_put.change();
            }
        });

    });
</script>