<!DOCTYPE html>
<html lang="{{ app.language }}">
    <head>
        {% block head %}
            <!-- Viewport -->
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- Description -->
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="keywords" content="">
            <meta name="description" content="">
            <meta name="author" content="">
            <meta name="copyright" content="">
            <title>{{ html.encode(this.title) }} | Emiz</title>
            {{ this.registerCsrfMetaTags()|raw }}

            <!-- Favicon -->
            <link rel="icon" href="/img/fav.png" type="image/png">
            <link rel="shortcut icon" href="/img/fav.png" type="image/png">      
            <link rel="stylesheet" href="/css/predoader.css">
            <!-- JQuery -->
               <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
            </script>

            <!-- Fonts -->
            <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap&subset=cyrillic-ext"
                rel="stylesheet">
            <!-- Owl slider CSS -->
            <link rel="stylesheet" href="/css/style_emiz.css">
            <link rel="stylesheet" href="/css/owl.carousel.min.css">
            <link rel="stylesheet" href="/css/owl.theme.default.min.css">
            <link rel="stylesheet" href="/css/animate.css">
            <!-- Plyr player CSS -->
            <link rel="stylesheet" href="/css/plyr.css">
            <!-- Arctic Modal Css -->
            <link rel="stylesheet" href="/css/jquery.arcticmodal-0.3.css">
            <link rel="stylesheet" href="/css/dark.css">
            <!-- AOS CSS -->
            <link rel="stylesheet" href="/css/aos.css">
            <!-- Main CSS -->
            <link rel="stylesheet" href="/css/main_basic.css">
            <!-- Media -->
            <link rel="stylesheet" href="/css/media.css">
            {% endblock %}

        <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
            (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
                m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

            ym(65017435, "init", {
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true
            });
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/65017435" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->

        </head>
    <body class="{{ data_title['body_class'] }}" id="body">
    <!-- Preloader -->
    <div class="preloader-wrapper">
        <div class="preloader-opacity">
             <div class="wrapper">
                <svg width="100" height="140" viewBox="0 0 31 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="line-animation"
                          d="M9.57016 24.0564C10.5743 20.6798 14.1765 18.7413 17.6169 19.727C18.6661 20.0276 19.6209 20.5835 20.3928 21.3431L20.4005 21.3355C21.2138 22.1339 22.25 22.6776 23.3781 22.8978C24.5061 23.1181 25.6754 23.0051 26.7381 22.5731C27.8007 22.1411 28.709 21.4094 29.348 20.4707C29.987 19.532 30.3281 18.4283 30.3281 17.2993C30.3281 17.1653 30.3241 17.0386 30.3162 16.9193C30.2204 15.5063 29.613 14.1734 28.6035 13.1616C27.6304 12.1915 26.319 11.58 24.8668 11.58C24.7495 11.58 24.6384 11.5834 24.5335 11.5901C15.6643 12.1566 14.191 19.4299 9.39383 21.5867C8.0106 22.2097 6.44823 22.3355 4.98007 21.942C3.51191 21.5485 2.23144 20.6609 1.36268 19.4343C0.493933 18.2077 0.0922203 16.7204 0.227829 15.2324C0.363436 13.7445 1.02773 12.3508 2.10449 11.295C4.36369 9.07779 7.28984 8.99764 9.98335 10.307C10.7745 10.6977 11.5226 11.1672 12.2158 11.7082C12.6814 12.0659 13.208 12.3396 13.7711 12.5166C14.3747 12.7067 15.005 12.8022 15.6389 12.7996C16.7689 12.7997 17.8744 12.4768 18.8204 11.8702C19.7663 11.2636 20.5118 10.3996 20.9656 9.38386C21.4194 8.36811 21.5619 7.24459 21.3757 6.15062C21.1895 5.05665 20.6826 4.03963 19.9171 3.22386C19.1515 2.40809 18.1604 1.82891 17.0649 1.55712C15.9694 1.28533 14.817 1.33269 13.7485 1.69343C12.68 2.05416 11.7417 2.71264 11.0482 3.58838C10.3548 4.46411 9.93637 5.51917 9.84398 6.62459C9.78309 7.36632 9.11297 7.34179 9.1728 6.59004C9.45436 3.08384 12.5787 0.465847 16.1507 0.742571C19.7227 1.01929 22.3898 4.08571 22.1079 7.59191C21.9795 9.18916 21.2424 10.6802 20.0436 11.7677C18.8449 12.8551 17.2726 13.4591 15.6403 13.4591C14.9355 13.4614 14.2347 13.3546 13.5638 13.1426C12.9254 12.9411 12.3286 12.6298 11.8012 12.2233C11.1446 11.7111 10.436 11.2665 9.68666 10.8967C7.23001 9.70205 4.61005 9.76804 2.57962 11.7604C1.61515 12.7073 1.02038 13.9567 0.899275 15.2904C0.77817 16.6241 1.13843 17.9571 1.91709 19.0565C2.69575 20.1559 3.84327 20.9517 5.15907 21.3048C6.47487 21.6579 7.87525 21.5459 9.11543 20.9883C13.8316 18.8678 15.2912 11.5224 24.4916 10.9326C24.6243 10.9243 24.7496 10.9198 24.8668 10.9198C26.5066 10.9198 27.9859 11.6084 29.0811 12.7004C30.2034 13.8254 30.8789 15.3072 30.9856 16.8782C30.9952 17.0245 31 17.1648 31 17.2993C31.0003 18.3465 30.7375 19.3776 30.2347 20.3013C29.732 21.2249 29.0048 22.0125 28.1178 22.5943C27.2307 23.1761 26.2112 23.5341 25.1494 23.6365C24.0877 23.739 23.0166 23.5828 22.0311 23.1817C21.8849 23.1223 21.7411 23.0577 21.5996 22.9879C22.166 24.0991 22.3888 25.3486 22.2406 26.5826C22.0924 27.8166 21.5797 28.981 20.7656 29.9325C19.9515 30.8839 18.8716 31.5808 17.6589 31.9372C16.4463 32.2936 15.1539 32.294 13.9411 31.9384C13.1851 31.7169 13.4223 31.0992 14.1227 31.3065C15.3777 31.6764 16.7231 31.6198 17.9413 31.1458C19.1594 30.6718 20.1789 29.8082 20.8348 28.6947C21.6056 27.3834 21.8144 25.8253 21.4153 24.363C21.0162 22.9006 20.0419 21.6536 18.7066 20.8961C17.9486 20.4664 17.1017 20.2102 16.2289 20.1465C15.3561 20.0828 14.4798 20.2133 13.6655 20.5282C12.8512 20.8431 12.1198 21.3343 11.5257 21.9652C10.9317 22.5962 10.4904 23.3505 10.2346 24.1722C9.99567 24.9422 9.36637 24.745 9.57051 24.0564H9.57016Z" />
                    <path class="line-animation"
                          d="M9.57016 24.0564C10.5743 20.6798 14.1765 18.7413 17.6169 19.727C18.6661 20.0276 19.6209 20.5835 20.3928 21.3431L20.4005 21.3355C21.2138 22.1339 22.25 22.6776 23.3781 22.8978C24.5061 23.1181 25.6754 23.0051 26.7381 22.5731C27.8007 22.1411 28.709 21.4094 29.348 20.4707C29.987 19.532 30.3281 18.4283 30.3281 17.2993C30.3281 17.1653 30.3241 17.0386 30.3162 16.9193C30.2204 15.5063 29.613 14.1734 28.6035 13.1616C27.6304 12.1915 26.319 11.58 24.8668 11.58C24.7495 11.58 24.6384 11.5834 24.5335 11.5901C15.6643 12.1566 14.191 19.4299 9.39383 21.5867C8.0106 22.2097 6.44823 22.3355 4.98007 21.942C3.51191 21.5485 2.23144 20.6609 1.36268 19.4343C0.493933 18.2077 0.0922203 16.7204 0.227829 15.2324C0.363436 13.7445 1.02773 12.3508 2.10449 11.295C4.36369 9.07779 7.28984 8.99764 9.98335 10.307C10.7745 10.6977 11.5226 11.1672 12.2158 11.7082C12.6814 12.0659 13.208 12.3396 13.7711 12.5166C14.3747 12.7067 15.005 12.8022 15.6389 12.7996C16.7689 12.7997 17.8744 12.4768 18.8204 11.8702C19.7663 11.2636 20.5118 10.3996 20.9656 9.38386C21.4194 8.36811 21.5619 7.24459 21.3757 6.15062C21.1895 5.05665 20.6826 4.03963 19.9171 3.22386C19.1515 2.40809 18.1604 1.82891 17.0649 1.55712C15.9694 1.28533 14.817 1.33269 13.7485 1.69343C12.68 2.05416 11.7417 2.71264 11.0482 3.58838C10.3548 4.46411 9.93637 5.51917 9.84398 6.62459C9.78309 7.36632 9.11297 7.34179 9.1728 6.59004C9.45436 3.08384 12.5787 0.465847 16.1507 0.742571C19.7227 1.01929 22.3898 4.08571 22.1079 7.59191C21.9795 9.18916 21.2424 10.6802 20.0436 11.7677C18.8449 12.8551 17.2726 13.4591 15.6403 13.4591C14.9355 13.4614 14.2347 13.3546 13.5638 13.1426C12.9254 12.9411 12.3286 12.6298 11.8012 12.2233C11.1446 11.7111 10.436 11.2665 9.68666 10.8967C7.23001 9.70205 4.61005 9.76804 2.57962 11.7604C1.61515 12.7073 1.02038 13.9567 0.899275 15.2904C0.77817 16.6241 1.13843 17.9571 1.91709 19.0565C2.69575 20.1559 3.84327 20.9517 5.15907 21.3048C6.47487 21.6579 7.87525 21.5459 9.11543 20.9883C13.8316 18.8678 15.2912 11.5224 24.4916 10.9326C24.6243 10.9243 24.7496 10.9198 24.8668 10.9198C26.5066 10.9198 27.9859 11.6084 29.0811 12.7004C30.2034 13.8254 30.8789 15.3072 30.9856 16.8782C30.9952 17.0245 31 17.1648 31 17.2993C31.0003 18.3465 30.7375 19.3776 30.2347 20.3013C29.732 21.2249 29.0048 22.0125 28.1178 22.5943C27.2307 23.1761 26.2112 23.5341 25.1494 23.6365C24.0877 23.739 23.0166 23.5828 22.0311 23.1817C21.8849 23.1223 21.7411 23.0577 21.5996 22.9879C22.166 24.0991 22.3888 25.3486 22.2406 26.5826C22.0924 27.8166 21.5797 28.981 20.7656 29.9325C19.9515 30.8839 18.8716 31.5808 17.6589 31.9372C16.4463 32.2936 15.1539 32.294 13.9411 31.9384C13.1851 31.7169 13.4223 31.0992 14.1227 31.3065C15.3777 31.6764 16.7231 31.6198 17.9413 31.1458C19.1594 30.6718 20.1789 29.8082 20.8348 28.6947C21.6056 27.3834 21.8144 25.8253 21.4153 24.363C21.0162 22.9006 20.0419 21.6536 18.7066 20.8961C17.9486 20.4664 17.1017 20.2102 16.2289 20.1465C15.3561 20.0828 14.4798 20.2133 13.6655 20.5282C12.8512 20.8431 12.1198 21.3343 11.5257 21.9652C10.9317 22.5962 10.4904 23.3505 10.2346 24.1722C9.99567 24.9422 9.36637 24.745 9.57051 24.0564H9.57016Z" />
                </svg>
            </div>
        </div>
    </div>

    {% block nav %}
    <!-- Mobile navigation menu -->

    <div class="device">
        <div class="device-container">
             <div id="mob-lang-change">
                 {{ t_('app', '_LANG_VIEW_IN_MAIN_MENU_')|raw }}
                </div>
            <button id="burger" class="open-main-nav">
                <span class="burger"></span>
            </button>
            <nav class="main-nav" id="main-nav">
            
{% if data_title['path'] == 'site' %}
    {% set act_menu_1 = 'menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-8' %}
    {% set act_menu_2 = '' %}
    {% set act_menu_3 = '' %}
    {% set act_menu_4 = '' %}
    {% set act_menu_5 = '' %}
{% elseif data_title['path'] == 'products' %}
    {% set act_menu_1 = 'menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-8' %}
    {% set act_menu_2 = 'current-menu-item page_item page-item-10 current_page_item' %}
    {% set act_menu_3 = '' %}
    {% set act_menu_4 = '' %}
    {% set act_menu_5 = '' %}
{% elseif data_title['path'] == 'partners' %}
    {% set act_menu_1 = 'menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-8' %}
    {% set act_menu_2 = '' %}
    {% set act_menu_3 = 'current-menu-item page_item page-item-14 current_page_item' %}
    {% set act_menu_4 = '' %}
    {% set act_menu_5 = '' %}
{% elseif data_title['path'] == 'FAQ' %}
    {% set act_menu_1 = 'menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-8' %}
    {% set act_menu_2 = '' %}
    {% set act_menu_3 = '' %}
    {% set act_menu_4 = 'current-menu-item page_item page-item-18 current_page_item' %}
    {% set act_menu_5 = '' %}
{% elseif data_title['path'] == 'contact' %}
    {% set act_menu_1 = 'menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-8' %}
    {% set act_menu_2 = '' %}
    {% set act_menu_3 = '' %}
    {% set act_menu_4 = '' %}
    {% set act_menu_5 = 'current-menu-item page_item page-item-22 current_page_item' %}
{% elseif data_title['path'] == 'cart' %}
    {% set act_menu_1 = 'menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-8' %}
    {% set act_menu_2 = '' %}
    {% set act_menu_3 = '' %}
    {% set act_menu_4 = '' %}
    {% set act_menu_5 = '' %}
{% endif %}

<ul id = "menu-header-menu" class = "">
<li id="menu-item-8" class="{{ act_menu_1 }}"><a href="/{{ get_lang.lang() }}/" aria-current="page">{{ t_('app', '_MENU_MAIN_')|raw }}</a></li>
<li id="menu-item-29" class="menu-item menu-item-type-post_type menu-item-object-page {{ act_menu_2 }} menu-item-29"><a href="/products/{{ get_lang.lang() }}/">{{ t_('app', '_MENU_PRODUCTS_')|raw }}</a></li>
<li id="menu-item-28" class="menu-item menu-item-type-post_type menu-item-object-page {{ act_menu_3 }} menu-item-28"><a href="/partners/{{ get_lang.lang() }}/">{{ t_('app', '_MENU_TO_PARTHNERS_')|raw }}</a></li>
<li id="menu-item-27" class="menu-item menu-item-type-post_type menu-item-object-page {{ act_menu_4 }} menu-item-27"><a href="/faq/{{ get_lang.lang() }}/">{{ t_('app', '_MENU_FAQ_')|raw }}</a></li>
<li id="menu-item-26" class="menu-item menu-item-type-post_type menu-item-object-page {{ act_menu_5 }} menu-item-26"><a href="/contact/{{ get_lang.lang() }}/">{{ t_('app', '_MENU_CONTACTS_')|raw }}</a></li>
</ul>            </nav>
        </div>
    </div>

    <!-- Mobile navigation bar -->

    <div class="mob-nav">
        <div class="container">
            <div class="mob-nav-wrapper">
                <div class="logo-wrapper">
                    <a href="/{{ get_lang.lang() }}/" class="mob-nav-logo">
                        <svg width="33" height="47" viewBox="0 0 33 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="logo-top" id="mob-nav-logo-1"
                                d="M7.28685 41.2776H4.55085V40.7336H7.27085C7.20151 40.1256 6.93751 39.6162 6.47885 39.2056C5.95618 38.7469 5.31351 38.5176 4.55085 38.5176C3.90551 38.5176 3.34018 38.6562 2.85485 38.9336C2.68951 39.0296 2.52951 39.1416 2.37485 39.2696C2.33751 39.2962 2.28418 39.3442 2.21485 39.4136L2.15085 39.4776L2.10285 39.5256L1.73485 39.1336L1.80685 39.0616L1.87885 38.9816C1.97485 38.8962 2.03885 38.8376 2.07085 38.8056C2.24685 38.6562 2.43085 38.5282 2.62285 38.4216C3.17218 38.1229 3.81485 37.9736 4.55085 37.9736C5.40951 37.9736 6.15351 38.2376 6.78285 38.7656C7.48685 39.3576 7.83885 40.1362 7.83885 41.1016C7.83885 42.0936 7.48151 42.8829 6.76685 43.4696C6.14818 43.9762 5.43618 44.2296 4.63085 44.2296C3.92151 44.2296 3.26551 44.0616 2.66285 43.7256C2.42818 43.5922 2.22818 43.4589 2.06285 43.3256C2.04151 43.3096 2.00685 43.2802 1.95885 43.2376C1.91085 43.1949 1.87618 43.1656 1.85485 43.1496L1.77485 43.0696L1.74285 43.0456L1.71085 43.0136L2.08685 42.6136L2.11085 42.6376L2.14285 42.6696L2.21485 42.7336C2.23618 42.7549 2.26818 42.7816 2.31085 42.8136C2.35351 42.8456 2.38285 42.8696 2.39885 42.8856C2.56951 43.0242 2.74551 43.1442 2.92685 43.2456C3.44951 43.5389 4.01751 43.6856 4.63085 43.6856C5.39351 43.6856 6.02818 43.4322 6.53485 42.9256C6.99885 42.4722 7.24951 41.9229 7.28685 41.2776ZM15.5811 38.1016V44.1016H15.0371V39.1736H15.0211L12.6211 43.2616L10.2211 39.1736H10.2051V44.1016H9.6611V38.1016H10.2051L12.6211 42.2856L15.0371 38.1016H15.5811ZM18.046 44.1016V38.1016H18.59V43.3096H18.606L22.798 38.1016H23.342V44.1016H22.798V38.9176H22.782L18.59 44.1016H18.046ZM28.5135 44.1016H25.3615V43.5576H28.5135C29.4522 43.5576 29.9215 43.1896 29.9215 42.4536C29.9215 42.0802 29.7935 41.7896 29.5375 41.5816C29.2922 41.3896 28.9509 41.2936 28.5135 41.2936H27.5375V40.7496H28.5135C28.8389 40.7496 29.1082 40.6562 29.3215 40.4696C29.5402 40.2669 29.6495 40.0056 29.6495 39.6856C29.6495 39.3762 29.5562 39.1282 29.3695 38.9416C29.1722 38.7442 28.8869 38.6456 28.5135 38.6456H25.5455V38.1016H28.5135C28.9882 38.1016 29.3882 38.2509 29.7135 38.5496C30.0335 38.8482 30.1935 39.2269 30.1935 39.6856C30.1935 40.0056 30.1135 40.2962 29.9535 40.5576C29.9055 40.6322 29.8389 40.7176 29.7535 40.8136C29.7375 40.8349 29.7082 40.8669 29.6655 40.9096L29.6255 40.9416L29.5935 40.9736C29.6095 40.9789 29.6309 40.9922 29.6575 41.0136C29.6842 41.0349 29.7029 41.0482 29.7135 41.0536C29.7775 41.0909 29.8255 41.1256 29.8575 41.1576C29.9695 41.2536 30.0629 41.3496 30.1375 41.4456C30.3562 41.7282 30.4655 42.0642 30.4655 42.4536C30.4655 42.9549 30.2895 43.3549 29.9375 43.6536C29.5749 43.9522 29.1002 44.1016 28.5135 44.1016Z"
                                fill="#7d5a9d" />
                            <path class="logo-bottom" id="mob-nav-logo-2"
                                d="M10.5702 24.0552C11.5743 20.6786 15.1765 18.7401 18.6169 19.7258C19.6661 20.0264 20.6209 20.5823 21.3928 21.3419L21.4005 21.3343C22.2138 22.1326 23.25 22.6763 24.3781 22.8966C25.5061 23.1169 26.6754 23.0039 27.7381 22.5719C28.8007 22.1398 29.709 21.4082 30.348 20.4695C30.987 19.5308 31.3281 18.4271 31.3281 17.2981C31.3281 17.1641 31.3241 17.0374 31.3162 16.9181C31.2204 15.5051 30.613 14.1722 29.6035 13.1604C28.6304 12.1903 27.319 11.5788 25.8668 11.5788C25.7495 11.5788 25.6384 11.5822 25.5335 11.5888C16.6643 12.1554 15.191 19.4286 10.3938 21.5854C9.0106 22.2085 7.44823 22.3342 5.98007 21.9408C4.51191 21.5473 3.23144 20.6596 2.36268 19.4331C1.49393 18.2065 1.09222 16.7191 1.22783 15.2312C1.36344 13.7433 2.02773 12.3495 3.10449 11.2938C5.36369 9.07656 8.28984 8.99642 10.9834 10.3058C11.7745 10.6964 12.5226 11.166 13.2158 11.707C13.6814 12.0647 14.208 12.3384 14.7711 12.5154C15.3747 12.7055 16.005 12.801 16.6389 12.7983C17.7689 12.7985 18.8744 12.4756 19.8204 11.869C20.7663 11.2624 21.5118 10.3984 21.9656 9.38264C22.4194 8.36689 22.5619 7.24337 22.3757 6.1494C22.1895 5.05543 21.6826 4.0384 20.9171 3.22264C20.1515 2.40687 19.1604 1.82769 18.0649 1.5559C16.9694 1.28411 15.817 1.33147 14.7485 1.69221C13.68 2.05294 12.7417 2.71142 12.0482 3.58715C11.3548 4.46289 10.9364 5.51795 10.844 6.62337C10.7831 7.3651 10.113 7.34057 10.1728 6.58882C10.4544 3.08262 13.5787 0.464626 17.1507 0.74135C20.7227 1.01807 23.3898 4.08449 23.1079 7.59069C22.9795 9.18794 22.2424 10.679 21.0436 11.7664C19.8449 12.8539 18.2726 13.4579 16.6403 13.4578C15.9355 13.4602 15.2347 13.3534 14.5638 13.1414C13.9254 12.9398 13.3286 12.6286 12.8012 12.2221C12.1446 11.7099 11.436 11.2653 10.6867 10.8955C8.23001 9.70083 5.61005 9.76682 3.57962 11.7592C2.61515 12.706 2.02038 13.9555 1.89927 15.2892C1.77817 16.6229 2.13843 17.9559 2.91709 19.0553C3.69575 20.1547 4.84327 20.9505 6.15907 21.3036C7.47487 21.6567 8.87525 21.5447 10.1154 20.9871C14.8316 18.8666 16.2912 11.5211 25.4916 10.9314C25.6243 10.9231 25.7496 10.9186 25.8668 10.9186C27.5066 10.9186 28.9859 11.6072 30.0811 12.6992C31.2034 13.8242 31.8789 15.306 31.9856 16.877C31.9952 17.0232 32 17.1636 32 17.2981C32.0003 18.3453 31.7375 19.3764 31.2347 20.3C30.732 21.2237 30.0048 22.0113 29.1178 22.5931C28.2307 23.1748 27.2112 23.5328 26.1494 23.6353C25.0877 23.7378 24.0166 23.5815 23.0311 23.1805C22.8849 23.1211 22.7411 23.0565 22.5996 22.9867C23.166 24.0979 23.3888 25.3474 23.2406 26.5814C23.0924 27.8154 22.5797 28.9798 21.7656 29.9312C20.9515 30.8827 19.8716 31.5796 18.6589 31.936C17.4463 32.2924 16.1539 32.2928 14.9411 31.9372C14.1851 31.7157 14.4223 31.098 15.1227 31.3053C16.3777 31.6752 17.7231 31.6186 18.9413 31.1446C20.1594 30.6706 21.1789 29.807 21.8348 28.6935C22.6056 27.3822 22.8144 25.8241 22.4153 24.3617C22.0162 22.8994 21.0419 21.6524 19.7066 20.8948C18.9486 20.4652 18.1017 20.209 17.2289 20.1453C16.3561 20.0816 15.4798 20.212 14.6655 20.5269C13.8512 20.8418 13.1198 21.3331 12.5257 21.964C11.9317 22.5949 11.4904 23.3493 11.2346 24.1709C10.9957 24.941 10.3664 24.7437 10.5705 24.0552H10.5702Z"
                                fill="#7d5a9d" />
                        </svg>
                    </a>
                </div>

            </div>
        </div>

    </div>

    <nav class="fixed-nav">
        <div class="container">
            <div class="fixed-nav-wrap">

                <a href="/{{ get_lang.lang() }}/" class="fixed-nav-logo">
                    <svg width="33" height="47" viewBox="0 0 33 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="logo-path"
                            d="M7.28685 41.2776H4.55085V40.7336H7.27085C7.20151 40.1256 6.93751 39.6162 6.47885 39.2056C5.95618 38.7469 5.31351 38.5176 4.55085 38.5176C3.90551 38.5176 3.34018 38.6562 2.85485 38.9336C2.68951 39.0296 2.52951 39.1416 2.37485 39.2696C2.33751 39.2962 2.28418 39.3442 2.21485 39.4136L2.15085 39.4776L2.10285 39.5256L1.73485 39.1336L1.80685 39.0616L1.87885 38.9816C1.97485 38.8962 2.03885 38.8376 2.07085 38.8056C2.24685 38.6562 2.43085 38.5282 2.62285 38.4216C3.17218 38.1229 3.81485 37.9736 4.55085 37.9736C5.40951 37.9736 6.15351 38.2376 6.78285 38.7656C7.48685 39.3576 7.83885 40.1362 7.83885 41.1016C7.83885 42.0936 7.48151 42.8829 6.76685 43.4696C6.14818 43.9762 5.43618 44.2296 4.63085 44.2296C3.92151 44.2296 3.26551 44.0616 2.66285 43.7256C2.42818 43.5922 2.22818 43.4589 2.06285 43.3256C2.04151 43.3096 2.00685 43.2802 1.95885 43.2376C1.91085 43.1949 1.87618 43.1656 1.85485 43.1496L1.77485 43.0696L1.74285 43.0456L1.71085 43.0136L2.08685 42.6136L2.11085 42.6376L2.14285 42.6696L2.21485 42.7336C2.23618 42.7549 2.26818 42.7816 2.31085 42.8136C2.35351 42.8456 2.38285 42.8696 2.39885 42.8856C2.56951 43.0242 2.74551 43.1442 2.92685 43.2456C3.44951 43.5389 4.01751 43.6856 4.63085 43.6856C5.39351 43.6856 6.02818 43.4322 6.53485 42.9256C6.99885 42.4722 7.24951 41.9229 7.28685 41.2776ZM15.5811 38.1016V44.1016H15.0371V39.1736H15.0211L12.6211 43.2616L10.2211 39.1736H10.2051V44.1016H9.6611V38.1016H10.2051L12.6211 42.2856L15.0371 38.1016H15.5811ZM18.046 44.1016V38.1016H18.59V43.3096H18.606L22.798 38.1016H23.342V44.1016H22.798V38.9176H22.782L18.59 44.1016H18.046ZM28.5135 44.1016H25.3615V43.5576H28.5135C29.4522 43.5576 29.9215 43.1896 29.9215 42.4536C29.9215 42.0802 29.7935 41.7896 29.5375 41.5816C29.2922 41.3896 28.9509 41.2936 28.5135 41.2936H27.5375V40.7496H28.5135C28.8389 40.7496 29.1082 40.6562 29.3215 40.4696C29.5402 40.2669 29.6495 40.0056 29.6495 39.6856C29.6495 39.3762 29.5562 39.1282 29.3695 38.9416C29.1722 38.7442 28.8869 38.6456 28.5135 38.6456H25.5455V38.1016H28.5135C28.9882 38.1016 29.3882 38.2509 29.7135 38.5496C30.0335 38.8482 30.1935 39.2269 30.1935 39.6856C30.1935 40.0056 30.1135 40.2962 29.9535 40.5576C29.9055 40.6322 29.8389 40.7176 29.7535 40.8136C29.7375 40.8349 29.7082 40.8669 29.6655 40.9096L29.6255 40.9416L29.5935 40.9736C29.6095 40.9789 29.6309 40.9922 29.6575 41.0136C29.6842 41.0349 29.7029 41.0482 29.7135 41.0536C29.7775 41.0909 29.8255 41.1256 29.8575 41.1576C29.9695 41.2536 30.0629 41.3496 30.1375 41.4456C30.3562 41.7282 30.4655 42.0642 30.4655 42.4536C30.4655 42.9549 30.2895 43.3549 29.9375 43.6536C29.5749 43.9522 29.1002 44.1016 28.5135 44.1016Z" />
                        <path class="logo-path"
                            d="M10.5702 24.0552C11.5743 20.6786 15.1765 18.7401 18.6169 19.7258C19.6661 20.0264 20.6209 20.5823 21.3928 21.3419L21.4005 21.3343C22.2138 22.1326 23.25 22.6763 24.3781 22.8966C25.5061 23.1169 26.6754 23.0039 27.7381 22.5719C28.8007 22.1398 29.709 21.4082 30.348 20.4695C30.987 19.5308 31.3281 18.4271 31.3281 17.2981C31.3281 17.1641 31.3241 17.0374 31.3162 16.9181C31.2204 15.5051 30.613 14.1722 29.6035 13.1604C28.6304 12.1903 27.319 11.5788 25.8668 11.5788C25.7495 11.5788 25.6384 11.5822 25.5335 11.5888C16.6643 12.1554 15.191 19.4286 10.3938 21.5854C9.0106 22.2085 7.44823 22.3342 5.98007 21.9408C4.51191 21.5473 3.23144 20.6596 2.36268 19.4331C1.49393 18.2065 1.09222 16.7191 1.22783 15.2312C1.36344 13.7433 2.02773 12.3495 3.10449 11.2938C5.36369 9.07656 8.28984 8.99642 10.9834 10.3058C11.7745 10.6964 12.5226 11.166 13.2158 11.707C13.6814 12.0647 14.208 12.3384 14.7711 12.5154C15.3747 12.7055 16.005 12.801 16.6389 12.7983C17.7689 12.7985 18.8744 12.4756 19.8204 11.869C20.7663 11.2624 21.5118 10.3984 21.9656 9.38264C22.4194 8.36689 22.5619 7.24337 22.3757 6.1494C22.1895 5.05543 21.6826 4.0384 20.9171 3.22264C20.1515 2.40687 19.1604 1.82769 18.0649 1.5559C16.9694 1.28411 15.817 1.33147 14.7485 1.69221C13.68 2.05294 12.7417 2.71142 12.0482 3.58715C11.3548 4.46289 10.9364 5.51795 10.844 6.62337C10.7831 7.3651 10.113 7.34057 10.1728 6.58882C10.4544 3.08262 13.5787 0.464626 17.1507 0.74135C20.7227 1.01807 23.3898 4.08449 23.1079 7.59069C22.9795 9.18794 22.2424 10.679 21.0436 11.7664C19.8449 12.8539 18.2726 13.4579 16.6403 13.4578C15.9355 13.4602 15.2347 13.3534 14.5638 13.1414C13.9254 12.9398 13.3286 12.6286 12.8012 12.2221C12.1446 11.7099 11.436 11.2653 10.6867 10.8955C8.23001 9.70083 5.61005 9.76682 3.57962 11.7592C2.61515 12.706 2.02038 13.9555 1.89927 15.2892C1.77817 16.6229 2.13843 17.9559 2.91709 19.0553C3.69575 20.1547 4.84327 20.9505 6.15907 21.3036C7.47487 21.6567 8.87525 21.5447 10.1154 20.9871C14.8316 18.8666 16.2912 11.5211 25.4916 10.9314C25.6243 10.9231 25.7496 10.9186 25.8668 10.9186C27.5066 10.9186 28.9859 11.6072 30.0811 12.6992C31.2034 13.8242 31.8789 15.306 31.9856 16.877C31.9952 17.0232 32 17.1636 32 17.2981C32.0003 18.3453 31.7375 19.3764 31.2347 20.3C30.732 21.2237 30.0048 22.0113 29.1178 22.5931C28.2307 23.1748 27.2112 23.5328 26.1494 23.6353C25.0877 23.7378 24.0166 23.5815 23.0311 23.1805C22.8849 23.1211 22.7411 23.0565 22.5996 22.9867C23.166 24.0979 23.3888 25.3474 23.2406 26.5814C23.0924 27.8154 22.5797 28.9798 21.7656 29.9312C20.9515 30.8827 19.8716 31.5796 18.6589 31.936C17.4463 32.2924 16.1539 32.2928 14.9411 31.9372C14.1851 31.7157 14.4223 31.098 15.1227 31.3053C16.3777 31.6752 17.7231 31.6186 18.9413 31.1446C20.1594 30.6706 21.1789 29.807 21.8348 28.6935C22.6056 27.3822 22.8144 25.8241 22.4153 24.3617C22.0162 22.8994 21.0419 21.6524 19.7066 20.8948C18.9486 20.4652 18.1017 20.209 17.2289 20.1453C16.3561 20.0816 15.4798 20.212 14.6655 20.5269C13.8512 20.8418 13.1198 21.3331 12.5257 21.964C11.9317 22.5949 11.4904 23.3493 11.2346 24.1709C10.9957 24.941 10.3664 24.7437 10.5705 24.0552H10.5702Z" />
                    </svg>
                </a>

                <ul id = "menu-header-menu-1" class = "fixed-nav-pages">
                    <li class="{{ act_menu_1 }}"><a href="/{{ get_lang.lang() }}/" aria-current="page">{{ t_('app', '_MENU_MAIN_')|raw }}</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page {{ act_menu_2 }} menu-item-29"><a href="/products/{{ get_lang.lang() }}/">{{ t_('app', '_MENU_PRODUCTS_')|raw }}</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page {{ act_menu_3 }} menu-item-28"><a href="/partners/{{ get_lang.lang() }}/">{{ t_('app', '_MENU_TO_PARTHNERS_')|raw }}</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page {{ act_menu_4 }} menu-item-27"><a href="/faq/{{ get_lang.lang() }}/">{{ t_('app', '_MENU_FAQ_')|raw }}</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page {{ act_menu_5 }} menu-item-26"><a href="/contact/{{ get_lang.lang() }}/">{{ t_('app', '_MENU_CONTACTS_')|raw }}</a></li>
                </ul>

                <ul class="icon-list">
                    <li class="icon-list__item" style="margin: 0 10px;" id='cnange-lang'>
                        <a href="#" class="icon-list__link" id="lang-color-text">
                          {{ t_('app', '_LANG_VIEW_IN_MAIN_MENU_')|raw }}
                        </a>
                    </li>
                    <li class="icon-list__item">
                        <a class="cart-contents2 icon-list__link icon-list__cart" href="/cart/{{ get_lang.lang() }}/" title="{{ t_('app', '_CASH_')|raw }}">
                            <div class="icon-list__img">
                                    <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path class="icon-list__path" fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M10.7313 3.69164H12.0699L10.0855 0.287027C9.92557 0.0111467 9.57132 -0.0829035 9.29544 0.0801168C9.01956 0.240002 8.92551 0.594258 9.08853 0.870138L10.7313 3.69164ZM6.18842 0.870454C6.34831 0.594574 6.25739 0.240318 5.98151 0.0804326C5.70563 -0.0794528 5.35138 0.0114624 5.19149 0.287343L3.20703 3.6951H4.54568L6.18842 0.870454ZM0.981257 4.73236H14.2862C14.8286 4.73236 15.2675 5.17126 15.2706 5.71048V6.79833C15.2706 7.34069 14.8317 7.77959 14.2894 7.77959H13.7909L12.8379 12.9147C12.7187 13.5198 12.167 13.9994 11.5933 13.9994H11.2171H8.74667H7.83752H7.53656H7.2356H6.32644H3.85606H3.47986C2.90615 13.9994 2.35439 13.5198 2.23526 12.9147L1.28849 7.78272H0.981257C0.438901 7.78272 0 7.34382 0 6.80147V5.71362C0 5.17126 0.438901 4.73236 0.981257 4.73236ZM5.41729 12.0745V9.86123V8.97089C5.41729 8.67307 5.17903 8.416 4.8624 8.416C4.56457 8.416 4.3075 8.65426 4.3075 8.97089V11.1466V12.0745C4.3075 12.3724 4.54576 12.6294 4.8624 12.6294C5.16022 12.6294 5.41729 12.3912 5.41729 12.0745ZM7.19798 12.0745V9.86123V8.97089C7.19798 8.67307 6.9409 8.416 6.64308 8.416C6.34525 8.416 6.08818 8.65426 6.08818 8.97089V11.1466V12.0745C6.08818 12.3724 6.32644 12.6294 6.64308 12.6294C6.9409 12.6294 7.19798 12.3912 7.19798 12.0745ZM8.98806 12.0745V11.1466V8.97089C8.98806 8.65426 8.73099 8.416 8.43317 8.416C8.13534 8.416 7.87827 8.67307 7.87827 8.97089V9.86123V12.0745C7.87827 12.3912 8.13534 12.6294 8.43317 12.6294C8.7498 12.6294 8.98806 12.3724 8.98806 12.0745ZM10.7687 12.0745V11.1466V8.97089C10.7687 8.65426 10.5117 8.416 10.2139 8.416C9.89721 8.416 9.65896 8.67307 9.65896 8.97089V9.86123V12.0745C9.65896 12.3912 9.91603 12.6294 10.2139 12.6294C10.5305 12.6294 10.7687 12.3724 10.7687 12.0745Z" />
                                    </svg>
                            </div>
                        </a>
                        <a class="cart-customlocation3 imsAjaxCartCount icon-list__number"  href="/cart/{{ get_lang.lang() }}/" title="{{ t_('app', '_CASH_')|raw }}" id="count-prod-in-basket">0</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
        <script>

        </script>

    {% endblock %}

    {% block main %}

    {% endblock %}

        {% block script_js %}
        <script type="text/javascript">
        $(document).ready(function() {
                $( '#cnange-lang, #mob-lang-change' ).on( 'click', function() {
                    if( typeof $.cookie('lang') == 'undefined' ){
                       location.reload();
                    } else {
                        if( $.cookie('lang') == 'ru-RU') {
                            $.cookie('lang', 'en-EN', { path: '/' });
                        } else {
                            $.cookie('lang', 'ru-RU', { path: '/' });
                        }
                    }

                    location.reload();
                });    
         });
        </script>

            <script src="/js/jquery.validate.js"></script>
            <script src="/js/owl.carousel.min.js"></script>
            <script src="/js/parallax-mouse.js"></script>
            <script src="/js/jquery.nav.js"></script>
            <script src="/js/plyr.min.js"></script>
            <script src="/js/aos.js"></script>
            <script src="/js/ScrollMagic.min.js"></script>
            <script src="/js/debug.addIndicators.min.js"></script>
            <script src="/js/jquery.arcticmodal-0.3.min.js"></script>
            <script src="/js/main_basic.js"></script>
            <script src="/js/jquery.cookie.js"></script>
            <script src="/js/jquery.mask.js"></script>
        {% endblock %}
    </body>
</html>