<!DOCTYPE html>
<html lang="{{ app.language }}">
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="format-detection" content="telephone=no">
            <title>{{ html.encode(this.title) }} | Emiz</title>
            {{ html.csrfMetaTags | raw }}

            <!-- Favicon -->
            <link rel="icon" href="/img/fav.png" type="image/png">
            <link rel="shortcut icon" href="/img/fav.png" type="image/png">

            <!-- JQuery -->
            <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
            <!-- Fonts -->
            <link
                href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700|Roboto:700&display=swap&subset=cyrillic"
                rel="stylesheet">
            <!-- Owl slider CSS -->
            <link rel="stylesheet" href="/css/owl.carousel.min.css">
            <link rel="stylesheet" href="/css/owl.theme.default.min.css">
            <link rel="stylesheet" href="/css/animate.css">
            <!-- Arctic Modal Css -->
            <link rel="stylesheet" href="/css/jquery.arcticmodal-0.3.css">
            <link rel="stylesheet" href="/css/dark.css">
            <!-- AOS CSS -->
            <link rel="stylesheet" href="/css/aos.css">
            <!-- Main CSS -->
            <link rel="stylesheet" href="/css/main_admin.css">
            <!-- Media CSS -->
            <link rel="stylesheet" href="/css/media.css">
        {% endblock %}
    </head>
    <body>

    {% block nav %}

    <!-- Mobile navigation menu -->

    <div class="device">
        <div class="device-container">
            <button id="burger" class="open-main-nav">
                <span class="burger"></span>
            </button>
            <nav class="main-nav" id="main-nav">
                <ul>
                    <li>
                        <a href="/site/">ГЛАВНАЯ</a>
                    </li>
                    <li>
                        <a href="/products/">продукция</a>
                    </li>
                    <li>
                        <a href="/partners/">партнерам</a>
                    </li>
                    <li>
                        <a href="/faq/">FAQ</a>
                    </li>
                    <li>
                        <a href="/contact/">контакты</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <!-- Mobile navigation bar -->

    <div class="mob-nav">
        <div class="container">
            <div class="mob-nav-wrapper">
                <div class="logo-wrapper">
                    <a href="/site/" class="mob-nav-logo">
                        <svg width="33" height="47" viewBox="0 0 33 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="logo-top"
                                d="M7.28685 41.2776H4.55085V40.7336H7.27085C7.20151 40.1256 6.93751 39.6162 6.47885 39.2056C5.95618 38.7469 5.31351 38.5176 4.55085 38.5176C3.90551 38.5176 3.34018 38.6562 2.85485 38.9336C2.68951 39.0296 2.52951 39.1416 2.37485 39.2696C2.33751 39.2962 2.28418 39.3442 2.21485 39.4136L2.15085 39.4776L2.10285 39.5256L1.73485 39.1336L1.80685 39.0616L1.87885 38.9816C1.97485 38.8962 2.03885 38.8376 2.07085 38.8056C2.24685 38.6562 2.43085 38.5282 2.62285 38.4216C3.17218 38.1229 3.81485 37.9736 4.55085 37.9736C5.40951 37.9736 6.15351 38.2376 6.78285 38.7656C7.48685 39.3576 7.83885 40.1362 7.83885 41.1016C7.83885 42.0936 7.48151 42.8829 6.76685 43.4696C6.14818 43.9762 5.43618 44.2296 4.63085 44.2296C3.92151 44.2296 3.26551 44.0616 2.66285 43.7256C2.42818 43.5922 2.22818 43.4589 2.06285 43.3256C2.04151 43.3096 2.00685 43.2802 1.95885 43.2376C1.91085 43.1949 1.87618 43.1656 1.85485 43.1496L1.77485 43.0696L1.74285 43.0456L1.71085 43.0136L2.08685 42.6136L2.11085 42.6376L2.14285 42.6696L2.21485 42.7336C2.23618 42.7549 2.26818 42.7816 2.31085 42.8136C2.35351 42.8456 2.38285 42.8696 2.39885 42.8856C2.56951 43.0242 2.74551 43.1442 2.92685 43.2456C3.44951 43.5389 4.01751 43.6856 4.63085 43.6856C5.39351 43.6856 6.02818 43.4322 6.53485 42.9256C6.99885 42.4722 7.24951 41.9229 7.28685 41.2776ZM15.5811 38.1016V44.1016H15.0371V39.1736H15.0211L12.6211 43.2616L10.2211 39.1736H10.2051V44.1016H9.6611V38.1016H10.2051L12.6211 42.2856L15.0371 38.1016H15.5811ZM18.046 44.1016V38.1016H18.59V43.3096H18.606L22.798 38.1016H23.342V44.1016H22.798V38.9176H22.782L18.59 44.1016H18.046ZM28.5135 44.1016H25.3615V43.5576H28.5135C29.4522 43.5576 29.9215 43.1896 29.9215 42.4536C29.9215 42.0802 29.7935 41.7896 29.5375 41.5816C29.2922 41.3896 28.9509 41.2936 28.5135 41.2936H27.5375V40.7496H28.5135C28.8389 40.7496 29.1082 40.6562 29.3215 40.4696C29.5402 40.2669 29.6495 40.0056 29.6495 39.6856C29.6495 39.3762 29.5562 39.1282 29.3695 38.9416C29.1722 38.7442 28.8869 38.6456 28.5135 38.6456H25.5455V38.1016H28.5135C28.9882 38.1016 29.3882 38.2509 29.7135 38.5496C30.0335 38.8482 30.1935 39.2269 30.1935 39.6856C30.1935 40.0056 30.1135 40.2962 29.9535 40.5576C29.9055 40.6322 29.8389 40.7176 29.7535 40.8136C29.7375 40.8349 29.7082 40.8669 29.6655 40.9096L29.6255 40.9416L29.5935 40.9736C29.6095 40.9789 29.6309 40.9922 29.6575 41.0136C29.6842 41.0349 29.7029 41.0482 29.7135 41.0536C29.7775 41.0909 29.8255 41.1256 29.8575 41.1576C29.9695 41.2536 30.0629 41.3496 30.1375 41.4456C30.3562 41.7282 30.4655 42.0642 30.4655 42.4536C30.4655 42.9549 30.2895 43.3549 29.9375 43.6536C29.5749 43.9522 29.1002 44.1016 28.5135 44.1016Z"
                                fill="#BC86EE" />
                            <path class="logo-bottom"
                                d="M10.5702 24.0552C11.5743 20.6786 15.1765 18.7401 18.6169 19.7258C19.6661 20.0264 20.6209 20.5823 21.3928 21.3419L21.4005 21.3343C22.2138 22.1326 23.25 22.6763 24.3781 22.8966C25.5061 23.1169 26.6754 23.0039 27.7381 22.5719C28.8007 22.1398 29.709 21.4082 30.348 20.4695C30.987 19.5308 31.3281 18.4271 31.3281 17.2981C31.3281 17.1641 31.3241 17.0374 31.3162 16.9181C31.2204 15.5051 30.613 14.1722 29.6035 13.1604C28.6304 12.1903 27.319 11.5788 25.8668 11.5788C25.7495 11.5788 25.6384 11.5822 25.5335 11.5888C16.6643 12.1554 15.191 19.4286 10.3938 21.5854C9.0106 22.2085 7.44823 22.3342 5.98007 21.9408C4.51191 21.5473 3.23144 20.6596 2.36268 19.4331C1.49393 18.2065 1.09222 16.7191 1.22783 15.2312C1.36344 13.7433 2.02773 12.3495 3.10449 11.2938C5.36369 9.07656 8.28984 8.99642 10.9834 10.3058C11.7745 10.6964 12.5226 11.166 13.2158 11.707C13.6814 12.0647 14.208 12.3384 14.7711 12.5154C15.3747 12.7055 16.005 12.801 16.6389 12.7983C17.7689 12.7985 18.8744 12.4756 19.8204 11.869C20.7663 11.2624 21.5118 10.3984 21.9656 9.38264C22.4194 8.36689 22.5619 7.24337 22.3757 6.1494C22.1895 5.05543 21.6826 4.0384 20.9171 3.22264C20.1515 2.40687 19.1604 1.82769 18.0649 1.5559C16.9694 1.28411 15.817 1.33147 14.7485 1.69221C13.68 2.05294 12.7417 2.71142 12.0482 3.58715C11.3548 4.46289 10.9364 5.51795 10.844 6.62337C10.7831 7.3651 10.113 7.34057 10.1728 6.58882C10.4544 3.08262 13.5787 0.464626 17.1507 0.74135C20.7227 1.01807 23.3898 4.08449 23.1079 7.59069C22.9795 9.18794 22.2424 10.679 21.0436 11.7664C19.8449 12.8539 18.2726 13.4579 16.6403 13.4578C15.9355 13.4602 15.2347 13.3534 14.5638 13.1414C13.9254 12.9398 13.3286 12.6286 12.8012 12.2221C12.1446 11.7099 11.436 11.2653 10.6867 10.8955C8.23001 9.70083 5.61005 9.76682 3.57962 11.7592C2.61515 12.706 2.02038 13.9555 1.89927 15.2892C1.77817 16.6229 2.13843 17.9559 2.91709 19.0553C3.69575 20.1547 4.84327 20.9505 6.15907 21.3036C7.47487 21.6567 8.87525 21.5447 10.1154 20.9871C14.8316 18.8666 16.2912 11.5211 25.4916 10.9314C25.6243 10.9231 25.7496 10.9186 25.8668 10.9186C27.5066 10.9186 28.9859 11.6072 30.0811 12.6992C31.2034 13.8242 31.8789 15.306 31.9856 16.877C31.9952 17.0232 32 17.1636 32 17.2981C32.0003 18.3453 31.7375 19.3764 31.2347 20.3C30.732 21.2237 30.0048 22.0113 29.1178 22.5931C28.2307 23.1748 27.2112 23.5328 26.1494 23.6353C25.0877 23.7378 24.0166 23.5815 23.0311 23.1805C22.8849 23.1211 22.7411 23.0565 22.5996 22.9867C23.166 24.0979 23.3888 25.3474 23.2406 26.5814C23.0924 27.8154 22.5797 28.9798 21.7656 29.9312C20.9515 30.8827 19.8716 31.5796 18.6589 31.936C17.4463 32.2924 16.1539 32.2928 14.9411 31.9372C14.1851 31.7157 14.4223 31.098 15.1227 31.3053C16.3777 31.6752 17.7231 31.6186 18.9413 31.1446C20.1594 30.6706 21.1789 29.807 21.8348 28.6935C22.6056 27.3822 22.8144 25.8241 22.4153 24.3617C22.0162 22.8994 21.0419 21.6524 19.7066 20.8948C18.9486 20.4652 18.1017 20.209 17.2289 20.1453C16.3561 20.0816 15.4798 20.212 14.6655 20.5269C13.8512 20.8418 13.1198 21.3331 12.5257 21.964C11.9317 22.5949 11.4904 23.3493 11.2346 24.1709C10.9957 24.941 10.3664 24.7437 10.5705 24.0552H10.5702Z"
                                fill="#BC86EE" />
                        </svg>
                    </a>
                </div>

            </div>
        </div>

    </div>

	<div id="nav">
        <div class="account-dist-sidmenu__name">{{ user['info_name'] }} {{ user['info_famuly'] }}</div>
        <div class="account-dist-sidmenu__loc">{{ user['info_organization'] }}</div>
        <ul class="account-dist-sidmenu-nav">
            <li class="account-dist-sidmenu-nav__item">
                <a href="/admin/index/{{ user['users_id'] }}/" class="account-dist-sidmenu-nav__link">
                    главная
                </a>
            </li>
            <li class="account-dist-sidmenu-nav__item">
                <a href="/admin/profil/{{ user['users_id'] }}/" class="account-dist-sidmenu-nav__link">
                    мой профиль
                </a>
            </li>
            <li class="account-dist-sidmenu-nav__item">
                <a href="/admin/orders/{{ user['users_id'] }}/" class="account-dist-sidmenu-nav__link">
                    заказы
                </a>
            </li>
            <li class="account-dist-sidmenu-nav__item">
                <a href="/admin/dealers/{{ user['users_id'] }}/" class="account-dist-sidmenu-nav__link">
                    дилеры
                </a>
            </li>
            <li class="account-dist-sidmenu-nav__item">
                <a href="/admin/clients/{{ user['users_id'] }}/" class="account-dist-sidmenu-nav__link">
                    клиенты
                </a>
            </li>
            <li class="account-dist-sidmenu-nav__item">
                <a href="/admin/reports/{{ user['users_id'] }}/" class="account-dist-sidmenu-nav__link">
                    отчеты
                </a>
            </li>
        </ul>
        <a href="/login/logout/" class="account-dist-sidmenu__exit">
            <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M2.78037 0V0.87468H0V11.1125L2.78037 11.1148V12L7.8569 11.0882L7.86215 0.918165L2.78037 0ZM3.62237 5.59829C3.79286 5.59829 3.93109 5.77816 3.93109 6C3.93109 6.22189 3.79289 6.40171 3.62237 6.40171C3.45185 6.40171 3.31365 6.22189 3.31365 6C3.31363 5.77816 3.45188 5.59829 3.62237 5.59829ZM0.825512 10.2877V1.70019H2.78037V10.2892L0.825512 10.2877Z"
                    fill="#5900AC" />
            </svg>
            выход
        </a>
    </div>

    <a href="#nav" id="showMenu">
        <!-- The paragraph tags could easily be replaced with a single image instead -->
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
            <g>
                <g>
                    <path d="M176.792,0H59.208C26.561,0,0,26.561,0,59.208v117.584C0,209.439,26.561,236,59.208,236h117.584
			C209.439,236,236,209.439,236,176.792V59.208C236,26.561,209.439,0,176.792,0z M196,176.792c0,10.591-8.617,19.208-19.208,19.208
			H59.208C48.617,196,40,187.383,40,176.792V59.208C40,48.617,48.617,40,59.208,40h117.584C187.383,40,196,48.617,196,59.208
			V176.792z" />
                </g>
            </g>
            <g>
                <g>
                    <path d="M452,0H336c-33.084,0-60,26.916-60,60v116c0,33.084,26.916,60,60,60h116c33.084,0,60-26.916,60-60V60
			C512,26.916,485.084,0,452,0z M472,176c0,11.028-8.972,20-20,20H336c-11.028,0-20-8.972-20-20V60c0-11.028,8.972-20,20-20h116
			c11.028,0,20,8.972,20,20V176z" />
                </g>
            </g>
            <g>
                <g>
                    <path d="M176.792,276H59.208C26.561,276,0,302.561,0,335.208v117.584C0,485.439,26.561,512,59.208,512h117.584
			C209.439,512,236,485.439,236,452.792V335.208C236,302.561,209.439,276,176.792,276z M196,452.792
			c0,10.591-8.617,19.208-19.208,19.208H59.208C48.617,472,40,463.383,40,452.792V335.208C40,324.617,48.617,316,59.208,316h117.584
			c10.591,0,19.208,8.617,19.208,19.208V452.792z" />
                </g>
            </g>
            <g>
                <g>
                    <path d="M452,276H336c-33.084,0-60,26.916-60,60v116c0,33.084,26.916,60,60,60h116c33.084,0,60-26.916,60-60V336
			C512,302.916,485.084,276,452,276z M472,452c0,11.028-8.972,20-20,20H336c-11.028,0-20-8.972-20-20V336c0-11.028,8.972-20,20-20
			h116c11.028,0,20,8.972,20,20V452z" />
                </g>
            </g>
        </svg>
    </a>

    <!-- Fixed nav -->
    <nav class="fixed-nav account-fixed-nav">
        <div class="container">
            <div class="fixed-nav-wrap">
                <a href="/site/" class="fixed-nav-logo">
                    <svg width="33" height="47" viewBox="0 0 33 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="logo-top"
                            d="M7.28685 41.2776H4.55085V40.7336H7.27085C7.20151 40.1256 6.93751 39.6162 6.47885 39.2056C5.95618 38.7469 5.31351 38.5176 4.55085 38.5176C3.90551 38.5176 3.34018 38.6562 2.85485 38.9336C2.68951 39.0296 2.52951 39.1416 2.37485 39.2696C2.33751 39.2962 2.28418 39.3442 2.21485 39.4136L2.15085 39.4776L2.10285 39.5256L1.73485 39.1336L1.80685 39.0616L1.87885 38.9816C1.97485 38.8962 2.03885 38.8376 2.07085 38.8056C2.24685 38.6562 2.43085 38.5282 2.62285 38.4216C3.17218 38.1229 3.81485 37.9736 4.55085 37.9736C5.40951 37.9736 6.15351 38.2376 6.78285 38.7656C7.48685 39.3576 7.83885 40.1362 7.83885 41.1016C7.83885 42.0936 7.48151 42.8829 6.76685 43.4696C6.14818 43.9762 5.43618 44.2296 4.63085 44.2296C3.92151 44.2296 3.26551 44.0616 2.66285 43.7256C2.42818 43.5922 2.22818 43.4589 2.06285 43.3256C2.04151 43.3096 2.00685 43.2802 1.95885 43.2376C1.91085 43.1949 1.87618 43.1656 1.85485 43.1496L1.77485 43.0696L1.74285 43.0456L1.71085 43.0136L2.08685 42.6136L2.11085 42.6376L2.14285 42.6696L2.21485 42.7336C2.23618 42.7549 2.26818 42.7816 2.31085 42.8136C2.35351 42.8456 2.38285 42.8696 2.39885 42.8856C2.56951 43.0242 2.74551 43.1442 2.92685 43.2456C3.44951 43.5389 4.01751 43.6856 4.63085 43.6856C5.39351 43.6856 6.02818 43.4322 6.53485 42.9256C6.99885 42.4722 7.24951 41.9229 7.28685 41.2776ZM15.5811 38.1016V44.1016H15.0371V39.1736H15.0211L12.6211 43.2616L10.2211 39.1736H10.2051V44.1016H9.6611V38.1016H10.2051L12.6211 42.2856L15.0371 38.1016H15.5811ZM18.046 44.1016V38.1016H18.59V43.3096H18.606L22.798 38.1016H23.342V44.1016H22.798V38.9176H22.782L18.59 44.1016H18.046ZM28.5135 44.1016H25.3615V43.5576H28.5135C29.4522 43.5576 29.9215 43.1896 29.9215 42.4536C29.9215 42.0802 29.7935 41.7896 29.5375 41.5816C29.2922 41.3896 28.9509 41.2936 28.5135 41.2936H27.5375V40.7496H28.5135C28.8389 40.7496 29.1082 40.6562 29.3215 40.4696C29.5402 40.2669 29.6495 40.0056 29.6495 39.6856C29.6495 39.3762 29.5562 39.1282 29.3695 38.9416C29.1722 38.7442 28.8869 38.6456 28.5135 38.6456H25.5455V38.1016H28.5135C28.9882 38.1016 29.3882 38.2509 29.7135 38.5496C30.0335 38.8482 30.1935 39.2269 30.1935 39.6856C30.1935 40.0056 30.1135 40.2962 29.9535 40.5576C29.9055 40.6322 29.8389 40.7176 29.7535 40.8136C29.7375 40.8349 29.7082 40.8669 29.6655 40.9096L29.6255 40.9416L29.5935 40.9736C29.6095 40.9789 29.6309 40.9922 29.6575 41.0136C29.6842 41.0349 29.7029 41.0482 29.7135 41.0536C29.7775 41.0909 29.8255 41.1256 29.8575 41.1576C29.9695 41.2536 30.0629 41.3496 30.1375 41.4456C30.3562 41.7282 30.4655 42.0642 30.4655 42.4536C30.4655 42.9549 30.2895 43.3549 29.9375 43.6536C29.5749 43.9522 29.1002 44.1016 28.5135 44.1016Z"
                            fill="#1e0130" />
                        <path class="logo-bottom"
                            d="M10.5702 24.0552C11.5743 20.6786 15.1765 18.7401 18.6169 19.7258C19.6661 20.0264 20.6209 20.5823 21.3928 21.3419L21.4005 21.3343C22.2138 22.1326 23.25 22.6763 24.3781 22.8966C25.5061 23.1169 26.6754 23.0039 27.7381 22.5719C28.8007 22.1398 29.709 21.4082 30.348 20.4695C30.987 19.5308 31.3281 18.4271 31.3281 17.2981C31.3281 17.1641 31.3241 17.0374 31.3162 16.9181C31.2204 15.5051 30.613 14.1722 29.6035 13.1604C28.6304 12.1903 27.319 11.5788 25.8668 11.5788C25.7495 11.5788 25.6384 11.5822 25.5335 11.5888C16.6643 12.1554 15.191 19.4286 10.3938 21.5854C9.0106 22.2085 7.44823 22.3342 5.98007 21.9408C4.51191 21.5473 3.23144 20.6596 2.36268 19.4331C1.49393 18.2065 1.09222 16.7191 1.22783 15.2312C1.36344 13.7433 2.02773 12.3495 3.10449 11.2938C5.36369 9.07656 8.28984 8.99642 10.9834 10.3058C11.7745 10.6964 12.5226 11.166 13.2158 11.707C13.6814 12.0647 14.208 12.3384 14.7711 12.5154C15.3747 12.7055 16.005 12.801 16.6389 12.7983C17.7689 12.7985 18.8744 12.4756 19.8204 11.869C20.7663 11.2624 21.5118 10.3984 21.9656 9.38264C22.4194 8.36689 22.5619 7.24337 22.3757 6.1494C22.1895 5.05543 21.6826 4.0384 20.9171 3.22264C20.1515 2.40687 19.1604 1.82769 18.0649 1.5559C16.9694 1.28411 15.817 1.33147 14.7485 1.69221C13.68 2.05294 12.7417 2.71142 12.0482 3.58715C11.3548 4.46289 10.9364 5.51795 10.844 6.62337C10.7831 7.3651 10.113 7.34057 10.1728 6.58882C10.4544 3.08262 13.5787 0.464626 17.1507 0.74135C20.7227 1.01807 23.3898 4.08449 23.1079 7.59069C22.9795 9.18794 22.2424 10.679 21.0436 11.7664C19.8449 12.8539 18.2726 13.4579 16.6403 13.4578C15.9355 13.4602 15.2347 13.3534 14.5638 13.1414C13.9254 12.9398 13.3286 12.6286 12.8012 12.2221C12.1446 11.7099 11.436 11.2653 10.6867 10.8955C8.23001 9.70083 5.61005 9.76682 3.57962 11.7592C2.61515 12.706 2.02038 13.9555 1.89927 15.2892C1.77817 16.6229 2.13843 17.9559 2.91709 19.0553C3.69575 20.1547 4.84327 20.9505 6.15907 21.3036C7.47487 21.6567 8.87525 21.5447 10.1154 20.9871C14.8316 18.8666 16.2912 11.5211 25.4916 10.9314C25.6243 10.9231 25.7496 10.9186 25.8668 10.9186C27.5066 10.9186 28.9859 11.6072 30.0811 12.6992C31.2034 13.8242 31.8789 15.306 31.9856 16.877C31.9952 17.0232 32 17.1636 32 17.2981C32.0003 18.3453 31.7375 19.3764 31.2347 20.3C30.732 21.2237 30.0048 22.0113 29.1178 22.5931C28.2307 23.1748 27.2112 23.5328 26.1494 23.6353C25.0877 23.7378 24.0166 23.5815 23.0311 23.1805C22.8849 23.1211 22.7411 23.0565 22.5996 22.9867C23.166 24.0979 23.3888 25.3474 23.2406 26.5814C23.0924 27.8154 22.5797 28.9798 21.7656 29.9312C20.9515 30.8827 19.8716 31.5796 18.6589 31.936C17.4463 32.2924 16.1539 32.2928 14.9411 31.9372C14.1851 31.7157 14.4223 31.098 15.1227 31.3053C16.3777 31.6752 17.7231 31.6186 18.9413 31.1446C20.1594 30.6706 21.1789 29.807 21.8348 28.6935C22.6056 27.3822 22.8144 25.8241 22.4153 24.3617C22.0162 22.8994 21.0419 21.6524 19.7066 20.8948C18.9486 20.4652 18.1017 20.209 17.2289 20.1453C16.3561 20.0816 15.4798 20.212 14.6655 20.5269C13.8512 20.8418 13.1198 21.3331 12.5257 21.964C11.9317 22.5949 11.4904 23.3493 11.2346 24.1709C10.9957 24.941 10.3664 24.7437 10.5705 24.0552H10.5702Z"
                            fill="#1e0130" />
                    </svg>
                </a>
                <ul class="fixed-nav-pages">
                    <li class="fixed-nav-pages__item">
                        <a href="/site/" class="fixed-nav-pages__link">
                            ГЛАВНАЯ
                        </a>
                    </li>
                    <li class="fixed-nav-pages__item">
                        <a href="/products/" class="fixed-nav-pages__link">
                            продукция
                        </a>
                    </li>
                    <li class="fixed-nav-pages__item">
                        <a href="/partners/" class="fixed-nav-pages__link">
                            партнерам
                        </a>
                    </li>
                    <li class="fixed-nav-pages__item">
                        <a href="/faq/" class="fixed-nav-pages__link">
                            FAQ
                        </a>
                    </li>
                    <li class="fixed-nav-pages__item">
                        <a href="/contact/" class="fixed-nav-pages__link">
                            контакты
                        </a>
                    </li>
                </ul>
                <ul class="icon-list">
                    <li class="icon-list__item">
                        <a href="/login/logout/" class="icon-list__link">
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" class=" icon-list__img"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M2.91697 0H13.417C13.7392 0 14.0003 0.261161 14.0003 0.583325V13.4167C14.0003 13.7388 13.7392 14 13.417 14H2.91697C2.59481 14 2.33365 13.7388 2.33365 13.4167V9.33334C2.33365 9.01118 2.59481 8.75002 2.91697 8.75002C3.23914 8.75002 3.5003 9.01118 3.5003 9.33334V12.8334H12.8336V1.16665H3.50027V4.66666C3.50027 4.98882 3.23911 5.24998 2.91694 5.24998C2.59478 5.24998 2.33362 4.98882 2.33362 4.66666V0.583325C2.33362 0.261161 2.59481 0 2.91697 0ZM5.3375 9.53526C5.1132 9.32499 5.1132 8.98404 5.3375 8.77376L6.65445 7.53908H0.574356C0.257145 7.53908 0 7.29801 0 7.00062C0 6.70324 0.257145 6.46217 0.574356 6.46222H6.65445L5.3375 5.22757C5.1132 5.01729 5.1132 4.67634 5.3375 4.46606C5.5618 4.25578 5.92548 4.25578 6.14978 4.46606L8.44722 6.61992L8.44749 6.6202C8.46077 6.63264 8.47334 6.64574 8.48527 6.65937C8.4889 6.66352 8.49221 6.6678 8.49553 6.6721C8.4972 6.67426 8.49887 6.67643 8.50059 6.67858C8.5067 6.68625 8.51303 6.69372 8.51871 6.7017C8.52275 6.70738 8.5264 6.71321 8.53005 6.71905C8.53133 6.7211 8.53262 6.72315 8.53392 6.7252C8.53525 6.72729 8.5366 6.72937 8.53795 6.73144C8.54127 6.73653 8.54457 6.74161 8.5476 6.74688C8.551 6.75285 8.55402 6.75895 8.55704 6.76505C8.55808 6.76715 8.55911 6.76925 8.56017 6.77134C8.56407 6.77909 8.56822 6.78668 8.57172 6.79464C8.57424 6.80036 8.57641 6.80618 8.57859 6.812C8.57943 6.81427 8.58028 6.81653 8.58114 6.81879C8.58192 6.82081 8.58271 6.82283 8.5835 6.82485C8.58602 6.8313 8.58854 6.83775 8.59067 6.84436C8.59257 6.85023 8.5941 6.85617 8.59563 6.86212C8.59621 6.86435 8.59678 6.86659 8.59738 6.86882C8.59799 6.87107 8.59861 6.87332 8.59924 6.87557C8.60107 6.88214 8.6029 6.88871 8.60432 6.89545C8.60585 6.90258 8.6069 6.90979 8.60795 6.91699C8.60829 6.91932 8.60863 6.92164 8.60898 6.92397C8.60939 6.92662 8.60984 6.92925 8.61029 6.93189C8.61118 6.93707 8.61206 6.94224 8.61262 6.94752C8.61633 6.98286 8.61633 7.01847 8.61262 7.05381C8.61208 7.05895 8.61121 7.06399 8.61035 7.06903C8.60987 7.0718 8.6094 7.07457 8.60898 7.07736C8.60753 7.08687 8.60631 7.09641 8.60432 7.10588C8.60289 7.11261 8.60106 7.1192 8.59923 7.12579C8.5986 7.12803 8.59798 7.13026 8.59738 7.13251C8.59676 7.13479 8.59617 7.13709 8.59558 7.13938C8.59407 7.14526 8.59255 7.15115 8.59067 7.15697C8.58857 7.16347 8.5861 7.16981 8.58362 7.17615C8.58279 7.17828 8.58196 7.1804 8.58114 7.18253C8.57807 7.19061 8.57522 7.19874 8.57172 7.20669C8.56915 7.21246 8.56627 7.21807 8.56338 7.22369C8.56231 7.22578 8.56123 7.22788 8.56017 7.22999C8.55918 7.23196 8.5582 7.23394 8.55722 7.23592C8.55414 7.24215 8.55107 7.24835 8.5476 7.25445C8.54457 7.25972 8.54127 7.26479 8.53796 7.26988C8.5366 7.27196 8.53525 7.27403 8.53392 7.27613C8.53262 7.27817 8.53133 7.28023 8.53005 7.28228C8.5264 7.28812 8.52275 7.29395 8.51871 7.29963C8.51442 7.30564 8.50977 7.31138 8.50512 7.31712C8.5036 7.31899 8.50209 7.32087 8.50059 7.32275C8.49887 7.32489 8.4972 7.32706 8.49553 7.32922C8.49221 7.33352 8.4889 7.33781 8.48527 7.34195C8.47334 7.35558 8.46077 7.36866 8.44749 7.38113L8.44722 7.38141L6.14978 9.53526C5.92548 9.74555 5.5618 9.74555 5.3375 9.53526Z"
                                    fill="#5900AC" />
                            </svg>
                        </a>
                    </li>
                    <li class="icon-list__item">
                        <a href="/login/logout/" class="icon-list__link">
                            <svg width="21" height="14" viewBox="0 0 21 14" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="icon-list__img">
                                <path d="M0 0H20.3636V14H0V0Z" fill="#5900AC" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M8.18469 4.68028V1H1.77637L8.18469 4.68028ZM6.73445 5.06283L1 1.7694V5.06283H6.73445ZM10.7609 1V6.11867H19V7.64055H10.7609V12.7592H9.23906V7.64055H1V6.11867H9.23906V1H10.7609ZM13.2656 8.69531L19.0001 11.9887V8.69531H13.2656ZM11.8164 12.7604V9.08008L18.2247 12.7604H11.8164ZM11.8164 1V4.68028L18.2247 1H11.8164ZM19.0001 5.06296H13.2656L19.0001 1.76953V5.06296ZM8.18469 9.08008L1.77637 12.7604H8.18469V9.08008ZM1 11.9891V8.69566H6.73445L1 11.9891Z"
                                    fill="#F2F2F2" />
                            </svg>
                        </a>
                    </li>
                    <li class="icon-list__item">
                        <a href="/login/logout/" class="icon-list__link">
                            Msc
                        </a>
                    </li>
                    <li class="icon-list__item">
                        <a href="/cart/" class="icon-list__link icon-list__cart">
                            <svg width="16" height="14" viewBox="0 0 16 14" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="icon-list__img" id="cart">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M10.7313 3.69164H12.0699L10.0855 0.287027C9.92557 0.0111467 9.57132 -0.0829035 9.29544 0.0801168C9.01956 0.240002 8.92551 0.594258 9.08853 0.870138L10.7313 3.69164ZM6.18842 0.870454C6.34831 0.594574 6.25739 0.240318 5.98151 0.0804326C5.70563 -0.0794528 5.35138 0.0114624 5.19149 0.287343L3.20703 3.6951H4.54568L6.18842 0.870454ZM0.981257 4.73236H14.2862C14.8286 4.73236 15.2675 5.17126 15.2706 5.71048V6.79833C15.2706 7.34069 14.8317 7.77959 14.2894 7.77959H13.7909L12.8379 12.9147C12.7187 13.5198 12.167 13.9994 11.5933 13.9994H11.2171H8.74667H7.83752H7.53656H7.2356H6.32644H3.85606H3.47986C2.90615 13.9994 2.35439 13.5198 2.23526 12.9147L1.28849 7.78272H0.981257C0.438901 7.78272 0 7.34382 0 6.80147V5.71362C0 5.17126 0.438901 4.73236 0.981257 4.73236ZM5.41729 12.0745V9.86123V8.97089C5.41729 8.67307 5.17903 8.416 4.8624 8.416C4.56457 8.416 4.3075 8.65426 4.3075 8.97089V11.1466V12.0745C4.3075 12.3724 4.54576 12.6294 4.8624 12.6294C5.16022 12.6294 5.41729 12.3912 5.41729 12.0745ZM7.19798 12.0745V9.86123V8.97089C7.19798 8.67307 6.9409 8.416 6.64308 8.416C6.34525 8.416 6.08818 8.65426 6.08818 8.97089V11.1466V12.0745C6.08818 12.3724 6.32644 12.6294 6.64308 12.6294C6.9409 12.6294 7.19798 12.3912 7.19798 12.0745ZM8.98806 12.0745V11.1466V8.97089C8.98806 8.65426 8.73099 8.416 8.43317 8.416C8.13534 8.416 7.87827 8.67307 7.87827 8.97089V9.86123V12.0745C7.87827 12.3912 8.13534 12.6294 8.43317 12.6294C8.7498 12.6294 8.98806 12.3724 8.98806 12.0745ZM10.7687 12.0745V11.1466V8.97089C10.7687 8.65426 10.5117 8.416 10.2139 8.416C9.89721 8.416 9.65896 8.67307 9.65896 8.97089V9.86123V12.0745C9.65896 12.3912 9.91603 12.6294 10.2139 12.6294C10.5305 12.6294 10.7687 12.3724 10.7687 12.0745Z"
                                    fill="#5900AC" />
                            </svg>
                            <div class="icon-list__number" id="count-prod-in-basket">
                                0
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="account-dist-sidmenu-wrap" id="account-admin-sidmenu">
        <div class="container">

            <div class="account-dist-sidmenu">

                <div class="account-dist-sidmenu__name">{{ user['info_name'] }} {{ user['info_famuly'] }}</div>
                <div class="account-dist-sidmenu__loc">{{ user['info_organization'] }}</div>
                <ul class="account-dist-sidmenu-nav" id="admin-dist-sidemenu">
                    <li class="account-dist-sidmenu-nav__item">
                        <a href="/admin/index/{{ user['users_id'] }}/" class="account-dist-sidmenu-nav__link">
                            главная
                        </a>
                    </li>
                    <li class="account-dist-sidmenu-nav__item">
                        <a href="/admin/profil/{{ user['users_id'] }}/" class="account-dist-sidmenu-nav__link">
                            мой профиль
                        </a>
                    </li>
                    <li class="account-dist-sidmenu-nav__item">
                        <a href="/admin/orders/{{ user['users_id'] }}/" class="account-dist-sidmenu-nav__link">
                            заказы
                        </a>
                    </li>
                    <li class="account-dist-sidmenu-nav__item">
                        <a href="/admin/dealers/{{ user['users_id'] }}/" class="account-dist-sidmenu-nav__link">
                            дилеры
                        </a>
                    </li>
                    <li class="account-dist-sidmenu-nav__item">
                        <a href="/admin/clients/{{ user['users_id'] }}/" class="account-dist-sidmenu-nav__link">
                            клиенты
                        </a>
                    </li>
                    <li class="account-dist-sidmenu-nav__item">
                        <a href="/admin/reports/{{ user['users_id'] }}/" class="account-dist-sidmenu-nav__link">
                            отчеты
                        </a>
                    </li>
                </ul>
                <a href="/login/logout/" class="account-dist-sidmenu__exit">
                    <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M2.78037 0V0.87468H0V11.1125L2.78037 11.1148V12L7.8569 11.0882L7.86215 0.918165L2.78037 0ZM3.62237 5.59829C3.79286 5.59829 3.93109 5.77816 3.93109 6C3.93109 6.22189 3.79289 6.40171 3.62237 6.40171C3.45185 6.40171 3.31365 6.22189 3.31365 6C3.31363 5.77816 3.45188 5.59829 3.62237 5.59829ZM0.825512 10.2877V1.70019H2.78037V10.2892L0.825512 10.2877Z"
                            fill="#5900AC" />
                    </svg>
                    выход
                </a>

            </div>

        </div>
    </div>
        <script>
            $(document).ready(function() {

                {% include 'layouts/js_common_function_basket.twig' %}
                $( '#count-prod-in-basket' ).text( simple_count_basket() );
            });
        </script>
    {% endblock %}

    {% block main %}

    {% endblock %}


    {% block script_js %}

    <!-- Scripts -->
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/parallax-mouse.js"></script>
    <script src="/js/jquery.nav.js"></script>
    <script src="/js/aos.js"></script>
    <script src="/js/smooth-parallax.min.js"></script>
    <script src="/js/jquery.arcticmodal-0.3.min.js"></script>
    <script src="/js/main_admin.js"></script>
        <script src="/js/jquery.cookie.js"></script>
        <script src="/js/jquery.mask.js"></script>


    {% endblock %}

    </body>
</html>