
{% if user_role =='admin' or user_role =='dealer' %}

    <ul class="collapsible" data-collapsible="accordion">
        <li class="bold">
            <a href="/moder-basket/" class="waves-effect waves-cyan">
                <i class="material-icons">insert_link</i>
                <span class="nav-text">Список Заказов</span>
            </a>
        </li>
    </ul>

    {% else  %}

        <ul class="collapsible" data-collapsible="accordion">

            <li class="bold">
                <a href="/add/index/" class="waves-effect waves-cyan">
                    <i class="material-icons">border_all</i>
                    <span class="nav-text">Список ТГ</span>
                </a>
            </li>
            <li class="bold">
                <a href="/add/products/" class="waves-effect waves-cyan">
                    <i class="material-icons">format_color_text</i>
                    <span class="nav-text">Добавление ТГ</span>
                </a>
            </li>
            <li class="bold">
                <a href="/prod/index/" class="waves-effect waves-cyan">
                    <i class="material-icons">pie_chart_outlined</i>
                    <span class="nav-text">Список Товаров</span>
                </a>
            </li>
            <li class="bold">
                <a href="/prod/add/" class="waves-effect waves-cyan">
                    <i class="material-icons">cast</i>
                    <span class="nav-text">Добавить Товар</span>
                </a>
            </li>
            <li class="bold">
                <a href="/moder-basket/" class="waves-effect waves-cyan">
                    <i class="material-icons">insert_link</i>
                    <span class="nav-text">Список Заказов</span>
                </a>
            </li>
            <li class="bold">
                <a href="/moder-question/" class="waves-effect waves-cyan">
                    <i class="material-icons">format_size</i>
                    <span class="nav-text">Список вопросов</span>
                </a>
            </li>
            <li class="bold">
                <a href="/moder-partner/" class="waves-effect waves-cyan">
                    <i class="material-icons">invert_colors</i>
                    <span class="nav-text">Вопросы партнеров</span>
                </a>
            </li>
            {#<li class="bold">#}
                {#<a href="/moder-partner/" class="waves-effect waves-cyan">#}
                    {#<i class="material-icons">lightbulb_outline</i>#}
                    {#<span class="nav-text">Icons</span>#}
                {#</a>#}
            {#</li>#}
        </ul>

{% endif %}

