{% if good_name == 'emiz_premium' %}
    <div class="products-hero-wrap-buy-wrap__blank">
        <img src="/img/products1.png" alt="bottle" class="products-hero-wrap-buy-wrap__img">
    </div>
    <a href="{{ url_tavr }}"
       class="products-hero-wrap-buy-extra__link products-hero-wrap-buy-extra__link_opacity products-hero-wrap-buy-extra__next">
        <img src="/img/products2.png" alt="bottle" class="products-hero-wrap-buy-extra__img">
    </a>
    <a href="{{ url_pasta }}"
       class="products-hero-wrap-buy-extra__link products-hero-wrap-buy-extra__link_opacity products-hero-wrap-buy-extra__back">
        <img src="/img/pro-last.png" alt="bottle" class="products-hero-wrap-buy-extra__img pro-last-pasta__inactive">
    </a>
{% endif %}

{% if good_name == 'emiz_tavr' %}
    <a href="{{ url_premium }}" class="products-hero-wrap-buy-extra__link pro-prev-2 products-hero-wrap-buy-extra__link_opacity">
        <img src="/img/products1.png" alt="bottle" class="products-hero-wrap-buy-extra__img pro-second-second">
     </a>
    <div class="products-hero-wrap-buy-wrap__blank">
        <img src="/img/products2.png" alt="bottle" class="products-hero-wrap-buy-wrap__img  pro-second-first">
     </div>
    <a href="{{ url_pasta }}"
       class="products-hero-wrap-buy-extra__link pro-next-2 products-hero-wrap-buy-extra__link_opacity">
        <img src="/img/pro-last.png" alt="bottle" class="products-hero-wrap-buy-extra__img pro-last-pasta__inactive">
    </a>
{% endif %}

{% if good_name == 'pasta' %}
    <a href="{{ url_premium }}"
       class="products-hero-wrap-buy-extra__link pro-next-3 products-hero-wrap-buy-extra__link_opacity">
        <img src="/img/products1.png" alt="bottle" class="products-hero-wrap-buy-extra__img pro-second-second">
       </a>
    <a href={{ url_tavr }}
       class="products-hero-wrap-buy-extra__link products-hero-wrap-buy-extra__link_opacity pro-prev-3">
        <img src="/img/products2.png" alt="bottle" class="products-hero-wrap-buy-extra__img">
    </a>
    <div class="products-hero-wrap-buy-wrap__blank">
        <img src="/img/pro-last.png" alt="bottle" class="products-hero-wrap-buy-wrap__img pro-last-pasta">
    </div>
{% endif %}