                        <div class="row">
                                           <div class="input-field col s12">
                                               <i class="material-icons prefix">account_circle</i>
                                               <input id="ModerBasketForm[basket_name]" type="text" class="validate" name="ModerBasketForm[basket_name]" value="{{ model.getName }}">
                                               <label for="ModerBasketForm[basket_name]">Имя заказчика</label>
                                           </div>
                                       </div>
                                       <div class="row">
                                           <div class="input-field col s12">
                                               <i class="material-icons prefix">account_circle</i>
                                               <input id="ModerBasketForm[basket_middle_name]" type="text" class="validate" name="ModerBasketForm[basket_middle_name]" value="{{  model.getMiddleName }}">
                                               <label for="ModerBasketForm[basket_middle_name]">Фамилия заказчика</label>
                                           </div>
                                       </div>
                                       <div class="row">
                                           <div class="input-field col s12">
                                               <i class="material-icons prefix">account_circle</i>
                                               <input id="ModerBasketForm[basket_surname]" type="text" class="validate" name="ModerBasketForm[basket_surname]" value="{{ model.getSurname }}">
                                               <label for="ModerBasketForm[basket_surname]">Отчество Заказчика</label>
                                           </div>
                                       </div>
                                       <div class="row">
                                           <div class="input-field col s12">
                                               <i class="material-icons prefix">input</i>
                                               <input id="ModerBasketForm[basket_index]" type="text" class="validate" name="ModerBasketForm[basket_index]" value="{{ model.getIndex }}">
                                               <label for="ModerBasketForm[basket_index]">Почтовый индекс</label>
                                           </div>
                                       </div>
                                       <div class="row">
                                           <div class="input-field col s12">
                                               <i class="material-icons prefix">input</i>
                                               <input id="ModerBasketForm[basket_city]" type="text" class="validate" name="ModerBasketForm[basket_city]" value="{{ model.getCity }}">
                                               <label for="ModerBasketForm[basket_city]">Город</label>
                                           </div>
                                       </div>
                                       <div class="row">
                                           <div class="input-field col s12">
                                               <i class="material-icons prefix">input</i>
                                               <input id="ModerBasketForm[basket_address]" type="text" class="validate" name="ModerBasketForm[basket_address]" value="{{ model.getAddress }}">
                                               <label for="ModerBasketForm[basket_address]">Почтовый адрес</label>
                                           </div>
                                       </div>
                                       <div class="row">
                                           <div class="input-field col s12">
                                               <i class="material-icons prefix">input</i>
                                               <input id="ModerBasketForm[basket_home]" type="text" class="validate" name="ModerBasketForm[basket_home]" value="{{ model.getHome }}">
                                               <label for="ModerBasketForm[basket_home]">Номер дома</label>
                                           </div>
                                       </div>
                                       <div class="row">
                                           <div class="input-field col s12">
                                               <i class="material-icons prefix">input</i>
                                               <input id="ModerBasketForm[basket_corpus]" type="text" class="validate" name="ModerBasketForm[basket_corpus]" value="{{ model.getCorpus }}">
                                               <label for="ModerBasketForm[basket_corpus]">Корпус( если есть )</label>
                                           </div>
                                       </div>
                                       <div class="row">
                                           <div class="input-field col s12">
                                               <i class="material-icons prefix">input</i>
                                               <input id="ModerBasketForm[basket_flat]" type="text" class="validate" name="ModerBasketForm[basket_flat]" value="{{ model.getFlat }}">
                                               <label for="ModerBasketForm[basket_flat]">Номер квартиры( если есть )</label>
                                           </div>
                                       </div>
                                       <div class="row">
                                           <div class="input-field col s12">
                                               <i class="material-icons prefix">input</i>
                                               <input id="ModerBasketForm[basket_phone]" type="text" class="validate" name="ModerBasketForm[basket_phone]" value="{{ model.getPhone }}">
                                               <label for="ModerBasketForm[basket_phone]">Телефон</label>
                                           </div>
                                       </div>
                                       <div class="row">
                                           <div class="input-field col s12">
                                               <i class="material-icons prefix">input</i>
                                               <input id="ModerBasketForm[basket_email]" type="text" class="validate" name="ModerBasketForm[basket_email]" value="{{ model.getEmail }}">
                                               <label for="ModerBasketForm[basket_email]">Email</label>
                                           </div>
                                       </div>