<div class="row block-basket-info">
    <div class="input-field col s3 m3 l3">
        <i class="material-icons prefix">input</i>
        <input id="ModerBasketForm[basket_date_in]" type="text" class="validate my-datepicker" name="ModerBasketForm[basket_date_in]" value="{{ model.getDateIn }}">
        <label for="ModerBasketForm[basket_date_in]">Дата приемки заказа</label>
    </div>
    <div class="input-field col s3 m3 l3">
        <i class="material-icons prefix">input</i>
        <input id="basket_date_close" type="text" class="validate my-datepicker" name="ModerBasketForm[basket_date_close]" value="{{ model.getDateClose }}">
        <label for="basket_date_close" id="label-basket_date_close">Дата выполнения заказа</label>
    </div>
</div>
<div class="row block-basket-info">
    <div class="switch">
        <label>
            Самовывоз
            <input type="checkbox" name="ModerBasketForm[basket_transport]" {{ model.getTransportForForm }} id="basket_transport">
            <span class="lever"></span>
            Доставка
        </label>
    </div>
</div>
<div class="row basket_type_transport block-basket-info">
    <div class="input-field col s3 m3 l3">
        <i class="material-icons prefix">input</i>
        <input id="ModerBasketForm[basket_type_transport]" type="text" class="validate" name="ModerBasketForm[basket_type_transport]" value="{{ model.getTypeTransport }}">
        <label for="ModerBasketForm[basket_type_transport]">Тип доставки</label>
    </div>
    <div class="input-field col s3 m3 l3">
        <i class="material-icons prefix">input</i>
        <input id="ModerBasketForm[basket_sum_transport]" type="text" class="validate" name="ModerBasketForm[basket_sum_transport]" value="{{ model.getTransport }}">
        <label for="ModerBasketForm[basket_sum_transport]">Сумма доставки</label>
    </div>
</div>
<div class="row block-basket-info">
    <div class="switch">
        <label>
            Наличные
            <input type="checkbox" id="basket_pay_type" name="ModerBasketForm[basket_pay_type]" {{ model.getPayTypeForForm }}>
            <span class="lever"></span>
            Карта
        </label>
    </div>
</div>
<div class="row pay-cart-block block-basket-info">
    <div class="input-field col s3 m3 l3">
        <i class="material-icons prefix">input</i>
        <input id="ModerBasketForm[basket_card_number]" type="text" class="validate" name="ModerBasketForm[basket_card_number]" value="{{ model.getCardNumber }}">
        <label for="ModerBasketForm[basket_card_number]">Номер карты</label>
    </div>
    <div class="input-field col s3 m3 l3">
        <i class="material-icons prefix">input</i>
        <input id="ModerBasketForm[basket_card_date1]" type="text" class="validate" name="ModerBasketForm[basket_card_date1]" value="{{ model.getCardDate1 }}">
        <label for="ModerBasketForm[basket_card_date1]">Дата действия карты( месяц )</label>
    </div>
    <div class="input-field col s3 m3 l3">
        <i class="material-icons prefix">input</i>
        <input id="ModerBasketForm[basket_card_date2]" type="text" class="validate" name="ModerBasketForm[basket_card_date2]" value="{{ model.getCardNumberback }}">
        <label for="ModerBasketForm[basket_card_date2]">Дата действия карты( год )</label>
    </div>
    <div class="input-field col s3 m3 l3">
        <i class="material-icons prefix">input</i>
        <input id="ModerBasketForm[basket_card_numberback]" type="text" class="validate" name="ModerBasketForm[basket_card_numberback]" value="{{ model.getCardDate2 }}">
        <label for="ModerBasketForm[basket_card_numberback]">Проверочный код карты</label>
    </div>
</div>
<div class="row block-basket-info">
    <div class="switch">
        <label>
            Выполнен
            <input type="checkbox" name="ModerBasketForm[basket_active]" {{ model.getActiveForForm }} id="active-check">
            <span class="lever"></span>
            В работе
        </label>
    </div>
</div>
<script>
    $(document).ready(function (event) {
        $( 'body' ).on( 'click', '#active-check', function (event){
            let inp = $( '#basket_date_close' );
            $( '#label-basket_date_close' ).click();
            console.log( inp );
            if( $( this ).prop( 'checked' ) ) {
                inp.val('');
            } else {
                var d = new Date();  ///2020-03-31 16:23:21
                var month = d.getMonth()+1;
                var day = d.getDate();
                let close_dt = d.getFullYear() + '-' + (month<10 ? '0' : '') + month + '-' +  (day<10 ? '0' : '') + day ;
                inp.val( close_dt );
            }
        } )

    });
</script>
