<div id="template-add-prod" style="display: none;">

    <div class="row block-prod ">

        <div class="input-field col s1 m1 l1">
            <a class="waves-effect waves-light btn remove-item">-</a>
        </div>

        <div class="input-field col s4 m4 l4">
            <select name="item_name[]" id="item-good{{ value['item_id'] }}" class="add-select browser-default">
                {%  for k, val in prod %}
                    <option value="{{ val['id'] }}" {% if val['id'] == value['item_prod_id'] %}selected{% endif %}>{{ val['name'] }} {{ val['volume'] }}</option>
                {%  endfor %}
            </select>
            <label for="item-good{{ value['item_id'] }}" class="label-for-disable-select">Наименование продукта</label>
        </div>

        <div class="input-field col s2 m2 l2">
            <i class="material-icons prefix">input</i>
            <input  id="item_sum" type="text" class="validate" name="item_sum[]" value="0">
            <label for="item_sum">Сумма</label>
        </div>

        <div class="input-field col s2 m2 l2">
            <i class="material-icons prefix">input</i>
            <input  id="item_count" type="text" class="validate" name="item_count[]" value="0">
            <label for="item_count">Количество</label>
        </div>

        <div class="input-field col s3 m3 l3">
            <i class="material-icons prefix">input</i>
            <input id="item_price" type="text" class="validate" name="item_price[]" value="">
            <label for="item_price">Цена</label>
        </div>

        {#<div class="input-field col s2 m2 l2" >#}
        {#<select name="goods_link[]" class="add-select">#}
        {#{%  for k, val in goods %}#}
        {#<option value="{{ val['id'] }}">{{ val['name'] }}</option>#}
        {#{%  endfor %}#}
        {#</select>#}
        {#</div>#}
    </div>

</div>
<script>
    $(document).ready(function() {
        let c = 1;
        $( '.old-select' ).material_select();

        $( 'body' ).on( 'click', '.remove-item', function () {
            let parent = $( this ).parents( '.block-prod' );
            console.log( parent );
            parent.remove();
        });

        $( 'body' ).on( 'click', '.add-new-prod', function () {
            let new_name = "select-" + c; c++;
            $( '#template-add-prod select' ).removeClass().addClass(new_name);
            let html = $( '#template-add-prod' ).html();
            console.log( html );
            $( '.block-add-button' ).before( html );

            // $( '.' + new_name ).material_select();
        });
    });
</script>