{% for key, value in BASKET_ITEMS %}
    <div class="row block-prod">

        <div class="input-field col s1 m1 l1">
            <a class="waves-effect waves-light btn remove-item">-</a>
        </div>

        <div class="input-field col s4 m4 l4">
            <select name="item_name[]" id="item-good{{ value['item_id'] }}" class="old-select browser-default">
                {%  for k, val in prod %}
                    <option value="{{ val['id'] }}" {% if val['id'] == value['item_prod_id'] %}selected{% endif %}>{{ val['name'] }} {{ val['volume'] }}</option>
                {%  endfor %}
            </select>
            <label for="item-good{{ value['item_id'] }}" class="label-for-disable-select">Наименование продукта</label>
        </div>

        <div class="input-field col s2 m2 l2">
            <i class="material-icons prefix">input</i>
            <input  id="item_sum{{ value['item_id'] }}" type="text" class="validate" name="item_sum[]" value="{{ value.item_sum }}">
            <label for="item_sum{{ value['item_id'] }}">Сумма</label>
        </div>

        <div class="input-field col s2 m2 l2">
            <i class="material-icons prefix">input</i>
            <input  id="item_count{{ value['item_id'] }}" type="text" class="validate" name="item_count[]" value="{{ value.item_cnt }}">
            <label for="item_count{{ value['item_id'] }}">Количество</label>
        </div>

        <div class="input-field col s3 m3 l3">
            <i class="material-icons prefix">input</i>
            <input id="item_price{{ value['item_id'] }}" type="text" class="validate" name="item_price[]" value="{{ value.item_unit_price }}">
            <label for="item_price{{ value['item_id'] }}">Цена</label>
        </div>

        {#<div class="input-field col s2 m2 l2">#}
            {#<select name="goods_link[]" id="item-good{{ value['item_id'] }}" class="old-select">#}
                {#{%  for k, val in goods %}#}
                    {#<option value="{{ val['id'] }}" {% if val['id'] == value['item_good_id'] %}selected{% endif %}>{{ val['name'] }}</option>#}
                {#{%  endfor %}#}
            {#</select>#}
            {#<label for="item-good{{ value['item_id'] }}">Товарная группа</label>#}
        {#</div>#}
    </div>
{% endfor %}

<div class="row block-add-button">
    <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons add-new-prod">add</i></a>
</div>
<style>
 #form-basket .input-field select {
         display: block;
         position: absolute;
         width: 100%;
         pointer-events: all;
         height: 40px;
         top: 0;
         left: 0;
         opacity: 1.0;
    }
 #form-basket .label-for-disable-select{
        top: -30px;
        font-size: 12px;
    }
</style>