{% extends 'layouts/moder_main.twig' %}

   {% block content %}
       <section id="content">
           <!--breadcrumbs start-->
           <div id="breadcrumbs-wrapper">
               <!-- Search for small screen -->
               <div class="header-search-wrapper grey lighten-2 hide-on-large-only">
                   <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
               </div>
               <div class="container">
                   <div class="row">
                       <div class="col s10 m6 l6">
                           <h5 class="breadcrumbs-title">Редактировать Заказ</h5>
                           <ol class="breadcrumbs">
                               <li><a href="/moder-basket/">Список заказов</a>
                               </li>
                               <li class="active">{{ model.getFullName }}</li>
                           </ol>
                       </div>

                   </div>
               </div>
           </div>
           <!--breadcrumbs end-->
           <!--start container-->
           <div class="container">
               <div class="section">
                   <!-- Form with icon prefixes -->
                   <div class="row">
                       <!-- Form with validation -->
                       <div class="col s12 m12 l12">
                           <div class="card-panel">
                               {%  if  model.getID is not null %}
                                   <h4 class="header2">Править заказ #{{ model.getID  }}</h4>
                               {%  else  %}
                                   <h4 class="header2">Добавить Новый Заказ</h4>
                               {%  endif %}


                               {% if MES_ERR  %}
                                       <div class="msg msg-error z-depth-3 scale-transition">
                                           {{ MES_ERR }}
                                       </div>
                               {% endif %}

                               {% if MES_SUCCESS  %}

                                       <div class="msg msg-info z-depth-3">
                                           {{ MES_SUCCESS }}
                                       </div>

                               {% endif %}

                               <div class="row">

                                   <form class="col s12"  action="{{ action_url }}" method="post" id="form-basket">
                                       <input type="hidden" value="{{ model.getID }}" name="ModerBasketForm[basket_id]">
                                   <ul id="edit-basket-tabs" class="tabs">
                                       <li class="tab col s3"><a href="#test-swipe-1">Данные заказчика</a></li>
                                       <li class="tab col s3"><a href="#test-swipe-2">Условия доставки и оплаты</a></li>
                                       <li class="tab col s3"><a class="active" href="#test-swipe-3">Спиcок товаров в заказе</a></li>
                                   </ul>
                                   <div id="test-swipe-1" class="col s12 m12 l12 block-basket-info">

                                      {% include "/basket_fio_address.twig" %}

                                   </div>

                                   <div id="test-swipe-2" class="col s12 m12 l12 block-basket-info">

                                       {% include "/basket_transport_payment.twig" %}

                                   </div>
                                   <div id="test-swipe-3" class="col s12 m12 l12 block-basket-info">

                                       {% include "/basket_list_products.twig" %}

                                   </div>

                                       <div class="row">
                                           <div class="input-field col s12">
                                               <button class="btn waves-effect waves-light right" type="submit" name="action">Отправить
                                                   <i class="material-icons right">send</i>
                                               </button>
                                           </div>
                                       </div>

                                       {{ csrf.get_html_token|raw }}
                                   </form>

                                   {% include "/basket_template_select.twig" %}
                               </div>
                           </div>
                       </div>
                   </div>
               </div>

           </div>
       </section>
       <script>
           $(document).ready(function (event) {
              $( '#basket_transport' ).on( 'click', function() {
                  console.log( "dlksldk");
                  if( $( this ).prop( "checked" ) ){
                      $( '.basket_type_transport' ).show( 'slow' );
                  } else {
                      console.log( "bbbb");
                      $( '.basket_type_transport' ).hide( 'slow' );
                  }
              });

               if( $( '#basket_transport' ).prop( "checked" ) ){
                   $( '.basket_type_transport' ).show( 'slow' );
               } else {
                   $( '.basket_type_transport' ).hide( 'slow' );
               }

               $( '#basket_pay_type' ).on( 'click', function() {
                   if( $( this ).prop( "checked" ) ){
                       $( '.pay-cart-block' ).show( 'slow' );
                   } else {
                       $( '.pay-cart-block' ).hide( 'slow' );
                   }
               });

               if( $( '#basket_pay_type' ).prop( "checked" ) ){
                   $( '.pay-cart-block' ).show( 'slow' );
               } else {
                   $( '.pay-cart-block' ).hide( 'slow' );
               }
           });
       </script>
   {% endblock %}