{% extends 'layouts/moder_main.twig' %}

   {% block content %}
       <section id="content">
           <!--breadcrumbs start-->
           <div id="breadcrumbs-wrapper">
               <!-- Search for small screen -->
               <div class="header-search-wrapper grey lighten-2 hide-on-large-only">
                   <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
               </div>
               <div class="container">
                   <div class="row">
                       <div class="col s10 m6 l6">
                           <h5 class="breadcrumbs-title">Добавить Товар</h5>
                           <ol class="breadcrumbs">
                               <li><a href="/prod/index/">Список Товаров</a>
                               </li>
                               <li class="active">Новый Товар</li>
                           </ol>
                       </div>
                       {#<div class="col s2 m6 l6">#}
                           {#<a class="btn dropdown-settings waves-effect waves-light breadcrumbs-btn right" href="#!" data-activates="dropdown1">#}
                               {#<i class="material-icons hide-on-med-and-up">settings</i>#}
                               {#<span class="hide-on-small-onl">Settings</span>#}
                               {#<i class="material-icons right">arrow_drop_down</i>#}
                           {#</a>#}
                           {#<ul id="dropdown1" class="dropdown-content">#}
                               {#<li><a href="#!" class="grey-text text-darken-2">Access<span class="badge">1</span></a>#}
                               {#</li>#}
                               {#<li><a href="#!" class="grey-text text-darken-2">Profile<span class="new badge">2</span></a>#}
                               {#</li>#}
                               {#<li><a href="#!" class="grey-text text-darken-2">Notifications</a>#}
                               {#</li>#}
                           {#</ul>#}
                       {#</div>#}
                   </div>
               </div>
           </div>
           <!--breadcrumbs end-->
           <!--start container-->
           <div class="container">
               <div class="section">
                   <!-- Form with icon prefixes -->
                   <div class="row">
                       <!-- Form with validation -->
                       <div class="col s12 m12 l12">
                           <div class="card-panel">
                               {%  if  model.getID is not null %}
                                   <h4 class="header2">Править Товар {{ model.getName }}</h4>
                               {%  else  %}
                                   <h4 class="header2">Добавить Новый Товар</h4>
                               {%  endif %}


                               {% if MES_ERR  %}
                                   {%  for key, value in MES_ERR %}
                                       <div class="msg msg-error z-depth-3 scale-transition">
                                           {{ value }}
                                       </div>
                                   {%  endfor %}
                               {% endif %}

                               {% if MES_SUCCESS  %}
                                   {%  for key, value in MES_SUCCESS %}
                                       <div class="msg msg-info z-depth-3">
                                           {{ value }}
                                       </div>
                                   {%  endfor %}
                               {% endif %}

                               <div class="row">
                                   <form class="col s12"  action="{{ action_url }}" method="post">
                                       <div class="row">
                                           <div class="input-field col s12">
                                               <i class="material-icons prefix">account_circle</i>
                                               <input id="ProdForm[name]" type="text" class="validate" name="ProdForm[name]" value="{{ model.getName }}">
                                               <label for="ProdForm[name]">Наименование Товара</label>
                                           </div>
                                       </div>
                                       <div class="row">
                                           <div class="input-field col s12">
                                               <i class="material-icons prefix">input</i>
                                               <input id="ProdForm[price]" type="text" class="validate" name="ProdForm[price]" value="{{  model.getPrice }}">
                                               <label for="ProdForm[price]">Цена товара</label>
                                           </div>
                                       </div>
                                       <div class="row">
                                           <div class="input-field col s12">
                                               <i class="material-icons prefix">input</i>
                                               <input id="ProdForm[volume]" type="text" class="validate" name="ProdForm[volume]" value="{{ model.getVolume }}">
                                               <label for="ProdForm[volume]">Объем продукта</label>
                                           </div>
                                       </div>
                                       <div class="row">
                                           <div class="input-field col s12">
                                               <i class="material-icons prefix">input</i>
                                               <input id="ProdForm[uniq_id]" type="text" class="validate" name="ProdForm[uniq_id]" value="{{ model.getUniqID }}">
                                               <label for="ProdForm[uniq_id]">Уникальный идентификатор товара</label>
                                           </div>
                                       </div>
                                       <div class="row">
                                           <div class="input-field col s4">
                                               <i class="material-icons prefix">input</i>
                                               <input id="ProdForm[h]" type="text" class="validate" name="ProdForm[h]" value="{{ model.getHeight }}">
                                               <label for="ProdForm[h]">Высота упаковки в mm</label>
                                           </div>
                                            <div class="input-field col s4">
                                               <i class="material-icons prefix">input</i>
                                               <input id="ProdForm[w]" type="text" class="validate" name="ProdForm[w]" value="{{ model.getWeigth }}">
                                               <label for="ProdForm[w]">Ширина упаковки в mm</label>
                                           </div>
                                           <div class="input-field col s4">
                                               <i class="material-icons prefix">input</i>
                                               <input id="ProdForm[n]" type="text" class="validate" name="ProdForm[n]" value="{{ model.getNetto }}">
                                               <label for="ProdForm[n]">Вес товара с упаковкой в граммах</label>
                                           </div>
                                       </div>
                                       <div class="row">
                                           <div class="switch">
                                               <label>
                                                   Не активен
                                                   <input type="checkbox" name="ProdForm[active]" {{ model.getActiveForForm }}>
                                                   <span class="lever"></span>
                                                   Активен
                                               </label>
                                           </div>
                                           <div class="row">
                                               <div class="input-field col s12">
                                                   <select name="ProdForm[goods_link]">
                                                       <option value="0" disabled selected>Выберите группу товаров</option>
                                                       {%  for key, value in model.getListGoods %}
                                                           <option value="{{ value['id'] }}" {% if value['id'] == model.getGoodsLink %}selected{% endif %}>{{ value['name'] }}</option>
                                                       {%  endfor %}
                                                   </select>
                                               </div>
                                           </div>
                                           <div class="row">
                                               <div class="input-field col s12">
                                                   <button class="btn waves-effect waves-light right" type="submit" name="action">Отправить
                                                       <i class="material-icons right">send</i>
                                                   </button>
                                               </div>
                                           </div>
                                       </div>
                                       {{ csrf.get_html_token|raw }}
                                   </form>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>

           </div>
       </section>
   {% endblock %}