{% extends 'layouts/moder_main.twig' %}

   {% block content %}
       <section id="content">
           <!--breadcrumbs start-->
           <div id="breadcrumbs-wrapper">
               <!-- Search for small screen -->
               <div class="header-search-wrapper grey lighten-2 hide-on-large-only">
                   <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
               </div>
               <div class="container">
                   <div class="row">
                       <div class="col s10 m6 l6">
                           <h5 class="breadcrumbs-title">Добавить Товарную Группу</h5>
                           <ol class="breadcrumbs">
                               <li><a href="/add/index/">Список Товарных Групп</a>
                               </li>
                               <li class="active">Новая Товарная Группа</li>
                           </ol>
                       </div>
                       {#<div class="col s2 m6 l6">#}
                           {#<a class="btn dropdown-settings waves-effect waves-light breadcrumbs-btn right" href="#!" data-activates="dropdown1">#}
                               {#<i class="material-icons hide-on-med-and-up">settings</i>#}
                               {#<span class="hide-on-small-onl">Settings</span>#}
                               {#<i class="material-icons right">arrow_drop_down</i>#}
                           {#</a>#}
                           {#<ul id="dropdown1" class="dropdown-content">#}
                               {#<li><a href="#!" class="grey-text text-darken-2">Access<span class="badge">1</span></a>#}
                               {#</li>#}
                               {#<li><a href="#!" class="grey-text text-darken-2">Profile<span class="new badge">2</span></a>#}
                               {#</li>#}
                               {#<li><a href="#!" class="grey-text text-darken-2">Notifications</a>#}
                               {#</li>#}
                           {#</ul>#}
                       {#</div>#}
                   </div>
               </div>
           </div>
           <!--breadcrumbs end-->
           <!--start container-->
           <div class="container">
               <div class="section">
                   <!-- Form with icon prefixes -->
                   <div class="row">
                       <!-- Form with validation -->
                       <div class="col s12 m12 l12">
                           <div class="card-panel">
                               {%  if  model.getID is not null %}
                                     <h4 class="header2">Править товарную группу {{ model.getName }}</h4>
                               {%  else  %}
                                     <h4 class="header2">Добавить новую группу товаров</h4>
                               {%  endif %}


                               {% if MES_ERR  %}
                                   {%  for key, value in MES_ERR %}
                                   <div class="msg msg-error z-depth-3 scale-transition">
                                       {{ value }}
                                   </div>
                                   {%  endfor %}
                               {% endif %}

                               {% if MES_SUCCESS  %}
                                   {%  for key, value in MES_SUCCESS %}
                                       <div class="msg msg-info z-depth-3">
                                           {{ value }}
                                       </div>
                                   {%  endfor %}
                               {% endif %}

                               <div class="row">
                                   <form class="col s12"  action="{{ action_url }}" method="post">
                                       <div class="row">
                                           <div class="input-field col s12">
                                               <i class="material-icons prefix">account_circle</i>
                                               <input id="GoodsForm[name]" type="text" class="validate" name="GoodsForm[name]" value="{{ model.getName }}">
                                               <label for="GoodsForm[name]">Наименование товара(группы)</label>
                                           </div>
                                       </div>
                                       <div class="row">
                                           <div class="input-field col s12">
                                               <i class="material-icons prefix">input</i>
                                               <input id="GoodsForm[short_desc]" type="text" class="validate" name="GoodsForm[short_desc]" value="{{  model.getShortDesc }}">
                                               <label for="GoodsForm[short_desc]">Короткое описание</label>
                                           </div>
                                       </div>
                                       <div class="row">
                                           <div class="input-field col s12">
                                               <i class="material-icons prefix">input</i>
                                               <input id="GoodsForm[sostav]" type="text" class="validate" name="GoodsForm[sostav]" value="{{ model.getSostav }}">
                                               <label for="GoodsForm[sostav]">Состав</label>
                                           </div>
                                       </div>
                                       <div class="row">
                                           <div class="input-field col s12">
                                               <i class="material-icons prefix">input</i>
                                               <input id="GoodsForm[notes]" type="text" class="validate" name="GoodsForm[notes]" value="{{ model.getNotes}}">
                                               <label for="GoodsForm[notes]">Достоинства товара заполнять через | </label>
                                           </div>
                                       </div>
                                       <div class="row">
                                           <div class="input-field col s12">
                                               <i class="material-icons prefix">input</i>
                                               <input id="GoodsForm[uniq_id]" type="text" class="validate" name="GoodsForm[uniq_id]" value="{{ model.getUniqID }}">
                                               <label for="GoodsForm[uniq_id]">Уникальный идентификатор товара</label>
                                           </div>
                                       </div>
                                       <div class="row">
                                           <div class="input-field col s12">
                                               <i class="material-icons prefix">question_answer</i>
                                               <textarea id="GoodsForm[long_desc]" class="materialize-textarea validate" length="120" name="GoodsForm[long_desc]">{{ model.getLongDesc|raw }}</textarea>
                                               <label for="GoodsForm[long_desc]">Полное описание</label>
                                           </div>
                                           <div class="switch">
                                               <label>
                                                   Не активен
                                                   <input type="checkbox" name="GoodsForm[active]" {{ model.getActiveForForm }}>
                                                   <span class="lever"></span>
                                                   Активен
                                               </label>
                                           </div>
                                           <div class="row">
                                               <div class="input-field col s12">
                                                   <button class="btn waves-effect waves-light right" type="submit" name="action">Отправить
                                                       <i class="material-icons right">send</i>
                                                   </button>
                                               </div>
                                           </div>
                                       </div>
                                       {{ csrf.get_html_token|raw }}
                                   </form>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>

           </div>
       </section>
   {% endblock %}