{% from 'macro/msg_flash.twig' import msg_flash %}
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        main {
            flex: 1 0 auto;
        }

        body {
            background: #fff;
        }

        .input-field input[type=date]:focus + label,
        .input-field input[type=text]:focus + label,
        .input-field input[type=email]:focus + label,
        .input-field input[type=password]:focus + label {
            color: #e91e63;
        }

        .input-field input[type=date]:focus,
        .input-field input[type=text]:focus,
        .input-field input[type=email]:focus,
        .input-field input[type=password]:focus {
            border-bottom: 2px solid #e91e63;
            box-shadow: none;
        }

        #form_2, #form_3{
            display: none;
        }
    </style>
    {{ html.csrfMetaTags() | raw }}
</head>

<body>
<div class="section"></div>
<main>
    <center>
        <img class="responsive-img" style="width: 250px;" src="https://i.imgur.com/ax0NCsK.gif" />
        <div class="section"></div>

        <h5 class="indigo-text">Вход в административную часть</h5>
        <div class="section">

            {{ msg_flash('msg', 'msg_arr', 1) }}

            {% if Message is not empty %}
                <div class="message-from-auth">
                    {{ Message }}
                </div>
            {% endif %}

        </div>

        <div class="container">
            <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

                <form id="form_1" class="col s12" method="post" action="{{ form_url }}">
                    <div class='row'>
                        <div class='col s12'>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='input-field col s12'>
                            <input class='validate' type='text' name='LoginForm[username]' id='email' />
                            <label for='email'>Введите ваш логин</label>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='input-field col s12'>
                            <input class='validate' type='password' name='LoginForm[password]' id='password' />
                            <label for='password'>Введите ваш пароль</label>
                        </div>
                        <label style='float: right;'>
                            <a id="button_fogot" class='pink-text' href='javascript:void(0);'><b>Забыли пароль?</b></a>
                        </label>
                    </div>

                    <br />
                    <center>
                        <div class='row'>
                            <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Войти</button>
                        </div>
                    </center>
                    <input type="hidden" value="/admin/" name="LoginForm[path]"/>
                    {{ csrf.get_html_token|raw }}
                </form>

                <form id="form_2" class="col s12" method="post" action="/login/restorep/">
                    {{ csrf.get_html_token|raw }}
                    <div class='row'>
                        <div class='input-field col s12'>
                            <input class='validate' type='text' name='UserinfoForm[email]' id='email-restore' />
                            <label for='email-restore'>Ваша почта</label>
                        </div>
                    </div>

                    <center>
                        <div class='row'>
                            <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Восстановить пароль</button>
                        </div>
                    </center>

                </form>

                <form id="form_3" class="col s12" method="post" action="/login/changep/">
                    {{ csrf.get_html_token|raw }}
                    <input type='hidden' name='AuthrestForm[h]' value="{{ AuthrestForm['h'] }}" />

                    <div class='row'>
                        <div class='input-field col s12'>
                            <input class='validate' type='password' name='AuthrestForm[password_repeat]' id="password_one"/>
                            <label for='password_one'>Введите новый пароль</label>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='input-field col s12'>
                            <input class='validate' type='password' name='AuthrestForm[password]' id="password_two"/>
                            <label for='password_two'>Введите новый пароль</label>
                        </div>
                    </div>

                    <center>
                        <div class='row'>
                            <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Изменить пароль</button>
                        </div>
                    </center>

                </form>

            </div>
        </div>
        {#<a href="#!">Создать пользователя</a>#}
    </center>

    <div class="section"></div>
    <div class="section"></div>
</main>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script>
    $("#button_fogot").on('click', function(){
        $("#form_1").fadeOut(400,function(){$("#form_2").fadeIn();});
    });

    {% if AuthrestForm.getStatus() %}
            $("#form_1").fadeOut(400,function(){$("#form_3").fadeIn();});
    {% endif %}

    {% if flag_fogot_pass %}
        $("#form_1").fadeOut(400,function(){$("#form_2").fadeIn();});
    {% endif %}
</script>
</body>

</html>