{% extends 'layouts/main.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block nav %}
    {{ parent() }}

<div class="small-nav">
    <div class="container">
        <ul class="small-main-navigaiton" id="small-main-navigaiton">
            <li class="small-main-navigation__item">
                <a href="#elixir" class="small-main-navigation__link">
                    <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="small-path"
                            d="M0.950695 3.9382C1.53915 5.4611 2.53257 6.96741 3.9227 7.61668C4.08138 7.69025 4.26156 7.74542 4.44669 7.7914C4.81695 7.1771 5.24176 6.67865 5.7393 6.27036C6.16739 5.92091 6.61536 5.64686 7.07652 5.43166C6.94428 5.32866 6.80545 5.23486 6.65997 5.15025C6.08144 4.81368 5.45499 4.51756 4.84503 4.19937C5.41861 4.37226 6.07648 4.43663 6.62526 4.65918C6.96742 4.79898 7.28314 4.9921 7.57736 5.222C8.45509 4.88908 9.37248 4.72907 10.2882 4.6077C9.54604 3.23564 7.9625 2.13394 6.76907 1.63551C5.52274 1.11499 4.11112 1.05061 2.7243 0.89062C1.87468 0.793122 0.950678 0.440009 0.274621 0.0280218C0.120896 -0.0657788 -0.0427458 0.0905556 0.0101487 0.279996C0.342408 1.4626 0.51101 2.80156 0.950695 3.9382Z" />
                        <path class="small-path"
                            d="M15.6041 3.75777C14.0404 4.70313 12.2469 4.819 10.4899 5.04339C9.63201 5.15374 8.78238 5.28983 7.97407 5.56205C7.79885 5.62089 7.62366 5.68712 7.45173 5.76069C6.94097 5.97772 6.44839 6.2628 5.98391 6.64352C5.54753 7.00031 5.1905 7.42335 4.88966 7.88867C4.4103 8.6317 4.07641 9.48695 3.80202 10.3753C3.30117 11.9883 3.07141 13.7025 3.11604 15.4074C3.13422 16.099 3.14414 16.8181 3.29787 17.4931C3.33258 17.6421 3.36564 17.8315 3.46977 17.9419C3.60532 18.0872 3.8483 17.9382 3.79375 17.7267C3.40035 16.2351 3.64499 14.4915 4.18881 13.0661C4.81362 11.4273 6.02028 10.4525 7.49471 9.85849C7.88646 9.70031 8.28649 9.56237 8.6931 9.43179C8.70136 9.42813 8.70963 9.42813 8.71789 9.42813C8.79889 9.42813 8.8336 9.56053 8.7493 9.60285C8.26994 9.84379 7.79389 10.0866 7.34097 10.3496C5.12271 11.637 4.15408 14.635 4.98551 14.635C5.0533 14.635 5.13263 14.6147 5.22354 14.5724C6.50623 13.9821 8.03025 13.9766 9.44022 13.686C9.9361 13.5848 10.4188 13.4469 10.8717 13.2372C12.6701 12.4022 13.9561 10.7689 14.7214 8.80465C15.2917 7.33878 15.5132 5.60807 15.9446 4.08517C16.0008 3.89021 15.8768 3.72286 15.7247 3.72286C15.6868 3.72098 15.6454 3.73204 15.6041 3.75777Z" />
                    </svg>
                </a>
            </li>
            <li class="small-main-navigation__item">
                <a href="#bio" class="small-main-navigation__link">
                    <svg width="13" height="18" viewBox="0 0 13 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="small-path"
                            d="M3.32573 18C1.20016 11.4066 5.69144 8.99921 5.69144 8.99921C5.3772 12.5175 7.5011 15.2585 7.5011 15.2585C8.28224 15.0366 9.7732 13.9997 9.7732 13.9997C9.7732 15.2585 8.98649 17.9984 8.98649 17.9984C8.98649 17.9984 11.7405 15.9938 12.6075 12.6644C13.4733 9.33489 10.9583 5.99231 10.9583 5.99231C11.1098 8.34884 10.2629 10.6666 8.60372 12.4373C8.68674 12.347 8.75638 12.2469 8.80987 12.1383C9.10795 11.5771 9.58655 10.1185 9.3063 6.74076C8.91183 1.99936 4.34812 0 4.34812 0C4.74148 2.8889 3.56196 3.55447 0.798999 9.03802C-1.96397 14.5205 3.32573 18 3.32573 18Z" />
                    </svg>
                </a>
            </li>
            <li class="small-main-navigation__item">
                <a href="#polifenols" class="small-main-navigation__link">
                    <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="small-path"
                            d="M7.03064 15.7474C7.68824 16.9942 8.59677 17.8182 8.64924 17.8651C8.74936 17.9548 8.87517 17.9996 9.00097 17.9996C9.12678 17.9996 9.25272 17.9548 9.35285 17.8651C9.40531 17.8182 10.3136 16.9942 10.9712 15.7474C10.1972 15.4395 9.52824 15.017 9.00097 14.6169C8.47357 15.017 7.80471 15.4395 7.03064 15.7474Z" />
                        <path class="small-path"
                            d="M16.7726 11.1804C16.6746 11.2915 16.5738 11.3996 16.4699 11.5035C15.4337 12.5396 14.0584 13.2805 12.3822 13.7058C11.4919 13.9316 10.667 14.0276 10.0455 14.0661C10.8697 14.6169 11.9876 15.147 13.2373 15.147C15.7833 15.147 17.7827 12.9468 17.8666 12.8531C18.0458 12.6529 18.0458 12.3499 17.8666 12.1497C17.8391 12.119 17.4342 11.6718 16.7726 11.1804Z" />
                        <path class="small-path"
                            d="M5.61983 13.7059C3.94355 13.2807 2.56819 12.5397 1.53193 11.5035C1.42796 11.3996 1.32729 11.2917 1.22909 11.1804C0.567638 11.6718 0.162748 12.1192 0.13528 12.1497C-0.0439539 12.3499 -0.0439539 12.653 0.13528 12.8533C0.219197 12.9469 2.21851 15.147 4.76445 15.147C6.01428 15.147 7.13198 14.6169 7.95632 14.0661C7.33484 14.0276 6.50995 13.9316 5.61983 13.7059Z" />
                        <path class="small-path"
                            d="M8.64919 12.8945C8.74931 12.9842 8.87512 13.0291 9.00093 13.0291C9.12673 13.0291 9.25254 12.9842 9.3528 12.8945C9.48218 12.7787 12.5219 10.0166 12.5219 6.51449C12.5219 3.0125 9.48218 0.250378 9.3528 0.13446C9.25268 0.0447741 9.12673 0 9.00093 0C8.87512 0 8.74931 0.0447741 8.64919 0.13446C8.51967 0.250378 5.47998 3.0125 5.47998 6.51449C5.47998 10.0165 8.51981 12.7787 8.64919 12.8945Z" />
                        <path class="small-path"
                            d="M14.6071 2.71157C14.3514 1.82612 14.0761 1.24666 14.0587 1.21068C13.9424 0.968266 13.6623 0.852348 13.4086 0.941347C13.371 0.954669 12.7668 1.16947 11.9601 1.61474C12.3092 2.14544 12.605 2.68548 12.8438 3.2273C13.4466 2.99326 14.0462 2.82763 14.6071 2.71157Z" />
                        <path class="small-path"
                            d="M6.0418 1.6148C5.23518 1.16953 4.63101 0.954727 4.59324 0.941405C4.33956 0.852268 4.05952 0.968324 3.94319 1.2106C3.92588 1.24672 3.65051 1.82617 3.39478 2.71163C3.95555 2.82755 4.55533 2.99318 5.15813 3.22722C5.39684 2.68567 5.69267 2.1455 6.0418 1.6148Z" />
                        <path class="small-path"
                            d="M13.5767 6.51409C13.5767 7.44322 13.3931 8.39666 13.0306 9.34762C12.7467 10.0929 12.3524 10.8393 11.8585 11.5665C11.4819 12.1211 11.1009 12.585 10.7861 12.9363C12.2383 12.7485 14.264 12.2177 15.7243 10.7575C18.2006 8.28115 18.0044 4.17855 17.9948 4.00509C17.9799 3.73672 17.7657 3.52246 17.4973 3.50763C17.4735 3.50639 17.3573 3.50049 17.1686 3.50049C16.4855 3.50049 14.8523 3.5763 13.2151 4.21385C13.4553 4.9871 13.5767 5.75856 13.5767 6.51409Z" />
                        <path class="small-path"
                            d="M7.21604 12.9364C6.90125 12.585 6.52026 12.1211 6.14366 11.5665C5.64977 10.8393 5.25532 10.0929 4.97143 9.34762C4.60912 8.39666 4.42535 7.44322 4.42535 6.51408C4.42535 5.75856 4.54677 4.9871 4.78712 4.21385C3.14984 3.5763 1.51683 3.50049 0.833678 3.50049C0.644693 3.50049 0.5285 3.50626 0.504739 3.50763C0.23637 3.52246 0.0221135 3.73672 0.00728033 4.00509C-0.00233372 4.17855 -0.198598 8.28115 2.27771 10.7575C3.73822 12.2178 5.76391 12.7485 7.21604 12.9364Z" />
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</div>

{% endblock %}

{% block main %}

<!-- HOME MAIN START -->

<main class="home-main" id="home-main">

    <div class="home-main__first"></div>
    <div class="home-main__second"></div>
    <div class="home-main__third"></div>

    <!-- MAIN HEADER START -->

        <header class="header" id="header">
            <div class="container">
                <div class="owl-carousel owl-theme owl-loaded" id="home-owl">
                    <div class="owl-stage-outer">
                        <div class="owl-stage">

                        <!-- OWL FIRST SLIDE STARTS -->
                        <div class="owl-item">
                            <div class="owl-wrap owl-premium" id="owl-premium-this">

                                <div class="supershadow">
                                    <img src="/img/home-17.png" alt="premium"
                                        class="supershadow__img">
                                </div>
                                <div class="owl-fake-one">
                                    <h3 class="owl-fake-one__title owl-fale-one__title_third">
                                        {{ t_('app', '_PASTA_VINOGRADNAY_')|raw }}
                                    </h3>
                                    <img src="/img/home-12.png" alt="bottle" class="owl-fake-one__img">
                                    <p class="owl-fake-one__text owl-fake-one__text_third">
                                        {{ t_('app', '_PASTA_VINOGRADNAY_')|raw }}
                                    </p>
                                </div>
                                <div class="owl-inner">
                                    <a href="/products/index/" class="owl-inner__link owl-inner__link_one">
                                        <img src="/img/home-1.png" alt="premium"
                                            class="owl-inner__img">
                                        <div class="owl-inner__hidden">
                                           {{ t_('app', '_BAY_')|raw }}
                                        </div>
                                    </a>
                                    <img src="/img/home-5.png" alt="greap"
                                        class="owl-inner__small circlenew">
                                    <div class="custom-nav">
                                        <a href="javascript:void(0);" class="custom-nav__link custom-owl-prev">
                                            <svg width="20" height="40" viewBox="0 0 20 40" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path class="custom-nav__fill" fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M19.7808 39.7803C16.8438 34.2323 15.1104 27.3952 15.1104 19.9995C15.1104 12.6039 16.8438 5.76674 19.7808 0.21875L-3.24249e-05 19.9995L19.7808 39.7803Z"
                                                    fill="#7400AC" />
                                            </svg>
                                        </a>
                                        <a href="javascript:void(0);" class="custom-nav__link custom-owl-next">
                                            <svg width="20" height="40" viewBox="0 0 20 40" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path class="custom-nav__fill" fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M4.46491e-06 39.7803C2.93699 34.2323 4.67038 27.3952 4.67038 19.9995C4.67038 12.6039 2.93699 5.76674 0 0.21875L19.7808 19.9995L4.46491e-06 39.7803Z"
                                                    fill="#7400AC" />
                                            </svg>
                                        </a>
                                    </div>
                                    <h2 class="owl-inner__title">
                                       {{ t_('app', '_EMIZ_PREMIUM_')|raw }}
                                    </h2>
                                    <a href="/products/index/" class="owl-inner__buy owl-inner__buy1 bay-from-form">
                                        <svg width="12" height="11" viewBox="0 0 16 14" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path class="icon-list__pathbuy" fill-rule="evenodd" clip-rule="evenodd"
                                                d="M10.7313 3.69164H12.0699L10.0855 0.287027C9.92557 0.0111467 9.57132 -0.0829035 9.29544 0.0801168C9.01956 0.240002 8.92551 0.594258 9.08853 0.870138L10.7313 3.69164ZM6.18842 0.870454C6.34831 0.594574 6.25739 0.240318 5.98151 0.0804326C5.70563 -0.0794528 5.35138 0.0114624 5.19149 0.287343L3.20703 3.6951H4.54568L6.18842 0.870454ZM0.981257 4.73236H14.2862C14.8286 4.73236 15.2675 5.17126 15.2706 5.71048V6.79833C15.2706 7.34069 14.8317 7.77959 14.2894 7.77959H13.7909L12.8379 12.9147C12.7187 13.5198 12.167 13.9994 11.5933 13.9994H11.2171H8.74667H7.83752H7.53656H7.2356H6.32644H3.85606H3.47986C2.90615 13.9994 2.35439 13.5198 2.23526 12.9147L1.28849 7.78272H0.981257C0.438901 7.78272 0 7.34382 0 6.80147V5.71362C0 5.17126 0.438901 4.73236 0.981257 4.73236ZM5.41729 12.0745V9.86123V8.97089C5.41729 8.67307 5.17903 8.416 4.8624 8.416C4.56457 8.416 4.3075 8.65426 4.3075 8.97089V11.1466V12.0745C4.3075 12.3724 4.54576 12.6294 4.8624 12.6294C5.16022 12.6294 5.41729 12.3912 5.41729 12.0745ZM7.19798 12.0745V9.86123V8.97089C7.19798 8.67307 6.9409 8.416 6.64308 8.416C6.34525 8.416 6.08818 8.65426 6.08818 8.97089V11.1466V12.0745C6.08818 12.3724 6.32644 12.6294 6.64308 12.6294C6.9409 12.6294 7.19798 12.3912 7.19798 12.0745ZM8.98806 12.0745V11.1466V8.97089C8.98806 8.65426 8.73099 8.416 8.43317 8.416C8.13534 8.416 7.87827 8.67307 7.87827 8.97089V9.86123V12.0745C7.87827 12.3912 8.13534 12.6294 8.43317 12.6294C8.7498 12.6294 8.98806 12.3724 8.98806 12.0745ZM10.7687 12.0745V11.1466V8.97089C10.7687 8.65426 10.5117 8.416 10.2139 8.416C9.89721 8.416 9.65896 8.67307 9.65896 8.97089V9.86123V12.0745C9.65896 12.3912 9.91603 12.6294 10.2139 12.6294C10.5305 12.6294 10.7687 12.3724 10.7687 12.0745Z"
                                                fill="#FFF" />
                                        </svg>
                                        <div class="owl-inner__text owl-inner__buy2">
                                            {{ t_('app', '_PASTE_ORDER_')|raw }}
                                        </div>
                                    </a>
                                </div>
                                <div class="owl-fake-two">
                                    <h3 class="owl-fake-one__title">
                                        {{ t_('app', '_EMIZ_TAVRICHESKIY_')|raw }}
                                    </h3>
                                    <img src="/img/home-6.png" alt="bottle"
                                        class="owl-fake-one__img">
                                    <p class="owl-fake-one__text">
                                        {{ t_('app', '_EMIZ_TAVRICHESKIY_')|raw }}
                                    </p>
                                </div>

                            </div>
                        </div>
                        <!-- OWL FIRST SLIDE ENDS -->

                        <!-- OWL SECOND SLIDE STARTS -->
                        <div class="owl-item">
                            <div class="owl-wrap owl-premium owl-premium-second">

                                <div class="supershadow">
                                    <img src="/img/home-18.png" alt="premium" class="supershadow__img_second">
                                </div>
                                <div class="owl-fake-one">
                                    <h3 class="owl-fake-one__title owl-fake-one__title_second">
                                       {{ t_('app', '_EMIZ_PREMIUM_')|raw }}
                                    </h3>
                                    <img src="/img/home-7.png" alt="bottle"
                                        class="owl-fake-one__img">
                                    <p class="owl-fake-one__text">
                                        {{ t_('app', '_EMIZ_PREMIUM_')|raw }}
                                    </p>
                                </div>
                                <div class="owl-inner owl-inner-second">
                                    <a href="/products/tavricheskij/"
                                        class="owl-inner__link owl-inner__link_second">
                                        <img src="/img/home-2.png" alt="premium"
                                            class="owl-inner__img owl-inner__img_second">
                                        <div class="owl-inner__hidden">
                                           {{ t_('app', '_BAY_')|raw }}
                                        </div>
                                    </a>
                                    <img src="/img/home-10.png" alt="greap" class="owl-inner__small circle">
                                    <div class="custom-nav">
                                        <a href="javascript:void(0);" class="custom-nav__link custom-owl-prev2">
                                            <svg width="20" height="40" viewBox="0 0 20 40" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path class="custom-nav__fill" fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M19.7808 39.7803C16.8438 34.2323 15.1104 27.3952 15.1104 19.9995C15.1104 12.6039 16.8438 5.76674 19.7808 0.21875L-3.24249e-05 19.9995L19.7808 39.7803Z"
                                                    fill="#7A33C9" />
                                            </svg>
                                        </a>
                                        <a href="javascript:void(0);" class="custom-nav__link custom-owl-next2">
                                            <svg width="20" height="40" viewBox="0 0 20 40" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path class="custom-nav__fill" fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M4.46491e-06 39.7803C2.93699 34.2323 4.67038 27.3952 4.67038 19.9995C4.67038 12.6039 2.93699 5.76674 0 0.21875L19.7808 19.9995L4.46491e-06 39.7803Z"
                                                    fill="#7A33C9" />
                                            </svg>
                                        </a>
                                    </div>
                                    <h2 class="owl-inner__title">
                                        {{ t_('app', '_EMIZ_TAVRICHESKIY_')|raw }}
                                    </h2>
                                    <a href="/products/tavricheskij/" class="owl-inner__buy owl-inner__buy1 bay-from-form">
                                        <svg width="12" height="11" viewBox="0 0 16 14" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path class="icon-list__path icon-list__pathbuy" fill-rule="evenodd"
                                                clip-rule="evenodd"
                                                d="M10.7313 3.69164H12.0699L10.0855 0.287027C9.92557 0.0111467 9.57132 -0.0829035 9.29544 0.0801168C9.01956 0.240002 8.92551 0.594258 9.08853 0.870138L10.7313 3.69164ZM6.18842 0.870454C6.34831 0.594574 6.25739 0.240318 5.98151 0.0804326C5.70563 -0.0794528 5.35138 0.0114624 5.19149 0.287343L3.20703 3.6951H4.54568L6.18842 0.870454ZM0.981257 4.73236H14.2862C14.8286 4.73236 15.2675 5.17126 15.2706 5.71048V6.79833C15.2706 7.34069 14.8317 7.77959 14.2894 7.77959H13.7909L12.8379 12.9147C12.7187 13.5198 12.167 13.9994 11.5933 13.9994H11.2171H8.74667H7.83752H7.53656H7.2356H6.32644H3.85606H3.47986C2.90615 13.9994 2.35439 13.5198 2.23526 12.9147L1.28849 7.78272H0.981257C0.438901 7.78272 0 7.34382 0 6.80147V5.71362C0 5.17126 0.438901 4.73236 0.981257 4.73236ZM5.41729 12.0745V9.86123V8.97089C5.41729 8.67307 5.17903 8.416 4.8624 8.416C4.56457 8.416 4.3075 8.65426 4.3075 8.97089V11.1466V12.0745C4.3075 12.3724 4.54576 12.6294 4.8624 12.6294C5.16022 12.6294 5.41729 12.3912 5.41729 12.0745ZM7.19798 12.0745V9.86123V8.97089C7.19798 8.67307 6.9409 8.416 6.64308 8.416C6.34525 8.416 6.08818 8.65426 6.08818 8.97089V11.1466V12.0745C6.08818 12.3724 6.32644 12.6294 6.64308 12.6294C6.9409 12.6294 7.19798 12.3912 7.19798 12.0745ZM8.98806 12.0745V11.1466V8.97089C8.98806 8.65426 8.73099 8.416 8.43317 8.416C8.13534 8.416 7.87827 8.67307 7.87827 8.97089V9.86123V12.0745C7.87827 12.3912 8.13534 12.6294 8.43317 12.6294C8.7498 12.6294 8.98806 12.3724 8.98806 12.0745ZM10.7687 12.0745V11.1466V8.97089C10.7687 8.65426 10.5117 8.416 10.2139 8.416C9.89721 8.416 9.65896 8.67307 9.65896 8.97089V9.86123V12.0745C9.65896 12.3912 9.91603 12.6294 10.2139 12.6294C10.5305 12.6294 10.7687 12.3724 10.7687 12.0745Z"
                                                fill="#FFF" />
                                        </svg>
                                        <div class="owl-inner__text owl-inner__buy1">
                                           {{ t_('app', '_PASTE_ORDER_')|raw }}
                                        </div>
                                    </a>
                                </div>
                                <div class="owl-fake-two">
                                    <h3 class="owl-fake-one__title owl-fale-one__title_third owl-fake-one__title_second">
                                        {{ t_('app', '_PASTA_VINOGRADNAY_')|raw }}
                                    </h3>
                                    <img src="/img/home-12.png" alt="bottle" class="owl-fake-one__img">
                                    <p class="owl-fake-one__text owl-fake-one__text_third">
                                       {{ t_('app', '_PASTA_VINOGRADNAY_')|raw }}
                                    </p>
                                </div>

                            </div>
                        </div>
                        <!-- OWL SECOND SLIDE ENDS -->

                        <!-- OWL THIRD SLIDE STARTS -->
                        <div class="owl-item">
                            <div class="owl-wrap owl-premium owl-premium-last">

                                <div class="supershadow">
                                    <img src="/img/home-19.png" alt="premium" class="supershadow__img_last">
                                </div>
                                <div class="owl-fake-one">
                                    <h3 class="owl-fake-one__title owl-fake-one__title_dif">
                                       {{ t_('app', '_EMIZ_TAVRICHESKIY_')|raw }}
                                    </h3>
                                    <img src="/img/home-6.png" alt="bottle"
                                        class="owl-fake-one__img">
                                    <p class="owl-fake-one__text owl-fake-one__text_dif">
                                        {{ t_('app', '_EMIZ_TAVRICHESKIY_')|raw }}
                                    </p>
                                </div>
                                <div class="owl-inner owl-inner-third">
                                    <a href="/products/pasta/" class="owl-inner__link owl-inner__link_third">
                                        <img src="/img/home-9_1.png" alt="premium" class="owl-inner__img owl-inner__img_third">
                                        <div class="owl-inner__hidden owl-inner__hidden_third">
                                             {{ t_('app', '_BAY_')|raw }}
                                        </div>
                                    </a>
                                    <img src="/img/home-11.png" alt="greap" class="owl-inner__small circle2">
                                    <div class="custom-nav">
                                        <a href="javascript:void(0);" class="custom-nav__link custom-owl-prev3">
                                            <svg width="20" height="40" viewBox="0 0 20 40" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path class="custom-nav__fill" fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M19.7808 39.7803C16.8438 34.2323 15.1104 27.3952 15.1104 19.9995C15.1104 12.6039 16.8438 5.76674 19.7808 0.21875L-3.24249e-05 19.9995L19.7808 39.7803Z"
                                                    fill="#2FA749" />
                                            </svg>
                                        </a>
                                        <a href="javascript:void(0);" class="custom-nav__link custom-owl-next3">
                                            <svg width="20" height="40" viewBox="0 0 20 40" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path class="custom-nav__fill" fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M4.46491e-06 39.7803C2.93699 34.2323 4.67038 27.3952 4.67038 19.9995C4.67038 12.6039 2.93699 5.76674 0 0.21875L19.7808 19.9995L4.46491e-06 39.7803Z"
                                                    fill="#2FA749" />
                                            </svg>
                                        </a>
                                    </div>
                                    <h2 class="owl-inner__title owl-inner__title_third">
                                       {{ t_('app', '_PASTA_VINOGRADNAY_')|raw }}
                                    </h2>
                                    <a href="/products/pasta/" class="owl-inner__buy owl-inner__buy_third bay-from-form">
                                        <svg width="12" height="11" viewBox="0 0 16 14" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path class="icon-list__path icon-list__pathbuy" fill-rule="evenodd"
                                                clip-rule="evenodd"
                                                d="M10.7313 3.69164H12.0699L10.0855 0.287027C9.92557 0.0111467 9.57132 -0.0829035 9.29544 0.0801168C9.01956 0.240002 8.92551 0.594258 9.08853 0.870138L10.7313 3.69164ZM6.18842 0.870454C6.34831 0.594574 6.25739 0.240318 5.98151 0.0804326C5.70563 -0.0794528 5.35138 0.0114624 5.19149 0.287343L3.20703 3.6951H4.54568L6.18842 0.870454ZM0.981257 4.73236H14.2862C14.8286 4.73236 15.2675 5.17126 15.2706 5.71048V6.79833C15.2706 7.34069 14.8317 7.77959 14.2894 7.77959H13.7909L12.8379 12.9147C12.7187 13.5198 12.167 13.9994 11.5933 13.9994H11.2171H8.74667H7.83752H7.53656H7.2356H6.32644H3.85606H3.47986C2.90615 13.9994 2.35439 13.5198 2.23526 12.9147L1.28849 7.78272H0.981257C0.438901 7.78272 0 7.34382 0 6.80147V5.71362C0 5.17126 0.438901 4.73236 0.981257 4.73236ZM5.41729 12.0745V9.86123V8.97089C5.41729 8.67307 5.17903 8.416 4.8624 8.416C4.56457 8.416 4.3075 8.65426 4.3075 8.97089V11.1466V12.0745C4.3075 12.3724 4.54576 12.6294 4.8624 12.6294C5.16022 12.6294 5.41729 12.3912 5.41729 12.0745ZM7.19798 12.0745V9.86123V8.97089C7.19798 8.67307 6.9409 8.416 6.64308 8.416C6.34525 8.416 6.08818 8.65426 6.08818 8.97089V11.1466V12.0745C6.08818 12.3724 6.32644 12.6294 6.64308 12.6294C6.9409 12.6294 7.19798 12.3912 7.19798 12.0745ZM8.98806 12.0745V11.1466V8.97089C8.98806 8.65426 8.73099 8.416 8.43317 8.416C8.13534 8.416 7.87827 8.67307 7.87827 8.97089V9.86123V12.0745C7.87827 12.3912 8.13534 12.6294 8.43317 12.6294C8.7498 12.6294 8.98806 12.3724 8.98806 12.0745ZM10.7687 12.0745V11.1466V8.97089C10.7687 8.65426 10.5117 8.416 10.2139 8.416C9.89721 8.416 9.65896 8.67307 9.65896 8.97089V9.86123V12.0745C9.65896 12.3912 9.91603 12.6294 10.2139 12.6294C10.5305 12.6294 10.7687 12.3724 10.7687 12.0745Z"
                                                fill="#FFF" />
                                        </svg>
                                        <div class="owl-inner__text">
                                           {{ t_('app', '_PASTE_ORDER_')|raw }}
                                        </div>
                                    </a>
                                </div>
                                <div class="owl-fake-two">
                                    <h3 class="owl-fake-one__title owl-fake-one__title_dif">
                                       {{ t_('app', '_EMIZ_PREMIUM_')|raw }}
                                    </h3>
                                    <img src="/img/home-7.png" alt="bottle"
                                        class="owl-fake-one__img">
                                    <p class="owl-fake-one__text owl-fake-one__text_dif">
                                        {{ t_('app', '_EMIZ_PREMIUM_')|raw }}
                                    </p>
                                </div>

                            </div>
                        </div>
                        <!-- OWL THIRD SLIDE ENDS -->

                    </div>
                </div>
            </div>
        </div>
    </header>

        <section class="elixir" id="elixir">
            <div class="container">
                    <img src="/img/neutral.png" alt="fruit" class="home-neitral home-neitral1">
                    <h1 class="elixir-main__title" data-aos="fade-right" id="text_1">
                        {{ t_('app', '_SLIDE_1_MAIN_TEXT_PREMIUM_1_')|raw }}
                    </h1>
                    <p class="elixir-main__subtitle" data-aos="fade-right" id="text_2">
                        {{ t_('app', '_SLIDE_1_MAIN_TEXT_PREMIUM_2_')|raw }}
                    </p>
                    <div class="elixir-main__wrap" data-aos="fade-right">
                        <div class="elixir-main__line"></div>
                        <div class="elixir-main__text" id="text_3">
                            {{ t_('app', '_SLIDE_1_MAIN_TEXT_PREMIUM_3_')|raw }}
                        </div>
                    <img src="/img/neutral3.png" alt="fruit" class="home-neitral home-neitral2">
                </div>
                <div class="elixir-main-inner">
                    <div class="elixir-main-inner__left" data-aos="fade-right" data-aos-offset="200">

                    </div>
                    <div class="elixir-main-inner__right" id="pin1">
                        <div class="elixir-main-inner-wrapper" data-aos="fade-left">
                            <div class="elixir-main-inner-wrapper__number" id="text_4_1">
                                {{ t_('app', '_SLIDE_1_MAIN_TEXT_PREMIUM_4_1_')|raw }}
                            </div>
                            <div class="elixir-main-inner-wrapper__text" id="text_4_2">
                                {{ t_('app', '_SLIDE_1_MAIN_TEXT_PREMIUM_4_2_')|raw }}
                            </div>
                        </div>
                        <div class="elixir-main-inner-wrapper" data-aos="fade-left">
                            <div class="elixir-main-inner-wrapper__number" id="text_5_1">
                                {{ t_('app', '_SLIDE_1_MAIN_TEXT_PREMIUM_5_1_')|raw }}
                            </div>
                            <div class="elixir-main-inner-wrapper__text" id="text_5_2">
                               {{ t_('app', '_SLIDE_1_MAIN_TEXT_PREMIUM_5_2_')|raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

         <section class="bio" id="bio">
            <div class="container">
                <img src="/img/neutral.png" alt="fruit" class="home-neitral home-neitral3">
                <h2 class="bio-main-contain-title" data-aos="fade-right" id="text_6">
                    {{ t_('app', '_SLIDE_1_MAIN_TEXT_PREMIUM_6_')|raw }}
                </h2>
                <ul class="bio-main-contain-list">
                    <li class="bio-main-contain-list__item" data-aos="fade-right" id="text_7">
                        {{ t_('app', '_SLIDE_1_MAIN_TEXT_PREMIUM_7_')|raw }}
                    </li>
                    <li class="bio-main-contain-list__item" data-aos="fade-right" id="text_8">
                       {{ t_('app', '_SLIDE_1_MAIN_TEXT_PREMIUM_8_')|raw }}
                    </li>
                    <li class="bio-main-contain-list__item" data-aos="fade-right" id="text_9">
                        {{ t_('app', '_SLIDE_1_MAIN_TEXT_PREMIUM_9_')|raw }}
                    </li>
                    <li class="bio-main-contain-list__item" data-aos="fade-right" id="text_10">
                        {{ t_('app', '_SLIDE_1_MAIN_TEXT_PREMIUM_10_')|raw }}
                    </li>
                    <li class="bio-main-contain-list__item" data-aos="fade-right" id="text_11">
                        {{ t_('app', '_SLIDE_1_MAIN_TEXT_PREMIUM_11_')|raw }}
                    </li>
                    <li class="bio-main-contain-list__item" data-aos="fade-right" id="text_12">
                        {{ t_('app', '_SLIDE_1_MAIN_TEXT_PREMIUM_12_')|raw }}
                    </li>
                   <!-- <li class="bio-main-contain-list__item" data-aos="fade-right" id="text_13">
                        {{ t_('app', '_SLIDE_1_MAIN_TEXT_PREMIUM_13_')|raw }}
                    </li>
                    <li class="bio-main-contain-list__item" data-aos="fade-right" id="text_14">
                        {{ t_('app', '_SLIDE_2_MAIN_TEXT_PREMIUM_14_')|raw }}
                    </li> -->
                </ul>
                <div class="contain-info first-bullet" data-aos="fade-left">
                    <div class="bio-main-contain-infobox infobox1">
                        <div class="bio-main-contain-infobox__dot"></div>
                    </div>
                    <div class="contain-info-box">
                        <div class="contain-info-box__line"></div>
                        <div class="contain-info-box__text" id="text_15">
                            {{ t_('app', '_SLIDE_1_MAIN_TEXT_PREMIUM_15_')|raw }}
                        </div>
                        <img src="/img/b.png" alt="B" class="contain-info-box__img" id="b">
                        <img src="/img/b2.png" alt="B" class="contain-info-box__img" id="b2">
                        <img src="/img/b3.png" alt="B" class="contain-info-box__img" id="b3">
                    </div>
                </div>

            </div>
        </section>

        <section class="polifenols" id="polifenols">

            <div class="container">
                <h2 class="polifenols-main-polifenols-title" data-aos="fade-right" id="text_16">
                         {{ t_('app', '_SLIDE_1_MAIN_TEXT_PREMIUM_16_')|raw }}
                </h2>
                <div class="polifenols-main__wrap" data-aos="fade-right">
                    <div class="polifenols-main__line"></div>
                    <div class="polifenols-main__text" id="text_17">
                        {{ t_('app', '_SLIDE_1_MAIN_TEXT_PREMIUM_16_')|raw }}
                    </div>
                </div>
                <div class="contain-info container-info-second second-bullet" data-aos="fade-left" data-aos-offset="400">
                    <div class="bio-main-contain-infobox infobox2">
                        <div class="bio-main-contain-infobox__dot"></div>
                    </div>
                    <div class="contain-info-box">
                        <div class="contain-info-box__line"></div>
                        <div class="contain-info-box__text" id="text_18">
                            {{ t_('app', '_SLIDE_1_MAIN_TEXT_PREMIUM_18_')|raw }}
                        </div>
                        <img src="/img/halal.png" alt="halal" class="contain-info-box__img" id="halal">
                        <img src="/img/halal2.png" alt="halal" class="contain-info-box__img" id="halal2">
                        <img src="/img/halal3.png" alt="halal" class="contain-info-box__img" id="halal3">
                    </div>
                </div>
                <img src="/img/neutral2.png" alt="fruit" class="home-neitral home-neitral4">
            </div>

        </section>


<footer class="footer" id="footer">
{% include 'layouts/footer.twig' %}
</footer>

        <div class="floating-bottle-wrapper" id="floating-wrapper">
            <div class="floating-bottle" id="floating-premium"></div>
            <div class="floating-bottle" id="floating-tavri"></div>
            <div class="floating-bottle" id="floating-pasta"></div>
        </div>

    <!-- MAIN HEADER END -->

</main>

<!-- HOME MAIN END -->

    <div style="display: none;">
        <div class="box-modal" id="examplebuy2">
            <div class="box-modal_close arcticmodal-close">
                {{ t_('app', '_CLOSE_')|raw }}
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M5.99904 6.89321L10.9209 11.815C11.1675 12.0617 11.5674 12.0617 11.814 11.815C12.0607 11.5684 12.0607 11.1685 11.814 10.9218L6.89221 5.99999L11.814 1.07817C12.0607 0.831514 12.0607 0.431624 11.814 0.184992C11.5674 -0.0616405 11.1675 -0.061664 10.9209 0.184992L5.99904 5.10681L1.07722 0.184992C0.830562 -0.061664 0.430672 -0.061664 0.184039 0.184992C-0.0626163 0.431648 -0.0625935 0.831537 0.184039 1.07817L5.10586 5.99999L0.184039 10.9218C-0.0626163 11.1684 -0.0625935 11.5684 0.184039 11.815C0.430695 12.0616 0.830585 12.0616 1.07722 11.815L5.99904 6.89321Z"
                        fill="white" />
                </svg>
            </div>
            <img src="/img/modal2.png" alt="" class="box-modal__corner">
            <div class="mymodal-wrap">
                <h2 class="mymodal-wrap__title">
                    {{ t_('app', '_PASTE_ORDER_')|raw }} <br>
                </h2>
                <p class="mymodal-wrap__text">
                    {{ t_('app', '_CONNECTION_WELCOME_')|raw }}
                </p>
                <form action="#" class="js-form contacts-form mymodal-form" id="popupResult2">
                    <input type="text" name="name" placeholder="{{ t_('app', '_NAME_')|raw }}" required class="mymodal-form__input form-control form__field" id="user-name-short-basket">
                    <input type="text" name="phone" placeholder="{{ t_('app', '_PHONE_')|raw }}" required class="mymodal-form__input form-control form__field" id="user-phone-short-basket">
                    <label for="user-check-short-basket" class="radio">
                        <input type="radio" name="check" class="hidden" id="user-check-short-basket"/>
                        <span class="label"></span>
                        <p class="label-text">
                            {{ t_('app', '_AGREE_')|raw }}
                        </p>
                    </label>
                    <button class="mymodal-form__btn">
                            {{ t_('app', '_SEND_')|raw }}
                    </button>
                </form>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {

            {% include 'layouts/js_common_function_basket.twig' %}
            $( '#count-prod-in-basket' ).text( simple_count_basket() );

            $( '.mymodal-form__btn').on( 'click', function(e){
                e.preventDefault();
                let th = $( this );
                th.prop('disabled', true);
                let name = $( '#user-name-short-basket' ).val();
                let phone = $( '#user-phone-short-basket' ).val();
                let check = $( '#user-check-short-basket' ).val();
                $.ajax({
                    url:'{{url_for_buy}}',
                    data: '{{ csrf.get_param }}={{ csrf.get_token }}&SpeedBasketForm[name]=' + name + '&SpeedBasketForm[phone]=' + phone + '&SpeedBasketForm[check]=' + check,
                    type: 'POST',
                    beforeSend:function(){
                        $( '.mymodal-form__btn' ).append('<img src="/css/ajax-loader.gif" alt="loaders" height="20" id="ajax-loader">')
                    },
                    success: function(res){
                        res=JSON.parse(res);

                        if (res.status==1){
                            alert(res.msg);
                        }else if(res.status==0){
                            alert(res.msg);
                        }
                        $('.mymodal-form__btn img').remove();
                        th.prop('disabled', false);
                    },
                    error: function(){
                        alert('{{ t_('app', '_ERROR_')|raw }}');
                        $('.mymodal-form__btn img').remove();
                        th.prop('disabled', false);
                    }
                });
            });


            //! first slide controls

            function hideArrows(){
                $(".custom-owl-next").css( 'display', 'none');
                $(".custom-owl-prev").css( 'display', 'none');

                $(".custom-owl-next2").css( 'display', 'none');
                $(".custom-owl-prev2").css( 'display', 'none');

                $(".custom-owl-next3").css( 'display', 'none');
                $(".custom-owl-prev3").css( 'display', 'none');

            }

            let count_slider =1;

            $( "body" ).on( 'click', ".custom-owl-next", function() {
                hideArrows();
                $("#home-owl").trigger("next.owl.carousel");
                $(".home-main").addClass("home-main-second");
                $(".fixed-nav").addClass("second-nav");
                $(".small-nav").addClass("second-small");
                $(".custom-owl-next2").css( 'display', 'block');
                $(".custom-owl-prev2").css( 'display', 'block');
                slide_text( 'slide_two' );
                change_color_in_mobile_nav ( 'slide_two' );
            });
            // Go to the previous item
            $( "body" ).on( 'click', ".custom-owl-prev", function() {
                // With optional speed parameter
                // Parameters has to be in square bracket '[]'
                hideArrows();
                $("#home-owl").trigger("prev.owl.carousel");
                $(".home-main").addClass("home-main-third");
                $(".fixed-nav").addClass("third-nav");
                $(".small-nav").addClass("third-small");
                $(".custom-owl-next3").css( 'display', 'block');
                $(".custom-owl-prev3").css( 'display', 'block');
                slide_text( 'slide_three' );
                change_color_in_mobile_nav ( 'slide_three' );
            });

            //! second slide controls

            $( "body" ).on( 'click', ".custom-owl-next2", function() {
                hideArrows();
                $("#home-owl").trigger("next.owl.carousel");
                $(".home-main")
                    .removeClass("home-main-second")
                    .addClass("home-main-third");
                $(".fixed-nav")
                    .removeClass("second-nav")
                    .addClass("third-nav");
                $(".small-nav")
                    .removeClass("second-small")
                    .addClass("third-small");
                $(".custom-owl-next3").css( 'display', 'block');
                $(".custom-owl-prev3").css( 'display', 'block');
                slide_text( 'slide_three' );
                change_color_in_mobile_nav ( 'slide_three' );
            });

            // Go to the previous item
            $( "body" ).on( 'click', ".custom-owl-prev2", function() {
                hideArrows();
                // With optional speed parameter
                // Parameters has to be in square bracket '[]'

                $("#home-owl").trigger("prev.owl.carousel");
                $(".home-main").removeClass("home-main-second");
                $(".fixed-nav").removeClass("second-nav");
                $(".small-nav").removeClass("second-small");
                $(".custom-owl-next").css( 'display', 'block');
                $(".custom-owl-prev").css( 'display', 'block');
                slide_text( 'slide_one' );
                change_color_in_mobile_nav ( 'slide_one' );
            });

            //! third slide controls

            $( "body" ).on( 'click', ".custom-owl-next3", function() {
                console.log( 'custom-owl-next3');
                hideArrows();
                $( this ).css( 'display', 'none');
                $("#home-owl").trigger("next.owl.carousel");
                $(".home-main").removeClass("home-main-third");
                $(".fixed-nav").removeClass("third-nav");
                $(".small-nav").removeClass("third-small");
                $(".custom-owl-next").css( 'display', 'block');
                $(".custom-owl-prev").css( 'display', 'block');
                slide_text( 'slide_one' );
                change_color_in_mobile_nav ( 'slide_one' );
            });
            // Go to the previous item
            $( "body" ).on( 'click', ".custom-owl-prev3", function() {
                console.log( 'custom-owl-prev3');
                hideArrows();
                // With optional speed parameter
                // Parameters has to be in square bracket '[]'
                $( this ).css( 'display', 'none');
                $("#home-owl").trigger("prev.owl.carousel");
                $(".home-main")
                    .removeClass("home-main-third")
                    .addClass("home-main-second");
                $(".fixed-nav")
                    .removeClass("third-nav")
                    .addClass("second-nav");
                $(".small-nav")
                    .removeClass("third-small")
                    .addClass("second-small");
                $(".custom-owl-next2").css( 'display', 'block');
                $(".custom-owl-prev2").css( 'display', 'block');
                slide_text( 'slide_two' );
                change_color_in_mobile_nav ( 'slide_two' );
            });


            slide_text( 'slide_one' );

            change_color_in_mobile_nav ( 'slide_one' );

        });


        function slide_text( nomer_slide ){
            $( '#text_1').html( text[nomer_slide].text_1 );
            $( '#text_2').html( text[nomer_slide].text_2 );
            $( '#text_3').html( text[nomer_slide].text_3 );
            $( '#text_4_1').html( text[nomer_slide].text_4_1 );
            $( '#text_4_2').html( text[nomer_slide].text_4_2 );
            $( '#text_5_1').html( text[nomer_slide].text_5_1 );
            $( '#text_5_2').html( text[nomer_slide].text_5_2 );
            $( '#text_6').html( text[nomer_slide].text_6 );
            $( '#text_7').html( text[nomer_slide].text_7 );
            $( '#text_8').html( text[nomer_slide].text_8 );
            $( '#text_9').html( text[nomer_slide].text_9 );
            $( '#text_10').html( text[nomer_slide].text_10 );
            $( '#text_11').html( text[nomer_slide].text_11 );
            $( '#text_12').html( text[nomer_slide].text_12 );
            $( '#text_13').html( text[nomer_slide].text_13 );
            $( '#text_14').html( text[nomer_slide].text_14 );
            $( '#text_15').html( text[nomer_slide].text_15 );
            $( '#text_16').html( text[nomer_slide].text_16 );
            $( '#text_17').html( text[nomer_slide].text_17 );
            $( '#text_18').html( text[nomer_slide].text_18 );
        }

        let text={
            "slide_one": {
                "text_1": "{{ t_('app', '_SLIDE_1_MAIN_TEXT_PREMIUM_1_')|raw }}",
                "text_2": "{{ t_('app', '_SLIDE_1_MAIN_TEXT_PREMIUM_2_')|raw }}",
                "text_3": "{{ t_('app', '_SLIDE_1_MAIN_TEXT_PREMIUM_3_')|raw }}",
                "text_4_1": "{{ t_('app', '_SLIDE_1_MAIN_TEXT_PREMIUM_4_1_')|raw }}",
                "text_4_2": "{{ t_('app', '_SLIDE_1_MAIN_TEXT_PREMIUM_4_2_')|raw }}",
                "text_5_1": "{{ t_('app', '_SLIDE_1_MAIN_TEXT_PREMIUM_5_1_')|raw }}",
                "text_5_2": "{{ t_('app', '_SLIDE_1_MAIN_TEXT_PREMIUM_5_2_')|raw }}",
                "text_6": "{{ t_('app', '_SLIDE_1_MAIN_TEXT_PREMIUM_6_')|raw }}",
                "text_7": "{{ t_('app', '_SLIDE_1_MAIN_TEXT_PREMIUM_7_')|raw }}",
                "text_8": "{{ t_('app', '_SLIDE_1_MAIN_TEXT_PREMIUM_8_')|raw }}",
                "text_9": "{{ t_('app', '_SLIDE_1_MAIN_TEXT_PREMIUM_9_')|raw }}",
                "text_10": "{{ t_('app', '_SLIDE_1_MAIN_TEXT_PREMIUM_10_')|raw }}",
                "text_11": "{{ t_('app', '_SLIDE_1_MAIN_TEXT_PREMIUM_11_')|raw }}",
                "text_12": "{{ t_('app', '_SLIDE_1_MAIN_TEXT_PREMIUM_12_')|raw }}",
                "text_13": "{{ t_('app', '_SLIDE_1_MAIN_TEXT_PREMIUM_13_')|raw }}",
                "text_14": "{{ t_('app', '_SLIDE_1_MAIN_TEXT_PREMIUM_14_')|raw }}",
                "text_15": "{{ t_('app', '_SLIDE_1_MAIN_TEXT_PREMIUM_15_')|raw }}",
                "text_16": "{{ t_('app', '_SLIDE_1_MAIN_TEXT_PREMIUM_16_')|raw }}",
                "text_17": "{{ t_('app', '_SLIDE_1_MAIN_TEXT_PREMIUM_17_')|raw }}",
                "text_18": "{{ t_('app', '_SLIDE_1_MAIN_TEXT_PREMIUM_18_')|raw }}",
            },
            "slide_two": {
                    "text_1": "{{ t_('app', '_SLIDE_2_MAIN_TEXT_PREMIUM_1_')|raw }}",
                    "text_2": "{{ t_('app', '_SLIDE_2_MAIN_TEXT_PREMIUM_2_')|raw }}",
                    "text_3": "{{ t_('app', '_SLIDE_2_MAIN_TEXT_PREMIUM_3_')|raw }}",
                    "text_4_1": "{{ t_('app', '_SLIDE_2_MAIN_TEXT_PREMIUM_4_1_')|raw }}",
                    "text_4_2": "{{ t_('app', '_SLIDE_2_MAIN_TEXT_PREMIUM_4_2_')|raw }}",
                    "text_5_1": "{{ t_('app', '_SLIDE_2_MAIN_TEXT_PREMIUM_5_1_')|raw }}",
                    "text_5_2": "{{ t_('app', '_SLIDE_2_MAIN_TEXT_PREMIUM_5_2_')|raw }}",
                    "text_6": "{{ t_('app', '_SLIDE_2_MAIN_TEXT_PREMIUM_6_')|raw }}",
                    "text_7": "{{ t_('app', '_SLIDE_2_MAIN_TEXT_PREMIUM_7_')|raw }}",
                    "text_8": "{{ t_('app', '_SLIDE_1_MAIN_TEXT_PREMIUM_8_')|raw }}",
                    "text_9": "{{ t_('app', '_SLIDE_2_MAIN_TEXT_PREMIUM_9_')|raw }}",
                    "text_10": "{{ t_('app', '_SLIDE_2_MAIN_TEXT_PREMIUM_10_')|raw }}",
                    "text_11": "{{ t_('app', '_SLIDE_2_MAIN_TEXT_PREMIUM_11_')|raw }}",
                    "text_12": "{{ t_('app', '_SLIDE_2_MAIN_TEXT_PREMIUM_12_')|raw }}",
                    "text_13": "{{ t_('app', '_SLIDE_2_MAIN_TEXT_PREMIUM_13_')|raw }}",
                    "text_14": "{{ t_('app', '_SLIDE_2_MAIN_TEXT_PREMIUM_14_')|raw }}",
                    "text_15": "{{ t_('app', '_SLIDE_2_MAIN_TEXT_PREMIUM_15_')|raw }}",
                    "text_16": "{{ t_('app', '_SLIDE_2_MAIN_TEXT_PREMIUM_16_')|raw }}",
                    "text_17": "{{ t_('app', '_SLIDE_2_MAIN_TEXT_PREMIUM_17_')|raw }}",
                    "text_18": "{{ t_('app', '_SLIDE_2_MAIN_TEXT_PREMIUM_18_')|raw }}"
                },
            "slide_three": {
                "text_1": "{{ t_('app', '_SLIDE_3_MAIN_TEXT_PREMIUM_1_')|raw }}",
                "text_2": "{{ t_('app', '_SLIDE_3_MAIN_TEXT_PREMIUM_2_')|raw }}",
                "text_3": "{{ t_('app', '_SLIDE_3_MAIN_TEXT_PREMIUM_3_')|raw }}",
                "text_4_1": "{{ t_('app', '_SLIDE_3_MAIN_TEXT_PREMIUM_4_1_')|raw }}",
                "text_4_2": "{{ t_('app', '_SLIDE_3_MAIN_TEXT_PREMIUM_4_2_')|raw }}",
                "text_5_1": "{{ t_('app', '_SLIDE_3_MAIN_TEXT_PREMIUM_5_1_')|raw }}",
                "text_5_2": "{{ t_('app', '_SLIDE_3_MAIN_TEXT_PREMIUM_5_2_')|raw }}",
                "text_6": "{{ t_('app', '_SLIDE_3_MAIN_TEXT_PREMIUM_6_')|raw }}",
                "text_7": "{{ t_('app', '_SLIDE_3_MAIN_TEXT_PREMIUM_7_')|raw }}",
                "text_8": "{{ t_('app', '_SLIDE_3_MAIN_TEXT_PREMIUM_8_')|raw }}",
                "text_9": "{{ t_('app', '_SLIDE_3_MAIN_TEXT_PREMIUM_10_')|raw }}",
                "text_10": "{{ t_('app', '_SLIDE_3_MAIN_TEXT_PREMIUM_11_')|raw }}",
                "text_11": "{{ t_('app', '_SLIDE_3_MAIN_TEXT_PREMIUM_12_')|raw }}",
                "text_12": "{{ t_('app', '_SLIDE_3_MAIN_TEXT_PREMIUM_13_')|raw }}",
                "text_13": "{{ t_('app', '_SLIDE_3_MAIN_TEXT_PREMIUM_13_')|raw }}",
                "text_14": "{{ t_('app', '_SLIDE_3_MAIN_TEXT_PREMIUM_14_')|raw }}",
                "text_15": "{{ t_('app', '_SLIDE_3_MAIN_TEXT_PREMIUM_15_')|raw }}",
                "text_16": "{{ t_('app', '_SLIDE_3_MAIN_TEXT_PREMIUM_16_')|raw }}",
                "text_17": "{{ t_('app', '_SLIDE_3_MAIN_TEXT_PREMIUM_17_')|raw }}",
                "text_18": "{{ t_('app', '_SLIDE_3_MAIN_TEXT_PREMIUM_18_')|raw }}"
            }

       };
    </script>

{% endblock %}

{% block script_js %}
    {{ parent() }}
{% endblock %}