{% extends 'layouts/main.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block nav %}
    {{ parent() }}
{% endblock %}

{% block main %}
<script>
    {% if MES_ERR  %}

          alert(' {{ MES_ERR  }} ');

    {% endif %}

    {% if MES_SUCCESS %}

    alert(' {{ MES_SUCCESS  }} ');

    {% endif %}
</script>
<script type="text/javascript" src="/widget/widjet.js" id="ISDEKscript" ></script>

<header class="cart-header" id="cart-header">
    <div class="container">
        <div class="cart-wrap">

<ul class="cart-items">
<li class="cart-items-wrap"><!-- ЭМИЗ ТАВРИЧЕСКИЙ -->
                        <div class="cart-item-wrap__left cart-item-wrap__left_tav">
                           <img src="/img/cart-bottle.png" alt="bottle" class="cart-item-wrap__img">
                            <a href="/products/tavricheskij/" class="cart-item-wrap__link">
                               {{ t_('app/basket', '_TEXT_1_')|raw }}
                                <svg width="13" height="7" viewBox="0 0 13 7" fill="none" xmlns="http://www.w3.org/2000/svg" class="cart-itme-wrap__eye">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.16407 0C9.39099 0 11.9674 2.81008 12.0745 2.92957C12.1939 3.06312 12.1939 3.26501 12.0745 3.39855C11.9673 3.51804 9.39094 6.32812 6.16407 6.32812C2.9372 6.32812 0.360808 3.51804 0.253676 3.39855C0.134191 3.26501 0.134191 3.06312 0.253676 2.92957C0.360808 2.81008 2.93715 0 6.16407 0ZM3.70313 3.16406C3.70313 4.52088 4.80725 5.625 6.16407 5.625C7.52089 5.625 8.62501 4.52088 8.62501 3.16406C8.62501 1.80724 7.52089 0.703125 6.16407 0.703125C4.80725 0.703125 3.70313 1.80724 3.70313 3.16406ZM6.95828 1.60476C6.69119 1.79613 6.51562 2.10726 6.51562 2.46094C6.51562 3.15286 7.18396 3.68829 7.89192 3.46036C7.75003 4.28826 7.03181 4.92187 6.16406 4.92187C5.19485 4.92187 4.40625 4.13327 4.40625 3.16406C4.40625 2.19485 5.19485 1.40625 6.16406 1.40625C6.45129 1.40625 6.71861 1.48207 6.95828 1.60476Z" fill="#5900AC"/>
                                </svg>
                            </a>
                        </div>
                        <div class="cart-item-wrap__right">
                            <h2 class="cart-tiem-wrap__title">{{ tavr_translate[tavr[0]['good_uniq_id']] }}</h2>
                            <div class="cart-counter">
                                <div class="cart-counter-wrap">
                                    <div class="cart-counter-wrap__litrs">
                                    {{ t_('app', '_PRODUCTS_VOLUME_')|raw }}
                                    </div>
                                    <div class="cart-counter-wrap__quant">
                                        {{ t_('app/basket', '_TEXT_2_')|raw }}
                                    </div>
                                </div>
                                <ul class="cart-counter-list" id="cart-counter-list-tavr">

                                    {% for key, value in tavr %}
                                        <li class="cart-counter-list__item">
                                            <svg width="8" height="25" viewBox="0 0 8 25" fill="none" xmlns="http://www.w3.org/2000/svg" class="cart-counter-list__img">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.33334 0.0163311C3.32775 0.0253812 3.29335 0.0327858 3.25691 0.0327858C3.22046 0.0327858 3.1413 0.0448965 3.08099 0.0596728C2.96495 0.0881395 2.94122 0.0960378 2.84544 0.138063C2.8124 0.15256 2.77352 0.164424 2.75905 0.164424C2.74457 0.164424 2.73274 0.171828 2.73274 0.180878C2.73274 0.189928 2.72164 0.197333 2.70806 0.197333C2.69449 0.197333 2.68338 0.203059 2.68338 0.210053C2.68338 0.217046 2.65715 0.23689 2.6251 0.254151C2.55947 0.289496 2.44786 0.407707 2.40804 0.48404C2.36605 0.564553 2.34843 0.657523 2.3517 0.781476C2.35336 0.844827 2.35033 0.956851 2.34497 1.03044C2.33569 1.15765 2.33204 1.1676 2.27069 1.23339C2.23522 1.27143 2.20619 1.30934 2.20619 1.31764C2.20619 1.32593 2.19879 1.33271 2.18974 1.33271C2.18042 1.33271 2.17328 1.38015 2.17328 1.44213V1.55154L2.25556 1.63042L2.33783 1.70931V2.75239C2.33783 3.32609 2.34273 4.39507 2.34874 5.12789L2.35965 6.4603L2.32096 6.49635C2.29967 6.51618 2.26875 6.5324 2.25223 6.5324C2.23571 6.5324 2.20933 6.5389 2.19362 6.54685C2.11732 6.58544 2.03735 6.61468 2.00817 6.61468C1.99039 6.61468 1.97582 6.6206 1.97582 6.62783C1.97582 6.63507 1.94805 6.6506 1.91412 6.66238C1.84261 6.68716 1.57662 6.81457 1.56446 6.82984C1.55993 6.83553 1.52661 6.85385 1.49041 6.87055C1.45421 6.88725 1.42089 6.90501 1.41636 6.91001C1.40559 6.9219 1.3489 6.9574 1.31764 6.97183C1.30406 6.9781 1.27452 7.00026 1.25198 7.02109C1.22945 7.04191 1.2023 7.05896 1.19166 7.05896C1.181 7.05896 1.16982 7.0645 1.16679 7.0713C1.16378 7.07808 1.1317 7.10572 1.0955 7.13272C1.0593 7.15972 1.01131 7.19675 0.988854 7.215C0.937186 7.257 0.645345 7.55036 0.602793 7.60306C0.532811 7.68975 0.330352 7.98139 0.330352 7.99553C0.330352 8.00382 0.324708 8.01305 0.317797 8.01608C0.301539 8.02319 0.176483 8.28169 0.147984 8.36711C0.135906 8.40331 0.120175 8.44107 0.113034 8.45104C0.105876 8.461 0.0952793 8.50378 0.0894872 8.5461C0.0836787 8.58842 0.0725718 8.62699 0.0647722 8.6318C0.0569891 8.63662 0.0506212 8.6693 0.0506212 8.70443C0.0506212 8.73956 0.0442861 8.77222 0.0365524 8.77699C0.0288186 8.78178 0.0175965 8.85812 0.011607 8.94663C-0.00308709 9.16399 -0.00422247 23.5606 0.0104552 23.7095C0.0168231 23.7741 0.0284731 23.831 0.036322 23.8359C0.0441874 23.8407 0.0506212 23.8665 0.0506212 23.8931C0.0506212 23.9197 0.0580258 23.9415 0.0670759 23.9415C0.076126 23.9415 0.0835306 23.9527 0.0835306 23.9663C0.0835306 24.0408 0.336736 24.3693 0.394147 24.3693C0.404316 24.3693 0.412625 24.3762 0.412625 24.3847C0.412625 24.3931 0.429277 24.4052 0.449648 24.4116C0.470003 24.4179 0.490374 24.4284 0.494899 24.4348C0.506269 24.451 0.717482 24.5569 0.807539 24.5916C0.848264 24.6073 0.896394 24.6263 0.914495 24.6339C1.0008 24.6701 1.19995 24.7309 1.37523 24.7744C1.42953 24.7879 1.50357 24.8064 1.53977 24.8155C1.64354 24.8416 1.85992 24.8797 1.96375 24.8903C2.01592 24.8956 2.06264 24.9064 2.06756 24.9143C2.07248 24.9223 2.11641 24.9288 2.16522 24.9288C2.21401 24.9288 2.2895 24.9364 2.33296 24.9457C2.66676 25.0173 4.36941 25.0183 4.89654 24.9473C4.96894 24.9375 5.0615 24.9258 5.10222 24.9214C5.14295 24.9169 5.2244 24.906 5.28323 24.8972C5.34205 24.8883 5.44572 24.8731 5.51359 24.8633C5.58147 24.8535 5.64985 24.8383 5.66557 24.8295C5.68128 24.8208 5.71972 24.8136 5.75098 24.8136C5.78225 24.8136 5.8121 24.8067 5.8173 24.7983C5.8225 24.7899 5.86745 24.7779 5.91721 24.7717C5.96697 24.7655 6.01171 24.7539 6.01665 24.7459C6.02158 24.7379 6.04381 24.7313 6.06603 24.7313C6.08824 24.7313 6.11927 24.7249 6.13499 24.7169C6.1507 24.709 6.20798 24.6891 6.26228 24.6728C6.31658 24.6564 6.36842 24.6382 6.37747 24.6323C6.38652 24.6264 6.44575 24.6005 6.5091 24.5747C6.57245 24.5489 6.63539 24.5192 6.64897 24.5086C6.66254 24.498 6.69772 24.479 6.72713 24.4664C6.75655 24.4539 6.78061 24.4397 6.78061 24.4349C6.78061 24.4301 6.80652 24.4122 6.8382 24.3952C6.86987 24.3781 6.89579 24.3579 6.89579 24.3503C6.89579 24.3427 6.90367 24.3364 6.91331 24.3364C6.93615 24.3364 7.1097 24.1629 7.1097 24.14C7.1097 24.1304 7.11594 24.1225 7.12357 24.1225C7.13119 24.1225 7.15155 24.0948 7.16882 24.0608C7.18608 24.0269 7.20427 23.9954 7.20924 23.9909C7.22553 23.976 7.26173 23.8367 7.27979 23.7194C7.29223 23.6385 7.29773 21.5362 7.29822 16.6603C7.29893 9.68204 7.29455 9.07527 7.24183 8.86075C7.23295 8.82455 7.22549 8.76345 7.22528 8.725C7.22507 8.68654 7.21748 8.65506 7.20843 8.65506C7.19938 8.65506 7.19197 8.63535 7.19197 8.61126C7.19197 8.58717 7.17995 8.52608 7.16524 8.47551C7.12568 8.33946 7.105 8.28814 7.00877 8.08738C6.96972 8.00593 6.93388 7.93558 6.92913 7.93106C6.92437 7.92653 6.88416 7.86863 6.83978 7.80238C6.72135 7.62562 6.55975 7.44938 6.3672 7.28697C6.32045 7.24754 6.26661 7.20012 6.24754 7.18161C6.22848 7.16308 6.18883 7.13373 6.15942 7.11635C6.13002 7.09897 6.10596 7.08064 6.10596 7.07561C6.10596 7.07056 6.08005 7.05249 6.04837 7.03543C6.0167 7.01836 5.99078 6.99817 5.99078 6.99055C5.99078 6.98292 5.9803 6.97668 5.96746 6.97668C5.95464 6.97668 5.9417 6.97074 5.93867 6.96347C5.9269 6.93512 5.55861 6.72986 5.5195 6.72986C5.50721 6.72986 5.49714 6.72338 5.49714 6.71546C5.49714 6.70755 5.47547 6.69674 5.44899 6.69144C5.4225 6.68614 5.36882 6.66758 5.32969 6.65019C5.29057 6.63279 5.23263 6.60926 5.20095 6.59788C5.10642 6.56392 4.96323 6.49405 4.95026 6.47559C4.94362 6.46611 4.93807 5.42237 4.93792 4.15614C4.93769 2.04401 4.93996 1.84667 4.96537 1.76609C4.98059 1.71778 4.9991 1.67826 5.00651 1.67826C5.0139 1.67826 5.01995 1.66681 5.01995 1.65279C5.01995 1.63878 5.03846 1.61017 5.06109 1.58921C5.08371 1.56823 5.10222 1.5394 5.10222 1.52513C5.10222 1.51086 5.10963 1.49462 5.11868 1.48903C5.15072 1.46923 5.13441 1.40077 5.07754 1.31625C5.04587 1.26918 5.01995 1.22401 5.01995 1.21588C5.01995 1.20774 5.01327 1.20107 5.00511 1.20107C4.97236 1.20107 4.94706 1.08331 4.93616 0.880204C4.91865 0.554088 4.89669 0.480437 4.78004 0.356977C4.72398 0.297658 4.63813 0.23151 4.58889 0.209724C4.56351 0.198485 4.54276 0.184285 4.54276 0.178163C4.54276 0.172042 4.52063 0.162186 4.49358 0.156246C4.46654 0.150306 4.44018 0.138606 4.43502 0.130247C4.42987 0.121888 4.40757 0.115059 4.38547 0.115059C4.36337 0.115059 4.34531 0.108461 4.34531 0.100398C4.34531 0.0923519 4.32125 0.0815247 4.29183 0.0763415C4.26241 0.0711747 4.19022 0.0587514 4.13139 0.0487305C4.07257 0.0387095 4.0017 0.0236205 3.97391 0.0151957C3.90485 -0.00573471 3.34637 -0.00474742 3.33334 0.0163311ZM6.06998 18.9146C6.07281 19.9373 6.07007 21.3748 6.06389 22.1092L6.05265 23.4444L6.0176 23.4604C5.96919 23.4825 5.83059 23.5174 5.7562 23.5263C5.72221 23.5303 5.6903 23.5402 5.6853 23.5483C5.68029 23.5564 5.65393 23.563 5.62672 23.563C5.59952 23.563 5.56401 23.5701 5.54782 23.5788C5.53163 23.5875 5.46732 23.5991 5.40492 23.6047C5.34251 23.6103 5.27664 23.6214 5.25854 23.6293C5.24044 23.6373 5.18861 23.6476 5.14336 23.6523C5.09811 23.657 4.96853 23.6726 4.8554 23.687C4.34577 23.7516 3.97586 23.7744 3.4403 23.7742C2.86525 23.774 2.39575 23.7334 1.9676 23.647C1.92235 23.6378 1.83719 23.622 1.77837 23.6117C1.71954 23.6015 1.66439 23.5863 1.65578 23.5781C1.64719 23.5698 1.61571 23.563 1.58585 23.563C1.55598 23.563 1.53155 23.5565 1.53155 23.5485C1.53155 23.5404 1.51119 23.5297 1.4863 23.5245C1.37957 23.5024 1.28473 23.4724 1.28473 23.4606C1.28473 23.4536 1.27087 23.4479 1.25392 23.4479C1.23092 23.4479 1.21945 23.4302 1.20867 23.3779C1.18759 23.2759 1.18873 18.926 1.20986 18.8696C1.21912 18.8449 1.23791 18.8197 1.2516 18.8137C1.27884 18.8017 1.41497 18.7779 1.53155 18.7649C1.57227 18.7603 1.6204 18.7504 1.6385 18.7429C1.6699 18.73 1.83649 18.6982 1.95937 18.6817C1.99105 18.6774 2.03177 18.668 2.04987 18.6608C2.11627 18.6343 2.19969 18.6112 2.26826 18.6004C2.30693 18.5944 2.34253 18.583 2.34739 18.5751C2.35224 18.5672 2.37386 18.5608 2.39542 18.5608C2.41698 18.5608 2.43919 18.5534 2.44478 18.5444C2.45038 18.5353 2.47118 18.5279 2.49101 18.5278C2.51083 18.5277 2.54827 18.5166 2.57418 18.5031C2.60012 18.4896 2.6302 18.4785 2.64104 18.4785C2.65188 18.4785 2.69914 18.46 2.74604 18.4374C2.79293 18.4148 2.84615 18.3963 2.8643 18.3963C2.88245 18.3963 2.89729 18.3889 2.89729 18.3798C2.89729 18.3708 2.9058 18.3634 2.9162 18.3634C2.94121 18.3634 3.44694 18.1119 3.454 18.096C3.45703 18.0892 3.46945 18.0836 3.48163 18.0836C3.49381 18.0836 3.51355 18.0744 3.52552 18.0631C3.53746 18.0518 3.58798 18.0212 3.63775 17.9951C3.68753 17.9691 3.73196 17.9428 3.73648 17.9367C3.74101 17.9306 3.77319 17.9112 3.80801 17.8935C3.92662 17.8335 3.93394 17.829 3.93394 17.8164C3.93394 17.8095 3.94452 17.8039 3.95745 17.8039C3.97037 17.8039 3.99102 17.7946 4.00333 17.7833C4.02847 17.7602 4.08271 17.7275 4.15608 17.6911C4.18323 17.6776 4.20914 17.6623 4.21367 17.6571C4.21819 17.6519 4.26632 17.6254 4.32062 17.5983C4.37492 17.5712 4.42305 17.5451 4.42758 17.5403C4.43211 17.5354 4.46913 17.5171 4.50985 17.4995C4.55058 17.4819 4.5876 17.4636 4.59213 17.4588C4.60804 17.442 4.72516 17.3925 4.74901 17.3925C4.76227 17.3925 4.77313 17.3866 4.77313 17.3793C4.77313 17.3721 4.81201 17.3525 4.85952 17.3359C4.90702 17.3193 4.95293 17.2993 4.96154 17.2915C4.97013 17.2837 4.99375 17.2773 5.01404 17.2773C5.03433 17.2773 5.05523 17.2704 5.06049 17.2618C5.06578 17.2533 5.10333 17.2414 5.14395 17.2353C5.18458 17.2292 5.22187 17.2176 5.2268 17.2096C5.23176 17.2016 5.25757 17.1951 5.2842 17.1951C5.31082 17.1951 5.33259 17.1886 5.33259 17.1808C5.33259 17.1729 5.36407 17.1623 5.40252 17.1573C5.49826 17.1449 5.65928 17.1133 5.72044 17.095C5.74824 17.0867 5.80747 17.0794 5.85208 17.0787C5.89669 17.0781 5.948 17.0711 5.9661 17.0631C5.9842 17.0552 6.01382 17.0502 6.03192 17.0519C6.06458 17.0552 6.06486 17.0692 6.06998 18.9146Z" />
                                            </svg>
                                            <div class="cart-counter-list__litrs">{{ volume_converter.LitersToL( value['prod_volume'] ) }} L</div>
                                            <div class="cart-counter-list__minus">-</div>
                                            <div class="cart-counter-list__number">
                                                <input
                                                        type="text"
                                                        id="{{ value['prod_uniq_id'] }}"
                                                        data-prod="{{ value['prod_uniq_id'] }}"
                                                        data-good="{{ value['good_uniq_id'] }}"
                                                        class="input-text qty text input-value-prod count-item-in-basket {{ value['good_uniq_id'] }}"
                                                        name="{{ value['prod_uniq_id'] }}"
                                                        value="0"
                                                        size="4"
                                                        data-price = {{ value['prod_price'] }}
                                                />
                                            </div>
                                            <div class="cart-counter-list__plus">+</div>
                                        </li>
                                    {% endfor %}

                                </ul>
                        </div>
                            <div class="cart-item-wrap__total">
                                <div class="cart-item-warp__summ">
                                    {{ t_('app/basket', '_TEXT_3_')|raw }}
                                </div>
                                <div class="cart-itme-wrap__totalnumber">
                                 <span id="{{ tavr[0]['good_uniq_id'] }}"> 0 </span> ₽
                                </div>
                            </div>
                        </div>
</li>
<li class="cart-items-wrap"><!-- ЭМИЗ ПРЕМИУМ -->
                        <div class="cart-item-wrap__left cart-item-wrap__left_premium">
                           <img src="/img/cart-bottle2.png" alt="bottle" class="cart-item-wrap__img cart-item-wrap__img_premium">
                            <a href="/products/index/" class="cart-item-wrap__link">
                               {{ t_('app/basket', '_TEXT_4_')|raw }}
                                <svg width="13" height="7" viewBox="0 0 13 7" fill="none" xmlns="http://www.w3.org/2000/svg" class="cart-itme-wrap__eye">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.16407 0C9.39099 0 11.9674 2.81008 12.0745 2.92957C12.1939 3.06312 12.1939 3.26501 12.0745 3.39855C11.9673 3.51804 9.39094 6.32812 6.16407 6.32812C2.9372 6.32812 0.360808 3.51804 0.253676 3.39855C0.134191 3.26501 0.134191 3.06312 0.253676 2.92957C0.360808 2.81008 2.93715 0 6.16407 0ZM3.70313 3.16406C3.70313 4.52088 4.80725 5.625 6.16407 5.625C7.52089 5.625 8.62501 4.52088 8.62501 3.16406C8.62501 1.80724 7.52089 0.703125 6.16407 0.703125C4.80725 0.703125 3.70313 1.80724 3.70313 3.16406ZM6.95828 1.60476C6.69119 1.79613 6.51562 2.10726 6.51562 2.46094C6.51562 3.15286 7.18396 3.68829 7.89192 3.46036C7.75003 4.28826 7.03181 4.92187 6.16406 4.92187C5.19485 4.92187 4.40625 4.13327 4.40625 3.16406C4.40625 2.19485 5.19485 1.40625 6.16406 1.40625C6.45129 1.40625 6.71861 1.48207 6.95828 1.60476Z" fill="#5900AC"/>
                                </svg>
                            </a>
                        </div>
                        <div class="cart-item-wrap__right">
                            <h2 class="cart-tiem-wrap__title">{{ premium_translate[premium[0]['good_uniq_id']] }}</h2>
                            <div class="cart-counter">
                                <div class="cart-counter-wrap">
                                    <div class="cart-counter-wrap__litrs">
                                        {{ t_('app', '_PRODUCTS_VOLUME_')|raw }}
                                    </div>
                                    <div class="cart-counter-wrap__quant">
                                        {{ t_('app/basket', '_TEXT_2_')|raw }}
                                    </div>
                                </div>
                                <ul class="cart-counter-list" id="cart-counter-list-premium">

                                    {% for key, value in premium %}
                                        <li class="cart-counter-list__item
                                                 {% if value['prod_uniq_id'] == 'emiz_premium_05' %}thisInactive{% endif %}
                                                 {% if value['prod_uniq_id'] == 'emiz_premium_1' %}thisInactive{% endif %}
                                        ">
                                            <svg width="8" height="25" viewBox="0 0 8 25" fill="none" xmlns="http://www.w3.org/2000/svg" class="cart-counter-list__img">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.33334 0.0163311C3.32775 0.0253812 3.29335 0.0327858 3.25691 0.0327858C3.22046 0.0327858 3.1413 0.0448965 3.08099 0.0596728C2.96495 0.0881395 2.94122 0.0960378 2.84544 0.138063C2.8124 0.15256 2.77352 0.164424 2.75905 0.164424C2.74457 0.164424 2.73274 0.171828 2.73274 0.180878C2.73274 0.189928 2.72164 0.197333 2.70806 0.197333C2.69449 0.197333 2.68338 0.203059 2.68338 0.210053C2.68338 0.217046 2.65715 0.23689 2.6251 0.254151C2.55947 0.289496 2.44786 0.407707 2.40804 0.48404C2.36605 0.564553 2.34843 0.657523 2.3517 0.781476C2.35336 0.844827 2.35033 0.956851 2.34497 1.03044C2.33569 1.15765 2.33204 1.1676 2.27069 1.23339C2.23522 1.27143 2.20619 1.30934 2.20619 1.31764C2.20619 1.32593 2.19879 1.33271 2.18974 1.33271C2.18042 1.33271 2.17328 1.38015 2.17328 1.44213V1.55154L2.25556 1.63042L2.33783 1.70931V2.75239C2.33783 3.32609 2.34273 4.39507 2.34874 5.12789L2.35965 6.4603L2.32096 6.49635C2.29967 6.51618 2.26875 6.5324 2.25223 6.5324C2.23571 6.5324 2.20933 6.5389 2.19362 6.54685C2.11732 6.58544 2.03735 6.61468 2.00817 6.61468C1.99039 6.61468 1.97582 6.6206 1.97582 6.62783C1.97582 6.63507 1.94805 6.6506 1.91412 6.66238C1.84261 6.68716 1.57662 6.81457 1.56446 6.82984C1.55993 6.83553 1.52661 6.85385 1.49041 6.87055C1.45421 6.88725 1.42089 6.90501 1.41636 6.91001C1.40559 6.9219 1.3489 6.9574 1.31764 6.97183C1.30406 6.9781 1.27452 7.00026 1.25198 7.02109C1.22945 7.04191 1.2023 7.05896 1.19166 7.05896C1.181 7.05896 1.16982 7.0645 1.16679 7.0713C1.16378 7.07808 1.1317 7.10572 1.0955 7.13272C1.0593 7.15972 1.01131 7.19675 0.988854 7.215C0.937186 7.257 0.645345 7.55036 0.602793 7.60306C0.532811 7.68975 0.330352 7.98139 0.330352 7.99553C0.330352 8.00382 0.324708 8.01305 0.317797 8.01608C0.301539 8.02319 0.176483 8.28169 0.147984 8.36711C0.135906 8.40331 0.120175 8.44107 0.113034 8.45104C0.105876 8.461 0.0952793 8.50378 0.0894872 8.5461C0.0836787 8.58842 0.0725718 8.62699 0.0647722 8.6318C0.0569891 8.63662 0.0506212 8.6693 0.0506212 8.70443C0.0506212 8.73956 0.0442861 8.77222 0.0365524 8.77699C0.0288186 8.78178 0.0175965 8.85812 0.011607 8.94663C-0.00308709 9.16399 -0.00422247 23.5606 0.0104552 23.7095C0.0168231 23.7741 0.0284731 23.831 0.036322 23.8359C0.0441874 23.8407 0.0506212 23.8665 0.0506212 23.8931C0.0506212 23.9197 0.0580258 23.9415 0.0670759 23.9415C0.076126 23.9415 0.0835306 23.9527 0.0835306 23.9663C0.0835306 24.0408 0.336736 24.3693 0.394147 24.3693C0.404316 24.3693 0.412625 24.3762 0.412625 24.3847C0.412625 24.3931 0.429277 24.4052 0.449648 24.4116C0.470003 24.4179 0.490374 24.4284 0.494899 24.4348C0.506269 24.451 0.717482 24.5569 0.807539 24.5916C0.848264 24.6073 0.896394 24.6263 0.914495 24.6339C1.0008 24.6701 1.19995 24.7309 1.37523 24.7744C1.42953 24.7879 1.50357 24.8064 1.53977 24.8155C1.64354 24.8416 1.85992 24.8797 1.96375 24.8903C2.01592 24.8956 2.06264 24.9064 2.06756 24.9143C2.07248 24.9223 2.11641 24.9288 2.16522 24.9288C2.21401 24.9288 2.2895 24.9364 2.33296 24.9457C2.66676 25.0173 4.36941 25.0183 4.89654 24.9473C4.96894 24.9375 5.0615 24.9258 5.10222 24.9214C5.14295 24.9169 5.2244 24.906 5.28323 24.8972C5.34205 24.8883 5.44572 24.8731 5.51359 24.8633C5.58147 24.8535 5.64985 24.8383 5.66557 24.8295C5.68128 24.8208 5.71972 24.8136 5.75098 24.8136C5.78225 24.8136 5.8121 24.8067 5.8173 24.7983C5.8225 24.7899 5.86745 24.7779 5.91721 24.7717C5.96697 24.7655 6.01171 24.7539 6.01665 24.7459C6.02158 24.7379 6.04381 24.7313 6.06603 24.7313C6.08824 24.7313 6.11927 24.7249 6.13499 24.7169C6.1507 24.709 6.20798 24.6891 6.26228 24.6728C6.31658 24.6564 6.36842 24.6382 6.37747 24.6323C6.38652 24.6264 6.44575 24.6005 6.5091 24.5747C6.57245 24.5489 6.63539 24.5192 6.64897 24.5086C6.66254 24.498 6.69772 24.479 6.72713 24.4664C6.75655 24.4539 6.78061 24.4397 6.78061 24.4349C6.78061 24.4301 6.80652 24.4122 6.8382 24.3952C6.86987 24.3781 6.89579 24.3579 6.89579 24.3503C6.89579 24.3427 6.90367 24.3364 6.91331 24.3364C6.93615 24.3364 7.1097 24.1629 7.1097 24.14C7.1097 24.1304 7.11594 24.1225 7.12357 24.1225C7.13119 24.1225 7.15155 24.0948 7.16882 24.0608C7.18608 24.0269 7.20427 23.9954 7.20924 23.9909C7.22553 23.976 7.26173 23.8367 7.27979 23.7194C7.29223 23.6385 7.29773 21.5362 7.29822 16.6603C7.29893 9.68204 7.29455 9.07527 7.24183 8.86075C7.23295 8.82455 7.22549 8.76345 7.22528 8.725C7.22507 8.68654 7.21748 8.65506 7.20843 8.65506C7.19938 8.65506 7.19197 8.63535 7.19197 8.61126C7.19197 8.58717 7.17995 8.52608 7.16524 8.47551C7.12568 8.33946 7.105 8.28814 7.00877 8.08738C6.96972 8.00593 6.93388 7.93558 6.92913 7.93106C6.92437 7.92653 6.88416 7.86863 6.83978 7.80238C6.72135 7.62562 6.55975 7.44938 6.3672 7.28697C6.32045 7.24754 6.26661 7.20012 6.24754 7.18161C6.22848 7.16308 6.18883 7.13373 6.15942 7.11635C6.13002 7.09897 6.10596 7.08064 6.10596 7.07561C6.10596 7.07056 6.08005 7.05249 6.04837 7.03543C6.0167 7.01836 5.99078 6.99817 5.99078 6.99055C5.99078 6.98292 5.9803 6.97668 5.96746 6.97668C5.95464 6.97668 5.9417 6.97074 5.93867 6.96347C5.9269 6.93512 5.55861 6.72986 5.5195 6.72986C5.50721 6.72986 5.49714 6.72338 5.49714 6.71546C5.49714 6.70755 5.47547 6.69674 5.44899 6.69144C5.4225 6.68614 5.36882 6.66758 5.32969 6.65019C5.29057 6.63279 5.23263 6.60926 5.20095 6.59788C5.10642 6.56392 4.96323 6.49405 4.95026 6.47559C4.94362 6.46611 4.93807 5.42237 4.93792 4.15614C4.93769 2.04401 4.93996 1.84667 4.96537 1.76609C4.98059 1.71778 4.9991 1.67826 5.00651 1.67826C5.0139 1.67826 5.01995 1.66681 5.01995 1.65279C5.01995 1.63878 5.03846 1.61017 5.06109 1.58921C5.08371 1.56823 5.10222 1.5394 5.10222 1.52513C5.10222 1.51086 5.10963 1.49462 5.11868 1.48903C5.15072 1.46923 5.13441 1.40077 5.07754 1.31625C5.04587 1.26918 5.01995 1.22401 5.01995 1.21588C5.01995 1.20774 5.01327 1.20107 5.00511 1.20107C4.97236 1.20107 4.94706 1.08331 4.93616 0.880204C4.91865 0.554088 4.89669 0.480437 4.78004 0.356977C4.72398 0.297658 4.63813 0.23151 4.58889 0.209724C4.56351 0.198485 4.54276 0.184285 4.54276 0.178163C4.54276 0.172042 4.52063 0.162186 4.49358 0.156246C4.46654 0.150306 4.44018 0.138606 4.43502 0.130247C4.42987 0.121888 4.40757 0.115059 4.38547 0.115059C4.36337 0.115059 4.34531 0.108461 4.34531 0.100398C4.34531 0.0923519 4.32125 0.0815247 4.29183 0.0763415C4.26241 0.0711747 4.19022 0.0587514 4.13139 0.0487305C4.07257 0.0387095 4.0017 0.0236205 3.97391 0.0151957C3.90485 -0.00573471 3.34637 -0.00474742 3.33334 0.0163311ZM6.06998 18.9146C6.07281 19.9373 6.07007 21.3748 6.06389 22.1092L6.05265 23.4444L6.0176 23.4604C5.96919 23.4825 5.83059 23.5174 5.7562 23.5263C5.72221 23.5303 5.6903 23.5402 5.6853 23.5483C5.68029 23.5564 5.65393 23.563 5.62672 23.563C5.59952 23.563 5.56401 23.5701 5.54782 23.5788C5.53163 23.5875 5.46732 23.5991 5.40492 23.6047C5.34251 23.6103 5.27664 23.6214 5.25854 23.6293C5.24044 23.6373 5.18861 23.6476 5.14336 23.6523C5.09811 23.657 4.96853 23.6726 4.8554 23.687C4.34577 23.7516 3.97586 23.7744 3.4403 23.7742C2.86525 23.774 2.39575 23.7334 1.9676 23.647C1.92235 23.6378 1.83719 23.622 1.77837 23.6117C1.71954 23.6015 1.66439 23.5863 1.65578 23.5781C1.64719 23.5698 1.61571 23.563 1.58585 23.563C1.55598 23.563 1.53155 23.5565 1.53155 23.5485C1.53155 23.5404 1.51119 23.5297 1.4863 23.5245C1.37957 23.5024 1.28473 23.4724 1.28473 23.4606C1.28473 23.4536 1.27087 23.4479 1.25392 23.4479C1.23092 23.4479 1.21945 23.4302 1.20867 23.3779C1.18759 23.2759 1.18873 18.926 1.20986 18.8696C1.21912 18.8449 1.23791 18.8197 1.2516 18.8137C1.27884 18.8017 1.41497 18.7779 1.53155 18.7649C1.57227 18.7603 1.6204 18.7504 1.6385 18.7429C1.6699 18.73 1.83649 18.6982 1.95937 18.6817C1.99105 18.6774 2.03177 18.668 2.04987 18.6608C2.11627 18.6343 2.19969 18.6112 2.26826 18.6004C2.30693 18.5944 2.34253 18.583 2.34739 18.5751C2.35224 18.5672 2.37386 18.5608 2.39542 18.5608C2.41698 18.5608 2.43919 18.5534 2.44478 18.5444C2.45038 18.5353 2.47118 18.5279 2.49101 18.5278C2.51083 18.5277 2.54827 18.5166 2.57418 18.5031C2.60012 18.4896 2.6302 18.4785 2.64104 18.4785C2.65188 18.4785 2.69914 18.46 2.74604 18.4374C2.79293 18.4148 2.84615 18.3963 2.8643 18.3963C2.88245 18.3963 2.89729 18.3889 2.89729 18.3798C2.89729 18.3708 2.9058 18.3634 2.9162 18.3634C2.94121 18.3634 3.44694 18.1119 3.454 18.096C3.45703 18.0892 3.46945 18.0836 3.48163 18.0836C3.49381 18.0836 3.51355 18.0744 3.52552 18.0631C3.53746 18.0518 3.58798 18.0212 3.63775 17.9951C3.68753 17.9691 3.73196 17.9428 3.73648 17.9367C3.74101 17.9306 3.77319 17.9112 3.80801 17.8935C3.92662 17.8335 3.93394 17.829 3.93394 17.8164C3.93394 17.8095 3.94452 17.8039 3.95745 17.8039C3.97037 17.8039 3.99102 17.7946 4.00333 17.7833C4.02847 17.7602 4.08271 17.7275 4.15608 17.6911C4.18323 17.6776 4.20914 17.6623 4.21367 17.6571C4.21819 17.6519 4.26632 17.6254 4.32062 17.5983C4.37492 17.5712 4.42305 17.5451 4.42758 17.5403C4.43211 17.5354 4.46913 17.5171 4.50985 17.4995C4.55058 17.4819 4.5876 17.4636 4.59213 17.4588C4.60804 17.442 4.72516 17.3925 4.74901 17.3925C4.76227 17.3925 4.77313 17.3866 4.77313 17.3793C4.77313 17.3721 4.81201 17.3525 4.85952 17.3359C4.90702 17.3193 4.95293 17.2993 4.96154 17.2915C4.97013 17.2837 4.99375 17.2773 5.01404 17.2773C5.03433 17.2773 5.05523 17.2704 5.06049 17.2618C5.06578 17.2533 5.10333 17.2414 5.14395 17.2353C5.18458 17.2292 5.22187 17.2176 5.2268 17.2096C5.23176 17.2016 5.25757 17.1951 5.2842 17.1951C5.31082 17.1951 5.33259 17.1886 5.33259 17.1808C5.33259 17.1729 5.36407 17.1623 5.40252 17.1573C5.49826 17.1449 5.65928 17.1133 5.72044 17.095C5.74824 17.0867 5.80747 17.0794 5.85208 17.0787C5.89669 17.0781 5.948 17.0711 5.9661 17.0631C5.9842 17.0552 6.01382 17.0502 6.03192 17.0519C6.06458 17.0552 6.06486 17.0692 6.06998 18.9146Z" />
                                            </svg>
                                            <div class="cart-counter-list__litrs">
                                                {{ volume_converter.LitersToL( value['prod_volume'] ) }} L
                                            </div>
                                            <div class="cart-counter-list__minus">
                                                -
                                            </div>
                                            <div class="cart-counter-list__number">
                                                <input
                                                        type="text"
                                                        id="{{ value['prod_uniq_id'] }}"
                                                        data-prod="{{ value['prod_uniq_id'] }}"
                                                        data-good="{{ value['good_uniq_id'] }}"
                                                        class="input-text qty text input-value-prod count-item-in-basket"
                                                        name="{{ value['prod_uniq_id'] }}"
                                                        value="0"
                                                        size="4"
                                                        data-price = {{ value['prod_price'] }}
                                                />
                                            </div>
                                            <div class="cart-counter-list__plus">
                                                +
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>


                            </div>
                            <div class="cart-item-wrap__total">
                                <div class="cart-item-warp__summ">
                                    {{ t_('app/basket', '_TEXT_3_')|raw }}
                                </div>
                                <div class="cart-itme-wrap__totalnumber cart-itme-wrap__totalnumber_inactive">
                                    <span id="{{ premium[0]['good_uniq_id'] }}" class="products-hero-total-wrapper__number"> 0 </span> ₽
                                </div>
                            </div>
</div>
</li>
<li class="cart-items-wrap"><!-- ПАСТА ВИНОГРАДНАЯ -->
                        <div class="cart-item-wrap__left cart-item-wrap__left_pasta">
                           <img src="/img/cart-pasta.png" alt="bottle" class="cart-item-wrap__img cart-item-wrap__img__pasta">
                            <a href="/products/pasta/" class="cart-item-wrap__link">
                                {{ t_('app/basket', '_TEXT_4_')|raw }}
                                <svg width="13" height="7" viewBox="0 0 13 7" fill="none" xmlns="http://www.w3.org/2000/svg" class="cart-itme-wrap__eye">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.16407 0C9.39099 0 11.9674 2.81008 12.0745 2.92957C12.1939 3.06312 12.1939 3.26501 12.0745 3.39855C11.9673 3.51804 9.39094 6.32812 6.16407 6.32812C2.9372 6.32812 0.360808 3.51804 0.253676 3.39855C0.134191 3.26501 0.134191 3.06312 0.253676 2.92957C0.360808 2.81008 2.93715 0 6.16407 0ZM3.70313 3.16406C3.70313 4.52088 4.80725 5.625 6.16407 5.625C7.52089 5.625 8.62501 4.52088 8.62501 3.16406C8.62501 1.80724 7.52089 0.703125 6.16407 0.703125C4.80725 0.703125 3.70313 1.80724 3.70313 3.16406ZM6.95828 1.60476C6.69119 1.79613 6.51562 2.10726 6.51562 2.46094C6.51562 3.15286 7.18396 3.68829 7.89192 3.46036C7.75003 4.28826 7.03181 4.92187 6.16406 4.92187C5.19485 4.92187 4.40625 4.13327 4.40625 3.16406C4.40625 2.19485 5.19485 1.40625 6.16406 1.40625C6.45129 1.40625 6.71861 1.48207 6.95828 1.60476Z" fill="#2F8342"/>
                                </svg>
                            </a>
                        </div>
                        <div class="cart-item-wrap__right cart-item-wrap__right_pasta">
                            <h2 class="cart-tiem-wrap__title">{{ pasta_translate[ pasta[0]['good_uniq_id']] }}</h2>
                            <div class="cart-counter">
                                <div class="cart-counter-wrap">
                                    <div class="cart-counter-wrap__litrs">
                                        {{ t_('app', '_PRODUCTS_VOLUME_')|raw }}
                                    </div>
                                    <div class="cart-counter-wrap__quant">
                                        {{ t_('app/basket', '_TEXT_2_')|raw }}
                                    </div>
                                </div>
                                <ul class="cart-counter-list" id="cart-counter-list-pasta">

                                    {% for key, value in pasta %}
                                    <li class="cart-counter-list__item">
                                        <svg width="8" height="25" viewBox="0 0 8 25" fill="none" xmlns="http://www.w3.org/2000/svg" class="cart-counter-list__img">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.33334 0.0163311C3.32775 0.0253812 3.29335 0.0327858 3.25691 0.0327858C3.22046 0.0327858 3.1413 0.0448965 3.08099 0.0596728C2.96495 0.0881395 2.94122 0.0960378 2.84544 0.138063C2.8124 0.15256 2.77352 0.164424 2.75905 0.164424C2.74457 0.164424 2.73274 0.171828 2.73274 0.180878C2.73274 0.189928 2.72164 0.197333 2.70806 0.197333C2.69449 0.197333 2.68338 0.203059 2.68338 0.210053C2.68338 0.217046 2.65715 0.23689 2.6251 0.254151C2.55947 0.289496 2.44786 0.407707 2.40804 0.48404C2.36605 0.564553 2.34843 0.657523 2.3517 0.781476C2.35336 0.844827 2.35033 0.956851 2.34497 1.03044C2.33569 1.15765 2.33204 1.1676 2.27069 1.23339C2.23522 1.27143 2.20619 1.30934 2.20619 1.31764C2.20619 1.32593 2.19879 1.33271 2.18974 1.33271C2.18042 1.33271 2.17328 1.38015 2.17328 1.44213V1.55154L2.25556 1.63042L2.33783 1.70931V2.75239C2.33783 3.32609 2.34273 4.39507 2.34874 5.12789L2.35965 6.4603L2.32096 6.49635C2.29967 6.51618 2.26875 6.5324 2.25223 6.5324C2.23571 6.5324 2.20933 6.5389 2.19362 6.54685C2.11732 6.58544 2.03735 6.61468 2.00817 6.61468C1.99039 6.61468 1.97582 6.6206 1.97582 6.62783C1.97582 6.63507 1.94805 6.6506 1.91412 6.66238C1.84261 6.68716 1.57662 6.81457 1.56446 6.82984C1.55993 6.83553 1.52661 6.85385 1.49041 6.87055C1.45421 6.88725 1.42089 6.90501 1.41636 6.91001C1.40559 6.9219 1.3489 6.9574 1.31764 6.97183C1.30406 6.9781 1.27452 7.00026 1.25198 7.02109C1.22945 7.04191 1.2023 7.05896 1.19166 7.05896C1.181 7.05896 1.16982 7.0645 1.16679 7.0713C1.16378 7.07808 1.1317 7.10572 1.0955 7.13272C1.0593 7.15972 1.01131 7.19675 0.988854 7.215C0.937186 7.257 0.645345 7.55036 0.602793 7.60306C0.532811 7.68975 0.330352 7.98139 0.330352 7.99553C0.330352 8.00382 0.324708 8.01305 0.317797 8.01608C0.301539 8.02319 0.176483 8.28169 0.147984 8.36711C0.135906 8.40331 0.120175 8.44107 0.113034 8.45104C0.105876 8.461 0.0952793 8.50378 0.0894872 8.5461C0.0836787 8.58842 0.0725718 8.62699 0.0647722 8.6318C0.0569891 8.63662 0.0506212 8.6693 0.0506212 8.70443C0.0506212 8.73956 0.0442861 8.77222 0.0365524 8.77699C0.0288186 8.78178 0.0175965 8.85812 0.011607 8.94663C-0.00308709 9.16399 -0.00422247 23.5606 0.0104552 23.7095C0.0168231 23.7741 0.0284731 23.831 0.036322 23.8359C0.0441874 23.8407 0.0506212 23.8665 0.0506212 23.8931C0.0506212 23.9197 0.0580258 23.9415 0.0670759 23.9415C0.076126 23.9415 0.0835306 23.9527 0.0835306 23.9663C0.0835306 24.0408 0.336736 24.3693 0.394147 24.3693C0.404316 24.3693 0.412625 24.3762 0.412625 24.3847C0.412625 24.3931 0.429277 24.4052 0.449648 24.4116C0.470003 24.4179 0.490374 24.4284 0.494899 24.4348C0.506269 24.451 0.717482 24.5569 0.807539 24.5916C0.848264 24.6073 0.896394 24.6263 0.914495 24.6339C1.0008 24.6701 1.19995 24.7309 1.37523 24.7744C1.42953 24.7879 1.50357 24.8064 1.53977 24.8155C1.64354 24.8416 1.85992 24.8797 1.96375 24.8903C2.01592 24.8956 2.06264 24.9064 2.06756 24.9143C2.07248 24.9223 2.11641 24.9288 2.16522 24.9288C2.21401 24.9288 2.2895 24.9364 2.33296 24.9457C2.66676 25.0173 4.36941 25.0183 4.89654 24.9473C4.96894 24.9375 5.0615 24.9258 5.10222 24.9214C5.14295 24.9169 5.2244 24.906 5.28323 24.8972C5.34205 24.8883 5.44572 24.8731 5.51359 24.8633C5.58147 24.8535 5.64985 24.8383 5.66557 24.8295C5.68128 24.8208 5.71972 24.8136 5.75098 24.8136C5.78225 24.8136 5.8121 24.8067 5.8173 24.7983C5.8225 24.7899 5.86745 24.7779 5.91721 24.7717C5.96697 24.7655 6.01171 24.7539 6.01665 24.7459C6.02158 24.7379 6.04381 24.7313 6.06603 24.7313C6.08824 24.7313 6.11927 24.7249 6.13499 24.7169C6.1507 24.709 6.20798 24.6891 6.26228 24.6728C6.31658 24.6564 6.36842 24.6382 6.37747 24.6323C6.38652 24.6264 6.44575 24.6005 6.5091 24.5747C6.57245 24.5489 6.63539 24.5192 6.64897 24.5086C6.66254 24.498 6.69772 24.479 6.72713 24.4664C6.75655 24.4539 6.78061 24.4397 6.78061 24.4349C6.78061 24.4301 6.80652 24.4122 6.8382 24.3952C6.86987 24.3781 6.89579 24.3579 6.89579 24.3503C6.89579 24.3427 6.90367 24.3364 6.91331 24.3364C6.93615 24.3364 7.1097 24.1629 7.1097 24.14C7.1097 24.1304 7.11594 24.1225 7.12357 24.1225C7.13119 24.1225 7.15155 24.0948 7.16882 24.0608C7.18608 24.0269 7.20427 23.9954 7.20924 23.9909C7.22553 23.976 7.26173 23.8367 7.27979 23.7194C7.29223 23.6385 7.29773 21.5362 7.29822 16.6603C7.29893 9.68204 7.29455 9.07527 7.24183 8.86075C7.23295 8.82455 7.22549 8.76345 7.22528 8.725C7.22507 8.68654 7.21748 8.65506 7.20843 8.65506C7.19938 8.65506 7.19197 8.63535 7.19197 8.61126C7.19197 8.58717 7.17995 8.52608 7.16524 8.47551C7.12568 8.33946 7.105 8.28814 7.00877 8.08738C6.96972 8.00593 6.93388 7.93558 6.92913 7.93106C6.92437 7.92653 6.88416 7.86863 6.83978 7.80238C6.72135 7.62562 6.55975 7.44938 6.3672 7.28697C6.32045 7.24754 6.26661 7.20012 6.24754 7.18161C6.22848 7.16308 6.18883 7.13373 6.15942 7.11635C6.13002 7.09897 6.10596 7.08064 6.10596 7.07561C6.10596 7.07056 6.08005 7.05249 6.04837 7.03543C6.0167 7.01836 5.99078 6.99817 5.99078 6.99055C5.99078 6.98292 5.9803 6.97668 5.96746 6.97668C5.95464 6.97668 5.9417 6.97074 5.93867 6.96347C5.9269 6.93512 5.55861 6.72986 5.5195 6.72986C5.50721 6.72986 5.49714 6.72338 5.49714 6.71546C5.49714 6.70755 5.47547 6.69674 5.44899 6.69144C5.4225 6.68614 5.36882 6.66758 5.32969 6.65019C5.29057 6.63279 5.23263 6.60926 5.20095 6.59788C5.10642 6.56392 4.96323 6.49405 4.95026 6.47559C4.94362 6.46611 4.93807 5.42237 4.93792 4.15614C4.93769 2.04401 4.93996 1.84667 4.96537 1.76609C4.98059 1.71778 4.9991 1.67826 5.00651 1.67826C5.0139 1.67826 5.01995 1.66681 5.01995 1.65279C5.01995 1.63878 5.03846 1.61017 5.06109 1.58921C5.08371 1.56823 5.10222 1.5394 5.10222 1.52513C5.10222 1.51086 5.10963 1.49462 5.11868 1.48903C5.15072 1.46923 5.13441 1.40077 5.07754 1.31625C5.04587 1.26918 5.01995 1.22401 5.01995 1.21588C5.01995 1.20774 5.01327 1.20107 5.00511 1.20107C4.97236 1.20107 4.94706 1.08331 4.93616 0.880204C4.91865 0.554088 4.89669 0.480437 4.78004 0.356977C4.72398 0.297658 4.63813 0.23151 4.58889 0.209724C4.56351 0.198485 4.54276 0.184285 4.54276 0.178163C4.54276 0.172042 4.52063 0.162186 4.49358 0.156246C4.46654 0.150306 4.44018 0.138606 4.43502 0.130247C4.42987 0.121888 4.40757 0.115059 4.38547 0.115059C4.36337 0.115059 4.34531 0.108461 4.34531 0.100398C4.34531 0.0923519 4.32125 0.0815247 4.29183 0.0763415C4.26241 0.0711747 4.19022 0.0587514 4.13139 0.0487305C4.07257 0.0387095 4.0017 0.0236205 3.97391 0.0151957C3.90485 -0.00573471 3.34637 -0.00474742 3.33334 0.0163311ZM6.06998 18.9146C6.07281 19.9373 6.07007 21.3748 6.06389 22.1092L6.05265 23.4444L6.0176 23.4604C5.96919 23.4825 5.83059 23.5174 5.7562 23.5263C5.72221 23.5303 5.6903 23.5402 5.6853 23.5483C5.68029 23.5564 5.65393 23.563 5.62672 23.563C5.59952 23.563 5.56401 23.5701 5.54782 23.5788C5.53163 23.5875 5.46732 23.5991 5.40492 23.6047C5.34251 23.6103 5.27664 23.6214 5.25854 23.6293C5.24044 23.6373 5.18861 23.6476 5.14336 23.6523C5.09811 23.657 4.96853 23.6726 4.8554 23.687C4.34577 23.7516 3.97586 23.7744 3.4403 23.7742C2.86525 23.774 2.39575 23.7334 1.9676 23.647C1.92235 23.6378 1.83719 23.622 1.77837 23.6117C1.71954 23.6015 1.66439 23.5863 1.65578 23.5781C1.64719 23.5698 1.61571 23.563 1.58585 23.563C1.55598 23.563 1.53155 23.5565 1.53155 23.5485C1.53155 23.5404 1.51119 23.5297 1.4863 23.5245C1.37957 23.5024 1.28473 23.4724 1.28473 23.4606C1.28473 23.4536 1.27087 23.4479 1.25392 23.4479C1.23092 23.4479 1.21945 23.4302 1.20867 23.3779C1.18759 23.2759 1.18873 18.926 1.20986 18.8696C1.21912 18.8449 1.23791 18.8197 1.2516 18.8137C1.27884 18.8017 1.41497 18.7779 1.53155 18.7649C1.57227 18.7603 1.6204 18.7504 1.6385 18.7429C1.6699 18.73 1.83649 18.6982 1.95937 18.6817C1.99105 18.6774 2.03177 18.668 2.04987 18.6608C2.11627 18.6343 2.19969 18.6112 2.26826 18.6004C2.30693 18.5944 2.34253 18.583 2.34739 18.5751C2.35224 18.5672 2.37386 18.5608 2.39542 18.5608C2.41698 18.5608 2.43919 18.5534 2.44478 18.5444C2.45038 18.5353 2.47118 18.5279 2.49101 18.5278C2.51083 18.5277 2.54827 18.5166 2.57418 18.5031C2.60012 18.4896 2.6302 18.4785 2.64104 18.4785C2.65188 18.4785 2.69914 18.46 2.74604 18.4374C2.79293 18.4148 2.84615 18.3963 2.8643 18.3963C2.88245 18.3963 2.89729 18.3889 2.89729 18.3798C2.89729 18.3708 2.9058 18.3634 2.9162 18.3634C2.94121 18.3634 3.44694 18.1119 3.454 18.096C3.45703 18.0892 3.46945 18.0836 3.48163 18.0836C3.49381 18.0836 3.51355 18.0744 3.52552 18.0631C3.53746 18.0518 3.58798 18.0212 3.63775 17.9951C3.68753 17.9691 3.73196 17.9428 3.73648 17.9367C3.74101 17.9306 3.77319 17.9112 3.80801 17.8935C3.92662 17.8335 3.93394 17.829 3.93394 17.8164C3.93394 17.8095 3.94452 17.8039 3.95745 17.8039C3.97037 17.8039 3.99102 17.7946 4.00333 17.7833C4.02847 17.7602 4.08271 17.7275 4.15608 17.6911C4.18323 17.6776 4.20914 17.6623 4.21367 17.6571C4.21819 17.6519 4.26632 17.6254 4.32062 17.5983C4.37492 17.5712 4.42305 17.5451 4.42758 17.5403C4.43211 17.5354 4.46913 17.5171 4.50985 17.4995C4.55058 17.4819 4.5876 17.4636 4.59213 17.4588C4.60804 17.442 4.72516 17.3925 4.74901 17.3925C4.76227 17.3925 4.77313 17.3866 4.77313 17.3793C4.77313 17.3721 4.81201 17.3525 4.85952 17.3359C4.90702 17.3193 4.95293 17.2993 4.96154 17.2915C4.97013 17.2837 4.99375 17.2773 5.01404 17.2773C5.03433 17.2773 5.05523 17.2704 5.06049 17.2618C5.06578 17.2533 5.10333 17.2414 5.14395 17.2353C5.18458 17.2292 5.22187 17.2176 5.2268 17.2096C5.23176 17.2016 5.25757 17.1951 5.2842 17.1951C5.31082 17.1951 5.33259 17.1886 5.33259 17.1808C5.33259 17.1729 5.36407 17.1623 5.40252 17.1573C5.49826 17.1449 5.65928 17.1133 5.72044 17.095C5.74824 17.0867 5.80747 17.0794 5.85208 17.0787C5.89669 17.0781 5.948 17.0711 5.9661 17.0631C5.9842 17.0552 6.01382 17.0502 6.03192 17.0519C6.06458 17.0552 6.06486 17.0692 6.06998 18.9146Z" />
                                        </svg>
                                        <div class="cart-counter-list__litrs">
                                            {{ volume_converter.LitersToL( value['prod_volume'] ) }} L
                                        </div>
                                        <div class="cart-counter-list__minus">
                                            -
                                        </div>
                                        <div class="cart-counter-list__number">
                                            <input
                                                    type="text"
                                                    id="{{ value['prod_uniq_id'] }}"
                                                    data-prod="{{ value['prod_uniq_id'] }}"
                                                    data-good="{{ value['good_uniq_id'] }}"
                                                    class="input-text qty text input-value-prod count-item-in-basket"
                                                    name="{{ value['prod_uniq_id'] }}"
                                                    value="0"
                                                    size="4"
                                                    data-price = {{ value['prod_price'] }}
                                            />
                                        </div>
                                        <div class="cart-counter-list__plus">
                                            +
                                        </div>
                                    </li>
                                    {% endfor %}
                                  </ul>


                            </div>
                            <div class="cart-item-wrap__total">
                                <div class="cart-item-warp__summ">
                                    {{ t_('app/basket', '_TEXT_3_')|raw }}
                                </div>
                                <div class="cart-itme-wrap__totalnumber cart-itme-wrap__totalnumber_inactive">
                                    <span id="{{ pasta[0]['good_uniq_id'] }}" class="products-hero-total-wrapper__number"> 0 </span> ₽
                                </div>
                            </div>
                        </div>
                        </li>
</ul>

                <div class="cart-sidebar">

                    <div class="cart-info cart-info-first">
                        <div class="cart-info__checkout">
                           <img src="/img/modal2.png" alt="" class="box-modal__corner">
                            <div class="cart-info-top">
                                <h2 class="cart-info-top__title" name="STEP_1">{{ t_('app/basket', '_TEXT_5_')|raw }}</h2>
                                <div class="card-info-top__step">{{ t_('app/basket', '_TEXT_6_')|raw }}</div>
                            </div>
                            <form action="{{ url_for_basket }}" class="cart-form" method="post" id="basket-form">
                                <h2 class="cart-form__title">{{ t_('app/basket', '_TEXT_7_')|raw }}</h2>
                                <input type="text" required name="BasketForm[name]" placeholder="{{ t_('app/basket', '_TEXT_8_')|raw }}" class="cart-form__input" id="name" value="{{ dealer['info_name'] }}">
                                <input type="text" required name="BasketForm[surname]" placeholder="{{ t_('app/basket', '_TEXT_9_')|raw }}" class="cart-form__input" id="surname" value="{{ dealer['info_famuly'] }}">
                                {% if get_lang.lang() != 'en' %} 
                                    <input type="text" required name="BasketForm[middle_name]" placeholder="{{ t_('app/basket', '_TEXT_10_')|raw }}" class="cart-form__input" id="middle_name" value="{{ dealer['info_otchestvo'] }}">
                               {% endif %}
                                <input type="phone" required name="BasketForm[phone]" placeholder="+7 (___) ___-__-__" class="cart-form__input" id="phone" value="{{ dealer['info_phone'] }}">
                                <input type="email" required name="BasketForm[email]" placeholder="{{ t_('app/basket', '_TEXT_11_')|raw }}" class="cart-form__input" id="email" value="{{ dealer['info_email'] }}">


                                    <!--<div class="cart-form__line "></div>
                                    <h2 class="cart-form__title cart-form__title_second ">контактные данные</h2>-->
                                <input type="hidden" required name="BasketForm[index]" placeholder="{{ t_('app/basket', '_TEXT_12_')|raw }}" class="cart-form__input cart-form__input_index" id="index" value="{{ dealer['adr_pindex'] }}">
                                <input type="hidden" required name="BasketForm[city]" placeholder="{{ t_('app/basket', '_TEXT_13_')|raw }}" class="cart-form__input"  id="city" value="{{ dealer['adr_city'] }}">
                                <input type="hidden" required name="BasketForm[address]" placeholder="{{ t_('app/basket', '_TEXT_14_')|raw }}" class="cart-form__input" id="address" value="{{ dealer['adr_street'] }}">
                                <input type="hidden" required name="BasketForm[home]" placeholder="{{ t_('app/basket', '_TEXT_15_')|raw }}" class="cart-form__input cart-form__input_house" id="home" value="{{ dealer['adr_house'] }}">
                                <input type="hidden" required name="BasketForm[corpus]" placeholder="{{ t_('app/basket', '_TEXT_16_')|raw }}" class="cart-form__input cart-form__input_korp" id="corpus" value="{{ dealer['adr_korpus'] }}">
                                <input type="hidden" required name="BasketForm[flat]" placeholder="{{ t_('app/basket', '_TEXT_17_')|raw }}" class="cart-form__input cart-form__input_kvpa" id="flat" value="{{ dealer['adr_apartament'] }}">

                                <input type="hidden" value="" name="BasketForm[card_number]" id="card_number">
                                <input type="hidden" value="" name="BasketForm[card_date1]" id="card_date1">
                                <input type="hidden" value="" name="BasketForm[card_date1]" id="card_date2">
                                <input type="hidden" value="" name="BasketForm[card_numberback]" id="card_numberback">
                                <input type="hidden" value="" name="BasketForm[payment_type]" id="payment_type">
                                <input type="hidden" value="" name="BasketForm[transport]" id="transport">
                                <input type="hidden" value="" name="BasketForm[remember]" id="form_remember">
                                <input type="hidden" value="" name="BasketForm[type_transport]" id="type_transport">
                                {{ csrf.get_html_token|raw }}
                            </form>
                            <div class="cart-pay">
                                <div class="cart-pay-wrap">
                                    <h3 class="cart-pay-wrap__title">{{ t_('app/basket', '_TEXT_18_')|raw }}</h3>
                                    <div class="cart-pay-wrap__number"><span id="final-basket-summ">0</span> ₽</div>
                                </div>
                                <a href="javascript:void(0);" id="a_step_2" class="cart-pay__next cart-pay__next_2">
                                    {{ t_('app/basket', '_TEXT_19_')|raw }}
                                   <img src="/img/contacts-next.svg" alt="" class="contacts-slid__nextimg">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="cart-info cart-info-second">
                        <div class="cart-info__checkout">
                           <img src="/img/cart-sidebar2.svg" alt="" class="box-modal__corner">
                            <div class="cart-info-top">
                                <h2 class="cart-info-top__title" name="STEP_2">{{ t_('app/basket', 'Checkout')|raw }}</h2>
                                <div class="card-info-top__step">{{ t_('app/basket', '_TEXT_20_')|raw }}</div>
                            </div>
                            <div class="cart-info-check">
                       
                                <div class="cart-info-ckeck-middle">
                 
                                    <div class="cart-info-ckeck-middle-delivery">
                                       <img src="/img/cart-delivery.svg" alt="deliviery"
                                            class="cart-info-ckeck-middle-delivery__img">
                                        <div class="cert-info-ckeck-middle-delivery__title">
                                            {{ t_('app/basket', '_TEXT_21_')|raw }}
                                        </div>
                                    </div>
                                    <div class="cart-info-ckeck-middle__select">{{ t_('app/basket', '_TEXT_22_')|raw }}</div>
                                    <div class="cart-this-select">
                                        <div class="cart-this-select-form">
                                                
                                            <label for="opt11" class="radio">
                                                <input type="radio" name="rdo" id="opt11" class="hidden transport" data-value="200" data-type_transport="CDEK" />
                                                <span class="label"></span>
                                                <p class="label-text">{{ t_('app/basket', '_TEXT_23_')|raw }}</p>
                                            </label>
                                            <div class="form-hidden-lable">
                                                <div class="form-hidden-lable-wrap">
                                                    <div class="form-hidden-lable-wrap__title">
                                                        {{ t_('app/basket', '_TEXT_24_')|raw }}
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <label for="opt10" class="radio">
                                                <input type="radio" name="rdo" id="opt10" class="hidden transport" data-value="100" data-type_transport="postman" />
                                                <span class="label"></span>
                                                <p class="label-text">
                                                    {{ t_('app/basket', '_TEXT_25_')|raw }}
                                                </p>
                                            </label>
                                            <div class="form-hidden-lable">
                                                <div class="form-hidden-lable-wrap">
                                                    <div class="form-hidden-lable-wrap__title">
                                                        {{ t_('app/basket', '_TEXT_26_')|raw }}
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <label for="opt100" class="radio">
                                                <input type="radio" name="rdo" id="opt100" class="hidden transport" data-value="0" data-type_transport="samo" />
                                                <span class="label"></span>
                                                <p class="label-text">
                                                    {{ t_('app/basket', '_TEXT_27_')|raw }}
                                                </p>
                                            </label>
                                            <div class="form-hidden-lable">
                                                <div class="form-hidden-lable-wrap">
                                                    <div class="form-hidden-lable-wrap__title">
                                                        {{ t_('app/basket', '_TEXT_28_')|raw }}
                                                    </div>
                                                </div>
                                             </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="cart-form__title-hidden">
                                <div class="cart-form__line"></div>
                                <h2 class="cart-form__title cart-form__title_second ">
                                    {{ t_('app/basket', '_TEXT_29_')|raw }}
                                </h2>

                                <input type="hidden" required name="_BasketForm[index]" placeholder="Индекс" class="cart-form__input cart-form__input_index" data-iid="index" value="{{ dealer['adr_pindex'] }}">
                                <input type="hidden" required name="_BasketForm[city]" placeholder="Город" class="cart-form__input" data-iid="city" value="{{ dealer['adr_city'] }}">
                                  <select name="list_city" class="cart-form__input" id="list_city">  
                                      {% for key, value in list_of_town %}
                                          <option value="{{ key }}">{{ value }}</option>
                                      {% endfor %}      
                                  </select>   
                                <input type="hidden" required name="_BasketForm[address]" placeholder="Улица" class="cart-form__input" data-iid="address" value="{{ dealer['adr_street'] }}">
                                <input type="hidden" required name="_BasketForm[home]" placeholder="Дом" class="cart-form__input cart-form__input_house" data-iid="home" value="{{ dealer['adr_house'] }}">
                                <input type="hidden" required name="_BasketForm[corpus]" placeholder="Корпус" class="cart-form__input cart-form__input_korp" data-iid="corpus" value="{{ dealer['adr_korpus'] }}">
                                <input type="hidden" required name="_BasketForm[flat]" placeholder="Кв-ра" class="cart-form__input cart-form__input_kvpa" data-iid="flat" value="{{ dealer['adr_apartament'] }}">
                            </div>
                            </div>

                            <div class="cart-pay">
                                <a href="javascript:void(0);" id="a_back_1" class="cart-pay__next cart-pay__back" data-src="STEP_1">
                                   <img src="/img/cart-back.svg" alt="" class="contacts-slid__nextimg">
                                    {{ t_('app/basket', '_TEXT_36_')|raw }}
                                </a>
                                <a href="javascript:void(0);" id="a_step_3" class="cart-pay__next" data-src="STEP_3">
                                    {{ t_('app/basket', '_TEXT_19_')|raw }}
                                   <img src="/img/contacts-next.svg" alt="" class="contacts-slid__nextimg">
                                </a>
                            </div>
                        </div>

                    </div>

                    <div class="cart-info cart-infp-third">
                        <div class="cart-info__checkout">
                           <img src="/img/cart-last.png" alt="" class="box-modal__corner">
                            <div class="cart-info-top">
                                <h2 class="cart-info-top__title" name="STEP_3">{{ t_('app/basket', '_TEXT_5_')|raw }}</h2>
                                <div class="card-info-top__step">{{ t_('app/basket', '_TEXT_30_')|raw }}</div>
                            </div>
                            <div  class="cart-last-form">
                                <div class="cart-last-form-pay">
                                   <img src="/img/cart-pay.svg" alt="pay" class="cart-last-form-pay__img">
                                    <h3 class="cart-last-form-pay__title">{{ t_('app/basket', '_TEXT_31_')|raw }}</h3>
                                </div>
                                <div class="cart-last-form__text">{{ t_('app/basket', '_TEXT_32_')|raw }}</div>
                                <label for="opt1111" class="radio">
                                    <input type="radio" name="payment" id="opt1111" class="hidden payment" data-value="card-pay" />
                                    <span class="label"></span>
                                    <p class="label-text">{{ t_('app/basket', '_TEXT_33_')|raw }}</p>
                                </label>
                                
                                <div class="cart-visa-wrap"></div>
                                
                                <div class="for-pay">
                                    <div class="for-pay-one">
                                        <h3 class="for-pay-one__title">{{ t_('app/basket', '_TEXT_18_')|raw }}</h3>
                                        <div class="for-pay-one__number" id="final-summ-not-dostavka"><span>0</span> ₽</div>
                                    </div>
                                    <div class="for-pay-two">
                                        <h3 class="for-pay-two__title">{{ t_('app/basket', '_TEXT_34_')|raw }}</h3>
                                        <div class="for-pay-two__number"><span>0</span> ₽</div>
                                    </div>
                                    <div class="for-pay-one">
                                        <h3 class="for-pay-three__title">{{ t_('app/basket', '_TEXT_35_')|raw }}</h3>
                                        <div class="for-pay-three__number"><span id="final-summ-dostavka">0</span> ₽</div>
                                    </div>
                                </div>

                                <div class="new-checkbox">
                                    <input type="checkbox" id="remember" name="remember" value="remember">
                                    <label for="remember">
                                        {{ t_('app', '_AGREE_')|raw }}
                                    </label>
                                </div>
                            </div>
                            <div class="cart-pay">
                                <a href="javascript:void(0);" id="a_back_2" class="cart-pay__next cart-pay__back" data-src="STEP_1">
                                   <img src="/img/cart-back.svg" alt="" class="contacts-slid__nextimg">
                                    {{ t_('app/basket', '_TEXT_36_')|raw }}
                                </a>
                                <a href="javascript:void(0);" class="cart-finish">
                                    {{ t_('app/basket', '_TEXT_37_')|raw }}
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <style>
            .CDEK-widget__popup-mask {
                z-index: 100;
            }               
        </style>
    <script>

        let prod_tree =  JSON.parse('{{ prod_tree|json_encode()|raw  }}');    
        let prod_sizes = JSON.parse('{{ prod_sizes|json_encode()|raw  }}');
        let vol = 0;
        let netto = 0;
        let brutto = 200;
        
        let summ_length = 0;
        let summ_width = 0;
        let summ_height = 0;
        let summ_weight = 0; 
        
        let goods_arr = {};
        
        let all_prod_in_basket = 0; 
        
        
                var widjet = new ISDEKWidjet({
                    defaultCity: 'auto',
                    cityFrom: 'Уфа',
                    country: 'Россия',
                    link: false,
                    popup: true,
                    goods: [{
                        length: summ_length,
                        width: summ_width,
                        height: summ_height,
                        weight: summ_weight
                    }],
                    onChoose : function(info){ // при выборе ПВЗ: запишем номер ПВЗ в текстовое поле и доп. информацию
                        //
                        alert('Выбрана доставка курьером--- в город ' + info.cityName + "\n" +
                            'цена ' + info.price + "\n" +
                            'срок ' + info.term + ' дн.'
                        );
                       // console.log( info );
                       
                     //  console.log( 'DLFDSLDSLDJSD');
                        /*
                            ipjq('[name="chosenPost"]').val(info.id);
                            ipjq('[name="addresPost"]').val(info.PVZ.Address);
                            // расчет стоимости доставки
                            var price = (info.price < 500) ? 500 : Math.ceil( info.price/100 ) * 100;
                            ipjq('[name="pricePost"]').val(price);
                            ipjq('[name="timePost"]').val(info.term);
                            orderWidjet.close(); // закроем виджет
                         */
                        },
                        onChooseProfile: onChooseProfile,
                      
        
                        onCalculate: function(wat){
                                console.log('Доставка в город '+ wat.cityName +
                                    "\nкурьером: " + wat.profiles.courier.price + ' (тариф '+wat.profiles.courier.tarif +
                                    ")\nдо ПВЗ: "+wat.profiles.pickup.price + ' (тариф '+wat.profiles.pickup.tarif +')'
                                );
                        }
      
                });
                
                function onChooseProfile(wat) {
                    alert('Выбрана доставка курьером в город ' + wat.cityName + "\n" +
                            'цена ' + wat.price + "\n" +
                            'срок ' + wat.term + ' дн.'
                    );
                    console.log('Выбрана доставка курьером ', wat);
                }

        $(document).ready(function() {
            
             {% include 'layouts/js_common_function_basket.twig' %}

            $( '.cart-counter-list__minus' ).on( 'click', function(){
                let par = $( this ).parent( '.cart-counter-list__item' );
                let in_put = par.find( '.count-item-in-basket' );
                let count = in_put.val();
                if( count < 0 ) {
                    in_put.val( '0' );
                    alert ( '{{ t_('app/basket', '_TEXT_38_')|raw }}');
                } else {
                    if( count == 0) {
                        in_put.val( '0' );
                        alert ( '{{ t_('app/basket', '_TEXT_38_')|raw }}');
                    } else {
                        in_put.val( (count -1 ) );
                        in_put.change();
                    }
                    draw_img_in_cart();
                    calk_prod_size();
                }
            });

            $( '.cart-counter-list__plus' ).on( 'click', function(){
                let par = $( this ).parent( '.cart-counter-list__item' );
                let in_put = par.find( '.count-item-in-basket' );
                let count = parseInt( in_put.val(), 10 );
                if( count == 9999 ) {
                    in_put.val( '9999' );
                    alert ( '{{ t_('app/basket', '_TEXT_39_')|raw }}');
                } else {
                    in_put.val( (count +1  ) );
                    in_put.change();
                }
                draw_img_in_cart();
                calk_prod_size();
               
            });


            $('.count-item-in-basket').mask('ZZZZ', {
                translation: {
                    'Z': {
                        pattern: /[0-9]/, optional: true
                    }
                }
            });



            $( '.count-item-in-basket' ).on( 'change', function(){
                let count_item = parseInt( $( this ).val() );
                if( isNaN( count_item ) ) {
                    $( this ).val( '0' );
                    $( this ).change();
                } else {
                    let uniq_id_prod = $( this ).data( 'prod');
                    let count_prod = parseInt( $( this ).val(), 10 );

                    update_basket_in_cookie( uniq_id_prod, count_prod );
                    $( '#count-prod-in-basket' ).text( calck().full_count );
                    $( '#final-basket-summ' ).text( calck().full_summ );
                    $( '#emiz_tavr' ).text( calck().summ.emiz_tavr );
                    $( '#emiz_premium' ).text( calck().summ.emiz_premium );
                    $( '#pasta' ).text( calck().summ.pasta );
                    $( '#final-summ-not-dostavka span' ).text( calck().full_summ );
                    let itogo = parseInt( $( '#final-summ-not-dostavka span' ).text(), 10 ) + parseInt( $( '.for-pay-two__number span' ).text(), 10 );
                    $( '#final-summ-dostavka' ).text( itogo );
                    
                    calk_prod_size();
                  }
                  
            });

            function calk_prod_size(){
                let basket = cook_create();
                vol = 0;
                netto = 0;
                all_prod_in_basket = 0;
                
                 widjet.cargo.reset();
            
                for ( key in basket ) {
                    if( prod_sizes.hasOwnProperty( key ) ) {  
                        
                        
                        for (var i = 0; i < basket[key]; i++) {
                        goods_arr = {};
                        goods_arr["length"] = prod_sizes[key].w/10;
                        goods_arr["width"] = prod_sizes[key].w/10;
                        goods_arr["height"] = prod_sizes[key].h/10;
                        goods_arr["weight"] = prod_sizes[key].n/1000;
                       // widjet.cargo.add(goods_arr);
                        }

                        
                          vol = vol + prod_sizes[key].w*2*prod_sizes[key].h*basket[key];
                          netto =  netto + prod_sizes[key].n*basket[key];
                          all_prod_in_basket = all_prod_in_basket + parseInt( basket[key], 10 );
                    }
                }
                
                if( all_prod_in_basket > 3 ){
                   netto = netto + Math.ceil(  all_prod_in_basket/3  ) * brutto;
                } else {
                   netto = Math.round( netto + brutto );
                }
                if( all_prod_in_basket == 0 ){
                   vol = 0;
                   netto = 0;
                }
                vol = vol/1000000;
                summ_weight = netto/1000;
                
                //console.log( vol, summ_weight );
                
                console.log(  JSON.stringify(widjet.cargo.get()) );
            }

            update_basket_in_page( );

            $( '#count-prod-in-basket' ).text( calck().full_count );
            $( '#final-basket-summ' ).text( calck().full_summ );
            $( '#emiz_tavr' ).text( calck().summ.emiz_tavr );
            $( '#emiz_premium' ).text( calck().summ.emiz_premium );
            $( '#pasta' ).text( calck().summ.pasta );
            $( '#final-summ-not-dostavka span' ).text( calck().full_summ );
            let itogo = parseInt( $( '#final-summ-not-dostavka span' ).text(), 10 ) + parseInt( $( '.for-pay-two__number span' ).text(), 10 );
            $( '#final-summ-dostavka' ).text( itogo );


            function draw_img_in_cart(){
                let c = {};
                let par;
                $( '.count-item-in-basket' ).each( function () {
                    if( c.hasOwnProperty( $( this ).data( 'good') ) ) {
                        c[$( this ).data( 'good')] = c[$( this ).data( 'good')] + $( this ).val();
                    } else {
                        c[$( this ).data( 'good')] = $( this ).val();
                    }

                });

                for( key in c ) {
                    if( c[key]>0 ){
                        $( '[data-good="' + key + '"]').first().parents( 'li.cart-items-wrap' ).addClass( 'block-for-img-product-in-cart' );
                    } else {
                        $( '[data-good="' + key + '"]').first().parents( 'li.cart-items-wrap' ).removeClass( 'block-for-img-product-in-cart' );
                    }
                }
            };

            draw_img_in_cart();
            calk_prod_size();

        });

</script>
    {% include 'layouts/footer.twig' %}
</header>
    <style>
        .cart-counter-list__item:nth-child(2) .cart-counter-list__litrs {
            margin-right: 37px;
            width: 45px;
        }
        .cart-counter-list__item:last-child .cart-counter-list__litrs {
            margin-right: 37px;
            width: 45px;
        }
        .cart-counter-list__litrs {
            margin-right: 37px;
            width: 45px;
        }
        #list-volume .custom-option {
            pointer-events: all !important;
        }
        .custom-select:hover #list-volume {
            visibility: visible;
            opacity: 1;
            cursor: pointer;
            pointer-events: all;
        }
        #list-volume:hover{
            visibility: visible;
            opacity: 1;
            cursor: pointer;
            color: red;
            pointer-events: all !important;
        }
        #list-volume{
            position: absolute;
            display: block;
            top: 100%;
            left: 0;
            right: 0;
            border: 1px solid #5900ac;
            border-top: 0;
            transition: all 0.5s;
            opacity: 0;
            visibility: hidden;
            pointer-events: all;
            z-index: 2;
            background: #f2f2f2;
        }
        #cart-counter-list-premium .count-item-in-basket, #cart-counter-list-tavr .count-item-in-basket {
            width: 100%;
            background: transparent;
            text-align: center;
            border: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            -o-appearance: none;
            appearance: none;
            outline: none;
            color: #5900ac;
            margin: 0;
            font-size: 14px;
            line-height: 20px;
            font-weight: bold;;
        }
        .products-hero-wrap-buy-box-list__litrs {
            font-weight: bold;
            font-size: 12px;
            line-height: 20px;
            text-align: center;
            color: #5900ac;
            border-bottom: 1px solid #5900ac;
            margin-left: 8.7px;
            margin-right: 18px;
        }
        #cart-counter-list-pasta .count-item-in-basket {
            width: 100%;
            background: transparent;
            text-align: center;
            border: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            -o-appearance: none;
            appearance: none;
            outline: none;
            color: #288a58;
            margin: 0;
            font-size: 14px;
            line-height: 20px;
            font-weight: bold;
        }
        #cart-counter-list-tavr .cart-counter-list__img, #cart-counter-list-premium .cart-counter-list__img {
            fill: #7a33c9;
        }
    </style>
</div>
{% endblock %}

{% block script_js %}
    {% include 'layouts/js_cart.twig' %}
     {{ parent() }}
{% endblock %}
