{% macro msg_flash(str='', arr='', mode=0) %}
    
{% set m = '' %}

{% if str %}
    {% if app.session.hasFlash(str) %}
        {% set m = [app.session.getFlash(str), '\\n']|join %}
    {% endif %}
{% endif %}

{% if arr %}
    {% if app.session.hasFlash(arr) %}
        {% for errs in app.session.getFlash(arr) %}
            {% for err in errs %}
                {% set m = [m, err, '\\n']|join %}
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endif %}

{% if m %}
    {% if mode == 0 %}
        {{ m|trim }}
    {% elseif mode == 1 %}
        <script>alert('{{ m|trim }}');</script>
    {% endif %}
{% endif %}
    
{% endmacro %}
