{% macro show_msg(msg) %}
    
    {% if msg['msg'] %}
        {% set m = [msg['msg'], '\\n']|join %}
    {% else %}
        {% set m = '' %}
    {% endif %}

    {% if msg['err'] %}
        {% for errs in msg['err'] %}
            {% for err in errs %}
                {% set m = [m, err, '\\n']|join %}
            {% endfor %}
        {% endfor %}
    {% endif %}
    
    {{ m|trim }}
{% endmacro %}
