{% macro show_tab(arr, n=0) %}
    {% autoescape false %}
    <table>
        {% for item in arr %}
            {% if loop.first %}
                {% spaceless %}
                    <tr>
                    {% if n %}
                        <th>#</th>
                    {% endif %}
                    {% for key in item|keys %}
                        <th>{{ key }}</th>
                    {% endfor %}
                    </tr>
                {% endspaceless %}
            {% endif %}
            {% spaceless %}<tr>
                {% if n %}
                    <td>{{ loop.index }}{{ item.keys }}</td>
                {% endif %}
                {% for val in item %}
                    <td>{{ val }}</td>
                {% endfor %}
            </tr>{% endspaceless %}
        {% else %}
            Нет данных...
        {% endfor %}
    </table>{% endautoescape %}
{% endmacro %}
