{% extends 'layouts/main.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block nav %}
    {{ parent() }}
{% endblock %}

{% block main %}

    <header class="faq-header" id="faq-header">
        <img src="/img/faq-half.png" alt="" class="faq-half">
        <img src="/img/faqextra.png" alt="" class="faq-half faq-extra">
        <div class="container">
            <div class="faq-wrap">
                <h1 class="faq-wrap__title">{{ t_('app/faq', '_TEXT_1_')|raw }}</h1>
                <div class="faq-wrap__text">
                    {{ t_('app/faq', '_TEXT_2_')|raw }}
                </div>
            </div>
            <div class="faq-wrapper">
                <div class="faq-navi">
                    <ul class="faq-navi__list">
                        <li class="faq-navi__item bactive" onclick="filterSelection('all')">
                            {{ t_('app/faq', '_TEXT_3_')|raw }}
                        </li>
                        <li class="faq-navi__item" onclick="filterSelection('delivery')">
                            {{ t_('app/faq', '_TEXT_4_')|raw }}
                        </li>
                        <li class="faq-navi__item" onclick="filterSelection('use')">
                            {{ t_('app/faq', '_TEXT_5_')|raw }}
                        </li>
                     
                    </ul>
                </div>
                <div class="faq-quest">
                    <ul id="basics" class="faq-group">
                        <li class="basics__item filterDiv use">
                            <a class="trigger" href="javascript:void(0);">{{ t_('app/faq', '_TEXT_6_')|raw }}</a>
                            <div class="faq-content bounceInDown">
                                <p>
                                    {{ t_('app/faq', '_TEXT_7_')|raw }}
                                </p>
                            </div> <!-- faq-content -->
                        </li>
                        <li class="basics__item filterDiv use">
                            <a class="trigger" href="javascript:void(0);">{{ t_('app/faq', '_TEXT_8_')|raw }}</a>
                            <div class="faq-content bounceInDown">
                                <p>
                                    {{ t_('app/faq', '_TEXT_9_')|raw }}                                
                                </p>
                            </div> <!-- faq-content -->
                        </li>
                        <li class="basics__item filterDiv use">
                            <a class="trigger" href="javascript:void(0);">{{ t_('app/faq', '_TEXT_10_')|raw }}</a>
                            <div class="faq-content bounceInDown">
                                <p>
                                    {{ t_('app/faq', '_TEXT_11_')|raw }}
                                </p>
                            </div> <!-- faq-content -->
                        </li>
                       <li class="basics__item filterDiv delivery">
                                <a class="trigger" href="javascript:void(0);">{{ t_('app/faq', '_TEXT_12_')|raw }}</a>
                            <div class="faq-content bounceInDown">
                                <p>
                                    {{ t_('app/faq', '_TEXT_13_')|raw }}
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="faq-footer">
                <a href="javascript:void(0);" class="faq-footer__link partners__btn">
                    {{ t_('app/faq', '_TEXT_14_')|raw }}
                </a>
                <div class="faq-footer__number">
                    {% include 'layouts/phone_800.twig' %}          
                </div>
            </div>
        </div>

        {% include 'layouts/footer.twig' %}

    </header>

    <div style="display: none;">
        <div class="box-modal" id="examplebuy2">
            <div class="box-modal_close arcticmodal-close">
                {{ t_('app', '_CLOSE_')|raw }}
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                            d="M5.99904 6.89321L10.9209 11.815C11.1675 12.0617 11.5674 12.0617 11.814 11.815C12.0607 11.5684 12.0607 11.1685 11.814 10.9218L6.89221 5.99999L11.814 1.07817C12.0607 0.831514 12.0607 0.431624 11.814 0.184992C11.5674 -0.0616405 11.1675 -0.061664 10.9209 0.184992L5.99904 5.10681L1.07722 0.184992C0.830562 -0.061664 0.430672 -0.061664 0.184039 0.184992C-0.0626163 0.431648 -0.0625935 0.831537 0.184039 1.07817L5.10586 5.99999L0.184039 10.9218C-0.0626163 11.1684 -0.0625935 11.5684 0.184039 11.815C0.430695 12.0616 0.830585 12.0616 1.07722 11.815L5.99904 6.89321Z"
                            fill="white" />
                </svg>
            </div>
            <img src="/img/faq-citro.png" alt="" class="box-modal__corner">
            <div class="mymodal-wrap">
                <h2 class="mymodal-wrap__title">
                    {{ t_('app', '_ASK_CONSULTANT_')|raw }}
                </h2>
                <p class="mymodal-wrap__text">
                    {{ t_('app', '_TEXT_ASK_')|raw }}
                </p>
                <form action="{{ action_url_question }}" class="js-form contacts-form mymodal-form" id="popupResult2" method="POST">
                    {{ csrf.get_html_token|raw }}
                    <input type="text" name="QuestionForm[name]" placeholder="{{ t_('app', '_NAME_')|raw }}" required class="mymodal-form__input form-control form__field" value="{{ model.getName }}">
                    <input type="text" name="QuestionForm[phone]" placeholder="E-mail" required class="mymodal-form__input form-control form__field" value="{{ model.getContact }}">
                    <input type="text" name="QuestionForm[question]" placeholder="{{ t_('app/faq', '_TEXT_19_')|raw }}" required class="mymodal-form__input form-control form__field" value="{{ model.getQuestion }}">
                    <label for="opt1123123" class="radio">
                        <input type="radio" name="QuestionForm[check]" id="opt1123123" class="hidden" {% if model.validateCheck %}checked{% endif %}/>
                        <span class="label"></span>
                        <p class="label-text">
                            {{ t_('app', '_TEXT_ASK_')|raw }}
                        </p>
                    </label>
                    <button class="mymodal-form__btn" data-submit>
                        {{ t_('app', '_SEND_')|raw }}
                    </button>
                </form>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {

            {% include 'layouts/js_common_function_basket.twig' %}
            $( '#count-prod-in-basket' ).text( simple_count_basket() );

            {% if MES_ERR  %}
            {%  for key, value in  MES_ERR %}
            alert ( '{{ value[0] }}' );
            {% endfor %}
            {% endif %}

            {% if MES_SUCCESS  %}
            {%  for key, value in  MES_SUCCESS %}
            alert ( '{{ value[0] }}' );
            {% endfor %}
            {% endif %}
        });

    </script>

{% endblock %}

{% block script_js %}
    {{ parent() }}
{% endblock %}