{% extends 'layouts/main_d.twig' %}
{% from 'macro/msg_flash.twig' import msg_flash %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block nav %}
    {{ parent() }}
{% endblock %}

{% block main %}
<main class="account-distributors" id="account-distributors">
    {{ msg_flash('msg', 'msg_arr', 1) }}
        <section class="diss-help" id="diss-help">
            <div class="container">
                <ul class="diss-help-wrap diss-order-all-wrap">
                    <li class="diss-order-all-wrap__item">
                        <input type="checkbox" checked class="diss-order-all-wrap__check">
                        <i></i>
                        <div class="diss-order-all-wrap__title">
                            мой профиль
                        </div>
                        <div class="diss-order-all-wrap__text">
                            <div class="diss-help-title">
                                Раздел “Мой профиль” содержит три блока персональных данных:
                            </div>
                            <div class="diss-help-text">
                                - личные данные: имя, фамилия, отчество, дата рождения;
                            </div>
                            <div class="diss-help-text">
                                - контактные данные: город, улица, индекс, номер телефона, E-mail;
                            </div>
                            <div class="diss-help-text">
                                - привязанные карты для оплаты заказов на сайте.
                            </div>
                            <div class="diss-help-infobox">
                                Для того, чтобы изменить ваши личные и контактные данные, необходимо нажать на иконку
                                карандаша в правом верхнем углу одного из двух блоков. Изменения в каждый блок вносятся
                                отдельно.
                            </div>
                            <img src="/img/admin-9.png" alt="help" class="diss-help-img">
                            <div class="diss-help-infobox-2">
                                <b>Добавление адреса доставки.</b> После заполнения адреса в контактных данных, внизу
                                блока
                                появится раздел “Адрес доставки”. Здесь, по умолчанию будет добавлен текущий адрес,
                                указанный выше.
                                Для того, чтобы добавить еще один адрес, необходимо нажать на кнопку внизу блока
                                “Добавить адрес”. После вас перебросит в новое окно для заполнения данных. Таким
                                образом, вы сможете добавить 3 адреса доставки и переключаться между ними, выбирая
                                нужный, в разделе “Мой профиль”.
                            </div>
                            <img src="/img/admin-10.png" alt="help" class="diss-help-img">
                            <div class="diss-help-infobox-3">
                                <b>Добавление карты. </b> Для добавления карты необходимо нажать на
                                соответсвующую кнопку в правом нижнем углу “Добавить карту”. Далее откроется окно с
                                пустыми полями для заполнения номера карты, срока годности и CVC-кода. После необходимо
                                сохранить внесенные данные.
                                Также, как и в адресе доставки, между картами можно переключаться. При необходимости
                                удаления какой-либо карты, нужно нажать на всплывающий крестик, который появится при
                                наведении на поле с данными карты.
                            </div>
                            <img src="/img/admin-11.png" alt="help" class="diss-help-img">
                        </div>
                    </li>
                    <li class="diss-order-all-wrap__item">
                        <input type="checkbox" checked class="diss-order-all-wrap__check">
                        <i></i>
                        <div class="diss-order-all-wrap__title">
                            заказы
                        </div>
                        <div class="diss-order-all-wrap__text">
                            <div class="diss-help-title-sec">
                                Раздел заказов представляет собой список совершенных на сайте покупок, представленных в
                                виде вкладок.
                                Каждый заказ имеет свой номер, действующий статус, дату отправки и общую сумму купленных
                                товаров, учитывая стоимость доставки.
                            </div>
                            <img src="/img/admin-12.png" alt="help" class="diss-help-img">
                            <div class="diss-help-second">
                                При нажатии на вкладку раскрывается таблица, в которой подробно расписывается каждый
                                товар: его порядковый номер, наименование, объем, количество, цена и сумма. Внизу
                                таблицы обозначены стоимость доставки и сумма всех товаров текущего заказа. Аналогичным
                                нажатием на шапку вкладки таблица скрывается.
                            </div>
                            <img src="/img/admin-13.png" alt="help" class="diss-help-img">
                            <div class="diss-help-second-last">
                                Также, вверху страницы подсчитано общее количество всех заказов и их сумма.
                            </div>
                            <div class="diss-help-second-last-final">
                                Предоставлена возможность сортировки заказов по дате и сумме.
                            </div>
                        </div>
                    </li>
                    <li class="diss-order-all-wrap__item">
                        <input type="checkbox" checked class="diss-order-all-wrap__check">
                        <i></i>
                        <div class="diss-order-all-wrap__title">
                            отчеты
                        </div>
                        <div class="diss-order-all-wrap__text">
                            <div class="diss-help-title">
                                Раздел отчетов позволяет сортировать заказы по следующим фильтрам:
                            </div>
                            <div class="diss-help-text">
                                - дата начала;
                            </div>
                            <div class="diss-help-text">
                                - дата окончания;
                            </div>
                            <div class="diss-help-text">
                                - группировка за день / неделю / месяц / год;
                            </div>
                            <div class="diss-help-text">
                                - статус заказа (сортировка / отправлено / доставлено);
                            </div>
                            <div class="diss-help-third-last">
                                - товар (эмиз премиум / эмиз таврический / паста виноградная).
                            </div>
                            <img src="/img/admin-14.png" alt="help" class="diss-help-img">
                            <div class="diss-help-third-last-final">
                                После фильтрации ниже высветится список отчетов, подходящих под заданные параметры. Один
                                отчет содержит в себе: дату начала, дату окончания, количество заказов, количество
                                товаров и итоговую сумму всех заказов, вошедших в этот отчет.
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>



    </main>
{% endblock %}

{% block script_js %}
    {{ parent() }}
{% endblock %}
