{% extends 'layouts/main_d.twig' %}
{% from 'macro/msg_flash.twig' import msg_flash %}

{% block main %}
    {% include 'layouts/css_add_product.twig' %}
    <main class="account-distributors" id="account-distributors">
        {{ msg_flash('msg', 'msg_arr', 1) }}
        <section class="account-dist-main" id="account-dist-main">
            <div class="container">
                
                <div class="account-dist-main-wrap">

                    <div class="account-dist-main-wrap__left">
                        <h1 class="account-dist-main-wrap__number">{{ baskets|length }}</h1>
                        <div class="account-dist-main-wrap__subtitle">заказов</div>
                        <div class="account-dist-main-wrap__inner">
                            <svg width="7" height="28" viewBox="0 0 7 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.68389 6.95174C4.68389 5.69177 4.68389 0 4.68389 0H3.76962H3.22823H2.31439C2.31439 0 2.31439 5.69177 2.31439 6.95174C2.31439 8.2117 0 9.74121 0 11.537C0 13.3323 0 26.3201 0 26.7781C0 27.2362 0.299368 28 0.970179 28C1.42685 28 2.55195 28 3.22909 28C3.54886 28 3.77048 28 3.77048 28C4.44761 28 5.57222 28 6.02896 28C6.70027 28 7 27.2361 7 26.7781C7 26.32 7 13.3322 7 11.537C6.99993 9.74121 4.68389 8.21251 4.68389 6.95174ZM2.82581 8.99312C2.67598 9.2025 2.50855 9.46652 2.3266 9.77114C2.1425 10.0766 1.96802 10.4325 1.7906 10.8187C1.72298 11.0161 1.65364 11.2229 1.59565 11.4301C1.59356 11.6497 1.52551 11.8116 1.55519 12.0872C1.57315 12.5982 1.59277 13.1357 1.61275 13.692C1.64868 14.8049 1.65536 15.9927 1.66456 17.1796C1.66204 19.5541 1.59191 21.9297 1.4834 23.7104C1.43583 24.6008 1.35779 25.3425 1.321 25.8621C1.27594 26.3816 1.23836 26.6789 1.23836 26.6789C1.23836 26.6789 1.20042 26.3816 1.15529 25.8621C1.11857 25.3425 1.04046 24.6009 0.992886 23.7104C0.884378 21.9297 0.814171 19.5541 0.811728 17.1796C0.820064 15.9927 0.826747 14.8049 0.863467 13.692C0.883516 13.1357 0.903134 12.5982 0.921099 12.0872C0.912332 11.8501 0.999569 11.528 1.0493 11.2716C1.14573 11.0302 1.25259 10.8063 1.35448 10.5953C1.47851 10.4013 1.59579 10.2154 1.70846 10.039C1.83666 9.87793 1.95811 9.72584 2.07164 9.5814C2.30792 9.30281 2.51789 9.0674 2.70121 8.88368C3.06352 8.51287 3.29606 8.33085 3.29606 8.33085C3.29606 8.33085 3.11469 8.56795 2.82581 8.99312Z" fill="#5900AC" />
                            </svg>
                            <div class="account-dist-main-wrap__text">{{ items|length }} шт.<br>товара</div>
                        </div>
                        <a href="/dealer/orders/{{ user['users_id'] }}/" class="account-dist-main-wrap__btn">перейти к заказам</a>
                        <img src="/img/admin-1.png" alt="bottle" class="account-dist-main-wrap__aimg">
                    </div>

                    <div class="account-dist-main-wrap__right">
                        <div class="account-dist-main-wrap__name">{{ user['info_name'] }} {{ user['info_famuly'] }}</div>
                        <div class="account-dist-main-wrap__prof">
                            <span class="account-dist-main-wrap__innertext">Изменить свои данные вы можете в разделе “</span>
                            <a href="/dealer/profil/{{ user['users_id'] }}/" class="account-dist-main-wrap__innerlink">Мой профиль</a>
                            <span class="account-dist-main-wrap__innerlast">”.</span>
                        </div>
                    </div>

                </div>
                <div class="account-dist-main-inst">
                    <div class="account-dist-main-inst__top">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M12.2188 0C18.9563 0 24.4375 5.48121 24.4375 12.2188C24.4375 18.9563 18.9563 24.4375 12.2188 24.4375C10.023 24.4375 7.88502 23.8531 6.00807 22.7432L0.0449219 24.3924L1.69434 18.4295C0.584474 16.5525 0 14.4146 0 12.2188C0 5.48121 5.48121 0 12.2188 0ZM8.46876 9.37501H10.3438C10.3438 8.34108 11.1848 7.50001 12.2188 7.50001C13.2527 7.50001 14.0938 8.34108 14.0938 9.37501C14.0938 9.90749 13.877 10.3989 13.4834 10.759L11.2813 12.7747V15.0625H13.1563V13.6004L14.7493 12.1424C15.5244 11.4334 15.9688 10.4246 15.9688 9.37501C15.9688 7.30714 14.2866 5.62501 12.2188 5.62501C10.1509 5.62501 8.46876 7.30714 8.46876 9.37501ZM13.1563 18.8125V16.9375H11.2813V18.8125H13.1563ZM26.3101 12.4167C29.7219 14.1406 32 17.6845 32 21.6555C32 23.5173 31.5042 25.3278 30.562 26.9187L31.9549 31.9541L26.9194 30.5612C25.3286 31.5034 23.5181 31.9992 21.6563 31.9992C17.6853 31.9992 14.1413 29.7212 12.4175 26.3093C20.0312 26.2033 26.2041 20.0305 26.3101 12.4167Z"
                                fill="#5900AC" />
                        </svg>
                        <div class="account-dist-main-isnt__title">Как пользоваться личным кабинетом?</div>
                    </div>
                    <div class="account-dist-main-inst__bottom">
                        <span class="account-dist-main-inst__text">Вы можете узнать об этом в разделе “</span>
                        <a href="/dealer/help/{{ user['users_id'] }}/" class="account-dist-main-inst__link">Инструкция</a>
                        <span class="account-dist-main-inst__text">”.</span>
                    </div>
                </div>
                <img src="/img/admin-3.png" alt="vine" class="account-dist-main-img">
                    
                <div class="account-dist-main-floating">
                    <img src="/img/admin-4.png" alt="background" class="account-dist-main-floating__img">
                    <div class="account-dist-main-floating__empty"></div>
                    <div class="account-dist-main-floating-wrap">
                        <div class="account-dist-main-floating-wrap__navigation">
                            <a href="javascript:void(0);" class="account-dist-main-floatin-wrap__prev">
                                <svg width="20" height="40" viewBox="0 0 20 40" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M19.7812 39.5616C16.8443 34.0136 15.1109 27.1764 15.1109 19.7808C15.1109 12.3852 16.8443 5.54799 19.7812 0L0.000457764 19.7808L19.7812 39.5616Z"
                                        fill="#9F7CCB" />
                                </svg>
                            </a>
                            <a href="javascript:void(0);" class="account-dist-main-floatin-wrap__next">
                                <svg width="20" height="40" viewBox="0 0 20 40" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M4.29095e-06 39.5616C2.93699 34.0136 4.67038 27.1764 4.67038 19.7808C4.67038 12.3852 2.93698 5.54799 0 0L19.7808 19.7808L4.29095e-06 39.5616Z"
                                        fill="#9F7CCB" />
                                </svg>
                            </a>
                        </div>
                        <!-- Set up your HTML -->
                        <div class="owl-carousel" id="account-dist-1">
                            {% set goods = 0 %}
                            {% for product in products %}
                                {% if goods != product['goods_id'] %}
                                
                            <div class="account-dist-main-floating-wrap__item">
                                <div class="account-dist-main-floating-wrap__left">
                                    <img src="/img/{{ product['prods_img'] }}" alt="bottle" class="account-dist-main-floating-wrap__img">
                                </div>
                                <div class="account-dist-main-floating-wrap__right">
                                    <h2 class="account-dist-main-floating-wrap__title">{{ product['prods_name'] }}</h2>
                                    <div class="acc-inner">
                                        <div class="acc-inner__left">
                                            <div class="acc-custom-select-wrapper">
                                                <div class="acc-custom-select">
                                                    <div class="acc-custom-select__trigger">
                                                        
                                                        <span class="prod-value">{{ product['prods_volume'] }} L</span>
                                                        <div class="acc-arrow"></div>
                                                    </div>
                                                    <div id="list-volume" class="acc-custom-options">
                                                    {% for option in products %}
                                                        {% if option['goods_id'] == product['goods_id'] %}
                                                            {% if option['prods_id'] == product['prods_id'] %}
                                                                {% set select = 'selected' %}
                                                            {% else %}
                                                                {% set select = '' %}
                                                            {% endif %}
                                                            <span class="acc-custom-option {{ select }}" 
                                                                  data-value="{{ option['prods_volume'] }} L"
                                                                  data-img="/img/{{ option['prods_img'] }}"
                                                                  data-price="{{ option['prods_price']|number_format(0, '.', ' ') }} ₽"
                                                                  data-prod="{{ option['prods_uniqid'] }}"
                                                                  data-good="{{ option['goods_uniqid'] }}"
                                                            >{{ option['prods_volume'] }} L</span>
                                                        {% endif %}
                                                    {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="acc-inner__right">{{ product['prods_price']|number_format(0, '.', ' ') }} ₽</div>
                                    </div>
                                    <div class="acc-inner-count">
                                        <div class="acc-inner-count__minus">-</div>
                                        <div class="acc-inner-count__number">0</div>
                                        <div class="acc-inner-count__plus">+</div>
                                    </div>
                                    <!--a href="javascript:void(0);" class="acc-inner-buy">
                                        <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M8.42959 2.90003H9.48119L7.92227 0.225479C7.79666 0.00875647 7.51837 -0.0651263 7.30165 0.0629371C7.08493 0.188538 7.01105 0.466829 7.13911 0.683552L8.42959 2.90003Z"
                                                fill="white" />
                                            <path
                                                d="M4.86161 0.683556C4.98721 0.466834 4.91579 0.188542 4.69907 0.0629412C4.48235 -0.0626594 4.20406 0.00876056 4.07846 0.225483L2.51953 2.9025H3.57113L4.86161 0.683556Z"
                                                fill="white" />
                                            <path
                                                d="M11.2228 3.72009H0.770843C0.344786 3.72009 0 4.06488 0 4.49094V5.34551C0 5.77157 0.344786 6.11636 0.770843 6.11636H1.01219L1.75595 10.1479C1.84953 10.6232 2.28298 11 2.73366 11H3.02919H4.96985C5.16687 11 5.42299 11 5.68405 11H5.92047H6.15689C6.41795 11 6.67407 11 6.87109 11H8.81175H9.10728C9.55796 11 9.99141 10.6232 10.085 10.1479L10.8337 6.11389H11.2253C11.6513 6.11389 11.9961 5.76911 11.9961 5.34305V4.48847C11.9936 4.06488 11.6488 3.72009 11.2228 3.72009ZM4.25565 7.74916V9.48787C4.25565 9.73661 4.0537 9.92378 3.81974 9.92378C3.571 9.92378 3.38383 9.72183 3.38383 9.48787V8.75889V7.04974C3.38383 6.801 3.58578 6.61383 3.81974 6.61383C4.06848 6.61383 4.25565 6.81578 4.25565 7.04974V7.74916ZM5.65449 7.74916V9.48787C5.65449 9.73661 5.45255 9.92378 5.21858 9.92378C4.96985 9.92378 4.78268 9.72183 4.78268 9.48787V8.75889V7.04974C4.78268 6.801 4.98462 6.61383 5.21858 6.61383C5.45255 6.61383 5.65449 6.81578 5.65449 7.04974V7.74916ZM7.06073 8.75889V9.48787C7.06073 9.72183 6.87356 9.92378 6.62482 9.92378C6.39086 9.92378 6.18891 9.73661 6.18891 9.48787V7.74916V7.04974C6.18891 6.81578 6.39086 6.61383 6.62482 6.61383C6.85878 6.61383 7.06073 6.801 7.06073 7.04974V8.75889ZM8.45957 8.75889V9.48787C8.45957 9.72183 8.2724 9.92378 8.02367 9.92378C7.7897 9.92378 7.58776 9.73661 7.58776 9.48787V7.74916V7.04974C7.58776 6.81578 7.77493 6.61383 8.02367 6.61383C8.25763 6.61383 8.45957 6.801 8.45957 7.04974V8.75889Z"
                                                fill="white" />
                                        </svg>
                                        Добавить
                                    </a-->
                                    <a href="/products/{{ product['prods_homepage'] }}/" class="acc-inner-go">
                                        перейти к товару
                                        <svg width="4" height="8" viewBox="0 0 4 8" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 8L4 4L0 0L0 8Z" fill="#9F7CCB" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                                 {% endif %}
                                 {% set goods = product['goods_id'] %}
                            {% endfor %}
                            <!--
                            <div class="account-dist-main-floating-wrap__item">
                                <div class="account-dist-main-floating-wrap__left">
                                    <img src="/img/admin-5.png" alt="bottle" class="account-dist-main-floating-wrap__img">
                                </div>
                                <div class="account-dist-main-floating-wrap__right">
                                    <h2 class="account-dist-main-floating-wrap__title">Эмиз таврический</h2>
                                    <div class="acc-inner">
                                        <div class="acc-inner__left">
                                            <div class="acc-custom-select-wrapper">
                                                <div class="acc-custom-select">
                                                    <div class="acc-custom-select__trigger">
                                                        <span>0,5 L</span>
                                                        <div class="acc-arrow"></div>
                                                    </div>
                                                    <div class="acc-custom-options">
                                                        <span class="acc-custom-option selected" data-value="0,5 L">0,5 L</span>
                                                        <span class="acc-custom-option" data-value="1,0 L">1,0 L</span>
                                                        <span class="acc-custom-option" data-value="1,5 L">1,5 L</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="acc-inner__right">1200 ₽</div>
                                    </div>
                                    <div class="acc-inner-count">
                                        <div class="acc-inner-count__minus">-</div>
                                        <div class="acc-inner-count__number">4</div>
                                        <div class="acc-inner-count__plus">+</div>
                                    </div>
                                    <a href="javascript:void(0);" class="acc-inner-buy">
                                        <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M8.42959 2.90003H9.48119L7.92227 0.225479C7.79666 0.00875647 7.51837 -0.0651263 7.30165 0.0629371C7.08493 0.188538 7.01105 0.466829 7.13911 0.683552L8.42959 2.90003Z"
                                                fill="white" />
                                            <path
                                                d="M4.86161 0.683556C4.98721 0.466834 4.91579 0.188542 4.69907 0.0629412C4.48235 -0.0626594 4.20406 0.00876056 4.07846 0.225483L2.51953 2.9025H3.57113L4.86161 0.683556Z"
                                                fill="white" />
                                            <path
                                                d="M11.2228 3.72009H0.770843C0.344786 3.72009 0 4.06488 0 4.49094V5.34551C0 5.77157 0.344786 6.11636 0.770843 6.11636H1.01219L1.75595 10.1479C1.84953 10.6232 2.28298 11 2.73366 11H3.02919H4.96985C5.16687 11 5.42299 11 5.68405 11H5.92047H6.15689C6.41795 11 6.67407 11 6.87109 11H8.81175H9.10728C9.55796 11 9.99141 10.6232 10.085 10.1479L10.8337 6.11389H11.2253C11.6513 6.11389 11.9961 5.76911 11.9961 5.34305V4.48847C11.9936 4.06488 11.6488 3.72009 11.2228 3.72009ZM4.25565 7.74916V9.48787C4.25565 9.73661 4.0537 9.92378 3.81974 9.92378C3.571 9.92378 3.38383 9.72183 3.38383 9.48787V8.75889V7.04974C3.38383 6.801 3.58578 6.61383 3.81974 6.61383C4.06848 6.61383 4.25565 6.81578 4.25565 7.04974V7.74916ZM5.65449 7.74916V9.48787C5.65449 9.73661 5.45255 9.92378 5.21858 9.92378C4.96985 9.92378 4.78268 9.72183 4.78268 9.48787V8.75889V7.04974C4.78268 6.801 4.98462 6.61383 5.21858 6.61383C5.45255 6.61383 5.65449 6.81578 5.65449 7.04974V7.74916ZM7.06073 8.75889V9.48787C7.06073 9.72183 6.87356 9.92378 6.62482 9.92378C6.39086 9.92378 6.18891 9.73661 6.18891 9.48787V7.74916V7.04974C6.18891 6.81578 6.39086 6.61383 6.62482 6.61383C6.85878 6.61383 7.06073 6.801 7.06073 7.04974V8.75889ZM8.45957 8.75889V9.48787C8.45957 9.72183 8.2724 9.92378 8.02367 9.92378C7.7897 9.92378 7.58776 9.73661 7.58776 9.48787V7.74916V7.04974C7.58776 6.81578 7.77493 6.61383 8.02367 6.61383C8.25763 6.61383 8.45957 6.801 8.45957 7.04974V8.75889Z"
                                                fill="white" />
                                        </svg>
                                        Добавить
                                    </a>
                                    <a href="javascript:void(0);" class="acc-inner-go">
                                        перейти к товару
                                        <svg width="4" height="8" viewBox="0 0 4 8" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 8L4 4L0 0L0 8Z" fill="#9F7CCB" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            
                            <div class="account-dist-main-floating-wrap__item">
                                <div class="account-dist-main-floating-wrap__left">
                                    <img src="/img/admin-6.png" alt="bottle"
                                        class="account-dist-main-floating-wrap__img">
                                </div>
                                <div class="account-dist-main-floating-wrap__right">
                                    <h2 class="account-dist-main-floating-wrap__title">
                                        Эмиз
                                        премиум
                                    </h2>
                                    <div class="acc-inner">
                                        <div class="acc-inner__left">
                                            <div class="acc-custom-select-wrapper2">
                                                <div class="acc-custom-select2">
                                                    <div class="acc-custom-select__trigger2">
                                                        <span>
                                                            0,5 L
                                                        </span>
                                                        <div class="acc-arrow2"></div>
                                                    </div>
                                                    <div class="acc-custom-options2">
                                                        <span class="acc-custom-option2 selected" data-value="0,5 L">
                                                            0,5 L
                                                        </span>
                                                        <span class="acc-custom-option2" data-value="1,0 L">
                                                            1,0 L
                                                        </span>
                                                        <span class="acc-custom-option2" data-value="1,5 L">
                                                            1,5 L
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="acc-inner__right">
                                            1200 ₽
                                        </div>
                                    </div>
                                    <div class="acc-inner-count">
                                        <div class="acc-inner-count__minus">
                                            -
                                        </div>
                                        <div class="acc-inner-count__number">
                                            4
                                        </div>
                                        <div class="acc-inner-count__plus">
                                            +
                                        </div>
                                    </div>
                                    <a href="javascript:void(0);" class="acc-inner-buy">
                                        <svg width="12" height="11" viewBox="0 0 12 11" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M8.42959 2.90003H9.48119L7.92227 0.225479C7.79666 0.00875647 7.51837 -0.0651263 7.30165 0.0629371C7.08493 0.188538 7.01105 0.466829 7.13911 0.683552L8.42959 2.90003Z"
                                                fill="white" />
                                            <path
                                                d="M4.86161 0.683556C4.98721 0.466834 4.91579 0.188542 4.69907 0.0629412C4.48235 -0.0626594 4.20406 0.00876056 4.07846 0.225483L2.51953 2.9025H3.57113L4.86161 0.683556Z"
                                                fill="white" />
                                            <path
                                                d="M11.2228 3.72009H0.770843C0.344786 3.72009 0 4.06488 0 4.49094V5.34551C0 5.77157 0.344786 6.11636 0.770843 6.11636H1.01219L1.75595 10.1479C1.84953 10.6232 2.28298 11 2.73366 11H3.02919H4.96985C5.16687 11 5.42299 11 5.68405 11H5.92047H6.15689C6.41795 11 6.67407 11 6.87109 11H8.81175H9.10728C9.55796 11 9.99141 10.6232 10.085 10.1479L10.8337 6.11389H11.2253C11.6513 6.11389 11.9961 5.76911 11.9961 5.34305V4.48847C11.9936 4.06488 11.6488 3.72009 11.2228 3.72009ZM4.25565 7.74916V9.48787C4.25565 9.73661 4.0537 9.92378 3.81974 9.92378C3.571 9.92378 3.38383 9.72183 3.38383 9.48787V8.75889V7.04974C3.38383 6.801 3.58578 6.61383 3.81974 6.61383C4.06848 6.61383 4.25565 6.81578 4.25565 7.04974V7.74916ZM5.65449 7.74916V9.48787C5.65449 9.73661 5.45255 9.92378 5.21858 9.92378C4.96985 9.92378 4.78268 9.72183 4.78268 9.48787V8.75889V7.04974C4.78268 6.801 4.98462 6.61383 5.21858 6.61383C5.45255 6.61383 5.65449 6.81578 5.65449 7.04974V7.74916ZM7.06073 8.75889V9.48787C7.06073 9.72183 6.87356 9.92378 6.62482 9.92378C6.39086 9.92378 6.18891 9.73661 6.18891 9.48787V7.74916V7.04974C6.18891 6.81578 6.39086 6.61383 6.62482 6.61383C6.85878 6.61383 7.06073 6.801 7.06073 7.04974V8.75889ZM8.45957 8.75889V9.48787C8.45957 9.72183 8.2724 9.92378 8.02367 9.92378C7.7897 9.92378 7.58776 9.73661 7.58776 9.48787V7.74916V7.04974C7.58776 6.81578 7.77493 6.61383 8.02367 6.61383C8.25763 6.61383 8.45957 6.801 8.45957 7.04974V8.75889Z"
                                                fill="white" />
                                        </svg>
                                        Добавить
                                    </a>
                                    <a href="javascript:void(0);" class="acc-inner-go">
                                        перейти к товару
                                        <svg width="4" height="8" viewBox="0 0 4 8" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 8L4 4L0 0L0 8Z" fill="#9F7CCB" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            -->
                        </div>
                        
                    </div>
                </div>
                    
            </div>
        </section>
    </main>
{% endblock %}

{% block script_js %}
<script>
    let prod_tree =  JSON.parse('{{ prod_tree|json_encode()|raw  }}');
    $(document).ready(function(){
        
        {% include 'layouts/js_common_function_basket.twig' %}
        
        //Иницилизация при старте страницы
        //Заполнить значения количество товаров из корзины
        var basket = cook_create();
        var tvr_cnt = 0;
        if(basket){
            $("#account-dist-1 span.selected").each(function(){
                tvr_cnt = basket[$(this).data("prod")];
                if(tvr_cnt){
                    $(this).parents(".account-dist-main-floating-wrap__right").find(".acc-inner-count .acc-inner-count__number").text(tvr_cnt);
                }
            });
        }
        
        // Выбор товара через option
        $(".acc-custom-option").on("click", function(){
            
            //class selected
            $(this).siblings('.selected').removeClass( 'selected' );
            $(this).addClass( 'selected' );
            
            //выбор литража (in span) + замена картинки и цены
            $(this).parents('.acc-custom-select').find(".acc-custom-select__trigger span").text( $( this ).data( 'value' ) );
            $(this).parents('.account-dist-main-floating-wrap__item').find(".account-dist-main-floating-wrap__left img").attr("src", $(this).data('img'));
            $(this).parents('.acc-inner__left').siblings(".acc-inner__right").text($(this).data('price'));
            //$(this).parents('.account-dist-main-floating-wrap__right').find(".acc-inner-count__number").text(1);
            
            //Обновить количество товаров из корзины на данный товар
            basket = cook_create();
            tvr_cnt = 0;
            if(basket){
                tvr_cnt = parseInt(basket[$(this).data("prod")]);
                if(isNaN(tvr_cnt))tvr_cnt = 0;
                $(this).parents('.account-dist-main-floating-wrap__right').find(".acc-inner-count__number").text(tvr_cnt);
            }
            
        });
        
        //Установка количества (плюс & минус)
        $(".acc-inner-count__plus").on("click", function(){
            var cnt = Number($(this).siblings(".acc-inner-count__number").text()) + 1;
            if(cnt > 9999) cnt=9999;
            $(this).siblings(".acc-inner-count__number").text(cnt);
            
            var uniq_id_prod = $(this).parents('.account-dist-main-floating-wrap__right').find(".acc-custom-option.selected").data( 'prod');
            //var uniq_id_good = $(this).parents('.account-dist-main-floating-wrap__right').find(".acc-custom-option.selected").data( 'good');

            update_basket_in_cookie( uniq_id_prod, cnt );
            $('#count-prod-in-basket').text( calck().full_count );

        });
        $(".acc-inner-count__minus").on("click", function(){
            var cnt = Number($(this).siblings(".acc-inner-count__number").text()) - 1;
            if(cnt < 0) cnt=0;
            $(this).siblings(".acc-inner-count__number").text(cnt);
            
            var uniq_id_prod = $(this).parents('.account-dist-main-floating-wrap__right').find(".acc-custom-option.selected").data( 'prod');
            //var uniq_id_good = $(this).parents('.account-dist-main-floating-wrap__right').find(".acc-custom-option.selected").data( 'good');

            update_basket_in_cookie( uniq_id_prod, cnt );
            $('#count-prod-in-basket').text( calck().full_count );

        });
        
        
        
        
    });
/*        document
            .querySelector(".acc-custom-select-wrapper")
            .addEventListener("click", function () {
                this.querySelector(".acc-custom-select").classList.toggle("open");
            });
    

        for (const option of document.querySelectorAll(".acc-custom-option")) {
            option.addEventListener("click", function () {
                if (!this.classList.contains("selected")) {
                    this.parentNode
                        .querySelector(".acc-custom-option.selected")
                        .classList.remove("selected");
                    this.classList.add("selected");
                    this.closest(".acc-custom-select").querySelector(
                        ".acc-custom-select__trigger span"
                    ).textContent = this.textContent;
                }
            });
        }

        window.addEventListener("click", function (e) {
            const select = document.querySelector(".acc-custom-select");
            if (!select.contains(e.target)) {
                select.classList.remove("open");
            }
        });*/
</script>
    {{ parent() }}
{% endblock %}
