{% extends 'layouts/main_d.twig' %}
{% from 'macro/msg_flash.twig' import msg_flash %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block nav %}
    {{ parent() }}
{% endblock %}

{% block main %}
<main class="account-distributors" id="account-distributors">
    {{ msg_flash('msg', 'msg_arr', 1) }}
        <section class="diss-orders" id="diss-orders">

            <div class="container">
                <div class="diss-orders-topper">
                    <div class="diss-orders-topper__left">
                        <h1 class="diss-orders-topper__title">заказы</h1>
                        <div class="diss-orders-topper-inner">
                            <div class="diss-orders-topper-inner__left">общее кол-во заказов:</div>
                            <div class="diss-orders-topper-inner__right">{{ baskets|length }}</div>
                        </div>
                    </div>
                    <div class="diss-orders-topper__right">
                        <div class="diss-orders-topper-sort">
                            <div class="diss-orders-topper-sort__title">Сортировать:</div>
                            {% if msg %}
                                <script>alert("{{ msg }}");</script>
                            {% endif %}
                            <form method="POST" id="sort-date">
                                <input type="hidden" name="SortByDateForm[ord]" value="{{ model.getOrd }}" />
                                {{ csrf.get_html_token|raw }}
                            <div class="diss-orders-topper-sort__option">по дате</div>
                            </form>
                        </div>
                        <div class="diss-orders-topper-inner">
                            <div class="diss-orders-topper-inner__left">общая сумма:</div>
                            <div class="diss-orders-topper-inner__right">{{ basket_info['basket_summ']|number_format(0, '.', ' ') }} ₽</div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="diss-orders-all" id="diss-orders-all">
            <div class="container">
                <div class="diss-order-all">
                    <ul class="diss-order-all-wrap">


                        {% for basket in baskets %}

                        <li class="diss-order-all-wrap__item">
                            <input type="checkbox" checked class="diss-order-all-wrap__check">
                            <i></i>

                            <div class="diss-order-all-wrap__title">
                                <div class="diss-order-all-wrap__order">Заказ № {{ basket['basket_id'] }}</div>

                                {% if basket['basket_date_close'] %}
                                    <svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.7919 0.207983C11.5146 -0.0693357 11.0648 -0.0693354 10.7874 0.20803L4.51465 6.4808L1.21263 3.17879C0.935264 2.90142 0.485473 2.90142 0.20806 3.17879C-0.0693533 3.45615 -0.0693533 3.90594 0.20806 4.18335L4.01234 7.98763C4.15104 8.12634 4.33284 8.19567 4.5146 8.19567C4.69635 8.19567 4.8782 8.12629 5.01686 7.98763L11.7919 1.21255C12.0694 0.935187 12.0694 0.485396 11.7919 0.207983Z" fill="#2FA749" />
                                    </svg>
                                    <div class="diss-order-all-wrap__status diss-order-all-wrap__status_done">выполнен</div>
                                {% else %}
                                    <svg width="9" height="12" viewBox="0 0 9 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8.50001 1.36092V2.41383C8.50001 3.40453 8.07764 4.35279 7.3413 5.01539L6.24731 6L7.34133 6.98461C8.07766 7.64721 8.50003 8.59545 8.50003 9.58617V10.6391C8.79748 10.8125 9.00002 11.1314 9.00002 11.5V11.75C9.00002 11.8882 8.8882 12 8.75002 12H0.250008C0.11182 12 0 11.8882 0 11.75V11.5C0 11.1314 0.202547 10.8125 0.499992 10.6391V9.58617C0.499992 8.59545 0.922359 7.64721 1.6587 6.98461L2.75269 6L1.6587 5.01539C0.922359 4.35279 0.499992 3.40455 0.499992 2.41383V1.36095C0.202547 1.18751 0 0.86857 0 0.500016V0.250008C0 0.11182 0.11182 0 0.250008 0H8.74999C8.88818 0 9 0.11182 9 0.250008V0.499992C9 0.86857 8.79745 1.18751 8.50001 1.36092ZM5.16553 5.62842L6.67237 4.27221C7.19824 3.79882 7.5 3.12134 7.5 2.41383V1.5H1.5V2.41383C1.5 3.12134 1.80176 3.79882 2.32765 4.27219L3.83449 5.6284C3.93996 5.72311 4.00003 5.85813 4.00003 5.99998C4.00003 6.14182 3.93996 6.27682 3.83449 6.37155L2.32765 7.72777C1.80176 8.20116 1.5 8.87864 1.5 9.58617V10.5H2.12512L4.30003 7.6001C4.39427 7.47412 4.6057 7.47412 4.69995 7.6001L6.87488 10.5H7.5V9.58617C7.5 8.87866 7.19824 8.20118 6.67237 7.72779L5.16553 6.37158C5.06006 6.27687 4.99999 6.14184 4.99999 6C4.99999 5.85816 5.06006 5.72316 5.16553 5.62842ZM2.77634 3.5H6.22286C6.32174 3.5 6.41135 3.55836 6.45135 3.64869C6.49141 3.73927 6.47456 3.84474 6.4079 3.91798L4.66744 5.52395C4.61983 5.56714 4.55976 5.58863 4.49972 5.58863C4.43967 5.58863 4.3796 5.56716 4.332 5.52395L2.59128 3.91798C2.52462 3.84474 2.50779 3.73927 2.54782 3.64869C2.58785 3.55836 2.67745 3.5 2.77634 3.5Z" fill="#767676" />
                                    </svg>
                                    
                                        
                                    
                                    <div class="diss-order-all-wrap__status diss-order-all-wrap__status_sort {% if basket['basket_hour'] >=24 %}diss-order-all-wrap__status_red{% endif %}">в обработке</div>
                                {% endif %}

                                <svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.00002 1.20001H9.60001C10.263 1.20001 10.8 1.737 10.8 2.39999V10.8C10.8 11.463 10.263 12 9.60001 12H1.20001C0.53699 12 0 11.463 0 10.8L0.00601877 2.40002C0.00601877 1.737 0.537018 1.20001 1.20001 1.20001H1.8V0H3.00001V1.20001H7.80001V0H9.00002V1.20001ZM1.20001 10.8H9.60001V4.19999H1.20001V10.8ZM7.48248 5.40039L8.11847 6.03638L4.55448 9.60038L2.64648 7.69238L3.2825 7.05639L4.55448 8.3284L7.48248 5.40039Z" fill="#767676" />
                                </svg>
                                <div class="diss-order-all-wrap__date">{{ basket['basket_date_in']|slice(0, 10)|date("d.m.Y") }}</div>
                                <div class="diss-order-all-wrap__sum">{{ (basket['summ_basket'] + basket['basket_transport'])|number_format(0, '.', ' ') }} ₽</div>
                            </div>

                            <div class="diss-order-all-wrap__text">
                                <div class="diss-inner-first">
                                    <div class="diss-inner-first__sybol">№</div>
                                    <div class="diss-inner-first__name">наименование товара</div>
                                    <div class="diss-inner-first__qaunt">объем</div>
                                    <div class="diss-inner-fist__count">кол-во</div>
                                    <div class="diss-inner-first__price">цена</div>
                                    <div class="diss-inner-first__sum">сумма</div>
                                </div>
                                <a href="/moder-basket/edit/{{ basket['basket_id'] }}/">
                                    <ul class="diss-inner-second">
                                        {% set num = 0 %}
                                        {% for item in items %}
                                            {% if basket['basket_id'] ==  item['basket_id'] %}
                                                {% set num = num + 1 %}
                                                <li class="diss-inner-second__item">
                                                    <div class="diss-inner-second__sybol">{{ num }}</div>
                                                    <div class="diss-inner-second__name">{{ item['basketitems_name'] }}</div>
                                                    <div class="diss-inner-second__qaunt">{{ item['basketitems_volume'] }} L</div>
                                                    <div class="diss-inner-second__count">{{ item['basketitems_cnt'] }} шт.</div>
                                                    <div class="diss-inner-second__price">{{ item['basketitems_unitprice']|number_format(0, '.', ' ') }} ₽</div>
                                                    <div class="diss-inner-second__sum">{{ (item['basketitems_unitprice'] * item['basketitems_cnt'])|number_format(0, '.', ' ') }} ₽</div>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </a>


                                <div class="diss-order-subtotal">
                                    <div class="diss-order-subtotal__top">
                                        <div class="diss-order-subtotal__firle">доставка:</div>
                                        <div class="diss-order-subtotal__firri">{{ basket['basket_transport']|number_format(0, '.', ' ') }} ₽</div>
                                    </div>
                                    <div class="diss-order-subtotal__bottom">
                                        <div class="diss-order-subtotal__secle">Итого:</div>
                                        <div class="diss-order-subtotal__secri">{{ basket['summ_basket']|number_format(0, '.', ' ') }} ₽</div>
                                    </div>
                                </div>
                                                <div class="tab-content__btn">
                                                    <a href="/moder-basket/edit/{{ basket['basket_id'] }}/" class="mymodal-form__btn">
                                                    изменить информацию
                                                    </a>
                                                </div>

                            </div>
                        </li>
                        {% else %}
                            Нет данных...
                        {% endfor %}

                    </ul>
                </div>
            </div>
        </section>

    </main>

{% endblock %}

{% block script_js %}
    <script>
        /*Сортировка по дате*/
        $('.diss-orders-topper-sort__option').on('click', function(){
            //console.log('ddd');
            $('#sort-date').submit();
        });
    </script>
    {{ parent() }}
{% endblock %}
