{% extends 'layouts/main_d.twig' %}
{% from 'macro/msg_flash.twig' import msg_flash %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block nav %}
    {{ parent() }}
{% endblock %}

{% block main %}
<main class="account-distributors" id="account-distributors">
    {{ msg_flash('msg', 'msg_arr', 1) }}
        <section class="diss-prof" id="diss-prof">
            <div class="container">
                <div class="diss-prof-wrap">

                    <div class="diss-prof-wrap__left">
                        <div class="diss-prof-personal">
                            <div class="diss-prof-personal__top">
                                <h1 class="diss-prof-personal__title">Личные данные</h1>
                                <a href="javascript:void(0);" class="diss-prof-personal__link">
                                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.4701 2.0685L14.9296 0.527887C14.2257 -0.175979 13.0806 -0.175946 12.3767 0.527887L11.7738 1.13088L15.8672 5.22459L16.4701 4.62159C17.1756 3.91607 17.1757 2.77409 16.4701 2.0685ZM0.730857 12.5088L0.00833108 16.4109C-0.0215182 16.5721 0.0298797 16.7378 0.145857 16.8538C0.261967 16.9699 0.427649 17.0212 0.588716 16.9913L4.49044 16.2687L0.730857 12.5088ZM1.26783 11.6374L11.0696 1.83491L15.163 5.92862L5.36121 15.7311L1.26783 11.6374Z" fill="#5900AC" />
                                    </svg>
                                </a>
                            </div>
                            <ul class="diss-prof-personal-list">
                                <li class="diss-prof-personal-list__item">
                                    <div class="diss-prof-personal-list__left">Имя</div>
                                    <div class="diss-prof-personal-list__right">
                                        <h2 id="user_name" class="diss-prof-personal-list__name">{{ user['info_name'] }}</h2>
                                    </div>
                                </li>
                                <li class="diss-prof-personal-list__item">
                                    <div class="diss-prof-personal-list__left">Фамилия</div>
                                    <div class="diss-prof-personal-list__right">
                                        <h2 id="user_fam" class="diss-prof-personal-list__name">{{ user['info_famuly'] }}</h2>
                                    </div>
                                </li>
                                <li class="diss-prof-personal-list__item">
                                    <div class="diss-prof-personal-list__left">Отчество</div>
                                    <div class="diss-prof-personal-list__right">
                                        <h2 id="user_otch" class="diss-prof-personal-list__name">{{ user['info_otchestvo'] }}</h2>
                                    </div>
                                </li>
                                <li class="diss-prof-personal-list__item">
                                    <div class="diss-prof-personal-list__left">Дата рождения</div>
                                    <div class="diss-prof-personal-list__right">
                                        <div class="diss-prof-personal-list__date">{{ user['info_birth']|slice(8, 2) }}</div>
                                        <div class="diss-prof-personal-list__month">{{ user['info_birth']|slice(5, 2) }}</div>
                                        <div class="diss-prof-personal-list__year">{{ user['info_birth']|slice(0, 4) }}</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="diss-prof-wrap-card">
                            <h1 class="diss-prof-wrap-card__title">карта для оплаты</h1>
                            <ul class="diss-prof-wrap-card-list">
                                {% for card in cards %}
                                    {% if card['active'] == 1  %}
                                        {% set active_class = 'diss-prof-wrap-card-list__item-active' %}
                                    {% else %}
                                        {% set active_class = '' %}
                                    {% endif %}
                                    <li class="diss-prof-wrap-card-list__item {{ active_class }}" data-id="{{ card['card_id'] }}">

                                        <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.7326 1.15118C11.4581 0.876682 11.0129 0.876682 10.7383 1.15123L4.5293 7.36023L1.26085 4.09178C0.986303 3.81724 0.541085 3.81724 0.266492 4.09178C-0.00810146 4.36633 -0.00810146 4.81155 0.266492 5.08614L4.0321 8.85174C4.16939 8.98904 4.34935 9.05767 4.52925 9.05767C4.70916 9.05767 4.88916 8.98899 5.02641 8.85174L11.7326 2.14554C12.0072 1.87099 12.0072 1.42577 11.7326 1.15118Z" fill="#5900AC" />
                                        </svg>

                                        <div class="diss-prof-wrap-card-list__inner">
                                            {% if card['card_type'] == 'VISA' %}
                                                <img src="/img/admin-15.png" alt="visa" class="diss-ptof-wrap-card-list__img">
                                            {% elseif card['card_type'] == 'MASTER' %}
                                                <img src="/img/admin-16.png" alt="visa" class="diss-ptof-wrap-card-list__img">
                                            {% endif %}
                                            <div class="diss-prof-wrap-card-list__info">
                                                <div class="diss-prof-wrap-card-list__number">{{ card['card_num'] }}</div>
                                                <div class="diss-prof-wrap-card-list__name">{{ card['card_name'] }}</div>
                                            </div>
                                            <a href="javascript:void(0);" data-id="{{ card['card_id'] }}" class="diss-prof-wrap-card-list__cancel">
                                                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M12.065 4.24263L8.48528 7.82236L4.90555 4.24263C4.72249 4.05957 4.4257 4.05957 4.24264 4.24263C4.05958 4.4257 4.05958 4.72248 4.24264 4.90555L7.82237 8.48528L4.24264 12.065C4.05958 12.2481 4.05958 12.5449 4.24264 12.7279C4.4257 12.911 4.72249 12.911 4.90555 12.7279L8.48528 9.14819L12.065 12.7279C12.2481 12.911 12.5449 12.911 12.7279 12.7279C12.911 12.5449 12.911 12.2481 12.7279 12.065L9.14819 8.48528L12.7279 4.90555C12.911 4.72248 12.911 4.4257 12.7279 4.24263C12.5449 4.05957 12.2481 4.05957 12.065 4.24263Z" fill="#5900AC" />
                                                </svg>
                                            </a>
                                        </div>
                                    </li>
                                {% endfor %}

                            </ul>
                            <a href="javascript:void(0);" class="diss-prof-wrap-card__add">
                                добавить карту
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.5312 5.53125H6.46875V0.46875C6.46875 0.209859 6.25889 0 6 0C5.74111 0 5.53125 0.209859 5.53125 0.46875V5.53125H0.46875C0.209859 5.53125 0 5.74111 0 6C0 6.25889 0.209859 6.46875 0.46875 6.46875H5.53125V11.5312C5.53125 11.7901 5.74111 12 6 12C6.25889 12 6.46875 11.7901 6.46875 11.5312V6.46875H11.5312C11.7901 6.46875 12 6.25889 12 6C12 5.74111 11.7901 5.53125 11.5312 5.53125Z" fill="#5900AC" />
                                </svg>
                            </a>
                        </div>
                        <div class="diss-prof-card-add">
                            <form method="post">
                                <h1 class="diss-prof-wrap-card__title">добавить карту</h1>
                                <div class="diss-prof-card-add-inner">
                                    <div class="diss-prof-card-one">
                                        <img src="/img/admin-15.png" alt="visa" class="diss-prof-card-one__visa">
                                        <img src="/img/admin-16.png" alt="visa" class="diss-prof-card-one__master">
                                        <input type="text" placeholder="8454 8899 3123 9045" class="diss-prof-card-one__large" name="CardForm[card_num]">
                                        <div class="diss-prof-card-one__smalltitle">Годен до</div>
                                        <input type="text" class="diss-prof-card-one__month" placeholder="01" name="CardForm[data_mes]">
                                        <input type="text" class="diss-prof-card-one__year" placeholder="21" name="CardForm[data_god]">
                                        <svg width="7" height="12" viewBox="0 0 7 12" fill="none" class="diss-prof-card-one__line" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6.55762 0.197266L1.85449 11.627H0.808594L5.49805 0.197266H6.55762Z" fill="#5900AC" />
                                        </svg>
                                    </div>
                                    <div class="diss-prof-card-back">
                                        <img src="/img/admin-17.png" alt="back" class="diss-prof-card-back__img">
                                        <input type="text" class="diss-prof-card-back__numbers" placeholder="222" name="CardForm[card_oborot]">
                                        <div class="diss-prof-card-back__text">3 цифры на обороте карты</div>
                                    </div>
                                </div>
                                <div class="diss-prof-card-add-nav">
                                    <a href="javascript:void(0);" class="diss-prof-card-add-nav__cancel">отменить</a>
                                    <a href="javascript:void(0);" class="diss-prof-card-add-nav__add">добавить</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="diss-prof-wrap__right">
                        <div class="diss-prof-contacts">
                            <div class="diss-prof-personal__top">
                                <h1 class="diss-prof-personal__title">Контактные данные</h1>
                                <a href="javascript:void(0);" class="diss-prof-personal__link">
                                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.4701 2.0685L14.9296 0.527887C14.2257 -0.175979 13.0806 -0.175946 12.3767 0.527887L11.7738 1.13088L15.8672 5.22459L16.4701 4.62159C17.1756 3.91607 17.1757 2.77409 16.4701 2.0685ZM0.730857 12.5088L0.00833108 16.4109C-0.0215182 16.5721 0.0298797 16.7378 0.145857 16.8538C0.261967 16.9699 0.427649 17.0212 0.588716 16.9913L4.49044 16.2687L0.730857 12.5088ZM1.26783 11.6374L11.0696 1.83491L15.163 5.92862L5.36121 15.7311L1.26783 11.6374Z" fill="#5900AC" />
                                    </svg>
                                </a>
                            </div>
                            <ul class="diss-prof-contacts-box">
                                <li class="diss-prof-contacts-box__item">
                                    <div class="diss-prof-contacts-box__right">Город</div>
                                    <div id="main_city" class="diss-prof-contacts-box__info">{{ adrkont[0]['city'] }}</div>
                                </li>
                                <li class="diss-prof-contacts-box__item">
                                    <div class="diss-prof-contacts-box__right">улица</div>
                                    <div id="main_street" class="diss-prof-contacts-box__info">{{ adrkont[0]['street'] }}</div>
                                </li>
                                <li class="diss-prof-contacts-box__item">
                                    <div class="diss-prof-contacts-box__right">

                                    </div>
                                    <div class="diss-prof-contacts-box__info_extra">
                                        <div class="diss-prof-contacts-box__house">
                                            <div class="diss-prof-contacts-box__name">дом</div>
                                            <div id="main_house" class="diss-prof-contacts-box__number">{{ adrkont[0]['house'] }}</div>
                                        </div>
                                        <div class="diss-prof-contacts-box__housenum">
                                            <div class="diss-prof-contacts-box__name">корпус</div>
                                            <div id="main_korpus" class="diss-prof-contacts-box__number">{{ adrkont[0]['korpus'] }}</div>
                                        </div>
                                        <div
                                            class="diss-prof-contacts-box__housenum diss-prof-contacts-box__housenum_flat">
                                            <div class="diss-prof-contacts-box__name">квартира</div>
                                            <div id="main_apartament" class="diss-prof-contacts-box__number">{{ adrkont[0]['apartament'] }}</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="diss-prof-contacts-box__item">
                                    <div class="diss-prof-contacts-box__right">Индекс</div>
                                    <div id="main_index" class="diss-prof-contacts-box__info">{{ adrkont[0]['pochta_index'] }}</div>
                                </li>
                                <li class="diss-prof-contacts-box__item">
                                    <div class="diss-prof-contacts-box__right">Номер телефона</div>
                                    <div id="main_phone" class="diss-prof-contacts-box__info">{% if adrkont[0]['userinfo_phone'] %}{{ adrkont[0]['userinfo_phone'] }}{% else %}{{ user['info_phone'] }}{% endif %}</div>
                                </li>
                                <li class="diss-prof-contacts-box__item">
                                    <div class="diss-prof-contacts-box__right">E-mail</div>
                                    <div id="main_email" class="diss-prof-contacts-box__info">{% if adrkont[0]['userinfo_email'] %}{{ adrkont[0]['userinfo_email'] }}{% else %}{{ user['info_email'] }}{% endif %}</div>
                                </li>
                            </ul>
                            <div class="diss-prof-contacts-box-line"></div>
                            <div class="diss-prof-contacts-navigation">
                                <h2 class="diss-prof-contacts-navigation__title">адрес доставки</h2>
                                <a href="javascript:void(0);" class="diss-prof-cotnacts-navigation__btn">
                                    добавить адрес
                                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M11.5312 5.53125H6.46875V0.46875C6.46875 0.209859 6.25889 0 6 0C5.74111 0 5.53125 0.209859 5.53125 0.46875V5.53125H0.46875C0.209859 5.53125 0 5.74111 0 6C0 6.25889 0.209859 6.46875 0.46875 6.46875H5.53125V11.5312C5.53125 11.7901 5.74111 12 6 12C6.25889 12 6.46875 11.7901 6.46875 11.5312V6.46875H11.5312C11.7901 6.46875 12 6.25889 12 6C12 5.74111 11.7901 5.53125 11.5312 5.53125Z"
                                            fill="#5900AC" />
                                    </svg>
                                </a>
                            </div>
                            <ul class="diss-prof-addressies">
                                {% for adres in adress %}

                                    {% if adres['active']  %}
                                        {% set active_class = 'diss-prof-addressies__item-active' %}
                                    {% else %}
                                        {% set active_class = '' %}
                                    {% endif %}

                                    <li id="adr2_{{ adres['adress_id'] }}" class="diss-prof-addressies__item {{ active_class }}"
                                        data-id="{{ adres['adress_id'] }}"
                                        data-index="{{ adres['pochta_index'] }}"
                                        data-city="{{ adres['city'] }}"
                                        data-street="{{ adres['street'] }}"
                                        data-house="{{ adres['house'] }}"
                                        data-korpus="{{ adres['korpus'] }}"
                                        data-apartament="{{ adres['apartament'] }}"
                                        >
                                        <svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.6721 0.205869C11.3975 -0.0686309 10.9523 -0.0686305 10.6778 0.205916L4.46875 6.41492L1.2003 3.14647C0.925756 2.87193 0.480538 2.87193 0.205945 3.14647C-0.0686483 3.42102 -0.0686483 3.86624 0.205945 4.14083L3.97155 7.90643C4.10885 8.04373 4.2888 8.11235 4.4687 8.11235C4.64861 8.11235 4.82861 8.04368 4.96586 7.90643L11.6721 1.20023C11.9467 0.92568 11.9467 0.480462 11.6721 0.205869Z" fill="#5900AC" />
                                        </svg>
                                        <div class="diss-prof-addressies__text">
                                            {{ adres['pochta_index'] }},
                                            {{ adres['userinfo_name'] }} {{ adres['userinfo_famuly'] }} {{ adres['userinfo_otchestvo'] }},
                                            г.{{ adres['city'] }},
                                            {{ adres['street'] }}
                                            {{ adres['house'] }}
                                            {{ adres['korpus'] }},
                                            кв. {{ adres['apartament'] }}
                                        </div>
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>

                        <!-- (только добавить) адрес доставки -->
                        <div class="diss-add-address-delivery">
                            <form metod="POST">
                            <h1 class="diss-prof-personal__title">добавить адрес доставки </h1>
                            <ul class="diss-prof-contacts-box">
                                <li class="diss-prof-contacts-box__item">
                                    <div class="diss-prof-contacts-box__right">Город</div>
                                    <input id="dost_city" type="text" class="diss-prof-contacts-box__info" name="AdressForm[city]">
                                </li>
                                <li class="diss-prof-contacts-box__item">
                                    <div class="diss-prof-contacts-box__right">улица</div>
                                    <input id="dost_street" type="text" class="diss-prof-contacts-box__info" name="AdressForm[street]">
                                </li>
                                <li class="diss-prof-contacts-box__item">
                                    <div class="diss-prof-contacts-box__right">
                                    </div>
                                    <div class="diss-prof-contacts-box__info_extra">
                                        <div class="diss-prof-contacts-box__house">
                                            <div class="diss-prof-contacts-box__name">дом</div>
                                            <input id="dost_house" type="text" class="diss-prof-contacts-box__number" name="AdressForm[house]">
                                        </div>
                                        <div class="diss-prof-contacts-box__housenum">
                                            <div class="diss-prof-contacts-box__name">корпус</div>
                                            <input id="dost_korpus" type="text" class="diss-prof-contacts-box__number" name="AdressForm[korpus]">
                                        </div>
                                        <div class="diss-prof-contacts-box__housenum diss-prof-contacts-box__housenum_flat">
                                            <div class="diss-prof-contacts-box__name">квартира</div>
                                            <input id="dost_apartament" type="text" class="diss-prof-contacts-box__number" name="AdressForm[apartament]">
                                        </div>
                                    </div>
                                </li>
                                <li class="diss-prof-contacts-box__item">
                                    <div class="diss-prof-contacts-box__right">Индекс</div>
                                    <input id="dost_index" type="text" class="diss-prof-contacts-box__info" name="AdressForm[pochta_index]">
                                </li>
                            </ul>
                            <div class="diss-add-address-delivery-nav">
                                <a href="javascript:void(0);" class="diss-add-address-delivery-nav__cancel">отменить</a>
                                <a href="javascript:void(0);" class="diss-add-address-delivery-nav__add">добавить</a>
                            </div>
                            </form>
                        </div>

                        <!-- изменить контактные данные .diss-prof-contacts .diss-prof-contacts-edit -->
                        <div class="diss-prof-contacts diss-prof-contacts-edit">
                            <div class="diss-prof-personal__top">
                                <h1 class="diss-prof-personal__title">изменить контактные данные</h1>
                            </div>
                            <ul class="diss-prof-contacts-box">
                                <li class="diss-prof-contacts-box__item">
                                    <div class="diss-prof-contacts-box__right">Город</div>
                                    <input id="kont_city" type="text" class="diss-prof-contacts-box__info" name="AdressForm[city]" value="{{ adrkont[0]['city'] }}">
                                </li>
                                <li class="diss-prof-contacts-box__item">
                                    <div class="diss-prof-contacts-box__right">улица</div>
                                    <input id="kont_street" type="text" class="diss-prof-contacts-box__info" name="AdressForm[street]" value="{{ adrkont[0]['street'] }}">
                                </li>
                                <li class="diss-prof-contacts-box__item">
                                    <div class="diss-prof-contacts-box__right">

                                    </div>
                                    <div class="diss-prof-contacts-box__info_extra">
                                        <div class="diss-prof-contacts-box__house">
                                            <div class="diss-prof-contacts-box__name">дом</div>
                                            <input id="kont_house" type="text" class="diss-prof-contacts-box__number" name="AdressForm[house]" value="{{ adrkont[0]['house'] }}">
                                        </div>
                                        <div class="diss-prof-contacts-box__housenum">
                                            <div class="diss-prof-contacts-box__name">корпус</div>
                                            <input id="kont_korpus" type="text" class="diss-prof-contacts-box__number" name="AdressForm[korpus]" value="{{ adrkont[0]['korpus'] }}">
                                        </div>
                                        <div
                                            class="diss-prof-contacts-box__housenum diss-prof-contacts-box__housenum_flat">
                                            <div class="diss-prof-contacts-box__name">квартира</div>
                                            <input id="kont_apartament" type="text" class="diss-prof-contacts-box__number" name="AdressForm[apartament]" value="{{ adrkont[0]['apartament'] }}">
                                        </div>
                                    </div>
                                </li>
                                <li class="diss-prof-contacts-box__item">
                                    <div class="diss-prof-contacts-box__right">Индекс</div>
                                    <input id="kont_index" type="text" class="diss-prof-contacts-box__info" name="AdressForm[pochta_index]" value="{{ adrkont[0]['pochta_index'] }}">
                                </li>
                                <li class="diss-prof-contacts-box__item">
                                    <div class="diss-prof-contacts-box__right">Номер телефона</div>
                                    <input id="kont_phone" type="text" class="diss-prof-contacts-box__info" name="UserinfoForm[userinfo_phone]" value="{% if adrkont[0]['userinfo_phone'] %}{{ adrkont[0]['userinfo_phone'] }}{% else %}{{ user['info_phone'] }}{% endif %}">
                                </li>
                                <li class="diss-prof-contacts-box__item">
                                    <div class="diss-prof-contacts-box__right">E-mail</div>
                                    <input id="kont_email" type="text" class="diss-prof-contacts-box__info" name="UserinfoForm[userinfo_email]" value="{% if adrkont[0]['userinfo_email'] %}{{ adrkont[0]['userinfo_email'] }}{% else %}{{ user['info_email'] }}{% endif %}">
                                </li>
                            </ul>
                            <div class="diss-prof-contacts-box-line"></div>
                            <div class="diss-prof-contacts-navigation">
                                <h2 class="diss-prof-contacts-navigation__title">изменить адрес доставки</h2>
                            </div>
                            <ul class="diss-prof-addressies">
                                {% for adres in adress %}
                                    <a href="javascript:void(0);" class="diss-prof-addressies__btn"
                                       data-id="{{ adres['adress_id'] }}"
                                       data-index="{{ adres['pochta_index'] }}"
                                       data-city="{{ adres['city'] }}"
                                       data-street="{{ adres['street'] }}"
                                       data-house="{{ adres['house'] }}"
                                       data-korpus="{{ adres['korpus'] }}"
                                       data-apartament="{{ adres['apartament'] }}"
                                       >
                                        <li id="adr_{{ adres['adress_id'] }}" class="diss-prof-addressies__item">
                                            <div class="diss-prof-addressies__text">
                                                    {{ adres['pochta_index'] }},
                                                    {{ adres['userinfo_name'] }} {{ adres['userinfo_famuly'] }} {{ adres['userinfo_otchestvo'] }},
                                                    г. {{ adres['city'] }},
                                                    {{ adres['street'] }}
                                                    {{ adres['house'] }}
                                                    {{ adres['korpus'] }},
                                                    кв. {{ adres['apartament'] }}
                                                <svg width="4" height="8" viewBox="0 0 4 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0 8L4 4L0 0L0 8Z" fill="#5900AC" />
                                                </svg>
                                            </div>
                                        </li>
                                    </a>
                                {% endfor %}

                            </ul>
                            <a href="javascript:void(0);" class="diss-prof-contacts-edit__btn" data-id="{{ adrkont[0]['adrkont_id'] }}">сохранить</a>
                        </div>

                        <!-- добавить адрес доставки (2) diss-add-address-delivery__extra -->
                        <div class=" diss-add-address-delivery__extra">
                            <h1 class="diss-prof-personal__title">изменить адрес доставки</h1>
                            <ul class="diss-prof-contacts-box">
                                <li class="diss-prof-contacts-box__item">
                                    <div class="diss-prof-contacts-box__right">Город</div>
                                    <input id="edit_city" type="text" class="diss-prof-contacts-box__info">
                                </li>
                                <li class="diss-prof-contacts-box__item">
                                    <div class="diss-prof-contacts-box__right">улица</div>
                                    <input id="edit_street" type="text" class="diss-prof-contacts-box__info">
                                </li>
                                <li class="diss-prof-contacts-box__item">
                                    <div class="diss-prof-contacts-box__right">
                                    </div>
                                    <div class="diss-prof-contacts-box__info_extra">
                                        <div class="diss-prof-contacts-box__house">
                                            <div class="diss-prof-contacts-box__name">дом</div>
                                            <input id="edit_house" type="text" class="diss-prof-contacts-box__number">
                                        </div>
                                        <div class="diss-prof-contacts-box__housenum">
                                            <div class="diss-prof-contacts-box__name">корпус</div>
                                            <input id="edit_korpus" type="text" class="diss-prof-contacts-box__number">
                                        </div>
                                        <div
                                            class="diss-prof-contacts-box__housenum diss-prof-contacts-box__housenum_flat">
                                            <div class="diss-prof-contacts-box__name">квартира</div>
                                            <input id="edit_apartament" type="text" class="diss-prof-contacts-box__number">
                                        </div>
                                    </div>
                                </li>
                                <li class="diss-prof-contacts-box__item">
                                    <div class="diss-prof-contacts-box__right">Индекс</div>
                                    <input id="edit_index" type="text" class="diss-prof-contacts-box__info">
                                </li>
                            </ul>
                            <div class="diss-add-address-delivery-nav">
                                <a href="javascript:void(0);" class="diss-add-address-delivery-nav__cancel_cancel" id="edit_id_cans">отменить</a>
                                <a href="javascript:void(0);" class="diss-add-address-delivery-nav__add_delete" id="edit_id_del">удалить адрес</a>
                                <a href="javascript:void(0);" class="diss-add-address-delivery-nav__add_add" id="edit_id_upd">изменить</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </section>
    </main>
<style>
    .diss-prof-wrap-card-list{
        height: 180px;
        overflow-y: scroll;
    }
</style>
{% endblock %}

{% block script_js %}
    <script>
        /*DELETE CARD*/
        $('.diss-prof-wrap-card-list__cancel').on('click', function(event){

            event.preventDefault();
            event.stopPropagation();

            var id=$(this).data('id');
            var card_item=$(this);

                $.ajax({
                    url:'/dealer/delcard/{{ user['users_id'] }}/',
                    data: '{{ csrf.get_param }}={{ csrf.get_token }}'+'&CardForm[card_id]='+id+'&CardForm[card_num]=0&CardForm[data_mes]=0&CardForm[data_god]=0&CardForm[card_oborot]=0',
                    type: 'POST',
                    beforeSend:function(){
                        card_item.append('<img src="/css/ajax-loader.gif" alt="loaders" height="20" id="ajax_loader">')
                    },
                    success: function(res){

                        res=JSON.parse(res);

                        if (res.status==1){
                            card_item.parent().parent().replaceWith("<li class='diss-prof-wrap-card-list__item'>" + res.msg + "</li>");
                        }else if(res.status==0){

                            if(typeof(res.err) != "undefined" && res.err !== null){
                                $.each(res.err, function (index, value) {
                                    $.each(value, function (index2, value2){
                                        res.msg += "\n" + value2;
                                    });
                                });
                            }

                            alert(res.msg);
                            $('#ajax_loader').remove();
                        }

                    },
                    error: function(){
                        $('#ajax_loader').remove();
                        alert('Ошибка!');
                    }
                });
        });

        /*ADD CARD*/
        $('.diss-prof-card-add-nav__add').on('click', function(event){

            event.preventDefault();
            event.stopPropagation();

            var card_item=$(this);

            var type="VISA";
            var num=$('.diss-prof-card-one__large').val();
            var mes=$('.diss-prof-card-one__month').val();
            var god=$('.diss-prof-card-one__year').val();
            var obr=$('.diss-prof-card-back__numbers').val();
            var name=$('#user_name').text().toUpperCase() + ' ' + $('#user_fam').text().toUpperCase();

            $.ajax({
                url:'/dealer/addcard/{{ user['users_id'] }}/',
                data: '{{ csrf.get_param }}={{ csrf.get_token }}&CardForm[card_type]='+type+'&CardForm[card_num]='+num+'&CardForm[data_mes]='+mes+'&CardForm[data_god]='+god+'&CardForm[card_oborot]='+obr+'&CardForm[card_name]='+name,
                type: 'POST',
                beforeSend:function(){
                    $('.diss-prof-wrap-card__add').append('<img src="/css/ajax-loader.gif" alt="loaders" height="20" id="ajax-loader">')
                },
                success: function(res){
                    res=JSON.parse(res);

                    if (res.status==1){
                        alert(res.msg);
                        document.location.href = '/dealer/profil/{{ user['users_id'] }}/';
                    }else if(res.status==0){

                        if(typeof(res.err) != "undefined" && res.err !== null){
                            $.each(res.err, function (index, value) {
                                $.each(value, function (index2, value2){
                                    res.msg += "\n" + value2;
                                });
                            });
                        }

                        alert(res.msg);
                    }

                    $('#ajax-loader').remove();
                },
                error: function(){
                    alert('Ошибка!');
                    $('#ajax-loader').remove();
                }
            });




        });

        /*ADD ADRESS*/
        $('.diss-add-address-delivery-nav__add').on('click', function(event){

            event.preventDefault();
            event.stopPropagation();

            var adr_item=$(this);

            var city = $('#dost_city').val();
            var street = $('#dost_street').val();
            var house = $('#dost_house').val();
            var korpus = $('#dost_korpus').val();
            var apartament = $('#dost_apartament').val();
            var index = $('#dost_index').val();

            $.ajax({
                url:'/dealer/addadr/{{ user['users_id'] }}/',
                data: '{{ csrf.get_param }}={{ csrf.get_token }}&AdressForm[city]='+city+'&AdressForm[street]='+street+'&AdressForm[house]='+house+'&AdressForm[korpus]='+korpus+'&AdressForm[apartament]='+apartament+'&AdressForm[pochta_index]='+index,
                type: 'POST',
                beforeSend:function(){
                    adr_item.append('<img src="/css/ajax-loader.gif" alt="loaders" height="20" id="ajax-loader">')
                },
                success: function(res){
                    res=JSON.parse(res);

                    if (res.status==1){
                        alert(res.msg);
                        document.location.href = '/dealer/profil/{{ user['users_id'] }}/';
                    }else if(res.status==0){
                        if(typeof(res.err) != "undefined" && res.err !== null){
                            $.each(res.err, function (index, value) {
                                $.each(value, function (index2, value2){
                                    res.msg += "\n" + value2;
                                });
                            });
                        }

                        alert(res.msg);
                    }
                    $('#ajax-loader').remove();
                },
                error: function(){
                    alert('Ошибка!');
                    $('#ajax-loader').remove();
                }
            });

        });

        /*fill form adress*/
        $('.diss-prof-addressies__btn').on('click', function(){

            $('#edit_city').val($(this).data('city'));
            $('#edit_street').val($(this).data('street'));
            $('#edit_house').val($(this).data('house'));
            $('#edit_korpus').val($(this).data('korpus'));
            $('#edit_apartament').val($(this).data('apartament'));
            $('#edit_index').val($(this).data('index'));

            $('#edit_id_cans').attr("data-id", $(this).data('id'));
            $('#edit_id_del').attr("data-id", $(this).data('id'));
            $('#edit_id_upd').attr("data-id", $(this).data('id'));

        });

        /*DELETE ADRESS*/
        $('.diss-add-address-delivery-nav__add_delete').on('click', function(event){

            event.preventDefault();
            event.stopPropagation();

            var id=$(this).data('id');//console.log(id);

                $.ajax({
                    url:'/dealer/deladr/{{ user['users_id'] }}/',
                    data: 'AdressForm[adress_id]='+id+'&{{ csrf.get_param }}={{ csrf.get_token }}'+'&AdressForm[city]=1&AdressForm[street]=1&AdressForm[house]=1&AdressForm[korpus]=1&AdressForm[apartament]=1&AdressForm[pochta_index]=1',
                    type: 'POST',
                    beforeSend:function(){
                        $('#adr_' + id).append('<img src="/css/ajax-loader.gif" alt="loaders" height="20" id="ajax_loader">')
                    },
                    success: function(res){

                        res=JSON.parse(res);

                        if (res.status==1){
                            //$('#adr_' + id).parent().remove();
                            alert(res.msg);
                            document.location.href = '/dealer/profil/{{ user['users_id'] }}/';
                        }else if(res.status==0){
                            if(typeof(res.err) != "undefined" && res.err !== null){
                                $.each(res.err, function (index, value) {
                                    $.each(value, function (index2, value2){
                                        res.msg += "\n" + value2;
                                    });
                                });
                            }

                            alert(res.msg);
                            $('#ajax_loader').remove();
                        }


                    },
                    error: function(){
                        $('#ajax_loader').remove();
                        alert('Ошибка!');
                    }
                });
        });

        /*EDIT ADRESS*/
        $('.diss-add-address-delivery-nav__add_add').on('click', function(event){

            event.preventDefault();
            event.stopPropagation();

            var adr_item=$(this);

            var city = $('#edit_city').val();
            var street = $('#edit_street').val();
            var house = $('#edit_house').val();
            var korpus = $('#edit_korpus').val();
            var apartament = $('#edit_apartament').val();
            var index = $('#edit_index').val();
            var id = $('#edit_id_upd').data('id');

            $.ajax({
                url:'/dealer/updadr/{{ user['users_id'] }}/',
                data: '{{ csrf.get_param }}={{ csrf.get_token }}&AdressForm[city]='+city+'&AdressForm[street]='+street+'&AdressForm[house]='+house+'&AdressForm[korpus]='+korpus+'&AdressForm[apartament]='+apartament+'&AdressForm[pochta_index]='+index+'&AdressForm[adress_id]='+id,
                type: 'POST',
                beforeSend:function(){
                    $('#adr_' + id).append('<img src="/css/ajax-loader.gif" alt="loaders" height="20" id="ajax-loader">')
                },
                success: function(res){
                    res=JSON.parse(res);

                    if (res.status==1){
                        alert(res.msg);
                        document.location.href = '/dealer/profil/{{ user['users_id'] }}/';
                    }else if(res.status==0){
                        if(typeof(res.err) != "undefined" && res.err !== null){
                            $.each(res.err, function (index, value) {
                                $.each(value, function (index2, value2){
                                    res.msg += "\n" + value2;
                                });
                            });
                        }

                        alert(res.msg);
                    }
                    $('#ajax-loader').remove();
                },
                error: function(){
                    alert('Ошибка!');
                    $('#ajax-loader').remove();
                }
            });

        });

        /*ADD ACTIVE CARD*/
        $('.diss-prof-wrap-card-list__item').on('click', function(event){

            event.preventDefault();
            event.stopPropagation();

            $(this).siblings(".diss-prof-wrap-card-list__item-active").toggleClass("diss-prof-wrap-card-list__item-active");
            $(this).toggleClass("diss-prof-wrap-card-list__item-active");
            var id = $(this).data('id');
            var card_item=$(this);

            $.ajax({
                url:'/dealer/activecard/{{ user['users_id'] }}/',
                data: '{{ csrf.get_param }}={{ csrf.get_token }}&CardForm[card_id]='+id+'&CardForm[card_num]=0&CardForm[data_mes]=0&CardForm[data_god]=0&CardForm[card_oborot]=0',
                type: 'POST',
                beforeSend:function(){
                    card_item.find('a').append('<img src="/css/ajax-loader.gif" alt="loaders" height="20" id="ajax-loader">')
                },
                success: function(res){
                    res=JSON.parse(res);

                    if (res.status==1){
                        alert(res.msg);
                    }else if(res.status==0){
                        if(typeof(res.err) != "undefined" && res.err !== null){
                            $.each(res.err, function (index, value) {
                                $.each(value, function (index2, value2){
                                    res.msg += "\n" + value2;
                                });
                            });
                        }

                        alert(res.msg);
                    }
                    $('#ajax-loader').remove();
                },
                error: function(){
                    alert('Ошибка!');
                    $('#ajax-loader').remove();
                }
            });

        });

        /*ADD ACTIVE ADRESS*/
        $('ul.diss-prof-addressies > li.diss-prof-addressies__item').on('click', function(event){
            /*есть еще список адесов, где  ul > a > li */

            event.preventDefault();
            event.stopPropagation();

            $(this).siblings(".diss-prof-addressies__item-active").toggleClass("diss-prof-addressies__item-active");
            $(this).toggleClass("diss-prof-addressies__item-active");
            var id = $(this).data('id');
            var card_item=$(this);

            /* ВНИМАНИЕ async: false */
            $.ajax({
                url:'/dealer/activeadress/{{ user['users_id'] }}/',
                async: false,
                data: '{{ csrf.get_param }}={{ csrf.get_token }}&AdressForm[adress_id]='+id+'&AdressForm[city]=1&AdressForm[street]=1&AdressForm[house]=1&AdressForm[korpus]=1&AdressForm[apartament]=1&AdressForm[pochta_index]=1',
                type: 'POST',
                beforeSend:function(){
                    $('#adr2_' + id).append('<img src="/css/ajax-loader.gif" alt="loaders" height="20" id="ajax-loader">')
                },
                success: function(res){
                    res=JSON.parse(res);

                    if (res.status==1){
                        alert(res.msg);
                    }else if(res.status==0){
                        if(typeof(res.err) != "undefined" && res.err !== null){
                            $.each(res.err, function (index, value) {
                                $.each(value, function (index2, value2){
                                    res.msg += "\n" + value2;
                                });
                            });
                        }

                        alert(res.msg);
                    }
                    $('#ajax-loader').remove();
                },
                error: function(){
                    alert('Ошибка!');
                    $('#ajax-loader').remove();
                }
            });

        });

        /*EDIT OR INSERT KONTAKT ADRESS*/
        $('.diss-prof-contacts-edit__btn').on('click', function(){

            event.preventDefault();
            event.stopPropagation();

            var butt_form=$(this);

            var id = $(this).data('id');
            //Опеделение URL (EDIT OR INSERT), требуется перезапуск станицы
            var url_kont='';
            if(id){
                url_kont="/dealer/updkont/{{ user['users_id'] }}/";
            }else{
                url_kont="/dealer/addkont/{{ user['users_id'] }}/";
            }

            var city = $('#kont_city').val();
            var street = $('#kont_street').val();
            var house = $('#kont_house').val();
            var korpus = $('#kont_korpus').val();
            var apartament = $('#kont_apartament').val();
            var index = $('#kont_index').val();
            var phone = $('#kont_phone').val();
            var email = $('#kont_email').val();

            $.ajax({
                url: url_kont,
                data: '{{ csrf.get_param }}={{ csrf.get_token }}&AdressForm[city]='+city+'&AdressForm[street]='+street+'&AdressForm[house]='+house+'&AdressForm[korpus]='+korpus+'&AdressForm[apartament]='+apartament+'&AdressForm[pochta_index]='+index+'&AdressForm[adress_id]='+id+'&UserinfoForm[phone]='+phone+'&UserinfoForm[email]='+email,
                type: 'POST',
                beforeSend:function(){
                    butt_form.append('<img src="/css/ajax-loader.gif" alt="loaders" height="20" id="ajax-loader">')
                },
                success: function(res){
                    res=JSON.parse(res);

                    if (res.status==1){
                        alert(res.msg);
                        document.location.href = '/dealer/profil/{{ user['users_id'] }}/';
                    }else if(res.status==0){
                        if(typeof(res.err) != "undefined" && res.err !== null){
                            $.each(res.err, function (index, value) {
                                $.each(value, function (index2, value2){
                                    res.msg += "\n" + value2;
                                });
                            });
                        }

                        alert(res.msg);
                    }
                    $('#ajax-loader').remove();
                },
                error: function(){
                    alert('Ошибка!');
                    $('#ajax-loader').remove();
                }
            });

        });

    </script>
    {{ parent() }}
{% endblock %}
