{% extends 'layouts/main_d.twig' %}
{% from 'macro/msg_flash.twig' import msg_flash %}

{% block head %}
    {{ parent() }}
    <link href="/css/flatpickr.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block nav %}
    {{ parent() }}
{% endblock %}

{% block main %}
<main class="account-distributors" id="account-distributors">
    {{ msg_flash('msg', 'msg_arr', 1) }}
        <section class="diss-reports" id="diss-reports">
            <div class="container">
                <div class="diss-reports-wrap">

                    <div class="diss-reports-titles">
                        <h1 class="diss-reports-titles__title">отчеты</h1>
                        <div class="diss-reports-titles_subtitle">Показано {{ (RepForm.list_items|length)|number_format }} позиц.</div>
                    </div>
                    <form id="form_dealer_reports" method="POST" >
                    {{ csrf.get_html_token|raw }}
                    <div class="diss-reports-select">
                        <div class="diss-reports-dates">
                            <div class="diss-reports-dates__left">
                                <div class="diss-reports-dates__text">дата начала</div>
                                <div class="diss-reports-dates__date">

                                    <input type="text" id="basicDate" placeholder="Выберите дату" name="RepForm[d_min]" data-input {# RepForm.show_min|date("d-m-Y") #}
                                        class="diss-reports-dates__input" value="{{ RepForm.d_min|date("d-m-Y") }}" title="dfdsf">

                                    <svg width="11" height="12" viewBox="0 0 11 12" fill="none"
                                        class="diss-reports-dates__icon" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M9.00002 1.20001H9.60001C10.263 1.20001 10.8 1.737 10.8 2.39999V10.8C10.8 11.463 10.263 12 9.60001 12H1.20001C0.53699 12 0 11.463 0 10.8L0.00601877 2.40002C0.00601877 1.737 0.537018 1.20001 1.20001 1.20001H1.8V0H3.00001V1.20001H7.80001V0H9.00002V1.20001ZM1.20001 10.8H9.60001V4.19999H1.20001V10.8ZM7.48193 5.40067L8.11792 6.03666L4.55392 9.60066L2.64593 7.69266L3.28194 7.05667L4.55392 8.32868L7.48193 5.40067Z"
                                            fill="#5900AC" />
                                    </svg>
                                </div>
                            </div>
                            <div class="diss-reports-dates__right">
                                <div class="diss-reports-dates__text">дата окончания</div>
                                <div class="diss-reports-dates__date">

                                    <input type="text" id="basicDate2" placeholder="Выберите дату" name="RepForm[d_max]" data-input {# RepForm.show_max|date("d-m-Y") #}
                                        class="diss-reports-dates__input" value="{{ RepForm.d_max|date("d-m-Y") }}">

                                    <svg width="11" height="12" viewBox="0 0 11 12" fill="none"
                                        class="diss-reports-dates__icon" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M9.00002 1.20001H9.60001C10.263 1.20001 10.8 1.737 10.8 2.39999V10.8C10.8 11.463 10.263 12 9.60001 12H1.20001C0.53699 12 0 11.463 0 10.8L0.00601877 2.40002C0.00601877 1.737 0.537018 1.20001 1.20001 1.20001H1.8V0H3.00001V1.20001H7.80001V0H9.00002V1.20001ZM1.20001 10.8H9.60001V4.19999H1.20001V10.8ZM7.48193 5.40067L8.11792 6.03666L4.55392 9.60066L2.64593 7.69266L3.28194 7.05667L4.55392 8.32868L7.48193 5.40067Z"
                                            fill="#5900AC" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="diss-reports-week">
                            <div class="diss-reports-week__left">
                                <div class="diss-reports-week__text">группировать</div>
                                <div class="wrap-drop conteiner-select" id="noble-gases">
                                    
                                    <span>{{ RepForm.getOptionGroups[RepForm.group] }}</span>
                                    <ul class="drop">

                                        <input type="hidden" value="{{ RepForm.group }}" name="RepForm[group]" />
                                        {% for key, group in RepForm.getOptionGroups %}
                                            {% if key == RepForm.group %}
                                                {% set select = 'class="selected"' %}
                                            {% else %}
                                                {% set select = '' %}
                                            {% endif %}
                                            <li {{ select }} data-value="{{ key }}"><a>{{ group }}</a></li>
                                        {% endfor %}
                                    </ul>
                                    
                                </div>
                            </div>
                            <div class="diss-reports-week__right">
                                <div class="diss-reports-week__text">статус заказа</div>
                                <div class="wrap-drop conteiner-select" id="noble-gases2">
                                    
                                    <span>{{ RepForm.getOptionStatuses[RepForm.status] }}</span>
                                    <ul class="drop">
                                        <input type="hidden" value="{{ RepForm.status }}" name="RepForm[status]" >
                                        {% for key, status in RepForm.getOptionStatuses %}
                                            {% if key == RepForm.status %}
                                                {% set select = 'class="selected"' %}
                                            {% else %}
                                                {% set select = '' %}
                                            {% endif %}
                                            <li {{ select }} data-value="{{ key }}"><a>{{ status }}</a></li>
                                        {% endfor %}
                                    </ul>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="diss-reports-products">
                            <div class="diss-reports-week__text">товар</div>
                            <div class="wrap-drop conteiner-select" id="noble-gases3">
                                
                                <span>{{ RepForm.getOptionProduct[RepForm.tovar]['prods_name'] }}{% if RepForm.getOptionProduct[RepForm.tovar]['prods_volume'] %} - {{ RepForm.getOptionProduct[RepForm.tovar]['prods_volume'] }} L{% endif %}</span>
                                <ul class="drop">
                                    <input type="hidden" value="{{ RepForm.tovar }}" name="RepForm[tovar]" >
                                    {% for prod in RepForm.getOptionProduct %}
                                        {% if prod['prods_id'] == RepForm.tovar %}
                                            {% set select = 'class="selected"' %}
                                        {% else %}
                                            {% set select = '' %}
                                        {% endif %}
                                        <li {{ select }} data-value="{{ prod['prods_id'] }}"><a>{{ prod['prods_name'] }}{% if prod['prods_volume'] %} - {{ prod['prods_volume'] }} L{% endif %}</a></li>
                                    {% endfor %}
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                    </form>
                    <div class="diss-report-box-titles" id="diss-report-box-titles">
                        <div class="diss-report-box-titles__start">дата начала</div>
                        <div class="diss-report-box-titles__end">дата окончания</div>
                        <div class="diss-report-box-titles__quant">кол-во заказов</div>
                        <div class="diss-report-box-titles__each">кол-во товаров</div>
                        <div class="diss-report-box-titles__total">итого</div>
                    </div>
                    <div class="diss-reports-box">

                        <div class="diss-report-box-titles">
                            <div class="diss-report-box-titles__start">дата начала</div>
                            <div class="diss-report-box-titles__end">дата окончания</div>
                            <div class="diss-report-box-titles__quant">кол-во заказов</div>
                            <div class="diss-report-box-titles__each">кол-во товаров</div>
                            <div class="diss-report-box-titles__total">итого</div>
                        </div>

                        <ul class="diss-reports-all">
                            {% if RepForm.list_items %}
                            {% for item in RepForm.list_items %}
                                <li class="diss-reporst-all__item">
                                    <div class="diss-reporst-all__start">{{ item['dmax'] }}</div>
                                    <div class="diss-reporst-all__end">{{ item['tovar']|lower }} - {{ item['vol'] }} L</div>
                                    <div class="diss-reporst-all__quant">{{ item['bsk'] }}</div>
                                    <div class="diss-reporst-all__each">{{ item['cnt'] }}</div>
                                    <div class="diss-reporst-all__total">{{ item['price']|number_format(0, '.', ' ') }} ₽</div>
                                </li>
                            {% endfor %}
                            {% else %}
                            нет данных ...
                            {% endif %}
                        </ul>

                    </div>

                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block script_js %}
    <script>
        $(document).ready(function () {

            $("#basicDate, #basicDate2").flatpickr({
                dateFormat: "d-m-Y",
                weekNumbers: true
            });


            function DropDown(el) {
                this.dd = el;
                this.frm = el.find('.form-filter');
                this.inpt = this.frm.find('input');
                //console.log( this.frm );
                this.placeholder = this.dd.children('span');
                this.opts = this.dd.find('ul.drop li');
                this.val = '';
                this.index = -1;
                this.initEvents();
            }

            DropDown.prototype = {
                initEvents: function () {
                    var obj = this;
                    obj.dd.on('click', function (e) {
                        e.preventDefault();
                        e.stopPropagation();
                        $(this).toggleClass('active');
                    });
                    obj.opts.on('click', function () {
                        var opt = $(this);
                        obj.val = opt.text();
                        obj.index = opt.index();
                        obj.placeholder.text(obj.val);
                        opt.siblings().removeClass('selected');
                        opt.filter(':contains("' + obj.val + '")').addClass('selected');
                        
                        $(this).siblings("input").val(opt.data('value'));
                        $("#form_dealer_reports").submit();
                        
                    }).change( );
                },
                getValue: function () {
                    return this.val;
                },
                getIndex: function () {
                    return this.index;
                }
            };

            //console.log( $( '#noble-gases').find('.form-filter').find( 'input').val( '111') );

            $(function () {
                // create new variable for each menu
                var dd1 = new DropDown($('#noble-gases'));
                // var dd2 = new DropDown($('#other-gases'));
                $(document).click(function () {
                    // close menu on document click

                    $('.wrap-drop').removeClass('active');


                });
            });

            $(function () {
                // create new variable for each menu
                var dd2 = new DropDown($('#noble-gases2'));
                // var dd2 = new DropDown($('#other-gases'));
                $(document).click(function () {
                    // close menu on document click

                    $('.wrap-drop').removeClass('active');

                });
            });

            $(function () {
                // create new variable for each menu
                var dd3 = new DropDown($('#noble-gases3'));
                // var dd2 = new DropDown($('#other-gases'));
                $(document).click(function () {
                    // close menu on document click

                    $('.wrap-drop').removeClass('active');

                });
            });


            $("#form_dealer_reports :input").on('change', function(){
                $("#form_dealer_reports").submit();
            });
            //console.log();


        });

    </script>
    <script src="/js/flatpickr.js" type="text/javascript"></script>
    {{ parent() }}
{% endblock %}
