{% extends 'layouts/main.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block nav %}
    {{ parent() }}
{% endblock %}

{% block main %}

<header class="products-header pro-second" id="products-header">
    <div class="products-wrap">
        <div class="container">
            <div class="procuts-hero-wrap">
                
                <div class="products-hero-wrap-info">
                    <h1 class="products-hero-wrap-info__title">
                        {{ good['good_name'] }}
                    </h1>
                    <div class="products-hero-wrap-info__inner">
                        <div class="custom-select-wrapper2">
                            <div class="custom-select2">
                                <div class="custom-select__trigger2">
                                    <span class="custom-select__span2">
                                        {{ prod[0]['prod_volume'] }} L
                                    </span>
                                    <div class="arrow2"></div>
                                </div>
                                <div class="custom-options2">

                                    <span class="custom-option2 selected2" data-value="a" id="custom-option1">
                                        {{ prod[0]['prod_volume'] }} L
                                    </span>
                                    <span class="custom-option2" data-value="b" id="custom-option2">
                                        {{ prod[1]['prod_volume'] }} L
                                    </span>
                                    <span class="custom-option2" data-value="c" id="custom-option3">
                                        {{ prod[2]['prod_volume'] }} L
                                    </span>
                                </div>
                            </div>

                        </div>

                        <div class="procucts-hero-wrap-info__price">
                        <span class="products-hero-wrap-info__number"></span>
	                    <span class="products-hero-wrap-info__currencie">₽</span>
                        </div>
                    </div>
                    <div class="products-hero-wrap-info__text">
                        {{ good['good_short_desc'] }}
                    </div>
                    <ul class="products-hero-wrap-list">
                        <li class="products-hero-wrap-list__item">

                            <svg width="16" height="19" viewBox="0 0 16 19" fill="none" xmlns="http://www.w3.org/2000/svg" class="products-hero-wrap-list__img">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.78273 7.44256C2.4422 6.81646 1.48423 5.3639 0.916773 3.89534C0.656212 3.22176 0.494374 2.4745 0.333964 1.73383C0.233347 1.26924 0.133291 0.80725 0.00978655 0.367662C-0.0412206 0.184981 0.116583 0.0342245 0.264822 0.124678C0.916757 0.521965 1.80779 0.862479 2.62709 0.956498C2.85688 0.983008 3.08738 1.0068 3.31766 1.03056C4.42753 1.1451 5.5322 1.25911 6.52754 1.67481C7.67839 2.15545 9.20543 3.21784 9.92111 4.54095C9.03806 4.65799 8.15341 4.81229 7.30699 5.13333C7.02326 4.91163 6.71882 4.7254 6.38886 4.59059C6.07703 4.46413 5.72867 4.39064 5.38193 4.31748C5.14024 4.26649 4.89934 4.21567 4.67216 4.14719C4.86024 4.24531 5.04995 4.34124 5.23926 4.43698C5.64196 4.64063 6.04284 4.84336 6.42234 5.06414C6.56262 5.14573 6.6965 5.23618 6.82402 5.3355C6.37932 5.54303 5.94733 5.8073 5.53451 6.14428C5.05472 6.53801 4.64507 7.01867 4.28802 7.61105C4.1095 7.56671 3.93576 7.51351 3.78273 7.44256ZM10.7086 6.2009C12.2099 6.0204 13.7153 5.83941 15.0477 5.03388C15.0876 5.00906 15.1274 4.9984 15.1641 5.00021C15.3107 5.00021 15.4302 5.16159 15.3761 5.34959C15.2156 5.91604 15.0852 6.51231 14.9541 7.11223C14.7452 8.06765 14.5343 9.03235 14.1965 9.90068C13.4585 11.7949 12.2184 13.3698 10.4842 14.1751C10.0474 14.3772 9.58196 14.5103 9.10377 14.6078C8.65869 14.6995 8.20183 14.7618 7.7452 14.8241C6.80689 14.952 5.86957 15.0797 5.03755 15.4627C4.94988 15.5035 4.87339 15.523 4.80802 15.523C4.00625 15.523 4.94032 12.632 7.07943 11.3905C7.51619 11.1369 7.97526 10.9027 8.43751 10.6704C8.5188 10.6296 8.48533 10.5019 8.40722 10.5019C8.39925 10.5019 8.39128 10.5019 8.38331 10.5054C7.99121 10.6314 7.60545 10.7644 7.22768 10.9169C5.80586 11.4898 4.64226 12.4298 4.03974 14.0101C3.51532 15.3846 3.27941 17.066 3.65878 18.5044C3.71138 18.7083 3.47707 18.852 3.34636 18.7119C3.25678 18.617 3.22175 18.4614 3.19146 18.3269C3.1878 18.3106 3.1842 18.2947 3.18059 18.2791C3.04099 17.6662 3.02437 17.0154 3.00826 16.3847C3.00727 16.3457 3.00627 16.3067 3.00525 16.2679C2.96221 14.6237 3.18377 12.9707 3.66675 11.4153C3.93135 10.5586 4.25333 9.7339 4.71558 9.01739C5.00568 8.56866 5.34998 8.16072 5.77079 7.81666C6.2187 7.44952 6.6937 7.17461 7.18624 6.96533C7.35203 6.89438 7.52097 6.83052 7.68993 6.77378C8.4694 6.51127 9.28872 6.38004 10.116 6.27362C10.3132 6.24844 10.5108 6.22468 10.7086 6.2009Z" fill="url(#paint0_linear)"/>
                                <defs>
                                <linearGradient id="paint0_linear" x1="14.0836" y1="0.0976606" x2="2.02637" y2="0.64201" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#7A33C9"/>
                                <stop offset="1" stop-color="#8733C9"/>
                                </linearGradient>
                                </defs>
                            </svg>
                            <div class="products-hero-wrap-list__text">
                                {{ good['good_notes'][0] }}
                            </div>
                        </li>
                        <li class="products-hero-wrap-list__item">

                            <svg width="12" height="17" viewBox="0 0 12 17" fill="none" xmlns="http://www.w3.org/2000/svg" class="products-hero-wrap-list__img">
                                <path d="M3.0143 16.4121C1.08777 10.4361 5.15847 8.25416 5.15847 8.25416C4.87366 11.443 6.79867 13.9273 6.79867 13.9273C7.50667 13.7262 8.85801 12.7864 8.85801 12.7864C8.85801 13.9273 8.14497 16.4107 8.14497 16.4107C8.14497 16.4107 10.6411 14.5938 11.4269 11.5761C12.2116 8.5584 9.93212 5.52883 9.93212 5.52883C10.0695 7.66469 9.3019 9.76538 7.79804 11.3702C7.87329 11.2885 7.93641 11.1977 7.98489 11.0993C8.25506 10.5906 8.68884 9.26861 8.43483 6.20719C8.0773 1.90979 3.94095 0.0976562 3.94095 0.0976562C4.29747 2.71603 3.22841 3.31928 0.724179 8.28934C-1.78005 13.2584 3.0143 16.4121 3.0143 16.4121Z" fill="url(#paint0_linear)"/>
                                <defs>
                                <linearGradient id="paint0_linear" x1="10.6078" y1="0.0976601" x2="1.52152" y2="0.451252" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#7A33C9"/>
                                <stop offset="1" stop-color="#8733C9"/>
                                </linearGradient>
                                </defs>
                            </svg>
                            <div class="products-hero-wrap-list__text">
                                {{ good['good_notes'][1] }}
                            </div>
                        </li>
                        <li class="products-hero-wrap-list__item">

                            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg" class="products-hero-wrap-list__img">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.942 2.50118C12.7155 1.71664 12.4716 1.20322 12.4561 1.17133C12.3531 0.956548 12.1049 0.85384 11.8802 0.932696C11.8468 0.944501 11.3115 1.13483 10.5967 1.52935C10.906 1.99957 11.1681 2.47806 11.3796 2.95814C11.9138 2.75077 12.4451 2.60401 12.942 2.50118ZM7.97516 12.6439C7.86369 12.6439 7.75222 12.6041 7.66351 12.5246C7.54887 12.4221 4.85547 9.9746 4.85547 6.8717C4.85547 3.7688 7.54875 1.32145 7.66351 1.21875C7.75222 1.13928 7.86369 1.09961 7.97516 1.09961C8.08663 1.09961 8.19822 1.13928 8.28694 1.21875C8.40157 1.32145 11.0949 3.7688 11.0949 6.8717C11.0949 9.97472 8.40157 12.4221 8.28694 12.5246C8.1981 12.6041 8.08663 12.6439 7.97516 12.6439ZM4.9796 12.2435C3.49435 11.8668 2.27573 11.2102 1.35757 10.2921C1.26545 10.2001 1.17625 10.1044 1.08924 10.0059C0.503168 10.4413 0.144421 10.8376 0.120082 10.8646C-0.0387254 11.0421 -0.0387254 11.3106 0.120082 11.4881C0.194436 11.5711 1.9659 13.5204 4.22171 13.5204C5.3291 13.5204 6.31943 13.0507 7.04983 12.5627C6.49917 12.5285 5.76829 12.4435 4.9796 12.2435ZM14.5926 10.2921C14.6846 10.2001 14.774 10.1043 14.8609 10.0059C15.447 10.4413 15.8058 10.8375 15.8301 10.8646C15.9889 11.0421 15.9889 11.3105 15.8301 11.4879C15.7558 11.5709 13.9843 13.5204 11.7284 13.5204C10.6211 13.5204 9.63066 13.0507 8.90039 12.5627C9.45105 12.5285 10.1819 12.4435 10.9707 12.2434C12.456 11.8666 13.6745 11.2101 14.5926 10.2921ZM7.66363 15.9288C7.61714 15.8872 6.81215 15.1571 6.22949 14.0524C6.91535 13.7796 7.50799 13.4053 7.97528 13.0508C8.44246 13.4053 9.03522 13.7796 9.72095 14.0524C9.13829 15.1571 8.33354 15.8872 8.28706 15.9288C8.19835 16.0083 8.08675 16.0479 7.97528 16.0479C7.86381 16.0479 7.75234 16.0083 7.66363 15.9288ZM4.0697 0.932747C4.10316 0.944552 4.63848 1.13488 5.35318 1.5294C5.04384 1.99962 4.78171 2.47823 4.57021 2.95807C4.03611 2.7507 3.50468 2.60394 3.00781 2.50123C3.2344 1.71669 3.47839 1.20327 3.49373 1.17126C3.5968 0.956599 3.84493 0.853769 4.0697 0.932747ZM12.0292 5.87133C12.0292 6.69458 11.8665 7.53936 11.5453 8.38196C11.2938 9.04226 10.9444 9.70366 10.5068 10.348C10.1731 10.8394 9.83556 11.2504 9.55664 11.5616C10.8433 11.3953 12.6381 10.925 13.9321 9.63113C16.1262 7.43702 15.9523 3.80196 15.9438 3.64827C15.9306 3.41048 15.7408 3.22064 15.503 3.2075C15.4819 3.2064 15.379 3.20117 15.2118 3.20117C14.6065 3.20117 13.1595 3.26835 11.7088 3.83324C11.9216 4.51836 12.0292 5.20191 12.0292 5.87133ZM5.44352 10.348C5.7772 10.8394 6.11477 11.2504 6.39369 11.5618C5.10704 11.3953 3.31221 10.9251 2.01814 9.63113C-0.175965 7.43702 -0.00206777 3.80196 0.00645066 3.64827C0.0195934 3.41048 0.209433 3.22064 0.447219 3.2075C0.468271 3.20628 0.571223 3.20117 0.738671 3.20117C1.34397 3.20117 2.79088 3.26835 4.24157 3.83324C4.02861 4.51836 3.92103 5.20191 3.92103 5.87133C3.92103 6.69458 4.08386 7.53936 4.40488 8.38196C4.65642 9.04226 5.00592 9.70365 5.44352 10.348Z" fill="url(#paint0_linear)"/>
                                <defs>
                                <linearGradient id="paint0_linear" x1="14.5969" y1="0.906254" x2="2.1163" y2="1.62634" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#7A33C9"/>
                                <stop offset="1" stop-color="#8733C9"/>
                                </linearGradient>
                                </defs>
                            </svg>
                            <div class="products-hero-wrap-list__text">
                                {{ good['good_notes'][2] }}
                            </div>
                        </li>
                    </ul>
                    <a href="#products-savingcontainer2" class="products-hero-wrap-info__link go">
                        полное описание

                        <svg width="8" height="4" viewBox="0 0 8 4" fill="none" xmlns="http://www.w3.org/2000/svg" class="products-hero-wrap-info__link_img">
                            <path d="M0 0L4 4L8 0L0 0Z" fill="#7A33C9"/>
                        </svg>
                    </a>
                </div>
                <div class="products-hero-wrap-buy">
                    <div class="products-hero-wrap-buy-wrap">
                        <div class="products-hero-wrap-buy-extra">
                            <a href="/products/"
                                class="products-hero-wrap-buy-extra__link pro-prev-2 products-hero-wrap-buy-extra__link_opacity">
                                <img src="/img/products1.png" alt="bottle"
                                    class="products-hero-wrap-buy-extra__img pro-second-second">
                            </a>
                            <div class="products-hero-wrap-buy-wrap__blank">
                                <img src="/img/products2.png" alt="bottle"
                                    class="products-hero-wrap-buy-wrap__img  pro-second-first">
                            </div>
                            <a href="/products/pasta/"
                                class="products-hero-wrap-buy-extra__link pro-next-2 products-hero-wrap-buy-extra__link_opacity">
                                <img src="/img/pro-last.png" alt="bottle"
                                    class="products-hero-wrap-buy-extra__img pro-last-pasta__inactive">
                            </a>
                        </div>
                        <div class="products-hero-wrap-buy-navigation">
                            <div class="products-hero-wrap-buy-navigation__minititle">
                                состав
                            </div>
                            <div class="products-hero-wrap-buy-navigation__text">
                                {{ good['good_sostav'] }}
                            </div>
                        </div>
                        <div class="products-hero-wrap-buy-box">
                            <div class="products-hero-wrap-buy-box__inner">
                                <div class="products-hero-wrap-buy-box__smalltitle">
                                    объем
                                </div>
                                <div class="products-hero-wrap-buy-box__title">
                                    выбранное кол-во
                                </div>
                            </div>
                            <ul class="products-hero-wrap-buy-box-list">
                                <li class="products-hero-wrap-buy-box-list__item" id="products-hero-wrap-buy-box-list__item1">
                                    <img src="/img/carticon2.svg" alt=""
                                        class="products-hero-wrap-buy-box-list__img">
                                    <div class="products-hero-wrap-buy-box-list__litrs">
                                        0,5 L
                                    </div>
                                    <div class="cart-counter-list__minus">
                                        -
                                    </div>
                                    <div class="cart-counter-list__number">
                                        5
                                    </div>
                                    <div class="cart-counter-list__plus">
                                        +
                                    </div>
                                </li>
                                <li class="products-hero-wrap-buy-box-list__item" id="products-hero-wrap-buy-box-list__item2">
                                    <img src="/img/carticon2.svg" alt=""
                                        class="products-hero-wrap-buy-box-list__img">
                                    <div class="products-hero-wrap-buy-box-list__litrs">
                                        1,0 L
                                    </div>
                                    <div class="cart-counter-list__minus">
                                        -
                                    </div>
                                    <div class="cart-counter-list__number">
                                        0
                                    </div>
                                    <div class="cart-counter-list__plus">
                                        +
                                    </div>
                                </li>
                                <li class="products-hero-wrap-buy-box-list__item" id="products-hero-wrap-buy-box-list__item3">
                                    <img src="/img/carticon2.svg" alt=""
                                        class="products-hero-wrap-buy-box-list__img">
                                    <div class="products-hero-wrap-buy-box-list__litrs">
                                        1,5 L
                                    </div>
                                    <div class="cart-counter-list__minus">
                                        -
                                    </div>
                                    <div class="cart-counter-list__number">
                                        0
                                    </div>
                                    <div class="cart-counter-list__plus">
                                        +
                                    </div>
                                </li>
                            </ul>

                        <div class="products-hero-total">
                            <ul class="products-hero-total-list">
                                <li class="products-hero-total-list__item">
                                    <h3
                                        class="products-hero-total-list__title">
                                        эмиз премиум
                                    </h3>
                                    <div class="products-hero-total-list__textwrap">
                                        <div class="products-hero-total-lits__x">
                                            x
                                        </div>
                                        <div class="products-hero-total-list__text">
                                            <span data-good="emiz_premium">0</span> шт.
                                        </div>
                                    </div>
                                </li>
                                <li class="products-hero-total-list__item">
                                    <h3 class="products-hero-total-list__title class-{{ good['good_uniq_id'] }}">
                                        эмиз таврический
                                    </h3>
                                    <div class="products-hero-total-list__textwrap">
                                        <div class="products-hero-total-lits__x">
                                            x
                                        </div>
                                        <div class="products-hero-total-list__text">
                                            <span data-good="{{ good['good_uniq_id'] }}" id="{{ good['good_uniq_id'] }}">0</span> шт.
                                        </div>
                                    </div>
                                </li>
                                <li class="products-hero-total-list__item">
                                    <h3 class="products-hero-total-list__title">
                                        паста виноградная
                                    </h3>
                                    <div class="products-hero-total-list__textwrap">
                                        <div class="products-hero-total-lits__x">
                                            x
                                        </div>
                                        <div class="products-hero-total-list__text">
                                            <span data-good="pasta">0</span> шт.
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="products-hero-total-wrapper">
                                <div class="products-hero-total-wrapper__title">
                                    к оплате
                                </div>
                                <div class="products-hero-total-wrapper__amount">
                                <span class="products-hero-total-wrapper__number" id="full-payment"> 0 </span> <span class="products-hero-total-wrapper__currency">₽</span>
                                </div>
                            </div>
                            <a href="javascript:void(0);" class="products-superbuy">
                                <svg width="12" height="11" viewBox="0 0 13 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="products-superbuy__img">
                                    <path d="M9.29105 2.90003H10.3302L8.78971 0.225479C8.6656 0.00875647 8.39059 -0.0651263 8.17643 0.0629371C7.96227 0.188538 7.88926 0.466829 8.01581 0.683552L9.29105 2.90003Z" fill="white"/>
                                    <path d="M5.76474 0.683434C5.88885 0.466712 5.81828 0.18842 5.60411 0.0628192C5.38995 -0.0627815 5.11495 0.00863849 4.99083 0.225361L3.45032 2.90238H4.48949L5.76474 0.683434Z" fill="white"/>
                                    <path d="M12.0509 3.72021H1.72243C1.30141 3.72021 0.960693 4.065 0.960693 4.49106V5.34563C0.960693 5.77169 1.30141 6.11648 1.72243 6.11648H1.96093L2.6959 10.148C2.78838 10.6233 3.21671 11.0001 3.66207 11.0001H3.95411H5.87184C6.06653 11.0001 6.31963 11.0001 6.5776 11.0001H6.81124H7.04487C7.30284 11.0001 7.55594 11.0001 7.75063 11.0001H9.66836H9.96041C10.4058 11.0001 10.8341 10.6233 10.9266 10.148L11.6664 6.11402H12.0534C12.4744 6.11402 12.8151 5.76923 12.8151 5.34317V4.4886C12.8127 4.065 12.472 3.72021 12.0509 3.72021ZM5.16608 7.74929V9.48799C5.16608 9.73673 4.96651 9.9239 4.73532 9.9239C4.48952 9.9239 4.30456 9.72196 4.30456 9.48799V8.75902V7.04986C4.30456 6.80112 4.50412 6.61396 4.73532 6.61396C4.98112 6.61396 5.16608 6.8159 5.16608 7.04986V7.74929ZM6.5484 7.74929V9.48799C6.5484 9.73673 6.34884 9.9239 6.11764 9.9239C5.87184 9.9239 5.68688 9.72196 5.68688 9.48799V8.75902V7.04986C5.68688 6.80112 5.88644 6.61396 6.11764 6.61396C6.34884 6.61396 6.5484 6.8159 6.5484 7.04986V7.74929ZM7.93803 8.75902V9.48799C7.93803 9.72196 7.75307 9.9239 7.50727 9.9239C7.27607 9.9239 7.07651 9.73673 7.07651 9.48799V7.74929V7.04986C7.07651 6.8159 7.27607 6.61396 7.50727 6.61396C7.73846 6.61396 7.93803 6.80112 7.93803 7.04986V8.75902ZM9.32035 8.75902V9.48799C9.32035 9.72196 9.13539 9.9239 8.88959 9.9239C8.65839 9.9239 8.45883 9.73673 8.45883 9.48799V7.74929V7.04986C8.45883 6.8159 8.64379 6.61396 8.88959 6.61396C9.12079 6.61396 9.32035 6.80112 9.32035 7.04986V8.75902Z" fill="white"/>
                                </svg>
                                купить
                            </a>
                        </div>
                    </div>
                </div>
                <div class="products-hero-floating">
                    <div class="products-hero-floating-wrap">
                        <div
                            class="producst-hero-floating-wrap__inner producst-hero-floating-wrap__inner_second">
                            <img src="/img/products-2.png" alt="bottle"
                                class="products-hero-floating-wrap__img">
                        </div>
                        <img src="/img/productssmall2.png" alt="small"
                            class="products-hero-floating-wrap__smallimg circle4">
                        <div class="products-hero-floating-nav">
                            <a href="/products/"
                                class="products-hero-floating-nav__prevlink pro-prev-2">

                                <svg width="20" height="40" viewBox="0 0 20 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="products-hero-floating-nav__prev">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M19.7808 39.5616C16.8438 34.0136 15.1104 27.1764 15.1104 19.7808C15.1104 12.3852 16.8438 5.54799 19.7808 0L-3.24249e-05 19.7808L19.7808 39.5616Z" fill="#7A33C9"/>
                                </svg>

                            </a>
                            <a href="/products/pasta/"
                                class="products-hero-floating-nav__nextlink pro-next-2">

                                <svg width="20" height="40" viewBox="0 0 20 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="products-hero-floating-nav__next">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.46491e-06 39.5616C2.93699 34.0136 4.67038 27.1764 4.67038 19.7808C4.67038 12.3852 2.93699 5.54799 0 0L19.7808 19.7808L4.46491e-06 39.5616Z" fill="#7A33C9"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                                        
            </div>
        </div>
        <div class="container">
            <div class="products-savingcontainer" id="products-savingcontainer2">
                <section class="products-posts" id="products-posts">
                    <h3 class="products-posts__title">
                        Эмиз. Чистый виноград.
                    </h3>
                    <div class="products-posts__it"></div>
                    <div class="products-posts__text">
                        <p>Эмиз – это виноград и только виноград: в нем нет сахара и консервантов. Виноград 3 сортов (Каберне-Совиньон, Саперави и Мерло) собирается вручную в экологически чистых районах Крыма, на диких полях.
                        <p>Эмиз – это концентрат здоровья. Рекомендуется разводить его водой в пропорции 1:6. Можно разводить и в меньшей пропорции – перед вкусом Эмиза трудно устоять.
                        <p>Обычно Эмиз принимают во время еды. Если у вас нет хронических заболеваний желудочно-кишечного тракта, можно принимать Эмиз и в другое время – заряд бодрости гарантирован!
                        <p>Чтобы Эмиз не терял свои уникальные свойства, после открытия его нужно хранить в холодильнике с полностью закрытой пробкой!
                    </div>
                    <div class="products-posts__frame">
                        <div class="plyr__video-embed js-player" id="player">
                            <iframe
                                src="https://www.youtube.com/embed/P2ie22LtwsQ?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
                                allowfullscreen allowtransparency allow="autoplay"></iframe>
                        </div>
                        <h2 class="products-posts__frametitle">
                            Сосуды начинают правильно работать и выравнивается давление
                        </h2>
                    </div>
                    <div class="products-posts-extra">
                        <div class="products-posts-extra__left">
                            <div class="plyr__video-embed js-player">
                                <iframe
                                    src="https://www.youtube.com/embed/1KxmS2iUCeI?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
                                    allowfullscreen allowtransparency allow="autoplay"></iframe>
                            </div>
                            <h3 class="products-posts-extra__title">
                                Сосуды начинают правильно работать и выравнивается давление
                            </h3>
                        </div>
                        <div class="products-posts-extra__right">
                            <div class="plyr__video-embed js-player">
                                <iframe
                                    src="https://www.youtube.com/embed/pmHK_688U8w?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
                                    allowfullscreen allowtransparency allow="autoplay"></iframe>
                            </div>
                            <h3 class="products-posts-extra__title">
                                Сосуды начинают правильно работать и выравнивается давление
                            </h3>
                        </div>
                    </div>
                </section>
            </div>
        </div>

{% include 'layouts/footer.twig' %}

    </div>
</header>

<script>
    document
    .querySelector(".custom-select-wrapper2")
    .addEventListener("click", function() {
        this.querySelector(".custom-select2").classList.toggle("open2");
    });

    for (const option2 of document.querySelectorAll(".custom-option2")) {
    option2.addEventListener("click", function() {
        if (!this.classList.contains("selected2")) {
        this.parentNode
            .querySelector(".custom-option2.selected2")
            .classList.remove("selected2");
        this.classList.add("selected2");
        this.closest(".custom-select2").querySelector(
            ".custom-select__trigger2 .custom-select__span2"
        ).textContent = this.textContent;
        }
    });
    }

    window.addEventListener("click", function(e) {
    const select2 = document.querySelector(".custom-select2");
    if (!select2.contains(e.target)) {
        select2.classList.remove("open2");
    }
    });
</script>
{% endblock %}

{% block script_js %}
    {{ parent() }}
{% endblock %}
