{% extends 'layouts/main.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block nav %}
    {{ parent() }}
{% endblock %}

{% block main %}

<header class="products-header" id="products-header">

    <div class="products-wrap">
        <div class="container">
            <div class="procuts-hero-wrap">
                <div class="products-hero-wrap-info">
                    <h1 class="products-hero-wrap-info__title">
                        {{ good_name_zagolovok|raw }}
                    </h1>
                    <div class="products-hero-wrap-info__inner">
                        <div class="custom-select-wrapper">
                            <div class="custom-select">
                                <div class="custom-select__trigger">
                                    <span id="prod-value">{{ prod[0]['prod_volume'] }}</span>{{ t_('app', '_PRODUCTS_L_')|raw }}
                                    <div class="arrow"></div>
                                </div>

                                <div  id="list-volume">
                                    {%  for key, value in prod %}
                                    <span class="custom-option{% if value['prod_uniq_id'] == default_selected_prod %} selected{% endif %}"
                                           data-value="{{ value['prod_volume'] }}"
                                           data-price="{{ volume_converter.PriceCropZero( value['prod_price'] ) }}"
                                           data-uniq_id="{{ value['prod_uniq_id'] }}"
                                           data-img="{{ value['prod_img'] }}"
                                         >
                                        {{ value['prod_volume'] }} {{ t_('app', '_PRODUCTS_L_')|raw }}
                                    </span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="procucts-hero-wrap-info__price">
                            {%  for key, value in prod %}
                                {% if value['prod_uniq_id'] == default_selected_prod %}
                                    <span class="products-hero-wrap-info__number">{{ volume_converter.PriceCropZero( value['prod_price'] ) }}</span>
                                {% endif %}
                            {% endfor %}
	                            <span class="products-hero-wrap-info__currencie">₽</span>
                        </div>
                    </div>
                    <div class="products-hero-wrap-info__text">
                        {{ good_short_desc|raw }}
                       {# {{ good['good_short_desc'] }} #}
                    </div>
                    <ul class="products-hero-wrap-list">
                        <li class="products-hero-wrap-list__item">
                            <svg width="16" height="19" viewBox="0 0 16 19" fill="none" xmlns="http://www.w3.org/2000/svg" class="products-hero-wrap-list__img">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.78273 7.44256C2.4422 6.81646 1.48423 5.3639 0.916773 3.89534C0.656212 3.22176 0.494374 2.4745 0.333964 1.73383C0.233347 1.26924 0.133291 0.80725 0.00978655 0.367662C-0.0412206 0.184981 0.116583 0.0342245 0.264822 0.124678C0.916757 0.521965 1.80779 0.862479 2.62709 0.956498C2.85688 0.983008 3.08738 1.0068 3.31766 1.03056C4.42753 1.1451 5.5322 1.25911 6.52754 1.67481C7.67839 2.15545 9.20543 3.21784 9.92111 4.54095C9.03806 4.65799 8.15341 4.81229 7.30699 5.13333C7.02326 4.91163 6.71882 4.7254 6.38886 4.59059C6.07703 4.46413 5.72867 4.39064 5.38194 4.31749C5.14024 4.26649 4.89934 4.21567 4.67216 4.14719C4.86024 4.24531 5.04995 4.34125 5.23926 4.43698C5.64197 4.64064 6.04284 4.84336 6.42234 5.06414C6.56262 5.14573 6.6965 5.23618 6.82402 5.3355C6.37932 5.54303 5.94733 5.8073 5.53451 6.14428C5.05472 6.53801 4.64507 7.01867 4.28802 7.61105C4.1095 7.56671 3.93576 7.51351 3.78273 7.44256ZM10.7086 6.2009C12.2099 6.0204 13.7153 5.83941 15.0477 5.03388C15.0876 5.00906 15.1274 4.9984 15.1641 5.00021C15.3107 5.00021 15.4302 5.16159 15.3761 5.34959C15.2156 5.91604 15.0852 6.51231 14.9541 7.11223C14.7452 8.06765 14.5343 9.03235 14.1965 9.90068C13.4585 11.7949 12.2184 13.3698 10.4842 14.1751C10.0474 14.3772 9.58196 14.5103 9.10377 14.6078C8.65869 14.6995 8.20183 14.7618 7.7452 14.8241C6.80689 14.952 5.86957 15.0797 5.03755 15.4627C4.94988 15.5035 4.87339 15.523 4.80802 15.523C4.00625 15.523 4.94032 12.632 7.07943 11.3905C7.51619 11.1369 7.97526 10.9027 8.43751 10.6704C8.5188 10.6296 8.48533 10.5019 8.40722 10.5019C8.39925 10.5019 8.39128 10.5019 8.38331 10.5054C7.99121 10.6314 7.60545 10.7644 7.22768 10.9169C5.80586 11.4898 4.64226 12.4298 4.03974 14.0101C3.51532 15.3846 3.27941 17.066 3.65878 18.5044C3.71138 18.7083 3.47707 18.852 3.34636 18.7119C3.25678 18.617 3.22175 18.4614 3.19146 18.3269C3.1878 18.3106 3.1842 18.2947 3.18059 18.2791C3.04099 17.6662 3.02437 17.0154 3.00826 16.3847C3.00727 16.3457 3.00627 16.3067 3.00525 16.2679C2.96221 14.6237 3.18377 12.9707 3.66675 11.4153C3.93135 10.5586 4.25333 9.7339 4.71558 9.01739C5.00568 8.56866 5.34998 8.16072 5.77079 7.81666C6.2187 7.44952 6.6937 7.17461 7.18624 6.96533C7.35203 6.89438 7.52097 6.83052 7.68993 6.77378C8.4694 6.51127 9.28872 6.38004 10.116 6.27362C10.3132 6.24844 10.5108 6.22468 10.7086 6.2009Z" fill="url(#paint0_linear)"/>
                                <defs>
                                <linearGradient id="paint0_linear" x1="12.1058" y1="3.4487" x2="1.04749" y2="11.4861" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#5900AC"/>
                                <stop offset="1" stop-color="#8A00AC"/>
                                </linearGradient>
                                </defs>
                            </svg>
                            <div class="products-hero-wrap-list__text">
                                {{ good_note_1|raw }}
                            </div>
                        </li>
                        <li class="products-hero-wrap-list__item">
                            <svg width="12" height="17" viewBox="0 0 12 17" fill="none" xmlns="http://www.w3.org/2000/svg" class="products-hero-wrap-list__img">
                                <path d="M3.0143 16.4121C1.08777 10.4361 5.15847 8.25416 5.15847 8.25416C4.87366 11.443 6.79867 13.9273 6.79867 13.9273C7.50667 13.7262 8.85801 12.7864 8.85801 12.7864C8.85801 13.9273 8.14497 16.4107 8.14497 16.4107C8.14497 16.4107 10.6411 14.5938 11.4269 11.5761C12.2116 8.5584 9.93212 5.52883 9.93212 5.52883C10.0695 7.66469 9.3019 9.76538 7.79804 11.3702C7.87329 11.2885 7.93641 11.1977 7.98489 11.0993C8.25506 10.5906 8.68884 9.26861 8.43483 6.20719C8.0773 1.90979 3.94095 0.0976562 3.94095 0.0976562C4.29747 2.71603 3.22841 3.31928 0.724179 8.28934C-1.78005 13.2584 3.0143 16.4121 3.0143 16.4121Z" fill="url(#paint0_linear)"/>
                                <defs>
                                <linearGradient id="paint0_linear" x1="9.11815" y1="3.02589" x2="-0.0232013" y2="8.75282" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#5900AC"/>
                                <stop offset="1" stop-color="#8A00AC"/>
                                </linearGradient>
                                </defs>
                            </svg>
                            <div class="products-hero-wrap-list__text">
                                {{ good_note_2|raw }}
                            </div>
                        </li>
                        <li class="products-hero-wrap-list__item">
                            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg" class="products-hero-wrap-list__img">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.942 2.50118C12.7155 1.71664 12.4716 1.20322 12.4561 1.17133C12.3531 0.956548 12.1049 0.85384 11.8802 0.932696C11.8468 0.944501 11.3115 1.13483 10.5967 1.52935C10.906 1.99957 11.1681 2.47806 11.3796 2.95814C11.9138 2.75077 12.4451 2.60401 12.942 2.50118ZM7.97516 12.6439C7.86369 12.6439 7.75222 12.6041 7.66351 12.5246C7.54887 12.4221 4.85547 9.9746 4.85547 6.8717C4.85547 3.7688 7.54875 1.32145 7.66351 1.21875C7.75222 1.13928 7.86369 1.09961 7.97516 1.09961C8.08663 1.09961 8.19822 1.13928 8.28694 1.21875C8.40157 1.32145 11.0949 3.7688 11.0949 6.8717C11.0949 9.97472 8.40157 12.4221 8.28694 12.5246C8.1981 12.6041 8.08663 12.6439 7.97516 12.6439ZM4.9796 12.2435C3.49435 11.8668 2.27573 11.2102 1.35757 10.2921C1.26545 10.2001 1.17625 10.1044 1.08924 10.0059C0.503168 10.4413 0.144421 10.8376 0.120082 10.8646C-0.0387254 11.0421 -0.0387254 11.3106 0.120082 11.4881C0.194436 11.5711 1.9659 13.5204 4.22171 13.5204C5.3291 13.5204 6.31943 13.0507 7.04983 12.5627C6.49917 12.5285 5.76829 12.4435 4.9796 12.2435ZM14.5926 10.2921C14.6846 10.2001 14.774 10.1043 14.8609 10.0059C15.447 10.4413 15.8058 10.8375 15.8301 10.8646C15.9889 11.0421 15.9889 11.3105 15.8301 11.4879C15.7558 11.5709 13.9843 13.5204 11.7284 13.5204C10.6211 13.5204 9.63066 13.0507 8.90039 12.5627C9.45105 12.5285 10.1819 12.4435 10.9707 12.2434C12.456 11.8666 13.6745 11.2101 14.5926 10.2921ZM7.66363 15.9288C7.61714 15.8872 6.81215 15.1571 6.22949 14.0524C6.91535 13.7796 7.50799 13.4053 7.97528 13.0508C8.44246 13.4053 9.03522 13.7796 9.72095 14.0524C9.13829 15.1571 8.33354 15.8872 8.28706 15.9288C8.19835 16.0083 8.08675 16.0479 7.97528 16.0479C7.86381 16.0479 7.75234 16.0083 7.66363 15.9288ZM4.0697 0.932747C4.10316 0.944552 4.63848 1.13488 5.35318 1.5294C5.04384 1.99962 4.78171 2.47823 4.57021 2.95807C4.03611 2.7507 3.50468 2.60394 3.00781 2.50123C3.2344 1.71669 3.47839 1.20327 3.49373 1.17126C3.5968 0.956599 3.84493 0.853769 4.0697 0.932747ZM12.0292 5.87133C12.0292 6.69458 11.8665 7.53936 11.5453 8.38196C11.2938 9.04226 10.9444 9.70366 10.5068 10.348C10.1731 10.8394 9.83556 11.2504 9.55664 11.5616C10.8433 11.3953 12.6381 10.925 13.9321 9.63113C16.1262 7.43702 15.9523 3.80196 15.9438 3.64827C15.9306 3.41048 15.7408 3.22064 15.503 3.2075C15.4819 3.2064 15.379 3.20117 15.2118 3.20117C14.6065 3.20117 13.1595 3.26835 11.7088 3.83324C11.9216 4.51836 12.0292 5.20191 12.0292 5.87133ZM5.44352 10.348C5.7772 10.8394 6.11477 11.2504 6.39369 11.5618C5.10704 11.3953 3.31221 10.9251 2.01814 9.63113C-0.175965 7.43702 -0.00206777 3.80196 0.00645066 3.64827C0.0195934 3.41048 0.209433 3.22064 0.447219 3.2075C0.468271 3.20628 0.571223 3.20117 0.738671 3.20117C1.34397 3.20117 2.79088 3.26835 4.24157 3.83324C4.02861 4.51836 3.92103 5.20191 3.92103 5.87133C3.92103 6.69458 4.08386 7.53936 4.40488 8.38196C4.65642 9.04226 5.00592 9.70365 5.44352 10.348Z" fill="url(#paint0_linear)"/>
                                <defs>
                                <linearGradient id="paint0_linear" x1="12.547" y1="3.62399" x2="3.14377" y2="12.3582" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#5900AC"/>
                                <stop offset="1" stop-color="#8A00AC"/>
                                </linearGradient>
                                </defs>
                            </svg>
                            <div class="products-hero-wrap-list__text">
                                {{ good_note_3|raw }}
                            </div>
                        </li>
                    </ul>
                    <a href="#products-savingcontainer" class="products-hero-wrap-info__link go">
                        {{ t_('app', '_PRODUCTS_FULL_')|raw }}
                        <svg width="8" height="4" viewBox="0 0 8 4" fill="none" xmlns="http://www.w3.org/2000/svg"  class="products-hero-wrap-info__link_img">
                            <path d="M0 0L4 4L8 0L0 0Z" fill="#5900AC"/>
                        </svg>
                    </a>
                </div>
                <div class="products-hero-wrap-buy">
                    <div class="products-hero-wrap-buy-wrap">
                        <div class="products-hero-wrap-buy-extra">

                            {% include 'layouts/tab_in_produts_page.twig' %}

                        </div>
                        <div class="products-hero-wrap-buy-navigation">
                            <div class="products-hero-wrap-buy-navigation__minititle">
                                {{ t_('app', '_PRODUCTS_SOSTAV_')|raw }}
                            </div>
                            <div class="products-hero-wrap-buy-navigation__text">
                                {{ good_sostav|raw }}
                              {#  {{ good['good_sostav'] }} #}
                            </div>
                        </div>
                        <div class="products-hero-wrap-buy-box">
                            <div class="products-hero-wrap-buy-box__inner">
                                <div class="products-hero-wrap-buy-box__smalltitle">
                                    {{ t_('app', '_PRODUCTS_VOLUME_')|raw }}
                                </div>
                                <div class="products-hero-wrap-buy-box__title">
                                    {{ t_('app', '_PRODUCTS_COL_')|raw }}
                                </div>
                            </div>

                            <!-- BASKET -->
                            <ul class="products-hero-wrap-buy-box-list" id="prod-basket">
                                {%  for key, value in prod %}
                                    <li class="products-hero-wrap-buy-box-list__item {{ value['prod_uniq_id'] }}
                                                 {% if value['prod_uniq_id'] == 'emiz_premium_05' %}thisInactive{% endif %}
                                                 {% if value['prod_uniq_id'] == 'emiz_premium_1' %}thisInactive{% endif %}
                                                 ">
                                        <svg width="8" height="25" viewBox="0 0 8 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.33334 0.0163311C3.32775 0.0253812 3.29335 0.0327858 3.25691 0.0327858C3.22046 0.0327858 3.1413 0.0448965 3.08099 0.0596728C2.96495 0.0881395 2.94122 0.0960378 2.84544 0.138063C2.8124 0.15256 2.77352 0.164424 2.75905 0.164424C2.74457 0.164424 2.73274 0.171828 2.73274 0.180878C2.73274 0.189928 2.72164 0.197333 2.70806 0.197333C2.69449 0.197333 2.68338 0.203059 2.68338 0.210053C2.68338 0.217046 2.65715 0.23689 2.6251 0.254151C2.55947 0.289496 2.44786 0.407707 2.40804 0.48404C2.36605 0.564553 2.34843 0.657523 2.3517 0.781476C2.35336 0.844827 2.35033 0.956851 2.34497 1.03044C2.33569 1.15765 2.33204 1.1676 2.27069 1.23339C2.23522 1.27143 2.20619 1.30934 2.20619 1.31764C2.20619 1.32593 2.19879 1.33271 2.18974 1.33271C2.18042 1.33271 2.17328 1.38015 2.17328 1.44213V1.55154L2.25556 1.63042L2.33783 1.70931V2.75239C2.33783 3.32609 2.34273 4.39507 2.34874 5.12789L2.35965 6.4603L2.32096 6.49635C2.29967 6.51618 2.26875 6.5324 2.25223 6.5324C2.23571 6.5324 2.20933 6.5389 2.19362 6.54685C2.11732 6.58544 2.03735 6.61468 2.00817 6.61468C1.99039 6.61468 1.97582 6.6206 1.97582 6.62783C1.97582 6.63507 1.94805 6.6506 1.91412 6.66238C1.84261 6.68716 1.57662 6.81457 1.56446 6.82984C1.55993 6.83553 1.52661 6.85385 1.49041 6.87055C1.45421 6.88725 1.42089 6.90501 1.41636 6.91001C1.40559 6.9219 1.3489 6.9574 1.31764 6.97183C1.30406 6.9781 1.27452 7.00026 1.25198 7.02109C1.22945 7.04191 1.2023 7.05896 1.19166 7.05896C1.181 7.05896 1.16982 7.0645 1.16679 7.0713C1.16378 7.07808 1.1317 7.10572 1.0955 7.13272C1.0593 7.15972 1.01131 7.19675 0.988854 7.215C0.937186 7.257 0.645345 7.55036 0.602793 7.60306C0.532811 7.68975 0.330352 7.98139 0.330352 7.99553C0.330352 8.00382 0.324708 8.01305 0.317797 8.01608C0.301539 8.02319 0.176483 8.28169 0.147984 8.36711C0.135906 8.40331 0.120175 8.44107 0.113034 8.45104C0.105876 8.461 0.0952793 8.50378 0.0894872 8.5461C0.0836787 8.58842 0.0725718 8.62699 0.0647722 8.6318C0.0569891 8.63662 0.0506212 8.6693 0.0506212 8.70443C0.0506212 8.73956 0.0442861 8.77222 0.0365524 8.77699C0.0288186 8.78178 0.0175965 8.85812 0.011607 8.94663C-0.00308709 9.16399 -0.00422247 23.5606 0.0104552 23.7095C0.0168231 23.7741 0.0284731 23.831 0.036322 23.8359C0.0441874 23.8407 0.0506212 23.8665 0.0506212 23.8931C0.0506212 23.9197 0.0580258 23.9415 0.0670759 23.9415C0.076126 23.9415 0.0835306 23.9527 0.0835306 23.9663C0.0835306 24.0408 0.336736 24.3693 0.394147 24.3693C0.404316 24.3693 0.412625 24.3762 0.412625 24.3847C0.412625 24.3931 0.429277 24.4052 0.449648 24.4116C0.470003 24.4179 0.490374 24.4284 0.494899 24.4348C0.506269 24.451 0.717482 24.5569 0.807539 24.5916C0.848264 24.6073 0.896394 24.6263 0.914495 24.6339C1.0008 24.6701 1.19995 24.7309 1.37523 24.7744C1.42953 24.7879 1.50357 24.8064 1.53977 24.8155C1.64354 24.8416 1.85992 24.8797 1.96375 24.8903C2.01592 24.8956 2.06264 24.9064 2.06756 24.9143C2.07248 24.9223 2.11641 24.9288 2.16522 24.9288C2.21401 24.9288 2.2895 24.9364 2.33296 24.9457C2.66676 25.0173 4.36941 25.0183 4.89654 24.9473C4.96894 24.9375 5.0615 24.9258 5.10222 24.9214C5.14295 24.9169 5.2244 24.906 5.28323 24.8972C5.34205 24.8883 5.44572 24.8731 5.51359 24.8633C5.58147 24.8535 5.64985 24.8383 5.66557 24.8295C5.68128 24.8208 5.71972 24.8136 5.75098 24.8136C5.78225 24.8136 5.8121 24.8067 5.8173 24.7983C5.8225 24.7899 5.86745 24.7779 5.91721 24.7717C5.96697 24.7655 6.01171 24.7539 6.01665 24.7459C6.02158 24.7379 6.04381 24.7313 6.06603 24.7313C6.08824 24.7313 6.11927 24.7249 6.13499 24.7169C6.1507 24.709 6.20798 24.6891 6.26228 24.6728C6.31658 24.6564 6.36842 24.6382 6.37747 24.6323C6.38652 24.6264 6.44575 24.6005 6.5091 24.5747C6.57245 24.5489 6.63539 24.5192 6.64897 24.5086C6.66254 24.498 6.69772 24.479 6.72713 24.4664C6.75655 24.4539 6.78061 24.4397 6.78061 24.4349C6.78061 24.4301 6.80652 24.4122 6.8382 24.3952C6.86987 24.3781 6.89579 24.3579 6.89579 24.3503C6.89579 24.3427 6.90367 24.3364 6.91331 24.3364C6.93615 24.3364 7.1097 24.1629 7.1097 24.14C7.1097 24.1304 7.11594 24.1225 7.12357 24.1225C7.13119 24.1225 7.15155 24.0948 7.16882 24.0608C7.18608 24.0269 7.20427 23.9954 7.20924 23.9909C7.22553 23.976 7.26173 23.8367 7.27979 23.7194C7.29223 23.6385 7.29773 21.5362 7.29822 16.6603C7.29893 9.68204 7.29455 9.07527 7.24183 8.86075C7.23295 8.82455 7.22549 8.76345 7.22528 8.725C7.22507 8.68654 7.21748 8.65506 7.20843 8.65506C7.19938 8.65506 7.19197 8.63535 7.19197 8.61126C7.19197 8.58717 7.17995 8.52608 7.16524 8.47551C7.12568 8.33946 7.105 8.28814 7.00877 8.08738C6.96972 8.00593 6.93388 7.93558 6.92913 7.93106C6.92437 7.92653 6.88416 7.86863 6.83978 7.80238C6.72135 7.62562 6.55975 7.44938 6.3672 7.28697C6.32045 7.24754 6.26661 7.20012 6.24754 7.18161C6.22848 7.16308 6.18883 7.13373 6.15942 7.11635C6.13002 7.09897 6.10596 7.08064 6.10596 7.07561C6.10596 7.07056 6.08005 7.05249 6.04837 7.03543C6.0167 7.01836 5.99078 6.99817 5.99078 6.99055C5.99078 6.98292 5.9803 6.97668 5.96746 6.97668C5.95464 6.97668 5.9417 6.97074 5.93867 6.96347C5.9269 6.93512 5.55861 6.72986 5.5195 6.72986C5.50721 6.72986 5.49714 6.72338 5.49714 6.71546C5.49714 6.70755 5.47547 6.69674 5.44899 6.69144C5.4225 6.68614 5.36882 6.66758 5.32969 6.65019C5.29057 6.63279 5.23263 6.60926 5.20095 6.59788C5.10642 6.56392 4.96323 6.49405 4.95026 6.47559C4.94362 6.46611 4.93807 5.42237 4.93792 4.15614C4.93769 2.04401 4.93996 1.84667 4.96537 1.76609C4.98059 1.71778 4.9991 1.67826 5.00651 1.67826C5.0139 1.67826 5.01995 1.66681 5.01995 1.65279C5.01995 1.63878 5.03846 1.61017 5.06109 1.58921C5.08371 1.56823 5.10222 1.5394 5.10222 1.52513C5.10222 1.51086 5.10963 1.49462 5.11868 1.48903C5.15072 1.46923 5.13441 1.40077 5.07754 1.31625C5.04587 1.26918 5.01995 1.22401 5.01995 1.21588C5.01995 1.20774 5.01327 1.20107 5.00511 1.20107C4.97236 1.20107 4.94706 1.08331 4.93616 0.880204C4.91865 0.554088 4.89669 0.480437 4.78004 0.356977C4.72398 0.297658 4.63813 0.23151 4.58889 0.209724C4.56351 0.198485 4.54276 0.184285 4.54276 0.178163C4.54276 0.172042 4.52063 0.162186 4.49358 0.156246C4.46654 0.150306 4.44018 0.138606 4.43502 0.130247C4.42987 0.121888 4.40757 0.115059 4.38547 0.115059C4.36337 0.115059 4.34531 0.108461 4.34531 0.100398C4.34531 0.0923519 4.32125 0.0815247 4.29183 0.0763415C4.26241 0.0711747 4.19022 0.0587514 4.13139 0.0487305C4.07257 0.0387095 4.0017 0.0236205 3.97391 0.0151957C3.90485 -0.00573471 3.34637 -0.00474742 3.33334 0.0163311ZM6.06998 18.9146C6.07281 19.9373 6.07007 21.3748 6.06389 22.1092L6.05265 23.4444L6.0176 23.4604C5.96919 23.4825 5.83059 23.5174 5.7562 23.5263C5.72221 23.5303 5.6903 23.5402 5.6853 23.5483C5.68029 23.5564 5.65393 23.563 5.62672 23.563C5.59952 23.563 5.56401 23.5701 5.54782 23.5788C5.53163 23.5875 5.46732 23.5991 5.40492 23.6047C5.34251 23.6103 5.27664 23.6214 5.25854 23.6293C5.24044 23.6373 5.18861 23.6476 5.14336 23.6523C5.09811 23.657 4.96853 23.6726 4.8554 23.687C4.34577 23.7516 3.97586 23.7744 3.4403 23.7742C2.86525 23.774 2.39575 23.7334 1.9676 23.647C1.92235 23.6378 1.83719 23.622 1.77837 23.6117C1.71954 23.6015 1.66439 23.5863 1.65578 23.5781C1.64719 23.5698 1.61571 23.563 1.58585 23.563C1.55598 23.563 1.53155 23.5565 1.53155 23.5485C1.53155 23.5404 1.51119 23.5297 1.4863 23.5245C1.37957 23.5024 1.28473 23.4724 1.28473 23.4606C1.28473 23.4536 1.27087 23.4479 1.25392 23.4479C1.23092 23.4479 1.21945 23.4302 1.20867 23.3779C1.18759 23.2759 1.18873 18.926 1.20986 18.8696C1.21912 18.8449 1.23791 18.8197 1.2516 18.8137C1.27884 18.8017 1.41497 18.7779 1.53155 18.7649C1.57227 18.7603 1.6204 18.7504 1.6385 18.7429C1.6699 18.73 1.83649 18.6982 1.95937 18.6817C1.99105 18.6774 2.03177 18.668 2.04987 18.6608C2.11627 18.6343 2.19969 18.6112 2.26826 18.6004C2.30693 18.5944 2.34253 18.583 2.34739 18.5751C2.35224 18.5672 2.37386 18.5608 2.39542 18.5608C2.41698 18.5608 2.43919 18.5534 2.44478 18.5444C2.45038 18.5353 2.47118 18.5279 2.49101 18.5278C2.51083 18.5277 2.54827 18.5166 2.57418 18.5031C2.60012 18.4896 2.6302 18.4785 2.64104 18.4785C2.65188 18.4785 2.69914 18.46 2.74604 18.4374C2.79293 18.4148 2.84615 18.3963 2.8643 18.3963C2.88245 18.3963 2.89729 18.3889 2.89729 18.3798C2.89729 18.3708 2.9058 18.3634 2.9162 18.3634C2.94121 18.3634 3.44694 18.1119 3.454 18.096C3.45703 18.0892 3.46945 18.0836 3.48163 18.0836C3.49381 18.0836 3.51355 18.0744 3.52552 18.0631C3.53746 18.0518 3.58798 18.0212 3.63775 17.9951C3.68753 17.9691 3.73196 17.9428 3.73648 17.9367C3.74101 17.9306 3.77319 17.9112 3.80801 17.8935C3.92662 17.8335 3.93394 17.829 3.93394 17.8164C3.93394 17.8095 3.94452 17.8039 3.95745 17.8039C3.97037 17.8039 3.99102 17.7946 4.00333 17.7833C4.02847 17.7602 4.08271 17.7275 4.15608 17.6911C4.18323 17.6776 4.20914 17.6623 4.21367 17.6571C4.21819 17.6519 4.26632 17.6254 4.32062 17.5983C4.37492 17.5712 4.42305 17.5451 4.42758 17.5403C4.43211 17.5354 4.46913 17.5171 4.50985 17.4995C4.55058 17.4819 4.5876 17.4636 4.59213 17.4588C4.60804 17.442 4.72516 17.3925 4.74901 17.3925C4.76227 17.3925 4.77313 17.3866 4.77313 17.3793C4.77313 17.3721 4.81201 17.3525 4.85952 17.3359C4.90702 17.3193 4.95293 17.2993 4.96154 17.2915C4.97013 17.2837 4.99375 17.2773 5.01404 17.2773C5.03433 17.2773 5.05523 17.2704 5.06049 17.2618C5.06578 17.2533 5.10333 17.2414 5.14395 17.2353C5.18458 17.2292 5.22187 17.2176 5.2268 17.2096C5.23176 17.2016 5.25757 17.1951 5.2842 17.1951C5.31082 17.1951 5.33259 17.1886 5.33259 17.1808C5.33259 17.1729 5.36407 17.1623 5.40252 17.1573C5.49826 17.1449 5.65928 17.1133 5.72044 17.095C5.74824 17.0867 5.80747 17.0794 5.85208 17.0787C5.89669 17.0781 5.948 17.0711 5.9661 17.0631C5.9842 17.0552 6.01382 17.0502 6.03192 17.0519C6.06458 17.0552 6.06486 17.0692 6.06998 18.9146Z" fill="#7A33C9"/>
                                        </svg>
                                        <div class="products-hero-wrap-buy-box-list__litrs">
                                            {{ volume_converter.LitersToL( value['prod_volume'] ) }} {{ t_('app', '_PRODUCTS_L_')|raw }}
                                        </div>
                                        <div class="cart-counter-list__minus">
                                            -
                                        </div>
                                        <div class="cart-counter-list__number">
                                            <input
                                                    type="text"
                                                    id="{{ value['prod_uniq_id'] }}"
                                                    data-prod="{{ value['prod_uniq_id'] }}"
                                                    data-good="{{ value['good_uniq_id'] }}"
                                                    class="input-text qty text input-value-prod count-item-in-basket"
                                                    name="{{ value['prod_uniq_id'] }}"
                                                    value="0"
                                                    size="4"
                                                    data-price = {{ value['prod_price'] }}
                                                    />
                                        </div>
                                        <div class="cart-counter-list__plus">
                                            +
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                            
                        <div class="products-hero-total">
                            <ul class="products-hero-total-list">
                              {%  for key, value in good_tree %}
                                <li class="products-hero-total-list__item">
                                    <h3
                                        class="products-hero-total-list__title {% if good_name== key %}products-hero-total-list__title_active{% endif %}">
                                        {{ tranlate_name_in_good_tree[key]|raw }}
                                    </h3>
                                    <div class="products-hero-total-list__textwrap">
                                        <div class="products-hero-total-lits__x">
                                            x
                                        </div>
                                        <div class="products-hero-total-list__text">
                                            <span id="{{ key }}">0</span> {{ t_('app', '_PRODUCTS_SHTUK_')|raw }}
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                            <div class="products-hero-total-wrapper">
                                <div class="products-hero-total-wrapper__title">
                                    {{ t_('app', '_PRODUCTS_TO_BUY_')|raw }}
                                </div>
                                <div class="products-hero-total-wrapper__amount">
                                 <span class="products-hero-total-wrapper__number" id="full-payment"> 0 </span> <span class="products-hero-total-wrapper__currency">₽</span>
                                </div>
                            </div>
                            <a href="javascript:void(0);" class="products-superbuy">
                                <svg width="12" height="11" viewBox="0 0 13 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="products-superbuy__img">
                                    <path d="M9.29105 2.90003H10.3302L8.78971 0.225479C8.6656 0.00875647 8.39059 -0.0651263 8.17643 0.0629371C7.96227 0.188538 7.88926 0.466829 8.01581 0.683552L9.29105 2.90003Z" fill="white"/>
                                    <path d="M5.76474 0.683434C5.88885 0.466712 5.81828 0.18842 5.60411 0.0628192C5.38995 -0.0627815 5.11495 0.00863849 4.99083 0.225361L3.45032 2.90238H4.48949L5.76474 0.683434Z" fill="white"/>
                                    <path d="M12.0509 3.72021H1.72243C1.30141 3.72021 0.960693 4.065 0.960693 4.49106V5.34563C0.960693 5.77169 1.30141 6.11648 1.72243 6.11648H1.96093L2.6959 10.148C2.78838 10.6233 3.21671 11.0001 3.66207 11.0001H3.95411H5.87184C6.06653 11.0001 6.31963 11.0001 6.5776 11.0001H6.81124H7.04487C7.30284 11.0001 7.55594 11.0001 7.75063 11.0001H9.66836H9.96041C10.4058 11.0001 10.8341 10.6233 10.9266 10.148L11.6664 6.11402H12.0534C12.4744 6.11402 12.8151 5.76923 12.8151 5.34317V4.4886C12.8127 4.065 12.472 3.72021 12.0509 3.72021ZM5.16608 7.74929V9.48799C5.16608 9.73673 4.96651 9.9239 4.73532 9.9239C4.48952 9.9239 4.30456 9.72196 4.30456 9.48799V8.75902V7.04986C4.30456 6.80112 4.50412 6.61396 4.73532 6.61396C4.98112 6.61396 5.16608 6.8159 5.16608 7.04986V7.74929ZM6.5484 7.74929V9.48799C6.5484 9.73673 6.34884 9.9239 6.11764 9.9239C5.87184 9.9239 5.68688 9.72196 5.68688 9.48799V8.75902V7.04986C5.68688 6.80112 5.88644 6.61396 6.11764 6.61396C6.34884 6.61396 6.5484 6.8159 6.5484 7.04986V7.74929ZM7.93803 8.75902V9.48799C7.93803 9.72196 7.75307 9.9239 7.50727 9.9239C7.27607 9.9239 7.07651 9.73673 7.07651 9.48799V7.74929V7.04986C7.07651 6.8159 7.27607 6.61396 7.50727 6.61396C7.73846 6.61396 7.93803 6.80112 7.93803 7.04986V8.75902ZM9.32035 8.75902V9.48799C9.32035 9.72196 9.13539 9.9239 8.88959 9.9239C8.65839 9.9239 8.45883 9.73673 8.45883 9.48799V7.74929V7.04986C8.45883 6.8159 8.64379 6.61396 8.88959 6.61396C9.12079 6.61396 9.32035 6.80112 9.32035 7.04986V8.75902Z" fill="white"/>
                                </svg>
                                {{ t_('app', '_BAY_')|raw }}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="products-hero-floating">
                    <div class="products-hero-floating-wrap">
                        <div class="producst-hero-floating-wrap__inner">
                            {%  for key, value in prod %}
                                {% if value['prod_uniq_id'] == default_selected_prod %}
                                    <img src="/img/{{ value['prod_img'] }}" alt="premium" class="products-hero-floating-wrap__img">
                                {% endif %}
                            {% endfor %}
                        </div>
                        <img src="/img/home-5.png" alt="small"
                            class="products-hero-floating-wrap__smallimg circle3">
                        <div class="products-hero-floating-nav">
                            <a href="{{ prevlink }}" class="products-hero-floating-nav__prevlink pro-prev-1">

                                <svg width="20" height="40" viewBox="0 0 20 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="products-hero-floating-nav__prev">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M19.7808 39.5616C16.8438 34.0136 15.1104 27.1764 15.1104 19.7808C15.1104 12.3852 16.8438 5.54799 19.7808 0L2.86102e-05 19.7808L19.7808 39.5616Z" fill="#7A33C9"/>
                                </svg>

                            </a>
                            <a href="{{ nextlink }}" class="products-hero-floating-nav__nextlink pro-next-1">

                                <svg width="20" height="40" viewBox="0 0 20 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="products-hero-floating-nav__next">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.46491e-06 39.5616C2.93699 34.0136 4.67038 27.1764 4.67038 19.7808C4.67038 12.3852 2.93699 5.54799 0 0L19.7808 19.7808L4.46491e-06 39.5616Z" fill="#7A33C9"/>
                                </svg>

                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="products-savingcontainer" id="products-savingcontainer">
                <section class="products-posts" id="products-posts">
                    {{  good_long_desc|raw }}
                   {# {{ good['good_long_desc']|raw }} #}

                </section>
            </div>
        </div>
        {% include 'layouts/css_add_product.twig' %}
        
        <script>

            let prod_tree =  JSON.parse('{{ prod_tree|json_encode()|raw  }}');

            $(document).ready(function() {

                {% include 'layouts/js_common_function_basket.twig' %}

                function OnChangeInputValueBasketItem(){
                    $( '#count-prod-in-basket' ).text( calck().full_count );
                    $( '#full-payment' ).text( calck().full_summ );
                    if( $( 'span' ).is( '#emiz_premium' ) ){
                        $( '#emiz_premium' ).text( calck().good.emiz_premium );
                    };
                    if( $( 'span' ).is( '#emiz_tavr' ) ){
                        $( '#emiz_tavr' ).text( calck().good.emiz_tavr );
                    };
                    if( $( 'span' ).is( '#pasta' ) ){
                        $( '#pasta' ).text( calck().good.pasta );
                    };
                    $( '#count-prod-in-basket' ).text( calck().full_count );
                    $( '#full-payment' ).text( calck().full_summ );
                    $( '#{{ good_name }}' ).text( calck().good.{{ good_name }} );
                }


                update_basket_in_page();

                OnChangeInputValueBasketItem();

                $(".custom-option").on("click", function() {
                    let src_separate = $( '.products-hero-floating-wrap__img' ).attr( 'src' ).split( '/' );
                    src_separate[src_separate.length - 1] = $( this ).data( 'img' );
                    let str = '';
                    src_separate.forEach(function(item, i, arr) {
                        str = str + '/' + item;
                    });
                    let uniq_id = $( this ).data( 'uniq_id' );
                    $( '.products-hero-floating-wrap__img' ).attr( 'src', str.substring(1) );
                    $( '.custom-option' ).removeClass( 'selected' );
                    $( this ).addClass( 'selected' );
                    $( '#prod-value' ).text( $( this ).data( 'value' ) );
                    $( '.products-hero-wrap-info__number' ).text( $( this ).data( 'price' ) );
                    $( '.products-hero-wrap-buy-box-list__item' ).addClass( 'thisInactive' );
                    $( '.' + uniq_id ).removeClass( 'thisInactive' );
                });

                $( '.cart-counter-list__minus' ).on( 'click', function(){
                    let par = $( this ).parent( '.products-hero-wrap-buy-box-list__item' );
                    let in_put = par.find( '.count-item-in-basket' );
                    let count = in_put.val();
                    if( count < 0 ) {
                        in_put.val( '0' );
                        alert ( 'Количество товара не может быть меньше 0');
                    } else {
                        if( count == 0) {
                            in_put.val( '0' );
                            alert ( 'Количество товара не может быть меньше 0');
                        } else {
                            in_put.val( (count -1 ) );
                            in_put.change();
                        }
                    }
                });

                $( '.cart-counter-list__plus' ).on( 'click', function(){
                    let par = $( this ).parent( '.products-hero-wrap-buy-box-list__item' );
                    let in_put = par.find( '.count-item-in-basket' );
                    let count = parseInt( in_put.val(), 10 );
                    if( count == 9999 ) {
                        in_put.val( '9999' );
                        alert ( 'Количество товара превышено');
                    } else {
                        in_put.val( (count +1  ) );
                        in_put.change();
                    }
                });

                $( '.count-item-in-basket' ).on( 'change', function(){
                    let count_item = parseInt( $( this ).val() );
                    if( isNaN( count_item ) ) {
                        $( this ).val( '0' );
                        $( this ).change();
                    } else {
                        let uniq_id_prod = $( this ).data( 'prod');
                        let uniq_id_good = $( this ).data( 'good');
                        let count_prod = parseInt( $( this ).val(), 10 );
                        let summ =0;

                        update_basket_in_cookie( uniq_id_prod, count_prod );
                        $( '#count-prod-in-basket' ).text( calck().full_count );
                        $( '#full-payment' ).text( calck().full_summ );
                        $( '#{{ good_name }}' ).text( calck().good.{{ good_name }} );
                    }
                });

            });
        </script>

        {% include 'layouts/footer.twig' %}

    </div>

</header>

{% endblock %}

