<script>
    let basket = { };
    {% for key, value in prod %}
        const {{ value['prod_uniq_id'] }} = {{ value['prod_price'] }};
    {% endfor %}

jQuery(function($){

    if( typeof $.cookie('basket') == 'undefined' ){
        $.cookie('basket', JSON.stringify( basket ),{ path: '/' } );
    } else {
        update_basket( 0 );
        calck();
    }

    {% for key, value in prod %}
        let summ_{{ value ['prod_uniq_id'] }} = 0;
        let count_{{ value ['prod_uniq_id'] }} = 0;
    {% endfor %}

    function calck(){
        let full_count = 0;
        let summ = 0;
        $( '.input-value-prod' ).each( function (){
            full_count = full_count + parseInt( $( this ).val()  );
            summ = summ  + parseInt( $( this ).val() * $( this ).data( 'price' ) );
        } );
        //products-hero-total-list__title_active
        $( '.class-{{ good['good_uniq_id'] }}').addClass( 'products-hero-total-list__title_active' );
        $( '#{{ good['good_uniq_id'] }}' ).text( full_count );
        $( '#full-payment').text( summ );
    }

    function update_basket( all_prod ) {
        basket = JSON.parse( $.cookie( 'basket' ) );
        let q = ['pasta', 'emiz_tavr', 'emiz_premium'];
        for (var key in basket ){
            $("input[name$='" + key + "']").val( basket[key] );
            if( q.indexOf( key ) != -1 ) {
                all_prod = all_prod + basket[key];
            }
        }
        $( "#count-prod-in-basket" ).text( all_prod );
    }


    {% for key, value in prod %}
        $("input[name$='{{ value['prod_uniq_id'] }}']").change(function(){
            calck();

            basket.{{ value['prod_uniq_id'] }} = parseInt( $( "#{{ value['prod_uniq_id'] }}").val() );
            basket.{{ good['good_uniq_id'] }} = parseInt( $( "#{{ good['good_uniq_id'] }}" ).text( ) );
            $.cookie('basket', JSON.stringify( basket ),{ path: '/' }  );
            update_basket( 0 );
        });
    {% endfor %}

    $('.products-hero-wrap-info__number').html({{ prod[0]['prod_uniq_id'] }} );

    $("#custom-option1").on("click", () => {
        $('.products-hero-wrap-info__number').html({{ prod[0]['prod_uniq_id'] }} );
    });

    $("#custom-option2").on("click", () => {
        $('.products-hero-wrap-info__number').html({{ prod[1]['prod_uniq_id'] }});
    });

    $("#custom-option3").on("click", () => {
        $('.products-hero-wrap-info__number').html({{ prod[2]['prod_uniq_id'] }});
    });


});

</script>