.preloader-wrapper {
  width: 100vw;
  height: 100vh;
  background-size: 100%;
  background-color: #290d3f;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
}

.preloader-opacity {
  /* background: rgba(135, 0, 0, 0.4); */
  width: 100vw;
  height: 100vh;
}

.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  -webkit-user-select: none;
}

.wrapper svg {
  height: 140px;
  width: 100px;
}

/* .line-animation {
  stroke-dasharray: 7600;
  stroke-dashoffset: 7600;
  animation: moveit 1s alternate infinite;
}

@keyframes moveit {
  to {
    stroke-dashoffset: 0;
  }
} */

/* .container {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #ededed;
} */

/* .loader {
  max-width: 15rem;
  width: 100%;
  height: auto;
  stroke-linecap: round;
}

circle {
  fill: none;
  stroke-width: 3.5;
  -webkit-animation-name: preloader;
  animation-name: preloader;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-transform-origin: 170px 170px;
  transform-origin: 170px 170px;
  will-change: transform;
}
circle:nth-of-type(1) {
  stroke-dasharray: 550px;
}
circle:nth-of-type(2) {
  stroke-dasharray: 500px;
}
circle:nth-of-type(3) {
  stroke-dasharray: 450px;
}
circle:nth-of-type(4) {
  stroke-dasharray: 300px;
}
circle:nth-of-type(1) {
  -webkit-animation-delay: -0.15s;
  animation-delay: -0.15s;
}
circle:nth-of-type(2) {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
circle:nth-of-type(3) {
  -webkit-animation-delay: -0.45s;
  animation-delay: -0.45s;
}
circle:nth-of-type(4) {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

@-webkit-keyframes preloader {
  50% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes preloader {
  50% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
} */

.line-animation {
  stroke-dasharray: 7600;
  stroke-dashoffset: 7600;
  animation: moveit 1s alternate infinite;
  fill: #fff;
}

@keyframes moveit {
  to {
    stroke-dashoffset: 0;
  }
}
